<template>
<div id="activityAdd">
	<el-breadcrumb separator="/">
	  <el-breadcrumb-item :to="{ path : '/' }">首页</el-breadcrumb-item>
	  <el-breadcrumb-item :to="{ path : '/dudu/activity'}">活动管理</el-breadcrumb-item>
	  <el-breadcrumb-item>编辑活动</el-breadcrumb-item>
	</el-breadcrumb>
	     <el-form :model="edit" ref="edit" label-width="180px" :rules="addRules">
	     <el-row>
	     	<el-col :span="12">
	     		 <el-form-item label="名称：" prop="activityTitle">
		       <el-input v-model="edit.activityTitle"></el-input>
		     </el-form-item>
	     	</el-col>
	     </el-row>
	       <el-form-item label="活动类型：" prop="activityType">
	         <el-select v-model="edit.activityType" placeholder="活动类型">
	           <el-option v-for="item in activTypeOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
	         </el-select>
	       </el-form-item>
	       <el-form-item label="活动图标">
	         <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/activity/getPolicy'" @change="getUploadEdit"></upload>
	       </el-form-item>
         <el-row>
        <el-col :span="12">
           <el-form-item label="活动简称：" prop="activityDesc">
             <el-input placeholder="活动简称四个字以内" v-model="edit.activityDesc" auto-complete="off"></el-input>
           </el-form-item>
        </el-col>
         </el-row>
	       <el-row>
	     	<el-col :span="12">
	     		 <el-form-item label="活动介绍页面：" prop="activityPath">
	     		   <el-input v-model="edit.activityPath" auto-complete="off"></el-input>
	     		 </el-form-item>
	     	</el-col>
	       </el-row>
             <el-form-item label="有效时间：" prop="validtimeStart">
               
                  <el-date-picker
                    v-model="dateArr"
                    type="datetimerange"
                    align="right"
                    :disabled="true"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    format="yyyy/MM/dd HH:mm:ss"
                    :picker-options="pickerOptionsAdd">
                  </el-date-picker>
             </el-form-item>
	       <el-form-item label="是否与活动叠加:" prop="isOverlay">
	       		<el-radio class="radio" v-model="edit.isOverlay" :label="1">是</el-radio>
				    <el-radio class="radio" v-model="edit.isOverlay" :label="0">否</el-radio>
	       </el-form-item>
 			  <el-row>
          	<el-col :span="12">
      		 <el-form-item label="单用户最多参与次数：" prop="maxPart">
      		   <el-input type="number" v-model="edit.maxPart"></el-input>
      		 </el-form-item>
          	</el-col>
            </el-row>
	       <el-form-item label="优惠方式：" prop="reduceType">
	         <el-select v-model="edit.reduceType" placeholder="优惠方式" @change="changeCoupon">
             <el-option v-for="item in reduceOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
           </el-select>
	       </el-form-item>
	       	<el-row>
             <el-col :span="12">
            <el-form-item label="最小订单金额：" prop="minAmount">
    		     <el-input type="number" v-model="edit.minAmount" auto-complete="off"></el-input>
           </el-form-item>
             </el-col>
	         </el-row>
           <el-row>
            <el-col :span="12">
           <el-form-item label="优惠上限：" prop="maxReduce">
              <el-input type="number" v-model="edit.maxReduce" auto-complete="off"></el-input>
         </el-form-item>
            </el-col>
          </el-row>
          <el-row>
           <el-col :span="12">
           <el-form-item label="优惠下限：" prop="minReduce">
             <el-input type="number" v-model="edit.minReduce" auto-complete="off"></el-input>
         </el-form-item>
           </el-col>
         </el-row>
         <el-row>
        <el-col :span="12">
       
        <el-form-item  v-if="!percentCoupon" label="优惠值：" prop="reduceValue">
            <el-input type="number" v-model="edit.reduceValue" auto-complete="off"></el-input>
        </el-form-item>
       <el-form-item v-if="percentCoupon"  label="折扣百分比：" prop="reduceValue">
          <el-input type="number" v-model="edit.reduceValue" placeholder="请输入折扣百分比,如输入0.62, 即优惠值为62%" auto-complete="off"></el-input>
          请输入折扣百分比,如输入0.62, 即优惠值为62%
      </el-form-item>
        </el-col>
      </el-row>
	         <el-row>
              	<el-col :span="12">
          		    <el-form-item label="活动说明:" prop="activityDetail">
          		      <el-input type="textarea" v-model="edit.activityDetail"></el-input>
          		    </el-form-item>
              	</el-col>
	           </el-row>
	         <el-form-item>
	             <el-button type="primary" :loading="isEdit" @click="onUpdate('edit')">立即更新</el-button>
	             <el-button @click="cancelBtn">取消</el-button>
	         </el-form-item>
	     </el-form>
</div>
</template>

<script>
import Upload from '../Upload.vue';
import moment from 'moment'
export default {
  name: 'activityAdd',
  components: {
      Upload
  },
  data () {

    var validateSort = (rule, value, callback) => {
          setTimeout(() => {
              if (value > 2147483647) {
                callback(new Error('排序输入过大'));
              }
                else if(value < 0){
                  callback(new Error('不能为负数'));
                }
               else {
                callback();
              }
          }, 1000);                    
        };

    return {
        dateArr:[],
        pickerOptionsAdd: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        percentCoupon:false,
    	   isEdit:false,
         activTypeOption:[],
         activityId:this.$route.query.activityId,
    	   picArray:[],
         reduceOption:[],
    	edit:{
          id:'',
          version:'',
	    	  activityTitle:'',
	        activityType:'',
	        activityIcon:'',
	        activityDesc:'',
	        activityPath:'',
	        validtimeStart:'',
	        validtimeEnd:'',
	        isOverlay:'',
	        maxPart:'',
	        reduceType:'',
	        minAmount:'',
	        maxReduce:'',
	        minReduce:'',
	        reduceValue:'',
	        activityDetail:''
	    },

    	    addRules:{
    	    	  activityTitle:[
                  {
                    required:true, message:'请输入活动标题',trigger:'blur'
                  }
              ],
              activityType:[
                  {
                    required:true, message:'请选择活动类型',trigger:'change'
                  }
              ],
              activityDesc:[
                  {
                    required:true, message:'请输入活动简介',trigger:'blur'
                  },
                  { min: 0, max: 4, message: '长度在 0 到 4 个字符', trigger: 'blur' }
              ],
              activityPath:[
                  {
                    required:true, message:'请粘贴活动页面介绍路径',trigger:'blur'
                  }
              ],
              validtimeStart:[
                  {
                    required:true, message:'请选择时间'
                  }
              ],
              validtimeEnd:[
                  {
                    required:true, message:'请选择时间'
                  }
              ],
              isOverlay:[
                  {
                    required:true, message:'请选择是否与活动叠加'
                  }
              ],
              maxPart:[
                  {
                    required:true, message:'请输入单用户最多参与次数'
                  },
                  {validator: validateSort}
              ],
              reduceType:[
                  {
                    required:true, message:'请选择优惠方式',trigger:'change'
                  }
              ],
              minAmount:[
                  {
                    required:true, message:'请输入最小订单金额'
                  }
              ],
              maxReduce:[
                  {
                    required:true, message:'请输入优惠上限'
                  }
              ],
              minReduce:[
                  {
                    required:true, message:'请输入优惠下限'
                  }
              ],
              reduceValue:[
                  {
                    required:true, message:'请输入优惠值'
                  }
              ],
              activityDetail:[
                  {
                    required:true, message:'请输入活动说明',trigger:'blur'
                  }
              ],

			} 
    };
  },
  created(){
    this.addInit();
    this.getInfo();
  },
  computed: {
      baseHost () {
          return this.$store.state.host;
      }
  },

watch:{
  dateArr:{
    deep: true,
    handler: function(val, oldVal){
        if(Array.isArray(val)){
          this.edit.validtimeStart = val[0]
          this.edit.validtimeEnd = val[1]
        }else{
          this.edit.validtimeStart = ''
          this.edit.validtimeEnd =''

        }

    }
  },
  
  edit:{
    handler:function(val, oldVal){
      console.log(val)
      if(Number(val.reduceValue) > Number(val.maxReduce) && val.reduceType=='SATI_PRIV'){
        this.$message.error('优惠值不能大于优惠上限');
        this.edit.reduceValue =this.edit.maxReduce
      }
    },
    deep: true
  }
},

  methods: {
    changeCoupon(val){
      this.edit.reduceValue='';
      if(val=='DISCOUNT'){
        this.percentCoupon =true
      }else{
        this.percentCoupon =false
      }
    },
    cancelBtn(){
      this.$router.push({
        path:'/dudu/activity'
      })
    },
    getTimeStart(time){
      this.edit.validtimeStart = time
    },
    getTimeEnd(time){
      this.edit.validtimeEnd = time
    },
    addInit(){
      this.$http.post('/activity/addUI').then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);                 
          if (res.code==200) {
                this.activTypeOption = res.data.activityType;
                this.reduceOption = res.data.reduceType;
             } else {
             this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
    getInfo(){
      this.$http.post('/activity/updateUI',{id:this.activityId}).then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);                 
          if (res.code==200) {

                this.edit.id=res.data.activity.id_;
                this.edit.version=res.data.activity.version;
                this.edit.activityTitle=res.data.activity.activityTitle;
                this.edit.activityType=res.data.activity.activityType;
                this.edit.activityIcon=res.data.activity.activityIcon;
                this.edit.activityDesc=res.data.activity.activityDesc;
                this.edit.activityPath=res.data.activity.activityPath;
                this.edit.validtimeStart=moment(res.data.activity.validtimeStart).format('YYYY/MM/DD HH:mm:ss');
                this.edit.validtimeEnd=moment(res.data.activity.validtimeEnd).format('YYYY/MM/DD HH:mm:ss');
                this.edit.isOverlay=res.data.activity.isOverlay;
                this.edit.maxPart=res.data.activity.maxPart;
                this.edit.reduceType=res.data.activity.reduceType;
                this.edit.minAmount=res.data.activity.minAmount;
                this.edit.maxReduce=res.data.activity.maxReduce;
                this.edit.minReduce=res.data.activity.minReduce;
                this.edit.reduceValue=res.data.activity.reduceValue;
                this.edit.activityDetail=res.data.activity.activityDetail;
            console.log(this.edit.validtimeStart)

                this.changeCoupon(res.data.activity.reduceType)

                this.dateArr = [this.edit.validtimeStart, this.edit.validtimeEnd];

                if(this.edit.activityIcon){    
                  this.picArray = [{name:'activity',url:this.baseHost+this.edit.activityIcon}]
                }else{
                  this.picArray = [];
                }

             } else {
             this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
    getUploadEdit (val) {
        this.edit.activityIcon = val;
        console.log(this.addChat)
    },
  	onUpdate(form){
  		this.isEdit = true;
  		this.$refs[form].validate((valid) => {
  		     if (valid) {  
  		      this.$http.post('/activity/updateActivity',this.edit).then((response) => {
  		          // 响应成功回调
  		          const res = response.body
  		          console.log(res);                 
  		          if (res.code==200) {
  		            if(res.data.success){
  		                this.$message('修改成功');
                      this.$router.go(-1);
  		            }else{
  		              this.$message(res.data.message);
  		            }
  		          } else {
  		             this.$message.error(res.msg);
  		          }
  		           this.isEdit = false; 
  		      }, (response) => {
  		          this.$message.error('出错了:' + response);
  		          this.isEdit = false; 
  		      });
  		     } else {
  		       this.isEdit = false; 
  		       return false;
  		     }
  		   });
  	}
    
  }
};
</script>
