<template>
<div>
	<div class="table-list">
	    <div class="list-todo__top">
	        <el-form :inline="true" :model="queryS" ref="search" class="inline-form-query">
	          <el-form-item label="活动标题" prop="site_title">
	            <el-input v-model="queryS.activityTitle"></el-input>
	          </el-form-item>
	          <el-form-item label="活动状态" prop="site_sort_id">
	            <el-select v-model="queryS.activityStatus">
	            <el-option
	            v-for="item in statusOption"
	            :value="item.name"
	            :key="item.name"
	            :label="item.desc">
	            </el-option>
	            </el-select>
	          </el-form-item>
	          <el-form-item>
	            <el-button type="primary" :loading="isSearch" @click="queryList()"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
	            <el-button type="default" :loading="isSearch" @click="reset()">重置条件</el-button>
	            <router-link :to="{path:'/sys/activityadd'}">
                <el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加活动</el-button>
              </router-link>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="activityTitle"
                  label="名称">
          </el-table-column>
          <el-table-column
                  prop="activityType"
                  :formatter="formatterAct"
                  label="活动类型">
          </el-table-column>
          <el-table-column
                  label="活动图标">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="warning"
                              @click="showPic(scope.row)">查看图片
                      </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="activityDesc"
                  label="活动简介">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="指定玩法">
                  <template slot-scope="scope">
                    <router-link :to="{ name: 'activityLinkPlay', query: { id: scope.row.id_,nameAct:scope.row.activityTitle}}">指定</router-link>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="money"
                  label="指定用户">
                  <template slot-scope="scope">
                    <router-link :to="{ name: 'activityLinkUser', query: { id: scope.row.id_, nameAct:scope.row.activityTitle}}">指定</router-link>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="validtimeStart"
                  width="176"
                  label="开始时间">
          </el-table-column>
          <el-table-column
                  prop="validtimeEnd"
                  width="176"
                  label="结束时间">
          </el-table-column>
          <el-table-column
                  prop="reduceType"
                  :formatter="formatterReduce"
                  label="优惠方式">
          </el-table-column>
          <el-table-column
                  prop="reduceValue"
                  label="优惠金额">
          </el-table-column>
          <el-table-column
                  prop="activityStatus"
                  :formatter="formatterStustu"
                  label="状态">
          </el-table-column>
                    <el-table-column
                          fixed="right"
                          label="操作"
                          width="160">
                          <template slot-scope="scope">
                            <router-link v-if="scope.row.activityStatus !='END'" :to="{ path: '/sys/activityedit', query: { activityId: scope.row.id_ } }">
                              <el-button type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
                            </router-link>
                              <el-button v-if="scope.row.activityStatus =='END'" :disabled="scope.row.activityStatus =='END'" type="default" size="small">已经过期</el-button>                            
                            <el-button v-if="scope.row.activityStatus=='BAN'" @click="handleRecover(scope.row)" type="success" size="small">恢复</el-button>
                            <el-button v-if="scope.row.activityStatus=='NORMAL'" @click="handlePause(scope.row)" type="danger" size="small">暂停</el-button>
                          </template>
                    </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
	     <el-dialog
             title="查看banner图片"
             :visible.sync="showPicFlag"
             size="tiny"
             :before-close="closePicShow">
           <img :src="bigPic" />
       </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'activity',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      bigPic:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
      showPicFlag:false,
    	//表格类
    	tableData:[
    	],
        formLabelWidth: '120px',
     	// 查询条件
        queryS:{
        	activityTitle:'',
        	activityStatus:''
        },
        reduceOption:[],
        activityOption:[],
        statusOption:[],
    };
  },
  created(){
  	this.getList();
  },
  computed: {
      baseHost () {
          return this.$store.state.host;
      }
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    showPic(row){
      this.showPicFlag = true;
      this.bigPic = this.baseHost + row.activityIcon;
    },
    closePicShow(){
      this.showPicFlag = false;
    },
    formatterReduce(row, column){
      let arr = this.reduceOption;
      for(var i = 0; i <arr.length; i++){
        if(row.reduceType == arr[i].name){
            return arr[i].desc
        }
      }
    },
    formatterAct(row, column){
      let arr = this.activityOption;
      for(var i = 0; i <arr.length; i++){
        if(row.activityType == arr[i].name){
            return arr[i].desc
        }
      }
    },
    formatterStustu(row, column){
      let arr = this.statusOption;
      for(var i = 0; i <arr.length; i++){
        if(row.activityStatus == arr[i].name){
            return arr[i].desc
        }
      }
    },
    handleRecover(row){
         this.$confirm('确认恢复该活动?')
           .then(_ => {
             this.$http.post('/activity/start', {id:row.id_, version:row.version}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                    if(res.data.success){
                       this.$message('操作成功');
                        this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
           })
           .catch(_ => {});
    },
    handlePause(row){
        this.$confirm('确认暂停该活动?')
          .then(_ => {
            this.$http.post('/activity/disable', {id:row.id_, version:row.version}).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                   if(res.data.success){
                      this.$message('操作成功');
                       this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                } else {
                    this.$message.error(res.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });
          })
          .catch(_ => {});
    },
    reset(form){
    	this.queryS.activityTitle = '';
    	this.queryS.activityStatus = '';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
     getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
     // 初始表单
     getList(){
         this.$http.post('/activity/read/list',{activityTitle:this.queryS.activityTitle, activityStatus:this.queryS.activityStatus, pageNum:this.pageNum,pageSize:this.pageSize}).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.reduceOption = res.data.reduceTypeList;
                 this.activityOption = res.data.activityTypeList;
                 this.statusOption = res.data.activityStatusList;
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     }
  }
};
</script>
<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}

</style>
