<template>
<div>
  <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/dudu/activity'}">活动管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/sys/activitylinkplay'}">指定活动范围</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      <div class="list-todo__top">
      <h3>活动名称：<span class="actLink">{{nameAct}}</span></h3>
          
         
          <el-form :inline="true" ref="search" label-width="80px">

	          <el-form-item label="选择范围" prop="typeOptionId">
	            <el-select v-model="typeOptionId"  placeholder="请选择范围">
	            <el-option
                   v-for="item in typeOption"
                   :key="item.name"
                   :label="item.desc"
                   :value="item.name">
              </el-option>
	            </el-select>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId=='TRIP_ID'" label="玩法ID" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId=='TOPIC_ID'" label="主题名称" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId=='TAG_ID'" label="标签关键字" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
            
            <el-button @click="handlerSearch" :loading="isSearch" :disabled="queryCondition==''" type="success"><i class="el-icon-search" aria-hidden="true"></i> 搜索</el-button>
          </el-form>
      </div> 
      
      <el-table
         ref="multipleTable"
         :data="tableData"
         border
         height="400"
         tooltip-effect="dark"
         style="width: 100%"
         @selection-change="handleSelectionChange">
         <el-table-column
           type="selection"
           width="55">
         </el-table-column>
         <el-table-column
           prop="id_"
           label="ID"
           width="120">
         </el-table-column>
         <el-table-column
           prop="tripTitleMax" v-if="sortName == 'TRIP_ID'"
           label="玩法标题">
         </el-table-column>
         <el-table-column v-if="sortName == 'TAG_ID'"
           prop="tagName"
           label="标签">
         </el-table-column>
         <el-table-column v-if="sortName == 'TOPIC_ID'"
           prop="topicName"
           label="主题">
         </el-table-column>
         <el-table-column
           prop="tripTitleMax" v-if="sortName == ''"
           label="玩法标题">
         </el-table-column>
         <el-table-column v-if="sortName == ''"
           prop="tagName"
           label="标签">
         </el-table-column>
         <el-table-column v-if="sortName == ''"
           prop="topicName"
           label="主题">
         </el-table-column>
       </el-table>
       <page :pageSize="pageSize" :total="total" :routerName="pathName" :querys='querys' v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>
      <div style="margin-top: 20px;margin-top: 20px;float: right;margin-right: 60px;">
        <el-button :loading="isSave" size="large" type="primary" @click="save">保存选中项</el-button>
      </div>
  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'activityLinkPlay',
  components: {
      Page
  },
  data () {
    return {
      querys: JSON.stringify(this.$route.query),
      pageSize: parseInt(this.$route.params.pageSize),
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      //页码类
      rowId: this.$route.query.id,
      nameAct:this.$route.query.nameAct,
      queryCondition:'',
      isSearch:false,
      rowVs: '',
      isSave:false,
      typeOptionId:'',
      typeKey:'',
      number:'',
      typeOption:[ 
      ],
      sortName:'',
      onOff:false,
      checkdArr:[],
    //表格类
    tableData:[
    ],
    multipleSelection:[]
    };
  },
  watch:{

          queryCondition:{
            deep: true,
            handler: function(val, oldVal){
              if(val===''){
                this.doSearch =false;
                if(this.pageNum==1){
                  this.getList()
                }else{
                  this.pageNum = 1;                  
                }
              }
            }
          },
          typeOptionId:{
            deep: true,
            handler: function(val, oldVal){
              console.log(val)
              console.log(oldVal)
              if(val!=oldVal && oldVal!==''){
                this.queryCondition = '';
                this.doSearch =false;                                
                this.pageNum = 1;
                this.getList();
                
              }

               if(val!=oldVal && oldVal==''){  //2018-5-2新增  解决第一次下拉不触发查询
                this.queryCondition = '';
                this.doSearch =false;                                
                this.pageNum = 1;
                this.getList();
                
              }
            }
          },

            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
  },
  created(){
    this.getList();

  },
  methods: {
    getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
        handlerSearch(){
          console.log(this.pageNum)
          this.doSearch = true;
          if(this.pageNum==1){
            this.getList();
          }else{
          this.pageNum =1;
            
          }

    //       if(this.typeOptionId){
    //         this.$http.post('/activity/read/tripInfo', 
    //             {
    //               type:this.typeOptionId,
    //               condition:this.queryCondition,
    //               pageNum:1,
    //               pageSize:2000
    //             }
    //           ).then((response) => {
    //             // 响应成功回调      
    //            const res = response.body;
    //             if (res.code==200) {
    //               this.tableData = res.data.page.records;
    //               this.checkdArr = res.data.checked;
    //               for(let j = 0; j < this.tableData.length; j++){
    //                   for(let k = 0; k < this.checkdArr.length; k++){
    //                       if(this.tableData[j].id_ == this.checkdArr[k]){
    //                           this.$nextTick(() => {
    //                              this.$refs.multipleTable.toggleRowSelection(this.tableData[j], true);
    //                            })
    //                       }
    //                   }                        
    //               }

    //             } else {
    //                 this.$message.error(res.msg);
    //             }
    //         }, (response) => {
    //             this.$message.error('出错了:' + response);
    //         });

    // }else{
    //   this.$message({
    //         showClose: true,
    //         message: '请先选择范围',
    //         type: 'error'
    //       });
    //       }
        },
    save(){
      let arr = [];
      for (var i = this.multipleSelection.length - 1; i >= 0; i--) {
        arr.push(this.multipleSelection[i].id_);
      }
      this.update(arr);
    },
    handleSelectionChange(val){
        this.multipleSelection = val;
        console.log(val)
      },
    
       // 初始表单
         getList(){
              //  let apiJson = arg1 ? {type:arg1, pageSize:2000} : {activityId:this.rowId, pageSize:2000}  
              //   if(this.typeKey == arg1){
              //       apiJson = {activityId:this.rowId, pageSize:2000}
              //   }
               this.isSearch = true;
              
              this.tableData = [];

           let apiJson = new Object();
            if(this.typeOptionId){
              if(this.doSearch){
                apiJson = {
                  activityId:this.rowId,
                  condition:this.queryCondition,
                  type:this.typeOptionId,
                  pageNum:this.pageNum,
                  pageSize:this.pageSize
                }
              }else{
              apiJson =  { activityId:this.rowId,type:this.typeOptionId,pageSize:this.pageSize,  pageNum: this.pageNum}  
               
              }
            }else{
              
                apiJson = {activityId:this.rowId,pageSize:this.pageSize,  pageNum: this.pageNum}           
              

            }

              this.$http.post('/activity/read/tripInfo', apiJson).then((response) => {
                  // 响应成功回调      
                this.isSearch = false;
                 const res = response.body;
                  if (res.code==200) {
                   console.log(res)
                     this.typeOption = res.data.tripScopeTypeList;
                     try{
                         if(res.data.page){
                     this.tableData = res.data.page.records;
                     this.total = res.data.page.total;
                        }else{
                          this.total = 0
                        }
                        if(res.data.type){
                          this.typeOptionId = res.data.type;     
                          
                        }
                     this.checkdArr = res.data.checked;
                      if(res.data.version > -1){
                       this.rowVs = res.data.version 
                      }
                     }catch(err){
                       this.total =0;
                     }
                       
                      // 回显问题
                      if(this.checkdArr == null){
                          return
                      }else{
                        for(let j = 0; j < this.tableData.length; j++){
                            for(let k = 0; k < this.checkdArr.length; k++){
                                if(this.tableData[j].id_ == this.checkdArr[k]){
                                    this.$nextTick(() => {
                                       this.$refs.multipleTable.toggleRowSelection(this.tableData[j], true);
                                     })
                                }
                            }                        
                        }
                      }

                  } else {
                      this.$message.error(res.msg);
                  }
                
                  
              }, (response) => {
                
                this.isSearch = false;
                
                  this.$message.error('出错了:' + response);
              });
         },
         update(arr){
          this.isSave = true;
            this.$http.post('/activity/updateScopeTrip', {activityId:this.rowId,version:this.rowVs, type:this.typeOptionId, value:JSON.stringify(arr)}).then((response) => {
                // 响应成功回调      
               const res = response.body;
              if (res.code==200) {
                if(res.data.success){
                 this.$message('指定成功');
                 this.getList();
                 this.number--;
                 this.getList();
                 this.isSave = false;
                }else{
                  this.$message(res.data.message);
                  this.isSave = false;
                }                     
              } else {
                  this.$message.error(res.msg);
                  this.isSave = false;
              }
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isSave = false;
            });
         }
         
  },
  
  
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        },
};
</script>
<style type="text/css">
  .actLink{
    color: #20A0FF;
  }
</style>