<template>
<div id="activityAdd">
	<el-breadcrumb separator="/">
	  <el-breadcrumb-item :to="{ path : '/' }">首页</el-breadcrumb-item>
	  <el-breadcrumb-item :to="{ path : '/dudu/activity'}">活动管理</el-breadcrumb-item>
	  <el-breadcrumb-item>添加活动</el-breadcrumb-item>
	</el-breadcrumb>
	     <el-form :model="addActivForm" ref="addActivForm" label-width="180px" :rules="addRules">
	     <el-row>
	     	<el-col :span="12">
	     		 <el-form-item label="名称：" prop="activityTitle">
		       <el-input v-model="addActivForm.activityTitle"></el-input>
		     </el-form-item>
	     	</el-col>
	     </el-row>
	       <el-form-item label="活动类型：" prop="activityType">
	         <el-select v-model="addActivForm.activityType" placeholder="活动类型">
	           <el-option v-for="item in activTypeOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
	         </el-select>
	       </el-form-item>
	       <el-form-item label="活动图标">
	         <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/activity/getPolicy'" @change="getUploadAdd"></upload>
	       </el-form-item>
         <el-row>
        <el-col :span="12">
           <el-form-item label="活动简称：" prop="activityDesc">
             <el-input placeholder="活动简称四个字以内" v-model="addActivForm.activityDesc" auto-complete="off"></el-input>
           </el-form-item>
        </el-col>
         </el-row>
	       <el-row>
	     	<el-col :span="12">
	     		 <el-form-item label="活动介绍页面：" prop="activityPath">
	     		   <el-input v-model="addActivForm.activityPath" auto-complete="off"></el-input>
	     		 </el-form-item>
	     	</el-col>
	       </el-row>
           <el-form-item label="开始时间：" prop="validtimeStart">


               
                  <el-date-picker
                    v-model="dateArr"
                    type="datetimerange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    format="yyyy/MM/dd HH:mm:ss"
                    :picker-options="pickerOptionsAdd">
                  </el-date-picker>
           </el-form-item>
	       <el-form-item label="是否与活动叠加:" prop="isOverlay">
	       		<el-radio class="radio" v-model="addActivForm.isOverlay" label="1">是</el-radio>
				    <el-radio class="radio" v-model="addActivForm.isOverlay" label="0">否</el-radio>
	       </el-form-item>
 			  <el-row>
          	<el-col :span="12">
      		 <el-form-item label="单用户最多参与次数：" prop="maxPart">
      		   <el-input type="number" v-model="addActivForm.maxPart"></el-input>
      		 </el-form-item>
          	</el-col>
            </el-row>
	       <el-form-item label="优惠方式：" prop="reduceType">
	         <el-select v-model="addActivForm.reduceType" placeholder="优惠方式" @change="changeCoupon">
             <el-option v-for="item in reduceOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
           </el-select>
	       </el-form-item>
	       	<el-row>
             <el-col :span="12">
            <el-form-item label="最小订单金额：" prop="minAmount">
    		     <el-input type="number" v-model="addActivForm.minAmount" auto-complete="off"></el-input>
           </el-form-item>
             </el-col>
	         </el-row>
           <el-row>
            <el-col :span="12">
           <el-form-item label="优惠上限：" prop="maxReduce">
              <el-input type="number" v-model="addActivForm.maxReduce" auto-complete="off"></el-input>
         </el-form-item>
            </el-col>
          </el-row>
          <el-row>
           <el-col :span="12">
           <el-form-item label="优惠下限：" prop="minReduce">
             <el-input type="number" v-model="addActivForm.minReduce" auto-complete="off"></el-input>
         </el-form-item>
           </el-col>
         </el-row>
         <el-row>
        <el-col :span="12">
       <el-form-item v-if="!percentCoupon" label="优惠值：" prop="reduceValue">
          <el-input type="number" v-model="addActivForm.reduceValue" placeholder="请输入优惠值,如32，即优惠值为32元" auto-complete="off"></el-input>
      </el-form-item>
       <el-form-item v-if="percentCoupon"  label="折扣百分比：" prop="reduceValue">
          <el-input type="number" v-model="addActivForm.reduceValue" placeholder="请输入折扣百分比,如输入0.62, 即优惠值为62%" auto-complete="off"></el-input>
      </el-form-item>
        </el-col>
      </el-row>
       <el-row>
        	<el-col :span="12">
    		    <el-form-item label="活动说明:" prop="activityDetail">
    		      <el-input type="textarea" v-model="addActivForm.activityDetail"></el-input>
    		    </el-form-item>
        	</el-col>
       </el-row>
       <el-form-item>
           <el-button type="primary" :loading="isAdd" @click="onSubmit('addActivForm')">立即创建</el-button>
           <el-button @click="cancelBtn">取消</el-button>
       </el-form-item>
	     </el-form>
</div>
</template>

<script>
import Upload from '../Upload.vue';
export default {
  name: 'activityAdd',
  components: {
      Upload
  },
  data () {

    var validateSort = (rule, value, callback) => {
          setTimeout(() => {
              if (value > 2147483647) {
                callback(new Error('输入过大'));
              }
                else if(value < 0){
                  callback(new Error('不能为负数'));
                }
               else {
                callback();
              }
          }, 1000);                    
        };

    return {
        dateArr:[],
        pickerOptionsAdd: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      
       percentCoupon:false,
    	 isAdd:false,
       activTypeOption:[],
       reduceOption:[],
    	 picArray:[],
    	 addActivForm:{
    		activityTitle:'',
        activityType:'',
        activityDesc:'',
        activityPath:'',
        activityIcon:'',
        validtimeStart:'',
        validtimeEnd:'',
        isOverlay:'',
        maxPart:'',
        reduceType:'',
        minAmount:'',
        maxReduce:'',
        minReduce:'',
        reduceValue:'',
        activityDetail:''
    	},
    	    addRules:{
    	    	  activityTitle:[
                  {
                    required:true, message:'请输入活动标题',trigger:'blur'
                  }
              ],
              activityType:[
                  {
                    required:true, message:'请选择活动类型',trigger:'change'
                  }
              ],
              activityDesc:[
                  {
                    required:true, message:'请输入活动简介',trigger:'blur'
                  },
                 { min: 0, max: 4, message: '长度在 0 到 4 个字符', trigger: 'blur' }
              ],
              activityPath:[
                  {
                    required:true, message:'请粘贴活动页面介绍路径',trigger:'blur'
                  }
              ],
              validtimeStart:[
                  {
                    required:true, message:'请选择时间'
                  }
              ],
              validtimeEnd:[
                  {
                    required:true, message:'请选择时间'
                  }
              ],
              isOverlay:[
                  {
                    required:true, message:'请输入是否与活动叠加'
                  }
              ],
              maxPart:[
                  {
                    required:true, message:'请输入单用户最多参与次数',trigger:'blur'
                  },
                  {validator: validateSort}
              ],
              reduceType:[
                  {
                    required:true, message:'请选择优惠方式',trigger:'change'
                  }
              ],
              minAmount:[
                  {
                    required:true, message:'请输入最小订单金额',trigger:'blur'
                  }
              ],
              maxReduce:[
                  {
                    required:true, message:'请输入优惠上限',trigger:'blur'
                  }
              ],
              minReduce:[
                  {
                    required:true, message:'请输入优惠下限',trigger:'blur'
                  }
              ],
              reduceValue:[
                  {
                    required:true, message:'请输入优惠值',trigger:'blur'
                  }
              ],
              activityDetail:[
                  {
                    required:true, message:'请输入活动说明',trigger:'blur'
                  }
              ],

			} 
    };
  },

watch:{
  dateArr:{
    deep: true,
    handler: function(val, oldVal){
        if(Array.isArray(val)){
          this.addActivForm.validtimeStart = val[0]
          this.addActivForm.validtimeEnd = val[1]
        }else{
          this.addActivForm.validtimeStart = ''
          this.addActivForm.validtimeEnd =''

        }

    }
  },
  addActivForm:{
    handler:function(val, oldVal){
      console.log(val)
      if(Number(val.reduceValue) > Number(val.maxReduce) && val.reduceType=='SATI_PRIV'){
        this.$message.error('优惠值不能大于优惠上限');
        this.addActivForm.reduceValue =this.addActivForm.maxReduce
      }
    },
    deep: true
  }
},
  created(){
    this.addInit();
  },
  methods: {
    changeCoupon(val){
      this.addActivForm.reduceValue='';
      if(val=='DISCOUNT'){
        this.percentCoupon =true
      }else{
        this.percentCoupon =false
      }
    },
    getTimeStart(time){
      this.addActivForm.validtimeStart = time
    },
    getTimeEnd(time){
      this.addActivForm.validtimeEnd = time
    },
    addInit(){
      this.$http.post('/activity/addUI').then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);                 
          if (res.code==200) {
                this.activTypeOption = res.data.activityType;
                this.reduceOption = res.data.reduceType;
             } else {
             this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
  	getUploadAdd (val) {
  	    this.addActivForm.activityIcon = val;
  	    console.log(this.addChat)
  	},
    cancelBtn(){
      this.$router.push({
        path:'/dudu/activity'
      })
    },
  	onSubmit(form){

      if(this.addActivForm.activityIcon==''){
        this.$message('活动图标没有上传');
        return
      }
      if(this.percentCoupon&&this.addActivForm.reduceValue>1){
        this.$message('折扣百分比是0.62这样的小数');
        return
      }

  		this.isAdd = true;
  		this.$refs[form].validate((valid) => {
  		     if (valid) {  
  		      this.$http.post('/activity/addActivity',this.addActivForm).then((response) => {
  		          // 响应成功回调
  		          const res = response.body
  		          console.log(res);                 
  		          if (res.code==200) {
  		            if(res.data.success){
  		                this.$message('添加活动成功');
                      this.$router.go(-1);
  		            }else{
  		              this.$message(res.data.message);
  		            }
  		          } else {
  		             this.$message.error(res.msg);
  		          }
  		           this.isAdd = false; 
  		      }, (response) => {
  		          this.$message.error('出错了:' + response);
  		          this.isAdd = false; 
  		      });
  		     } else {
  		       this.isAdd = false; 
  		       return false;
  		     }
  		   });
  	}
    
  }
};
</script>
