<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>偏好标签</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" ref="search">
	          <el-form-item label="名称" label-width="50px">
	            <el-input v-model="tag_name"></el-input>
	          </el-form-item>
	          <el-form-item>
	            <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
	          <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加偏好标签</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="tagName"
                  label="偏好">
          </el-table-column>
          <el-table-column
                  prop="tagDetail"
                  label="说明">
          </el-table-column>
          <el-table-column
                  label="关联的用户属性">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="default"
                              @click="showTest(scope.row)">关联
                      </el-button>
                  </template>
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="170">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="添加偏好标签" :visible.sync="dialogVisible1" :before-close="handleClose">
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm">
         <el-form-item label="标签" :label-width="formLabelWidth" prop="tag_name">
           <el-input v-model="addLocForm.tag_name"></el-input>
         </el-form-item>
         <el-form-item label="说明" :label-width="formLabelWidth" prop="tag_detail">
           <el-input v-model="addLocForm.tag_detail"></el-input>
         </el-form-item>
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" @click="submitForm('addLocForm')">保存并添加</el-button>
       <el-button @click="dialogVisible1 = false">取 消</el-button>
     </div>
    </el-dialog>

     <el-dialog title="编辑偏好标签" :visible.sync="dialogVisible2" :before-close="handleClose">
       <el-form :model="editLoc" :rules="addFormRules" ref="editLoc">
         <el-form-item label="标签" :label-width="formLabelWidth" prop="tag_name">
           <el-input v-model="editLoc.tag_name"></el-input>
         </el-form-item>
         <el-form-item label="说明" :label-width="formLabelWidth" prop="tag_detail">
           <el-input v-model="editLoc.tag_detail"></el-input>
         </el-form-item>
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isAdd" @click="editForm('editLoc')">保存并添加</el-button>
       <el-button @click="dialogVisible2 = false">取 消</el-button>
     </div>
    </el-dialog>
    <el-dialog
        :title="diaTitle"
        :visible.sync="showTestDia"
        size="large"
        :before-close="closeTest">
       <tagRate v-if="showTestDia" :data-id="routerId"></tagRate>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import tagRate from './tagRate.vue';
export default {
  name: 'preference',
  components: {
      Page, tagRate
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      routerId:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
      diaTitle:'',
    	//表格类
    	tableData:[
    	],
    	//表单类
      dialogVisible1:false,
      dialogVisible2:false,
      showTestDia:false,
      addLocForm:{
           tag_name:'',
           tag_detail:''
         },
    	editLoc:{
             id:'',
             version:'',
             tag_name:'',
             tag_detail:'',
  	       },
	       formLabelWidth: '120px',
         // 查询条件
	        tag_name:'',
        // 规则
        addFormRules:{
        tag_name:[{ required: true, message: '请输入标签', trigger: 'blur' },
             { min: 1,max:20,  message: '长度在 1 到 20 个字符', trigger: 'blur' }],
        tag_detail:[{ required: true, message: '请输入说明', trigger: 'change'},
        {min:5, max:100, message: '长度在 5 到 100 个字符', trigger: 'blur' }]
        },
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    reset(form){
     this.tag_name='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
  	 handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
        showTest(row){
          this.routerId = row.id_;
          this.diaTitle = row.tagName;
          this.showTestDia = true;
        },
        closeTest(){
          this.showTestDia = false;
        },
    // 添加
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
               if (valid) {
                this.$http.post('/tag/tag/add',this.addLocForm).then((response) => {
                    // 响应成功回调
                    const res = response.body
                    console.log(res);
                    if (res.code==200) {
                      if(res.data.success){
                         this.dialogVisible1 = false;
                         this.$message('添加成功');
                         this.getList();
                      }else{
                        this.$message(res.data.message);
                      }
                    } else {
                        this.$message.error(res.msg);
                    }
                     this.isAdd = false;
                }, (response) => {
                    this.$message.error('出错了:' + response);
                    this.isAdd = false;
                });

               } else {
                 this.isAdd = false;
                 return false;
               }

             });
    }, //修改
    editForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/tag/tag/update',this.editLoc).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                     this.dialogVisible2 = false;
                     this.$message('修改成功');
                     this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                    this.$message.error(res.msg);
                }
                this.isEdit = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isEdit = false;
            });

           } else {
             this.isEdit = false;
             return false;
           }

         });
    },
  	handleAddForm(form){
		this.dialogVisible1 = true;
		if (this.$refs[form]) {
      this.$refs[form].resetFields();
    }
  	},
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
    	this.getList();
    },
    // 编辑
    handleEdit(row){
          console.log(row);
      if (this.$refs['editLoc']) {
        this.$refs['editLoc'].resetFields();
      }
      this.dialogVisible2 = true;
         this.editLoc.id = row.id_;
         this.editLoc.tag_name = row.tagName;
         this.editLoc.tag_detail = row.tagDetail;
         this.editLoc.version = row.version;
         },
         // 删除
    handleDelete(row){
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/tag/tag/delete', {id:row.id_,version:row.version}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                if(res.data.success){
                   this.$message('删除成功');
                    this.getList();
                }else{
                  this.$message(res.data.message);
                }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/tag/tag/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize,tag_name:this.tag_name}).then((response) => {
                 // 响应成功回调
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.tagList.records;
                     this.total = res.data.tagList.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
