<template>
<div>
	<div class="table-list">
	    <div class="list-todo__top">
          <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加关联用户属性</el-button>
	    </div> 
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="sAttrName"
                  label="关联用户属性">
          </el-table-column>
          <el-table-column
                  prop="attributesValue"
                  label="评分">
          </el-table-column>
          <el-table-column
                  prop="attributesDetail"
                  label="属性说明">
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"  
	              width="178">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small">编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small">删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
     <el-dialog title="添加关联属性" :visible.sync="dialogVisible1" :before-close="handleClose">
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm">
         <el-form-item label="属性" :label-width="formLabelWidth" prop="attributes_id">
              <el-select v-model="addLocForm.attributes_id">
                 <el-option
                 v-for="item in attrOption"
                 :value="item.id_"
                 :key="item.id_"
                 :label="item.attributesName">
                 </el-option>
              </el-select>
         </el-form-item>
         <el-form-item label="评分" :label-width="formLabelWidth" prop="attributes_value">
           <el-input type="number" v-model="addLocForm.attributes_value"></el-input>
         </el-form-item>       
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" @click="submitForm('addLocForm')">保存并添加</el-button>
       <el-button @click="dialogVisible1 = false">取 消</el-button>
     </div>
    </el-dialog>

     <el-dialog title="编辑关联属性" :visible.sync="dialogVisible2" :before-close="handleClose">
       <el-form :model="editLoc" :rules="addFormRules" ref="editLoc">
         <el-form-item label="属性" :label-width="formLabelWidth" prop="attributes_id">
          <el-select disabled  v-model="editLoc.attributes_id">
             <el-option
             v-for="item in attrOption"
             :value="item.id_"
             :key="item.id_"
             :label="item.attributesName">
             </el-option>
          </el-select>
         </el-form-item>
         <el-form-item label="评分" :label-width="formLabelWidth" prop="attributes_value">
           <el-input type="number" v-model="editLoc.attributes_value"></el-input>
         </el-form-item>       
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isAdd" @click="editForm('editLoc')">保存并添加</el-button>
       <el-button @click="dialogVisible2 = false">取 消</el-button>
     </div>
    </el-dialog>
	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'tagRate',
  props:['dataId'],
  data () {
    var validateRate = (rule, value, callback) => {
         var patternExp  =  /^([0-9]|10)(\.([0-9]{1,2}|10))?$/;
         setTimeout(() => {
             if (!patternExp.test(value)) {                  
                callback(new Error('输入0-10,可保留2位小数'));              
             } else {
              if(parseFloat(value)>10){
                callback(new Error('不能超过10分'));
              }else{
               callback();
              }
             }
         }, 1000);  
        };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
    	//页码类
      attrOption:[
      ],
    	//表格类
    	tableData:[
    	],
    	//表单类
      dialogVisible1:false,
      dialogVisible2:false,
      addLocForm:{
           tag_id:'',
           attributes_id:'',
           attributes_value:''
         },
    	editLoc:{
             id:'',
             version:'',
             tag_id:'',
             attributes_id:'',
             attributes_value:''
  	       },
	       formLabelWidth: '120px',
        // 规则
        addFormRules:{
        attributes_id:[{ required: true, message: '请输入标签', trigger: 'blur' },
             { min: 2,  message: '长度在大于2', trigger: 'blur' }],
        attributes_value:[{ required: true, message: '请输入说明', trigger: 'blur'},
          { validator: validateRate, trigger: 'blur' }]
        },
    };
  },
  created(){
    this.getList();
  	
  },
  watch:{
      dataId: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
  	 handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
    // 添加 
    submitForm(form){
      this.isAdd = true; 
      this.$refs[form].validate((valid) => {
               if (valid) { 
                 this.addLocForm.tag_id = this.dataId;
                 this.$http.post('/tagAttribute/tagAttr/add',this.addLocForm).then((response) => {
                    // 响应成功回调
                    const res = response.body
                    console.log(res);                 
                    if (res.code==200) {
                      if(res.data.success){
                         this.dialogVisible1 = false;
                         this.$message('添加成功');
                         this.getList();
                      }else{
                        this.$message(res.data.message);
                      } 
                    } else {
                        this.$message.error(res.msg);
                    }
                     this.isAdd = false; 
                }, (response) => {
                    this.$message.error('出错了:' + response);
                    this.isAdd = false; 
                });

               } else {
                 this.isAdd = false; 
                 return false;
               }

             });
    }, //修改
    editForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) { 
            this.$http.post('/tagAttribute/tagAttr/update',this.editLoc).then((response) => {
                // 响应成功回调                   
                const res = response.body
                console.log(res);                 
                if (res.code==200) {
                  if(res.data.success){
                     this.dialogVisible2 = false;
                     this.$message('修改成功');
                     this.getList();
                  }else{
                    this.$message(res.data.message);
                  } 
                } else {
                   this.$message.error(res.msg);
                }
                this.isEdit = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isEdit = false;
            });

           } else {
             this.isEdit = false;
             return false;
           }

         });
    },
  	handleAddForm(form){
      this.dialogVisible1 = false;
  		this.dialogVisible1 = true;
  		if (this.$refs[form]) {
        this.$refs[form].resetFields();  
      }
      this.getOptionList();
  	},
    // 编辑
    handleEdit(row){
          console.log(row);
        if (this.$refs['editLoc']) {
          this.$refs['editLoc'].resetFields();
        } 
         this.dialogVisible2 = true;
         this.editLoc.id = row.id_;
         this.editLoc.version = row.version;
         this.editLoc.tag_id = row.sTagId;
         this.editLoc.attributes_id = row.sAttributesId;
         this.editLoc.attributes_value = row.attributesValue;
         },
         // 删除
    handleDelete(row) {
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/tagAttribute/tagAttr/delete', {id:row.id_,version:row.version}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);                 
	             if (res.code==200) {
                if(res.data.success){
                   this.$message('删除成功');
                    this.getList();
                }else{
                  this.$message(res.data.message);
                }  
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         // 初始表单
         getList(){
             this.$http.post('/tagAttribute/tagAttr/list', {pageNum: 1,
                 pageSize: 1000,tag_id:this.dataId}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                  console.log(res)
                     this.tableData = res.data.tagAttrList.records;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         }, 
         getOptionList(){
             this.$http.post('/tagAttribute/userAttr/list').then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.attrOption = res.data.userAttrList;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
  }
};
</script>
