<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>实体卡订单管理_财务</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
      <div class="list-todo__top">
          <el-form v-model="queryS" :inline="true" ref="search">
            <el-form-item label="实体卡验证码:">
              <el-input v-model="queryS.check_no"></el-input>
            </el-form-item>
            <el-form-item label="订单状态:">
              <el-select v-model="queryS.status">
              <el-option
              v-for="item in statusOption"
              :value="item.name"
              :key="item.name"
              :label="item.desc">
              </el-option>
              </el-select>
            </el-form-item>
                <el-form-item label="产品类型:">
                  <el-select v-model="queryS.type_name">
                  <el-option
                  v-for="item in productOption"
                  :value="item.typeName"
                  :key="item.typeName"
                  :label="item.typeName">
                  </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="产品名称:">
                  <el-input v-model="queryS.product_title"></el-input>
                </el-form-item>
                <el-form-item label="联系人:">
                  <el-input v-model="queryS.customer_name"></el-input>
                </el-form-item>
                <el-form-item label="联系电话:">
                  <el-input v-model="queryS.customer_phone"></el-input>
                </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
            </el-form-item>
          </el-form>
      </div>
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="typeName"
                  label="产品类型">
          </el-table-column>
          <el-table-column
                  prop="productTitle"
                  width="200"
                  label="产品名称">
          </el-table-column>
          <el-table-column
                  prop="checkNo"
                  width="170"
                  label="验证码">
          </el-table-column>
          <el-table-column
                  prop="persionCount"
                  label="使用人数">
          </el-table-column>
          <el-table-column
                  prop="customerName"
                  label="联系人">
          </el-table-column>
          <el-table-column
                  prop="customerPhone"
                  width="130"
                  label="联系电话">
          </el-table-column>
          <el-table-column
                  prop="refundCustomerName"
                  width="120"
                  label="退款联系人">
          </el-table-column>
          <el-table-column
                  prop="refundCustomerPhone"
                  width="150"
                  label="退款联系人电话">
          </el-table-column>
          <el-table-column
                  prop="appointTime"
                  :formatter ="formatterTime"
                  width="140"
                  label="预约时间">
          </el-table-column>
          <el-table-column
                  prop="status"
                  :formatter="statusFormat"
                  width="120"
                  label="订单状态">
          </el-table-column>
          <el-table-column
                  label="订单详情">
                  <template slot-scope="scope">
                     <el-button
                             type="text"
                             @click="showOrder(scope.row)">查看
                     </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  label="备注">
                  <template slot-scope="scope">
                     <el-button
                             type="text"
                             @click="showMark(scope.row)">备注
                     </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  label="退款详情">
                  <template slot-scope="scope">
                     <el-button
                             type="text"
                             @click="showRefundInfo(scope.row)">查看
                     </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="100"
                  label="操作">
                  <template slot-scope="scope">
                     <el-button type="success" size="small" :disabled="scope.row.status!=='ACCEPT'" @click="refundCheckBtn(scope.row)">退款</el-button>
                  </template>
          </el-table-column>
      </el-table>
   <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
  <!-- 订单详情 -->
   <el-dialog size="tiny" title="订单详情" :visible.sync="diaOrder">
     <el-form label-position="left">
         <el-form-item label="订单状态 : ">
           <span>{{orderInfo.status|filterA}}</span>
         </el-form-item>
         <el-form-item label="产品名称 : ">
           <span>{{orderInfo.productTitle}}</span>
         </el-form-item>
         <el-form-item label="退款类型 : ">
           <span>{{orderInfo.chargeBack|filterB}}</span>
         </el-form-item>
         <el-form-item label="退单说明 : ">
           <span>{{orderInfo.chargebackIntro}}</span>
         </el-form-item>
         <el-form-item label="提前预约时间 : ">
           <span>{{orderInfo.bookingLimitTime}}</span>
         </el-form-item>
         <el-form-item label="预约规则 : ">
           <span>{{orderInfo.bookingIntro}}</span>
         </el-form-item>
         <el-form-item label="适用人数 : ">
           <span>{{orderInfo.persionCount}}</span>
         </el-form-item>
         <el-row>
         <el-col :span="12">
            <el-form-item label="销售价格 : ">
              <span>{{orderInfo.sellPrice}}元</span>
            </el-form-item>
         </el-col>
         <el-col :span="12">
            <el-form-item label="预约人证件号 : ">
              <span>{{orderInfo.idCard}}</span>
            </el-form-item>
         </el-col>
         </el-row>
         <el-row>
         <el-col :span="12">
            <el-form-item label="联系人 : ">
              <span>{{orderInfo.customerName}}</span>
            </el-form-item>
         </el-col>
         <el-col :span="12">
            <el-form-item label="联系电话 : ">
              <span>{{orderInfo.customerPhone}}</span>
            </el-form-item>
         </el-col>
         </el-row>
       </el-form>
  </el-dialog>
  <!-- 备注 -->
  <el-dialog
      :title="diaTitle"
      v-if="diaMark"
      :visible.sync="diaMark"
      size="small"
      :before-close="closeTest">
     <mark-list :data-id="routerId"></mark-list>
  </el-dialog>

<!-- 退款审批 -->
   <el-dialog title="退款信息录入" size="tiny" :visible.sync="diaRefund" :before-close="handleCloseRefund">
     <el-form label-width="140px">
       <el-form-item label="产品名称：">
         <span>{{refundSelect.productTitle}}</span>
       </el-form-item>
       <el-form-item label="退款类型：">
         <span>{{refundSelect.chargeback|filterB}}</span>
       </el-form-item>
       <el-form-item label="退单说明：">
            <span>{{refundSelect.chargebackIntro}}</span>
         </el-form-item>
       <el-form-item label="销售价格：">
            <span>{{refundSelect.sellPrice}}元</span>
         </el-form-item>
         </el-form-item>
       <el-form-item label="游客申请退款方式：">
            <span>{{refundSelect.refundType|filterPay}}</span>
         </el-form-item>
          <el-form-item label="开户行：" v-if="refundSelect.refundType=='3'">
            <span>{{refundSelect.bankAddress}}</span>
         </el-form-item>
       <el-form-item label="退款账号：">
            <span>{{refundSelect.account}}</span>
         </el-form-item>
         <el-form-item label="账户名：" v-if="refundSelect.userName">
             <span>{{refundSelect.userName}}</span>
          </el-form-item>
       <el-form-item label="退款金额:">
            <span>{{refundSelect.refundMoney}} 元</span>
         </el-form-item>
       </el-form>
       <el-form :model="refundForm" ref="refundR" :rules="refundRule" label-width="140px">
       <el-form-item label="实退金额：" prop="return_money">
            <el-input type="number" v-model="refundForm.return_money"></el-input>
         </el-form-item>
       <el-form-item label="退款交易流水号：" prop="refund_charge_code">
           <el-input type="number" v-model="refundForm.refund_charge_code"></el-input>
         </el-form-item>
       <el-form-item label="退款备注：" prop="refund_resume_finance">
           <el-input type="textarea" v-model="refundForm.refund_resume_finance"></el-input>
         </el-form-item>
      </el-form>
   <div slot="footer" class="dialog-footer">
     <el-button type="primary" :loading="isRefund" @click="againBtn('refundR')">保存</el-button>
     <el-button type="danger" @click="diaRefund=false">取消</el-button>
   </div>
  </el-dialog>

<!-- 查看退款详情 -->
   <el-dialog title="退款详情" size="tiny" :visible.sync="diaRefund2" :before-close="handleCloseRefund2">
     <el-form label-width="140px">
       <el-form-item label="产品名称：">
         <span>{{refundInfoMsg.productTitle}}</span>
       </el-form-item>
       <el-form-item label="退款类型：">
         <span>{{refundInfoMsg.chargeback|filterB}}</span>
       </el-form-item>
       <el-form-item label="退单说明：">
            <span>{{refundInfoMsg.chargebackIntro}}</span>
         </el-form-item>
          <el-form-item label="销售价格：">
            <span>{{refundInfoMsg.sellPrice}}元</span>
         </el-form-item>
       <el-form-item label="游客申请退款方式：">
            <span>{{refundInfoMsg.refundType|filterPay}}</span>
         </el-form-item>
       <el-form-item label="开户行：" v-if="refundInfoMsg.refundType=='3'">
            <span>{{refundInfoMsg.bankAddress}}</span>
         </el-form-item>
        <el-form-item label="退款账号：">
             <span>{{refundInfoMsg.account}}</span>
          </el-form-item>
        <el-form-item label="账户名：" v-if="refundInfoMsg.userName">
             <span>{{refundInfoMsg.userName}}</span>
          </el-form-item>
       <el-form-item label="退款金额:">
            <span>{{refundInfoMsg.refundMoney}}元</span>
         </el-form-item>
       <el-form-item label="实退金额:" v-if="refundInfoMsg.returnMoney">
            <span>{{refundInfoMsg.returnMoney}}元</span>
         </el-form-item>
       <el-form-item label="退款交易流水号：" v-if="refundInfoMsg.refundChargeCode">
            <span>{{refundInfoMsg.refundChargeCode}}</span>
         </el-form-item>
       <el-form-item label="退款备注：" v-if="refundInfoMsg.refundResumeFinance">
            <span>{{refundInfoMsg.refundResumeFinance}}</span>
         </el-form-item>

        </el-form>
  </el-dialog>

  </div>
</div>
</template>
<script>
import Page from '../../Page.vue';
import MarkList from './MarkList.vue';
export default {
  name: 'financeorder',
  components: {
      Page, MarkList
  },
  data () {
    var validateTel = (rule, value, callback) => {
          var patternExp  =  this.$store.state.phoneReg;
          setTimeout(() => {
                if (!patternExp.test(value)) {
                  callback(new Error('手机号码格式不正确'));
                } else {
                  callback();
                }
            }, 1000);
        };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isRefund:false,
      isRefuse:false,
      diaOrder:false,
      diaMark:false,
      diaRefund:false,
      diaRefund2:false,
      diaTitle:'',
      routerId:'',
      statusOption:[],
      productOption:[],
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      orderInfo:{
        appointTime:'',
        bookingIntro:'',
        bookingLimitTime:'',
        cardBatchId:'',
        cardId:'',
        chargeBack:'',
        chargebackIntro:'',
        checkNo:'',
        createBy:'',
        createTime:'',
        customerName:'',
        customerPhone:'',
        idCard:'',
        persionCount:'',
        productId:'',
        productTitle:'',
        resume:'',
        sellPrice:'',
        status:'',
        typeName:''
      },
      //表单类
        formLabelWidth: '120px',
      // 查询条件
        queryS:{
          check_no:'',
          status:'',
          type_name:'',
          product_title:'',
          customer_name:'',
          customer_phone:''
        },
        refundSelect:{
        },
        refundInfoMsg:{
        },
        refundForm:{
          order_id:'',
          return_money:'',
          refund_charge_code:'',
          refund_resume_finance:'',
          requestType:2
        },
        refundRule:{
               return_money:[
                {
                  required:true,message: '请输入实退金额', trigger: 'blur'
                }
               ], refund_charge_code:[
                {
                  required:true,message: '请输入退款交易流水号', trigger: 'blur'
                }
               ], refund_resume_finance:[
                {
                  required:true,message: '请输入退款备注', trigger: 'blur'
                }
               ],
            }
    };
  },
  created(){
    this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  filters:{
    filterPay :(val) =>{
      if(val =='1'){
        return '微信'
      }else if(val =='2'){
        return '支付宝'
      }else if(val=='3'){
        return '银行卡'
      }
    },
     filterA:(status)=>{
      let enumObj={
          ORDERED:'已预约',
          CONFIRM:'订单确认',
          CHANGE:'申请变更',
          REFUNDING:'申请退款',
          ACCEPT:'退款受理',
          REFUSE:'拒绝退款',
          REFUNDED:'退款完成',
          FAIL:'预约失败'
      }
      return enumObj[status]
    },
    filterB:(status)=>{
      let enumObj={
        CHECK_REFUND:'审核退款',
        NOT_CHECK_REFUND:'无需审核退款',
        REFUSE:'拒绝退款'
      }
      return enumObj[status]
    },
  },
  methods: {
    showMark(row){
      this.routerId = row.id_;
      this.diaTitle = row.productTitle;
      this.diaMark = true;
    },
    closeTest(){
      this.diaMark = false;
    },
    handleCloseRefund(){
      this.diaRefund=false;
    },
    handleCloseRefund2(){
      this.diaRefund2=false;
    },
    againBtn(form){
      this.isRefund = true;
      this.$refs[form].validate((valid) => {
            if (valid) {
             this.$http.post('/cardOrder/financeRefund/insert',this.refundForm).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                   if(res.data.success){
                      this.diaRefund = false;
                      this.$message('操作成功');
                      this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                 } else {
                    this.$message.error(res.msg);
                 }
                 this.isRefund = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isRefund = false;
             });

             } else {
              this.isRefund = false;
               return false;
             }

           });
    },
    refundCheckBtn(row){
      if (this.$refs['refundR']) {
        this.$refs['refundR'].resetFields();
      }
        this.$http.post('/cardOrder/refundInfo/select',{order_id:row.id_, requestType:2}).then((response) => {
           const res = response.body;
            if (res.code==200) {
                this.refundForm.order_id = row.id_;
                this.diaRefund = true;
                this.refundSelect=null;
                this.refundSelect=res.data.yjCardorderRefundBean;
            } else {
                this.$message.error(res.msg);
            }
        }, (response) => {
            this.$message.error('出错了:' + response);
        });
    },
    showRefundInfo(row){
        this.$http.post('/cardOrder/refundDetails/select',{order_id:row.id_,requestType:2}).then((response) => {
           const res = response.body;
            if (res.code==200) {
              this.diaRefund2 = true;
              this.refundInfoMsg=null;
              this.refundInfoMsg=res.data.yjCardorderRefundBean;

            } else {
                this.$message.error(res.msg);
            }
        }, (response) => {
            this.$message.error('出错了:' + response);
        });
    },
    showOrder(row){
      this.$http.post('/cardOrder/read/getOrderInfo',{order_id:row.id_}).then((response) => {
         const res = response.body;
          if (res.code==200) {
              this.orderInfo = res.data.cardOrderInfo;
              this.diaOrder = true;
          } else {
              this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
    formatterTime(row, column){
      return row.appointTime.split(' ')[0]
    },
    reset(form){
     this.queryS.check_no=''
     this.queryS.status=''
     this.queryS.type_name=''
     this.queryS.product_title=''
     this.queryS.customer_name=''
     this.queryS.customer_phone=''
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
    statusFormat(row, column){
      let arr = this.statusOption;
      for(var i = 0; i <arr.length; i++){
        if(row.status == arr[i].name){
            return arr[i].desc
        }
      }
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/cardOrder/queryAsFinance/list', {
              check_no:this.queryS.check_no,
              status:this.queryS.status,
              type_name:this.queryS.type_name,
              product_title:this.queryS.product_title,
              customer_name:this.queryS.customer_name,
              customer_phone:this.queryS.customer_phone,
              pageNum: this.pageNum,
              pageSize: this.pageSize
            }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.cardOrderList.records;
                     this.total = res.data.cardOrderList.total;
                     this.statusOption = res.data.orderStatusEnum;
                     this.productOption = res.data.productType;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
