<template>
<div>
	<div class="table-list">
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="operatorName"
                  label="创建人">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  label="创建时间">
          </el-table-column>
          <el-table-column
                  prop="oprtResume"
                  label="备注">
          </el-table-column>
	    </el-table>

        <el-pagination
          class="page-k"
            layout="total, prev, pager, next"
            @current-change="changePageNum"
            :page-size="5"
            :total="total">
        </el-pagination>



      <el-row class="markInput">
        <el-col class="actiName" :span="2" :offset="1">
           <span>备注：</span> 
        </el-col>
        <el-col :span="15">
          <el-input v-model="markInput"></el-input>
        </el-col>
        <el-col :span="3" :offset="1">
         <el-button type="primary" @click="addMark" :loading="isAdd"> 添加</el-button>
        </el-col>
      </el-row>
	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'marklist',
  props:['dataId'],
  data () {
    return {
        pageNum: 1,
    	total: 0,
    	//表格类
    	tableData:[
    	],
      markInput:'',
      isAdd:false
    };
  },
  created(){
  	this.getList();
  },
 watch:{
     dataId: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
       pageNum: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     }
 },
  methods: {
      changePageNum(curPage){
      this.pageNum = curPage;
    },
         getList(){
             this.$http.post('/cardOrder/queryResume/list',{order_id:this.dataId, pageNum:this.pageNum, pageSize:5}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.records;
                     this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         addMark(){
              this.isAdd = true;
              this.$http.post('/cardOrder/cardOrder/insert',{order_id:this.dataId, oprt_resume:this.markInput}).then((response) => {
                  const res = response.body
                  console.log(res);                 
                  if (res.code==200) {
                    if(res.data.success){
                        this.$message('添加成功');
                        this.markInput='';
                        this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                      this.$message.error(res.msg);
                  }
                   this.isAdd = false; 
              }, (response) => {
                  this.$message.error('出错了:' + response);
                   this.isAdd = false; 
              });
               
         }
  }
};
</script>
<style lang="css" scoped>
    .actiName{
      line-height: 36px;
  }
  .markInput{
    margin-top: 20px;
  }
</style>