<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单明细表_石化</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
      <div class="list-todo__top">
          <el-form v-model="queryS" :inline="true" ref="queryS">
          <el-row>
            <el-form-item label="实体卡验证码:">
              <el-input v-model="queryS.check_no"></el-input>
            </el-form-item>
            <el-form-item label="订单状态:">
              <el-select v-model="queryS.status">
              <el-option
              v-for="item in statusOption"
              :value="item.name"
              :key="item.name"
              :label="item.desc">
              </el-option>
              </el-select>
            </el-form-item>
  <el-form-item label="预约时间:">
    <el-date-picker v-model="daterange" value-format="yyyy/MM/dd HH:mm:ss" format="yyyy/MM/dd HH:mm:ss" type="datetimerange" @change="spliceTime" placeholder="选择日期范围">
    </el-date-picker>
  </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="产品类型:">
                  <el-select v-model="queryS.type_name">
                  <el-option
                  v-for="item in productOption"
                  :value="item.typeName"
                  :key="item.typeName"
                  :label="item.typeName">
                  </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="产品名称:">
                  <el-input v-model="queryS.product_title"></el-input>
                </el-form-item>
                <el-form-item label="联系人:">
                  <el-input v-model="queryS.customer_name"></el-input>
                </el-form-item>
                <el-form-item label="联系电话:">
                  <el-input v-model="queryS.customer_phone"></el-input>
                </el-form-item>
            </el-row>
            <el-row class="btn-groups-k">
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
                <el-button type="danger" size="large" :loading="isSearch" @click="doExport">导出</el-button>
            </el-form-item>
            </el-row>
          </el-form>
      </div>
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="typeName"
                  label="产品类型">
          </el-table-column>
          <el-table-column
                  prop="productTitle"
                  width="200"
                  label="产品名称">
          </el-table-column>
          <el-table-column
                  prop="checkNo"
                  label="验证码">
          </el-table-column>
          <el-table-column
                  prop="customerName"
                  label="联系人">
          </el-table-column>
          <el-table-column
                  prop="customerPhone"
                  width="130"
                  label="联系电话">
          </el-table-column>
          <el-table-column
                  prop="appointTime"
                  :formatter ="formatterTime"
                  width="140"
                  label="预约时间">
          </el-table-column>
          <el-table-column
                  prop="sellPrice"
                  label="销售价格">
          </el-table-column>
          <el-table-column
                  prop="status"
                  :formatter="statusFormat"
                  label="订单状态">
          </el-table-column>
      </el-table>

      <el-dialog title="选择导出条件" size="tiny" :visible.sync="dialogFormVisible">
  <el-form>
    <el-form-item label="预约时间：" label-width="120px">
        <el-date-picker
      v-model="queryTime"
      type="date"
      format="yyyy-MM-dd"
      placeholder="选择日期">
    </el-date-picker>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="doExportBtn">确定导出</el-button>
  </div>
</el-dialog>

   <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

  </div>
</div>
</template>
<script>
import Page from '../../Page.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
export default {
  name: 'sinoOrder',
  components: {
      Page
  },
  data () {
    var validateTel = (rule, value, callback) => {
          var patternExp  =  this.$store.state.phoneReg;
          setTimeout(() => {
                if (!patternExp.test(value)) {
                  callback(new Error('手机号码格式不正确'));
                } else {
                  callback();
                }
            }, 1000);
        };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      dialogFormVisible:false,
      statusOption:[],
      productOption:[],
      startTime:'',
      endTime:'',
      queryTime:'',
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize: parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      //表单类
        formLabelWidth: '120px',
        daterange:'',
      // 查询条件
        queryS:{
          check_no:'',
          status:'',
          start_time:'',
          end_time:'',
          type_name:'',
          product_title:'',
          customer_name:'',
          customer_phone:''
        }

    };
  },
  created(){
    this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    spliceTime (val) {
        console.log(val);
        if(Array.isArray(val)){
        this.queryS.start_time = val[0];
        this.queryS.end_time = val[1];
        }else{
        this.queryS.start_time = '';
        this.queryS.end_time = ''

        }
      },
    doExport (val) {
      this.dialogFormVisible = true;
      this.queryTime='';
      },
      doExportBtn(){
        if(this.queryTime==''){
          this.$message('请选择时间');
          return false;
        }
        this.dialogFormVisible = false;
        window.open(location.origin+'/cardOrder/orderDetailExport/query?appoint_time='+moment(this.queryTime).format("YYYY-MM-DD"))

      },
    formatterTime(row, column){
      return row.appointTime.split(' ')[0]
    },
    reset(form){

     this.daterange='',
     this.queryS.check_no='',
     this.queryS.status='',
     this.queryS.type_name='',
     this.queryS.start_time='',
     this.queryS.end_time='',
     this.queryS.product_title='',
     this.queryS.customer_name='',
     this.queryS.customer_phone=''
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
    statusFormat(row, column){
     let arr = this.statusOption;
     for(var i = 0; i <arr.length; i++){
       if(row.status == arr[i].name){
           return arr[i].desc
       }
     }
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/cardOrder/queryOrderDetail/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                check_no:this.queryS.check_no,
                status:this.queryS.status,
                start_time:this.queryS.start_time,
                end_time:this.queryS.end_time,
                type_name:this.queryS.type_name,
                product_title:this.queryS.product_title,
                customer_name:this.queryS.customer_name,
                customer_phone:this.queryS.customer_phone
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.cardOrderList.records;
                     this.total = res.data.cardOrderList.total;
                     this.statusOption = res.data.orderStatusEnum;
                     this.productOption = res.data.productType;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
.btn-groups-k{
  display: flex;
  justify-content:flex-end;
}
</style>
