<template>
<div>
	<div class="table-list">
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="taskName"
                  label="任务名">
          </el-table-column>
          <el-table-column
                  prop="startTime"
                  label="开始时间">
          </el-table-column>
          <el-table-column
                  prop="endTime"
                  label="结束时间">
          </el-table-column>
          <el-table-column
                  prop="fireInfo"
                  label="fireInfo">
          </el-table-column>
          <el-table-column
                  prop="groupName"
                  label="groupName">
          </el-table-column>
          <el-table-column
                  prop="serverDuid"
                  label="serverDuid">
          </el-table-column>
          <el-table-column
                  prop="serverHost"
                  label="serverHost">
          </el-table-column>
          <el-table-column
                  prop="status"
                  :formatter="formatterStatus"
                  label="状态">
          </el-table-column>
	    </el-table>
	 <el-pagination
      class="page-k"
       layout="total, prev, pager, next"
       @current-change="changePageNum"
       :page-size="20"
       :total="total">
   </el-pagination>

	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'schedulelog',
  props:['dataId'],
  data () {
    return {
    	//页码类
    	pageNum: 1,
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:20,
    	//表格类
    	tableData:[
    	],
    	//表单类
	    formLabelWidth: '120px',
    };
  },
  created(){
  	this.getList();
  },
 watch:{
     pageNum: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
     dataId: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     }
 },
  methods: {
    changePageNum(curPage){
      this.pageNum = curPage;
    },
        formatterStatus(row, column){
          if(row.status=='S'){
            return '正常'
          }else if(row.status=='1'){
              return '异常'
          }
        },
         // 初始表单
         getList(){
             this.$http.post('/scheduled/read/log',{pageNum:this.pageNum, pageSize:this.pageSize,keyword
:this.dataId}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.records;
                     this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
<style lang="css">
.page-k{
    margin-top: 15px;
}
</style>
