<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>调度管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	        <el-button type="success"  @click="handleAddForm('addChat')"><i class="fa fa-plus" aria-hidden="true"></i> 添加调度任务</el-button>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="taskName"
                  label="任务名称">
          </el-table-column>
          <el-table-column
                  prop="taskGroup"
                  label="任务分组">
          </el-table-column>
	        <el-table-column
	                prop="taskCron"
	                label="任务运行时间表达式">
	        </el-table-column>
          <el-table-column
                  prop="taskDesc"
                  label="任务描述">
          </el-table-column>
	        <el-table-column
	                prop="status"
                  :formatter="formatterStatus"
	                label="状态">
	        </el-table-column>
	        <el-table-column
	                prop="jobType"
	                :formatter="formatterJob"
	                label="任务类型(是否阻塞)">
	        </el-table-column>
	        <el-table-column
	                prop="taskType"
	                :formatter="formatterTask"
	                label="本地任务/dubbo任务">
	        </el-table-column>
          <el-table-column
                  label="任务执行记录">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="default"
                              @click="showTest(scope.row)">查看
                      </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="targetObject"
                  label="任务对象">
          </el-table-column>
          <el-table-column
                  prop="previousFireTime"
                  label="上次时间">
          </el-table-column>
          </el-table-column>
	        <el-table-column
	                prop="nextFireTime"
	                label="下次时间">
	        </el-table-column>
	        <el-table-column
	                prop="targetMethod"
	                label="任务方法">
	        </el-table-column>
	        <el-table-column
	                prop="contactEmail"
	                label="通知邮箱">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="380">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 修改</el-button>
                  <el-button @click="handleOpen(scope.row)" type="success" size="small">启动</el-button>
	              	<el-button @click="handlePause(scope.row)" type="danger" size="small">暂停</el-button>
	              	<el-button @click="handleBegin(scope.row)" type="success" size="small">立即执行</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
  	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

         <el-dialog title="添加调度任务" :visible.sync="dialogVisible1" :before-close="handleClose">
             <el-form :model="addChat" ref="addChat" :rules="addRules" :label-width="formLabelWidth">
               <el-form-item label="任务运行时间表达式："  prop="taskCron">
                 <el-input v-model="addChat.taskCron"></el-input>
               </el-form-item>
               <el-form-item label="任务描述："  prop="taskDesc">
                 <el-input v-model="addChat.taskDesc"></el-input>
               </el-form-item>
               <el-form-item label="任务类型(是否阻塞)：" prop="jobType">
                 <el-select v-model="addChat.jobType" placeholder="选择任务类型">
                    <el-option label="非阻塞" value="job"></el-option>
                    <el-option label="阻塞" value="statefulJob"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="本地任务/dubbo任务：" prop="taskType">
                 <el-select v-model="addChat.taskType" placeholder="本地任务/dubbo任务">
                    <el-option label="本地任务" value="LOCAL"></el-option>
                    <el-option label="dubbo任务" value="DUBBO"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="任务对象："  prop="targetObject">
                 <el-input v-model="addChat.targetObject"></el-input>
               </el-form-item>
               <el-form-item label="任务方法："  prop="targetMethod">
                 <el-input v-model="addChat.targetMethod"></el-input>
               </el-form-item>
               <el-form-item label="通知邮箱："  prop="contactEmail">
                 <el-input v-model="addChat.contactEmail"></el-input>
               </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button type="primary" :loading="isAdd" @click="submitForm('addChat')">添加</el-button>
               <el-button @click="dialogVisible1 = false">取 消</el-button>
             </div>
         </el-dialog>

         <el-dialog title="修改调度任务" :visible.sync="dialogVisible2" :before-close="handleClose">
             <el-form :model="updateForm" ref="updateForm" :rules="addRules" :label-width="formLabelWidth">
               <el-form-item label="任务运行时间表达式：" prop="taskCron">
                 <el-input v-model="updateForm.taskCron"></el-input>
               </el-form-item>
               <el-form-item label="任务描述：" prop="taskDesc">
                 <el-input v-model="updateForm.taskDesc"></el-input>
               </el-form-item>
               <el-form-item label="任务类型(是否阻塞)：" prop="jobType">
                 <el-select v-model="updateForm.jobType" placeholder="选择任务类型">
                    <el-option label="非阻塞" value="job"></el-option>
                    <el-option label="阻塞" value="statefulJob"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="本地任务/dubbo任务：" prop="taskType">
                 <el-select v-model="updateForm.taskType" placeholder="本地任务/dubbo任务">
                    <el-option label="本地任务" value="LOCAL"></el-option>
                    <el-option label="dubbo任务" value="DUBBO"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="任务对象：" prop="targetObject">
                 <el-input v-model="updateForm.targetObject"></el-input>
               </el-form-item>
               <el-form-item label="任务方法：" prop="targetMethod">
                 <el-input v-model="updateForm.targetMethod"></el-input>
               </el-form-item>
               <el-form-item label="通知邮箱：" prop="contactEmail">
                 <el-input v-model="updateForm.contactEmail"></el-input>
               </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button type="primary" :loading="isEdit" @click="editForm('updateForm')">修改</el-button>
               <el-button @click="dialogVisible2 = false">取 消</el-button>
             </div>
         </el-dialog>

        <el-dialog
            :title="diaTitle"
            :visible.sync="showTestDia"
            size="large"
            :before-close="closeTest">
           <schedulelog :data-id="routerId"></scheduleLog>
        </el-dialog>
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import schedulelog from "./ScheduleLog.vue";
import { MessageBox } from 'element-ui';
export default {
  name: 'Schedule',
  components: {
      Page,schedulelog
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      showTestDia:false,
      diaTitle:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
      routerId:'',
    	//表格类
      tableData:[
    	],
    	//表单类
        dialogVisible1:false,
    	 dialogVisible2:false,
      addChat: {
        taskCron:'',
        taskDesc:'',
        jobType:'',
        taskType:'',
        targetObject:'',
        targetMethod:'',
        contactEmail:''
       },
      updateForm: {
      	taskName:'',
        taskCron:'',
        taskDesc:'',
        jobType:'',
        taskType:'',
        targetObject:'',
        targetMethod:'',
        contactEmail:''
    	 },
    	formLabelWidth: '120px',
            // 规则
        addRules:{
           taskCron:[
           		{
           			required:true, message:'请输入任务运行时间表达式',trigger:'blur'
           		}
           ],
           taskDesc:[
           		{
           			required:true, message:'请输入任务描述',trigger:'blur'
           		}
           ],
           jobType:[
           		{
           			required:true, message:'请选择任务类型(是否阻塞)',trigger:'change'
           		}
           ],
           taskType:[
           		{
           			required:true, message:'请选择本地任务/dubbo任务',trigger:'change'
           		}
           ],
           targetObject:[
           		{
           			required:true, message:'请输入任务对象',trigger:'blur'
           		}
           ],
           targetMethod:[
           		{
           			required:true, message:'请输入任务方法',trigger:'blur'
           		}
           ],

    	}
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
    methods: {
      showTest(row){
        this.routerId = row.targetMethod;
        this.diaTitle = 'taskName：'+row.taskName;
        this.showTestDia = true;
      },
      closeTest(){
        this.showTestDia = false;
      },
      formatterJob(row, column){
        if(row.jobType == 'job'){
            return '非阻塞'
        }else if(row.jobType == 'statefulJob'){
          return '阻塞'
        }
      },
      formatterStatus(row, column){
        if(row.status == 'PAUSED'){
            return '暂停'
        }else if(row.status == 'NORMAL'){
            return '正常'
        }
      },
      formatterTask(row, column){
         if(row.taskType == 'LOCAL'){
            return '本地任务'
        }else if(row.taskType == 'DUBBO'){
          return 'dubbo任务'
        }
      },

  	 handleClose(done) {
	      this.$confirm('确认关闭？')
	        .then(_ => {
	          done();
	        })
	        .catch(_ => {});
	    },
    // 添加
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/scheduled/add/task',this.addChat).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                      this.dialogVisible1 = false;
                      this.$message('添加任务成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                   this.$message.error(res.msg);
                }
                 this.isAdd = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isAdd = false;
            });
           } else {
             this.isAdd = false;
             return false;
           }
         });
    },
    // 修改
  	editForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
	         	this.$http.post('/scheduled/update/task',this.updateForm).then((response) => {
	         	    // 响应成功回调
	         	    const res = response.body
	         	    console.log(res);
	         	    if (res.code==200) {
                  if(res.data.success){
                   this.dialogVisible2 = false;
                   this.$message('修改成功');
                   this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	         	    } else {
	         	        this.$message.error(res.msg);
	         	    }
                this.isEdit = false;
	         	}, (response) => {
	         	    this.$message.error('出错了:' + response);
                this.isEdit = false;
	         	});
	         } else {
            this.isEdit = false;
	           return false;
	         }

	       });
  	},
  	handleAddForm(form){
		this.dialogVisible1 = true;
		if(this.$refs[form]) {
          this.$refs[form].resetFields();
        }
  	},
    // 编辑
    handleEdit(row){
    	this.dialogVisible2 = true;
      if (this.$refs['updateForm']) {
        this.$refs['updateForm'].resetFields();
      }
      	this.updateForm.taskName = row.taskName;
      	this.updateForm.taskCron = row.taskCron;
      	this.updateForm.taskDesc = row.taskDesc;
      	this.updateForm.jobType = row.jobType;
      	this.updateForm.taskType = row.taskType;
      	this.updateForm.targetObject = row.targetObject;
      	this.updateForm.targetMethod = row.targetMethod;
      	this.updateForm.contactEmail = row.contactEmail;
       },
         // 删除
    handleDelete(row) {
       this.$confirm('确认删除该任务?')
         .then(_ => {
           this.$http.post('/scheduled/del/task', {taskGroup: row.taskGroup,
               taskName:row.taskName}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);
               if (res.code==200) {
                if(res.data.success){
                  this.$message('删除成功');
                  this.getList();
                }else{
                  this.$message(res.data.message);
                }
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
         })
         .catch(_ => {});
         },
    handlePause(row, status) {
	     this.$confirm('确认暂停该任务?')
	       .then(_ => {
	         this.$http.post('/scheduled/close/task', {taskGroup: row.taskGroup,
               taskName:row.taskName}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('暂停成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
    handleBegin(row, status) {
	     this.$confirm('立即执行该任务?')
	       .then(_ => {
	         this.$http.post('/scheduled/run/task', {taskGroup: row.taskGroup,
               taskName:row.taskName}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('立即执行成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
    handleOpen(row, status) {
	     this.$confirm('确认启动该任务?')
	       .then(_ => {
	         this.$http.post('/scheduled/open/task', {taskGroup: row.taskGroup,
               taskName:row.taskName}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('启动成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
             console.log(val)
         },
         getPageNum (val) {
             this.pageNum = val;
             console.log(val)
         },
         // 初始表单
         getList(){
             this.$http.post('/scheduled/read/tasks', {pageNum: this.pageNum,
                 pageSize: this.pageSize}).then((response) => {
                 // 响应成功回调
                 const res =  response.body;
                 if (res.code==200) {
                  this.tableData = res.data.records;
                  this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
             console.log('this is getList');
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>
<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
