<template>
  <div class="table-list">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/dudu/item' }">项目管理</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="list-todo__top">
      <div class="todo-btn">
        <el-form :inline="true" ref="search" :model="search" label-width="80px">
          <el-form-item label="项目类型" prop="typeId">
            <el-select v-model="search.typeId" :clearable="true" filterable placeholder="请选择项目类型">
              <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地区" prop="area">
            <el-cascader
              :options="areaArray"
              v-model="areaSelectedOptions"
              :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
              filterable
              @change="handlerArea"
              :clearable = true
            >
            </el-cascader>
          </el-form-item>
          <el-form-item label="项目分类" prop="sortId">
            <el-select v-model="search.sortId" :clearable="true" filterable placeholder="请选择项目分类">
              <el-option v-for="item in sortArray" :key="item.id_" :label="item.sortName" :value="item.id_"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地点" prop="siteNo">
            <el-select v-model="search.siteNo" :clearable="true" filterable placeholder="请选择地点">
              <el-option v-for="item in siteArray" :key="item.siteNo" :label="item.siteTitle"
                         :value="item.siteNo"></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="项目名称" prop="itemTitle">
            <el-input v-model="search.itemTitle"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
            <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
            <router-link :to="{ path: '/dudu/add/item'}">
              <el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加项目</el-button>
            </router-link>

          </el-form-item>
        </el-form>
      </div>
    </div>
    <el-table
      :data="tableData"
      v-loading="tableLoading"
      element-loading-text="拼命加载中"
      stripe
      style="width: 100%">
      <el-table-column
        label="项目名称"
        width="240">
        <template slot-scope="scope">
          <router-link :to="{ path: '/dudu/preview/item', query: { id: scope.row.id_ } }" title="点击可预览" target="_blank">{{scope.row.itemTitle}}</router-link>
        </template>
      </el-table-column>
      <el-table-column
        prop="itemNo"
        label="项目编号"
        width="240">
      </el-table-column>
      <el-table-column
        prop="siteName"
        label="地点">
      </el-table-column>
      <el-table-column
        prop="strAdultPrice"
        label="成人价">
      </el-table-column>
      <el-table-column
        prop="strChildPrice"
        label="儿童价">
      </el-table-column>
      <el-table-column
        label="状态">
        <template slot-scope="scope">
          <span v-if="scope.row.itemStatus=='EDITING'">下架</span>
          <span v-if="scope.row.itemStatus=='WAIT_CONFIRM'">待审核</span>
          <span v-if="scope.row.itemStatus=='CANCEL'">审核不通过</span>
          <span v-if="scope.row.itemStatus=='NORMAL'">正常</span>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="320">
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.itemStatus!='NORMAL' && !scope.row.productNo"
            size="small"
            :disabled="true"
            type="default">暂无操作
          </el-button>
          <el-button
            size="small"
            v-if="scope.row.itemStatus=='NORMAL'"
            :disabled="true"
            type="primary">修改价格
          </el-button>
          <router-link v-if="scope.row.itemStatus!='NORMAL' && scope.row.productNo" :to="{ path: '/dudu/price/item', query: { itemNo: scope.row.itemNo, productNo:scope.row.productNo } }">
            <el-button
              size="small"
              type="primary">修改价格
            </el-button>
          </router-link>
          <el-button
            size="small"
            v-if="scope.row.itemStatus=='NORMAL'"
            :disabled="true"
            type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
          </el-button>
          <router-link v-if="scope.row.itemStatus!='NORMAL'" :to="{ path: '/dudu/update/item', query: { id: scope.row.id_ } }">
            <el-button
              size="small"
              type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
            </el-button>
          </router-link>
          <el-button
            size="small"
            type="danger"
            v-if="scope.row.itemStatus=='NORMAL'"
            :disabled="true"
            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
          </el-button>
          <el-button
            size="small"
            type="danger"
            v-if="scope.row.itemStatus!='NORMAL'"
            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
          </el-button>
          <el-button
            v-if="scope.row.itemStatus=='EDITING'"
            size="small"
            type="success"
            @click="upDownPro(scope.row,'up')">上架
          </el-button>
          <el-button
            v-if="scope.row.itemStatus=='NORMAL'"
            size="small"
            type="warning"
            @click="upDownPro(scope.row,'down')">下架
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>


  </div>
</template>
<script>
  import Editor from '../../components/Editor'
  import Page from '../Page.vue';
  import api from '../../api/project';
  import upload from '../Upload.vue';
  export default {

    data (){
      var checkPhone = (rule, value, callback) => {  //手机号码校验
        var reg = this.phoneReg;
        if (reg.test(value)) {
          callback();
        } else {
          callback(new Error('请输入正确的手机号码'));
        }
      };
      var checkEmail = (rule, value, callback) => {  //邮箱校验
        var reg = this.emailReg;
        if (reg.test(value)) {
          callback();
        } else {
          callback(new Error('请输入正确的邮箱地址'));
        }
      };
      return {
        areaSelectedOptions:[],
        tableLoading: true,
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        //下面是编辑或者新增的弹窗数据
        areaArray: [], //地区
        sortArray: [], //  //分类
        typeArray: [],    //类型
        siteArray: [],     //地点组合
        daterangeDate: [],  //时间范围
        isAdd: true,
        searchBtnFlag: false,
        search: {
          itemTitle: '',
          typeId: '',
          sortId: '',
          area: '',
          siteNo: '',
        },

      }
    },
    created () {
      this.getList();
    },
    components: {
      Page,
      upload,
      'v-editor': Editor
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
    },
    computed: {
      emailReg () {
        return this.$store.state.emailReg;
      },
      phoneReg () {
        return this.$store.state.phoneReg;
      }
    },
    methods: {
      handlerArea (val){
        console.log(val);
        let checkAreaArr = val[val.length-1]
        if(checkAreaArr){//只要最后  不要省
          this.search.area = checkAreaArr;
        }else{
          this.search.area = '';
        }
        console.log(this.search.area)
      },

      upProduct (row) {
        this.$http.post('/item/upItem', {
          id: row.id_,
          version: row.version,
          itemNo: row.itemNo
        }).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data.success) {
              this.$message(res.msg);
              this.getList();

            } else {
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      downProduct (row, tripjson) {
        this.$http.post('/item/downItem', {
          id: row.id_,
          version: row.version,
          itemNo: row.itemNo,
          tripString: tripjson
        }).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data.success) {
              this.$message(res.msg);
              this.getList();

            } else {
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      upDownPro (row, type) { //获取能否上下架
        var proNo = ''
        if(row.productNo){
          proNo = row.productNo
        }

        this.$http.post('/item/upOrDownInfo', {
          id: row.id_,
          version: row.version,
          itemNo: row.itemNo,
          productNo: proNo,
          itemStatus: row.itemStatus,


        }).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data) {
              if (res.data.success == true) { //可以上下架

                this.$confirm(res.data.message, '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
                }).then(() => {
                  if (type == 'up') {
                    this.upProduct(row); //上架
                  } else if (type == 'down') {  //下架
                    var tripjson = '';
                    try {
                      if (res.data.obj.trip) {
                        tripjson = res.data.obj.trip;
                        tripjson = JSON.stringify(tripjson)
                      }
                    }
                    catch (err) {
                      //在此处理错误
                      console.log('下架转化json错误:' + err)
                    }

                    this.downProduct(row, tripjson);

                  }
                }).catch(() => {
                  this.$message({
                    type: 'info',
                    message: '已取消操作'
                  });
                });


              } else {
                this.$message(res.data.message);
              }
            } else {
              // this.$message(res.data.message);
            }
          } else {
            //this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },


      setHourNumber (value) {
        console.log(value)
        var timeArr = value.split(':');
        var hour = timeArr[0];
        if (hour.slice(0, 1) == 0) {
          hour = hour.slice(1, 2)
        }
        console.log(hour);
        this.add.latestTime = hour
      },


      deleteItem (row){ //删除

        this.$http.post('/item/deleteInfo', {itemNo:row.itemNo, itemStatus: row.itemStatus}).then((response) => {  //删除前查询
          // 响应成功回调
          let res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$confirm(res.data.message, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {

                this.$http.post('/item/delete', {id: row.id_, version: row.version, itemNo: row.itemNo}).then((response) => {
                  // 响应成功回调
                  const res = response.body;
                  if (res.code == 200) {
                    if (res.data.success) {
                      this.$message(res.msg);
                      this.getList();

                    } else {
                      this.$message(res.data.message);
                    }
                  } else {
                    this.$message.error(res.msg);
                  }
                }, (response) => {
                  // 响应错误回调
                  // this.$message('出错了:' + response);
                });
              })
            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });





/*        this.$confirm('此操作将永久删除数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http.post('/item/delete', {id: row.id_, version: row.version, itemNo: row.itemNo}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code == 200) {
              if (res.data.success) {
                this.$message(res.msg);
                this.getList();

              } else {
                this.$message(res.data.message);
              }
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            // this.$message('出错了:' + response);
          });
        })*/
      },


      setStatus (row, state) {  //启用或者禁用
        var postData = {};
        if (state) {
          postData = {id: row.id_, version: row.version, status: state};
        } else {
          postData = {id: row.id_, version: row.version};
        }
        this.$http.post('/supplier/supplier/updateStatus', postData).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data.success) {
              this.$message(res.msg);
              this.getList();

            } else {
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        }, 1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        }, 1500);
        this.resetForm('search');
        this.areaSelectedOptions=[];
        this.pageNum = 1;
        this.getList();
      },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },


      queryById(id) {
        var _id = id || '';
        this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data) {
              console.log(res.data.area)
              this.areaArray = res.data.area;
              this.chargeBackArray = res.data.chargeBack;
              this.supArray = res.data.sup;
              this.sortArray = res.data.sort;
              this.typeArray = res.data.type;
              this.payArray = res.data.pay;
              this.purArray = res.data.sup;
              console.log(this.supArray)
            } else {
              // this.$message(res.data.message);
            }
          } else {
            //this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      getList () {  //获取分页
        this.tableLoading = true;
        api.getList({
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          itemTitle: this.search.itemTitle,
          typeId: this.search.typeId,
          sortId: this.search.sortId,
          siteNo: this.search.siteNo,
          area: this.search.area,
        }, (response) => {
          const res = response.body;
          if (res.code == 200) {
            this.tableData = res.data.page.records;
            this.total = res.data.page.total;
            this.areaArray = res.data.area; //区域
            this.sortArray = res.data.sort; //分类
            this.typeArray = res.data.type; //类型
            this.siteArray = res.data.site; //地点组合

          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
          this.tableLoading = false;
        });
      },
      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      }
    }
  }
</script>
