<template>
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dudu/item' }">项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>修改价格</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="pro-price" v-if="edit.itemNo">
           <!-- <div class="block">
                <span class="demonstration">所属产品</span>
            </div>-->



          <h3>设置价格</h3>
          <p>有价格的日期将会有个红点标识 <el-badge is-dot class="item"></el-badge></p>
          <p>可以对<el-badge is-dot class="item"></el-badge>的日期点击单独修改价格</p>
          <el-button type="success" @click="openLongTimePriceSet">批量修改价格</el-button>


          <!--:on-day-click="onDayClick3" :change-pane="changePane"-->
          <h3>价格日历</h3>
          <div class="setPrice-calendar">
            <calendar class="event-calendar" :value="calendar.value" :disabled-days-of-week="calendar.disabled" :on-day-click="openPriceSet" :format="calendar.format" :clear-button="calendar.clear" :pane="1" :has-input="false" >

              <div class="event" v-for="evt in calendar.events" :slot="evt.date">
                <el-tooltip placement="top">
                  <div slot="content">
                    <p>成人采购价：&yen; {{evt.content.purAdultPrice}}</p>
                    <p>儿童采购价：&yen; {{evt.content.purChildPrice}}</p>
                    <p>成人价：&yen; {{evt.content.adultPrice}}</p>
                    <p>儿童价：&yen; {{evt.content.childPrice}}</p>
                    <p>限购价：&yen; {{evt.content.limitPrice}}</p>
                    <p>门市价：&yen; {{evt.content.retailPrice}}</p>
                    <p>库存：{{evt.content.store}}</p>
                  </div>
                  <el-badge is-dot class="item"></el-badge>
                </el-tooltip>
              </div>
            </calendar>
          </div>

        </div>

      <el-row v-if="!edit.itemNo" type="flex" class="row-bg" justify="center">
        <el-col :span="12">
          <el-alert
            title="暂无价格，无法继续"
            type="warning"
            :closable="false"
            show-icon>
          </el-alert>
        </el-col>
      </el-row>

      <!-- 修改价格 -->
      <el-dialog title="设置价格" :visible.sync="priceSetFlag" :before-close="closePriceSetDialog" :close-on-click-modal="false">
        <el-alert
          v-if="!longTime && price.date"
          class="day-bar__now"
          type="info"
          title=""
          :closable="false">
          当前设置的日期时：{{price.date}}
        </el-alert>
        <el-form :model="price" ref="calendarPrice" label-width="120px">
          <el-row :gutter="10">
            <el-col v-if="!longTime" :span="12">
              <el-form-item label="成人采购价" prop="purAdultPrice">
                <el-input-number :disabled="true" v-model="price.purAdultPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col v-if="!longTime" :span="12">
              <el-form-item label="儿童采购价" prop="purChildPrice">
                <el-input-number :disabled="true" v-model="price.purChildPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="成人价" prop="adultPrice">
                <el-input-number v-model="price.adultPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="儿童价" prop="childPrice">
                <el-input-number v-model="price.childPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="限售价" prop="limitPrice">
                <el-input-number v-model="price.limitPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="门市价" prop="retailPrice">
                <el-input-number v-model="price.retailPrice" :debounce="1000" :step="0.01" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item v-if="!longTime" label="库存" prop="store">
                <el-input-number :disabled="true" v-model="price.store" :debounce="1000" :min="0" :max="99999"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- -->
          <h3>批量设置所有价格：</h3>
          <el-form-item label="批量修改价格">
            <el-switch
              v-model="longTime"
              on-color="#13ce66"
              on-text="启用"
              off-text="禁用"
              off-color="#ff4949">
            </el-switch>
            (如果启用本项，将会设置项目当前已有时间点的价格)
          </el-form-item>
        </el-form>
<!--        <div v-if="longTime">
          <h4><el-badge is-dot class="item">当前项目的时间范围</el-badge></h4>
          <ul class="select-price">
            <li v-for="(item, index) in pickTime">
              <div class="tit">
                <h4>{{item.rangDate[0]}} 至 {{item.rangDate[1]}}</h4>
                <i class="el-icon-delete" @click="delDate(index)"></i>
              </div>
              <div>
                成人采购价: {{item.content.purAdultPrice}}
                儿童采购价: {{item.content.purChildPrice}}
                成人价: {{item.content.adultPrice}}
                儿童价: {{item.content.childPrice}}
                门市价: {{item.content.retailPrice}}
                限售价: {{item.content.limitPrice}}
                库存: {{item.content.store}}
              </div>
            </li>
          </ul>
        </div>-->
        <div slot="footer" class="dialog-footer">
          <el-button @click="closePriceSetDialog">取 消</el-button>
          <el-button v-if="longTime" type="success" @click="addNewPrice">批量修改</el-button>
          <el-button type="success"  icon="edit" v-if="!longTime && price.date" @click="singlePrice">立即设置</el-button>
        </div>
      </el-dialog>
    </div>

</template>
<script>
  import moment from 'moment';
  import Calendar from '../common/Calendar.vue'

    Date.prototype.format = function() {
        var s = '';
        var mouth = (this.getMonth() + 1)>=10?(this.getMonth() + 1):('0'+(this.getMonth() + 1));
        var day = this.getDate()>=10?this.getDate():('0'+this.getDate());
        s += this.getFullYear() + '-'; // 获取年份。
        s += mouth + "-"; // 获取月份。
        s += day; // 获取日。
        return (s); // 返回日期。
    };

    export default {
        data (){
            var checkPrice = (rule, value, callback) => {  //价格校验
                var reg = this.priceReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
                }
            };

          //数字 1-11位 ，并且是正整数
          var checkNumLong = (rule, value, callback) => {  //数字 1-11位
            var reg = /^[0-9]*[1-9][0-9]*$/;
            if(reg.test(value)){
              console.log('是整数')
              if(value.toString().length>=1 && value.toString().length<=11){
                callback();
              }else{
                callback(new Error('请输入1-11位长度的整数'));
              }
            }else{
              callback(new Error('请输入正整数'));
            }
            console.log(value.toString().length);

          };
            return {
              priceDateRange:[],
              pickTime:[],
                edit: {
                    priceString:'',
                    itemNo:this.$route.query.itemNo,
                    productNo:this.$route.query.productNo,
                    isProductChange: false,
                    validtimeStart:moment(new Date()).format('YYYY/MM/DD'),
                    validtimeEnd:moment(new Date()).format('YYYY/MM/DD'),
                },
              price: {
                purAdultPrice:'',
                adultPrice:0,
                limitPrice:'',
                store:'',
                purChildPrice:'',
                childPrice:0,
                retailPrice:'',
                date:'',   //单个日期
              },
              calendar: {
                events: [],
                disabled: [],
                value: '',// moment(new Date()).format('YYYY/MM/DD'),
                format: 'yyyy/MM/dd',
                clear: true,
              },
              priceSetFlag: false,
              longTime: true,
                itemNo:this.$route.query.itemNo,
                priceArray:[],
                oldPrice:[],
                priceItem:{
                    adultPrice:'',
                    childPrice:'',
                    id:'',
                    limitPrice:'',
                    productNo:'',
                    purAdultPrice:'',
                    purChildPrice:'',
                    retailPrice:'',
                    store:'',
                    version:'',
                },
                daterangeDate: [],  //时间范围
                addBtnFlag: false,
                updateBtnFlag: false,

                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                    shortcuts (text, onClick) {

                    },
                    onPick ({maxDate, minDate }) {

                    }
                },

            }
        },
        created () {
            this.queryPrice(this.itemNo);
        },
        components: {
          Calendar

        },
        watch: {

        },
        computed: {
            priceReg () {
                return this.$store.state.priceReg;
            }
        },
        methods: {

          closePriceSetDialog () {
            //将价格和库存的输入全部恢复为0
            this.price.adultPrice = 0;
            this.price.childPrice = 0;
            this.price.purAdultPrice = 0;
            this.price.purChildPrice = 0;
            this.price.retailPrice = 0;
            this.price.limitPrice = 0;
            this.price.store = 0;
            this.priceSetFlag = false;
          },

          clickPicker () {
            this.pickTime.push({
              rangDate: [moment(this.priceDateRange[0]).format('YYYY-MM-DD HH:mm:ss'),moment(this.priceDateRange[1]).format('YYYY-MM-DD HH:mm:ss')],
              content: {
                purAdultPrice:this.price.purAdultPrice,
                adultPrice:this.price.adultPrice,
                limitPrice:this.price.limitPrice,
                store:this.price.store,
                purChildPrice:this.price.purChildPrice,
                childPrice:this.price.childPrice,
                retailPrice:this.price.retailPrice,
              }
            });

            this.priceDateRange=[];

            console.log(this.pickTime)
          },


          addNewPrice (){  //批量修改价格，只是把所有能改的价格进行替换


            for(let k = 0; k<this.priceArray.length; k++){
              //也仅仅需要价格和库存之类的  其他的去除

                this.priceArray[k].adultPrice = this.price.adultPrice
                this.priceArray[k].childPrice = this.price.childPrice
                this.priceArray[k].retailPrice = this.price.retailPrice
                this.priceArray[k].limitPrice = this.price.limitPrice
            }

            this.update();

          },

          singlePrice (){  //修改单个日期的价格
            for(let i =0; i< this.priceArray.length; i++){
              if(moment(this.price.date).format('YYYY-MM-DD HH:mm:ss')==this.priceArray[i].priceDate){
                this.priceArray[i].adultPrice = this.price.adultPrice
                this.priceArray[i].childPrice = this.price.childPrice
                this.priceArray[i].purAdultPrice = this.price.purAdultPrice
                this.priceArray[i].purChildPrice = this.price.purChildPrice
                this.priceArray[i].retailPrice = this.price.retailPrice
                this.priceArray[i].limitPrice = this.price.limitPrice
                this.priceArray[i].store = this.price.store;
                break;
              }
            }
            this.update();
          },


          openLongTimePriceSet (){
            this.priceSetFlag = true;
            this.longTime = true;
          },

          openPriceSet (date, str) { //点击日历上时间进行设置
            console.log(this.calendar.events)
            console.log(str)
            this.edit.isDateChange = false;

            for(let i =0; i<this.priceArray.length; i++){
              if(moment(str).format('YYYY-MM-DD HH:mm:ss')==this.priceArray[i].priceDate){
                this.priceSetFlag = true;
                this.price.date = moment(str).format('YYYY-MM-DD HH:mm:ss');
                this.longTime = false;
                //将当天价格的原价和原库存也加载到修改框
                this.price.adultPrice= this.priceArray[i].adultPrice
                this.price.childPrice= this.priceArray[i].childPrice
                this.price.purAdultPrice= this.priceArray[i].purAdultPrice
                this.price.purChildPrice= this.priceArray[i].purChildPrice
                this.price.retailPrice= this.priceArray[i].retailPrice
                this.price.limitPrice= this.priceArray[i].limitPrice
                this.price.store= this.priceArray[i].store ;


                break;

              }
            }
          },

            getAllDate (startTime,endTime) {
                var ab = startTime.split("-");
                var ae = endTime.split("-");
                var db = new Date();
                db.setUTCFullYear(ab[0], ab[1] - 1, ab[2]);
                var de = new Date();
                de.setUTCFullYear(ae[0], ae[1] - 1, ae[2]);
                var unixDb = db.getTime();
                var unixDe = de.getTime();
                var dates=[];
                for (var k = unixDb; k <= unixDe;) {
                    dates.push((new Date(parseInt(k))).format());
                    k = k + 24 * 60 * 60 * 1000;
                }
                return dates;
            },

            getTheTime (maxDate, minDate ) {
                console.log(maxDate)
                var newDateRange = [minDate,maxDate];
                console.log(this.newDateRange.toString())
                console.log(this.oldDateRange.toString())
                if(newDateRange.toString() != this.oldDateRange.toString()) {
                    this.$confirm('重新选择日期将丢失之前的价格信息, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '最新时间'+val
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消选择时间'
                        });
                    });

                }
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },



          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            update () {  //编辑


              let postData = {
                priceString:JSON.stringify(this.priceArray),
                productNo: this.edit.productNo,
                itemNo: this.edit.itemNo,
                isProductChange: this.edit.isProductChange
              }

              if(this.edit.isProductChange){
                postData = {
                  priceString:JSON.stringify(this.priceArray),
                  productNo: this.edit.productNo,
                  itemNo: this.edit.itemNo,
                  isProductChange: this.edit.isProductChange,
                  validtimeStart: this.edit.validtimeStart,
                  validtimeEnd: this.edit.validtimeEnd,
                }
              }


                this.$http.post('/item/read/updatePrice', postData).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                          this.queryPrice(this.itemNo);

                          this.closePriceSetDialog();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            queryPrice(num) {
                if(num){
                    this.update.itemNo = num;
                    this.$http.post('/item/queryPrice', {itemNo: num}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data){
                                this.priceArray = res.data.item;
                                this.oldPrice = res.data.item;
                                var _item = res.data.item[0];
                                //设置基准日期价格对象，后期用于选择日期后生成多个
                                //this.priceItem.adultPrice = _item.adultPrice;
                                //this.priceItem.childPrice = _item.childPrice;
                                this.priceItem.id = _item.id_;
                                //this.priceItem.limitPrice = _item.priceDate;
                                //this.priceItem.productNo = _item.productNo;
                                //this.priceItem.purAdultPrice = _item.purAdultPrice;
                                //this.priceItem.purChildPrice = _item.purChildPrice;
                                //this.priceItem.retailPrice = _item.retailPrice;
                                //this.priceItem.store = _item.store;
                                this.priceItem.version = _item.version;



                              this.calendar.events = [];

                              for(let i = 0; i<res.data.item.length; i++){
                                let _data = res.data.item[i];
                                this.calendar.events.push({
                                  date:moment(_data.priceDate).format('YYYY/MM/DD'),
                                  content: _data
                                })
                              }


                              console.log(this.calendar.events)

                            }else{
                                // this.$message(res.data.message);
                            }
                        } else {
                            //this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });

                }else{
                    this.$message.error('缺少编号，无法继续');
                }
            },

            goBack () {
              this.$router.go(-1)
            },

            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
    .pro-price{
        .block{
            padding: 30px 0;
            text-align: center;
            border-right: 1px solid #eff2f6;
            -ms-flex: 1;
            flex: 1;
        }
        .el-col{
            margin: 5px 0;
        }
        .demonstration{
            display: block;
            color: #8492a6;
            font-size: 14px;
            margin-bottom: 20px
        }
    }
    .setPrice-calendar{
      padding-bottom: 30px;
      .datepicker{
        display: block;
        width:800px;
        margin:0 auto;
        .datepicker-popup{
          width: 100% !important;
        }
      }
    }

    .day-bar__now{
      margin-bottom: 20px;
    }
</style>
