<template>
  <div class="white-bg padding-box">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/dudu/item'}">项目管理</el-breadcrumb-item>
        <el-breadcrumb-item>编辑</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="dd-form">
      <el-form v-if="itemId" ref="edit" :model="edit" :rules="rules" label-width="150px">
        <el-form-item label="项目名称" prop="itemTitle">
          <el-input v-model="edit.itemTitle"></el-input>
        </el-form-item>
        <el-form-item  v-if="!oldItemFlag" class="control__full" label="项目地点" prop="siteNo">
          <el-select v-model="edit.siteNo" clearable filterable @change="changeArea"  placeholder="请选择项目地点">
            <el-option v-for="item in siteArray" :key="item.siteNo" :label="item.siteTitle" :value="item.siteNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item  v-if="oldItemFlag" class="control__full" label="项目地点" prop="siteNo">
          <el-select v-model="edit.siteNo" clearable filterable @change="changeArea" :disabled="true" placeholder="请选择项目地点">
            <el-option v-for="item in siteArray" :key="item.siteNo" :label="item.siteTitle" :value="item.siteNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="!oldItemFlag" class="control__full" label="采购产品" prop="productNo">
          <el-select v-if="proSiteArray.length==0" v-model="edit.productNo" :disabled="true" clearable filterable placeholder="该地址下无可选产品">
            <el-option v-for="item in productArray" :key="item.productNo" :label="item.productName" :value="item.productNo"></el-option>
          </el-select>
          <el-select  v-if="proSiteArray.length>0"  v-model="edit.productNo" clearable filterable @change="changePro" placeholder="请选择产品1">
            <el-option v-for="item in proSiteArray" :key="item.productNo" :label="item.productName" :value="item.productNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="oldItemFlag" class="control__full" label="采购产品">
          <el-select v-model="edit.productNo" clearable filterable @change="changePro" :disabled="true"  placeholder="请选择产品2">
            <el-option v-for="item in productArray" :key="item.productNo" :label="item.productName" :value="item.productNo"></el-option>
          </el-select>
        </el-form-item>

        <el-row>
          <el-col :span="12">
            <el-form-item label="分类" prop="sortId">
              <el-select v-model="edit.sortId" clearable filterable placeholder="请选择分类">
                <el-option v-for="item in sortArray" :key="item.id_" :label="item.sortName" :value="item.id_"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="项目类型" prop="typeId">
              <el-select v-model="edit.typeId" clearable filterable placeholder="请选择产品类型">
                <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="建议人数" prop="useNumber">
              <el-input type="number" v-model.number="edit.useNumber"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="建议时长（分钟）" prop="useTime">
              <el-input type="number" v-model.number="edit.useTime"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="oldItemFlag">
          <el-row>
            <el-col :span="12">
              <el-form-item label="成人价范围(元)">
                <el-input :disabled="true" v-model="stateVal.adultPrice"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="儿童价范围(元)">
                <el-input :disabled="true" v-model="stateVal.childPrice"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="限售价范围(元)">
                <el-input :disabled="true" v-model="stateVal.limitPrice"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="门市价范围(元)">
                <el-input :disabled="true" v-model="stateVal.retailPrice"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div v-if="!oldItemFlag && edit.productNo">
          <el-row>
            <el-col :span="12" prop="adultPrice">
              <el-form-item label="成人价(元)">
                <el-input v-model.number="edit.adultPrice"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" prop="childPrice">
              <el-form-item label="儿童价(元)">
                <el-input v-model.number="edit.childPrice"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12" prop="limitPrice">
              <el-form-item label="限售价(元)">
                <el-input v-model.number="edit.limitPrice"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" prop="retailPrice">
              <el-form-item label="门市价(元)">
                <el-input v-model.number="edit.retailPrice"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <el-row>
          <el-col :span="12">
            <el-form-item label="成人采购价范围(元)">
              <el-input v-model="stateVal.purAdultPrice" :disabled="true"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="儿童采购价范围(元)">
              <el-input v-model="stateVal.purChildPrice" :disabled="true"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="生效时间(分钟)">
              <el-input v-model="stateVal.validityTime" :disabled="true"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="库存">
              <el-input v-model="stateVal.store" :disabled="true"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="封面图(大)" prop="coverBig">
          <upload @change="setBigImg" :fileList="bigPicArray" :isSingle="true" :getPolicyUrl="'/item/getPolicy'"></upload>
        </el-form-item>
        <el-form-item label="封面图(小)" prop="coverSmall">
          <upload  @change="setSmallImg" :fileList="smallPicArray" :isSingle="true" :getPolicyUrl="'/item/getPolicy'"></upload>
        </el-form-item>
<!--        <el-form-item label="项目简介" prop="itemBrief">
          <v-editor
            :content="content.itemBrief"
            :path="uploadUrl"
            v-model="edit.itemBrief">
          </v-editor>
        </el-form-item>-->

        <el-form-item label="项目简介" prop="itemBrief">
          <el-input type="textarea" :rows="5" v-model="edit.itemBrief"></el-input>
        </el-form-item>
        <el-form-item label="项目详情" prop="itemDetail">
          <v-editor
            :content="content.itemDetail"
            :path="uploadUrl"
            v-model="edit.itemDetail">
          </v-editor>
        </el-form-item>
        <el-form-item label="建议事项" prop="suggestions">
          <v-editor
            :content="content.suggestions"
            :path="uploadUrl"
            v-model="edit.suggestions">
          </v-editor>
        </el-form-item>
        <el-form-item label="分享标题" prop="shareTitle">
          <el-input v-model="edit.shareTitle"></el-input>
        </el-form-item>
        <el-form-item label="分享描述" prop="shareDesc">
          <el-input type="textarea" :rows="3" v-model="edit.shareDesc"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'update')">提交修改</el-button>
          <el-button :plain="true" type="success" @click="preview.open = true">预览<i class="fa fa-eye" aria-hidden="true"></i></el-button>
        </el-form-item>
      </el-form>
      <div v-else class="tips__error">
        <el-alert
          title="缺少项目ID，无法继续。"
          type="info"
          :closable="false">
        </el-alert>
      </div>
    </div>

    <!-- 预览界面 -->
    <el-dialog title="预览手机端项目详情页面" :visible.sync="preview.open">
      <div class="phone-box">
        <div class="phone-header">
          <div class="phone-tools">
            <div class="carrieroperator">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              中国移动
            </div>
            <div class="phone-time">12:00 AM</div>
            <div class="phone-battery"></div>
          </div>
          <div class="phone-title">项目详情页</div>
        </div>
        <div class="phone-container">
          <v-bar wrapper="vbar-wrapper"
                 vBar=""
                 vBarInternal=""
                 hBar=""
                 hBarInternal="">
            <div class="app">
              <div class="m-project-banner">
                <img v-if="edit.coverBig" :src="baseHost+edit.coverBig" />
              </div>

              <div class="wkq-play-details">
                <div class="wkq-title white-bg wkq-mod">
                  <div class="wkq-title-label">
                    <h3>
                      <el-button v-if="preview.sortName" :plain="true" type="warning" size="mini">{{preview.sortName}}</el-button>{{edit.itemTitle}}</h3>
                  </div>
                  <div class="wkq-desc" v-html="edit.itemBrief">
                  </div>
                  <div class="price">
                    <span>成人<b>&yen;{{edit.adultPrice}}</b>/人</span><span>儿童&yen;{{edit.childPrice}}/人</span>
                  </div>
                </div>
                <div class="white-bg">
                  <div class="wkq-arrow-bar">
                    <h3>项目详情</h3>
                  </div>
                  <div class="wkq-mod article-body" v-html="edit.itemDetail">
                  </div>
                </div>

              </div>
            </div>

          </v-bar>
        </div>
        <div class="phone-footer">

        </div>
      </div>
    </el-dialog>
  </div>

</template>
<script>
  import VBar from 'v-bar'
  import Editor from '../../components/Editor'
  import api from '../../api/product';
  import upload from '../Upload.vue';
  export default {
    data (){

      var checkPrice = (rule, value, callback) => {  //邮箱校验
        var reg = this.priceReg;
        if (reg.test(value)) {
          callback();
        } else {
          callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
        }
      };

      //数字 1-11位 ，并且是正整数
      var checkNumLong = (rule, value, callback) => {  //数字 1-11位
        var reg = /^[0-9]*[1-9][0-9]*$/;
        if (reg.test(value)) {
          console.log('是整数')
          if (value.toString().length >= 1 && value.toString().length <= 11) {
            callback();
          } else {
            callback(new Error('请输入1-11位长度的整数'));
          }
        } else {
          callback(new Error('请输入正整数'));
        }
        console.log(value.toString().length);

      };
      return {

        preview: {  //预览弹窗
          open: false,
          sortName: '',
        },

        firstLoad:true,

          //加个属性存储最原始的产品，若变更，其成人价/儿童价等需要更换为可以输入数组的输入框，同时改变edit对象中的值,表单校验也得动态
          oldItem:{},
          oldItemFlag: false,
          itemId:this.$route.query.id,
        //下面是编辑或者新增的弹窗数据
        updateBtnFlag: false,
        'uploadUrl': '/item/getPolicy',
        productArray:[],
        sortArray: [], //  //分类
        typeArray: [],    //类型
        siteArray: [],     //地点组合
        proSiteArray: [],  //选择产品后，这里存储对应的可选地点。
        bigPicArray:[], //大图
        smallPicArray:[], //小图
        content: {
          itemBrief: '',
          itemDetail: '',
          suggestions: '',
        },
        stateVal:{  //存储表单中展示用途的数据
          purAdultPrice: '',
          purChildPrice: '',
          store: '',
          validityTime: '',
          adultPrice: '',
          childPrice: '',
          limitPrice: '',
          retailPrice: '',
        },
        edit: {
          id: this.$route.query.id,  //项目id
          version: '',   //版本号
          itemTitle: '',  //项目名称(min: 2 , max:50)
          productNo: null, //产品编号.
          siteNo: '', //地点编号
          sortId: '', //分类
          typeId: '', //类型id
          useNumber: '',   //建议人数(min:1 ,max :11)
          useTime: '',     //建议时长(min:1 ,max :11)
          coverBig: '',  //封面图大
          coverSmall: '',  //封面图小
          adultPrice: '',  //成人价(Double类型 ）
          childPrice: '',  //儿童价(Double类型 ）
          limitPrice: '',  //限售价(Double类型 ）
          retailPrice: '',  //门市价(Double类型 ）
          itemBrief: '',  //项目简介
          itemDetail: '',  //项目详情
          suggestions: '',  //建议事项
          shareDesc: '',  //分享描述
          shareTitle: '',  //分享标题

        },

        rules: {
          itemTitle: [
            {required: true, message: '请输入项目名称', trigger: 'blur'},
            {min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur'}
          ],
          /*     productNo: [   //需求变动 这里不是必选
           {required: true, message: '请选择产品', trigger: 'change'},
           ],*/
          siteNo: [
            {required: true, message: '请选择地点', trigger: 'change'},
          ],
          sortId: [
            {required: true, message: '请选择分类', trigger: 'change'},
          ],
          typeId: [
            {required: true, message: '请选择项目类型', trigger: 'change'},
          ],
          useTime: [
            {type: 'number', required: true, message: '请输入建议时长', trigger: 'change'},
            {validator: checkNumLong}
          ],
          useNumber: [
            {type: 'number', required: true, message: '请输入建议人数', trigger: 'change'},
            {validator: checkNumLong}
          ],
          adultPrice: [
            {type: 'number', message: '价格必须是数字', trigger: 'change'}, //, required: true, message: '请输入成人价'
            {validator: checkPrice}
          ],
          childPrice: [
            {type: 'number', message: '价格必须是数字', trigger: 'change'}, //, required: true, message: '请输入儿童价'
            {validator: checkPrice}
          ],

          limitPrice: [
            {type: 'number',  message: '价格必须是数字',  trigger: 'change'}, //, required: true, message: '请输入限售价'
            {validator: checkPrice}
          ],
          retailPrice: [
            {type: 'number',  message: '价格必须是数字',  trigger: 'change'}, //, required: true, message: '请输入门市价'
            {validator: checkPrice}
          ],
          itemBrief: [
            {required: true, message: '请填写项目简介',trigger:'change'},
          ],
          itemDetail: [
            {required: true, message: '请填写项目详情',trigger:'change'},
          ],
          suggestions: [
            {required: true, message: '请填写建议事项',trigger:'change'},
          ],
          coverBig: [
            {required: true, message: '请上传图片'},
          ],
          coverSmall: [
            {required: true, message: '请上传图片'},
          ],
          shareTitle: [
            { min: 0, max: 100, message: '长度在 0 到 100 个字符', trigger: 'blur' }
          ],
          shareDesc: [
            { min: 0, max: 500, message: '长度在 0 到 500 个字符', trigger: 'blur' }
          ]

        },

        pickerOptions0: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          },
          shortcuts (text, onClick) {

          }
        },

      }
    },
    created () {
      this.updateUI(this.edit.id);
    },
    components: {
      upload,
      VBar,
      'v-editor': Editor
    },
    watch: {
        edit: {
            deep: true,
            handler: function (val, oldval) {
               this.getSortName(val.sortId);
               if(val.productNo != oldval.productNo){
                   this.changePro(val.productNo);
               }
               if(!val.productNo){
                 //产品为空时清空价格
                 this.edit.adultPrice='';
                 this.edit.childPrice='';
                 this.edit.limitPrice='';
                 this.edit.retailPrice='';
                 this.stateVal.purAdultPrice= '';
                 this.stateVal.purChildPrice= '';
                 this.stateVal.store= '';
                 this.stateVal.validityTime= '';
               }

            }
        }
    },
    computed: {
      priceReg () {
        return this.$store.state.priceReg;
      },
      baseHost : function () {
        return this.$store.state.host;
      },
    },
    methods: {


      getSortName(val) {
        this.preview.sortName='';
        for(var k=0; k<this.sortArray.length; k++){
          if(this.sortArray[k].id_==val){
            this.preview.sortName = this.sortArray[k].sortName;
          }
        }
      },



      setBigImg (val) {  //得到upload返回的图片数据后设置图片
        console.log(val);
        this.edit.coverBig = val
      },

      setSmallImg (val) {  //得到upload返回的图片数据后设置图片
        this.edit.coverSmall = val
        console.log(this.edit.coverSmall)
      },



      changePro (value) { //选择产品后变更成人采购价之类的信息
        console.log('产品变更了'+value);

        //将价格赋值
        for(let i=0; i<this.productArray.length; i++){
          if(value == this.productArray[i].productNo){
            this.stateVal.purAdultPrice= this.productArray[i].strPurAdultPrice;
            this.stateVal.purChildPrice= this.productArray[i].strPurChildPrice;
            this.stateVal.store= this.productArray[i].strStore;
            this.stateVal.validityTime= this.productArray[i].validityTime;
            var  self =this;

              if(self.firstLoad){
               /* console.log(self.firstLoad)
                self.content.itemDetail= self.productArray[i].productDetails;
                self.edit.itemDetail= self.productArray[i].productDetails;*/
              }else{
                    //提示是否覆盖
                    self.$confirm('是否将当前产品的详情的内容替换到项目详情介绍', '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      self.content.itemDetail= self.productArray[i].productDetails;
                      self.edit.itemDetail= self.productArray[i].productDetails;
                      self.$message({
                        type: 'success',
                        message: '已经替换!'
                      });
                    }).catch(() => {
                      self.$message({
                        type: 'info',
                        message: '您取消了替换'
                      });
                    });

              }


            break;
          }
        }

        console.log(this.edit.productNo)


        //更换产品后 变更产品更换的标识
        if(this.oldItem.productNo && this.oldItem.productNo!=null){  //返回产品的话 不允许修改产品
          this.oldItemFlag = false;
        }

        if(this.oldItem.productNo!=null){
          if(this.edit.productNo != this.oldItem.productNo){
            this.oldItemFlag = false;
          }else{
            this.oldItemFlag = true;
          }

        }else{
          this.oldItemFlag = false;
        }

      },

      changeArea (value) {//选择地址后筛选对应的产品
      console.log(111)
        this.proSiteArray = []; //清空
        this.oldItemFlag = false;
        if(value != this.oldItem.siteNo){
          this.edit.productNo = ''; //清空
        }


        var _area ='';
        for(var i = 0; i<this.siteArray.length; i++){
          if(this.siteArray[i].siteNo == value){
            _area = this.siteArray[i].area;
            break;
          }
        }

        for(var k = 0; k < this.productArray.length; k++){
          if(this.productArray[k].area == _area){
            this.proSiteArray.push(this.productArray[k]);
          }

        }
      },




      updateUI (id) { //编辑之前查询，获取一些下拉选框的数组
        var sele=this;
        this.$http.post('/item/read/updateUI', {id:id}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data){
              this.productArray = res.data.product;    // 产品
              this.sortArray = res.data.sort;  //分类
              this.typeArray = res.data.type;    //类型
              this.siteArray = res.data.site;     //地点组合


              this.oldItem = res.data.item? res.data.item:'';
              try {
                  this.edit.version = res.data.item.version;
                  this.edit.useNumber = res.data.item.useNumber;
                  this.edit.useTime = res.data.item.useTime;
                  this.edit.suggestions = res.data.item.suggestions;
                  this.edit.typeId = res.data.item.strTypeId;
                  this.edit.sortId = res.data.item.strSortId;
                  this.edit.retailPrice = res.data.item.strRetailPrice;
                  this.edit.limitPrice = res.data.item.strLimitPrice;
                  this.edit.childPrice = res.data.item.strChildPrice;
                  this.edit.adultPrice = res.data.item.strAdultPrice;
                  this.edit.siteNo = res.data.item.siteNo;
                  this.edit.productNo = res.data.item.productNo;
                  this.edit.shareTitle = res.data.item.shareTitle;
                  this.edit.shareDesc = res.data.item.shareDesc;

                  this.edit.productName = res.data.item.productName;
                  this.edit.itemTitle = res.data.item.itemTitle;
                  this.edit.itemDetail = res.data.item.itemDetail;
                  this.edit.itemBrief = res.data.item.itemBrief;

                  this.content.itemDetail = res.data.item.itemDetail;
                  this.content.itemBrief = res.data.item.itemBrief;
                  this.content.suggestions = res.data.item.suggestions;

                  this.edit.id = res.data.item.id_;
                  this.edit.coverBig = res.data.item.coverBig;
                  this.edit.coverSmall = res.data.item.coverSmall;



                  this.stateVal.retailPrice = res.data.item.strRetailPrice;
                  this.stateVal.limitPrice = res.data.item.strLimitPrice;
                  this.stateVal.childPrice = res.data.item.strChildPrice;
                  this.stateVal.adultPrice = res.data.item.strAdultPrice;

                  if(res.data.item.productNo){
                    this.oldItemFlag = true;
                  }



                  for(var k=0; k < this.productArray.length; k++ ){
                      var _pro=this.productArray[k]
                      if(_pro.productNo == this.edit.productNo){
                          this.stateVal.purAdultPrice = _pro.strPurAdultPrice;
                          this.stateVal.purChildPrice = _pro.strPurChildPrice;
                          this.stateVal.store = _pro.strStore;
                          this.stateVal.validityTime = _pro.validityTime;
                          break;
                      }
                  }

              }catch(error){

              }




              setTimeout(function () {
                sele.firstLoad=false;
              },1000)
              this.smallPicArray = [{name: 'small', url:this.baseHost+res.data.item.coverSmall}];
              this.bigPicArray = [{name: 'big', url:this.baseHost+res.data.item.coverBig}];

            }else{
              // this.$message(res.data.message);
            }
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },


















      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },



      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },



      update () {  //添加
        this.updateBtnFlag = true;
        this.$http.post('/item/update', this.edit).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code == 200) {
            if (res.data.success) {
              this.$message.success(res.msg);
              this.$router.go(-1);
            } else {
              this.$message.warning(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.updateBtnFlag = false;
        }, (response) => {
          // 响应错误回调
          this.updateBtnFlag = false;
          this.$message.error('出错了:' + response);
        });
      },


      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      }
    }
  }
</script>
<style scoped rel="stylesheet/scss" lang="scss">
  @import "../../assets/sass/mobile";
</style>
