<template>
  <div class="container__main">
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/club/product'}">协会产品管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="list-todo__top">
        <div class="todo-btn">
          <el-form :inline="true" ref="search" :model="search" label-width="80px">
            <el-form-item label="产品名称" prop="title">
              <el-input v-model="search.title"></el-input>
            </el-form-item>
            <el-form-item label="城市" prop="area">
              <el-select v-model="search.area" :clearable="true" filterable placeholder="请选择城市">
                <el-option v-for="item in areaArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="产品状态" prop="status">
              <el-select  v-model="search.status" :clearable="true" filterable placeholder="请选择">
                <el-option label="停用" :value="0"></el-option>
                <el-option label="可用" :value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="产品类型" prop="typeId">
              <el-select v-model="search.typeId" :clearable="true" filterable placeholder="请选择产品类型">
                <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
              <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
            </el-form-item>
            <el-button type="success" @click="openProDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加产品</el-button>
            <div>
              <!--<el-dropdown split-button  trigger="click" type="danger">
                批量操作
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="batchDisable">停用</el-dropdown-item>
                  &lt;!&ndash;<el-dropdown-item>删除</el-dropdown-item>&ndash;&gt;
                </el-dropdown-menu>
              </el-dropdown>
              <el-button type="success" @click="addCoupon('productForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加自驾游代金券</el-button>-->
            </div>

          </el-form>
        </div>
      </div>
      <el-table
        max-height="600"
        row-key
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        @select="getRows"
        @select-all="getRows"
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          :formatter="formatArea"
          label="城市">
        </el-table-column>

        <el-table-column
          :formatter="formatType"
          label="产品类型">
        </el-table-column>
        <el-table-column
          label="产品名称"
          width="240">
          <template slot-scope="scope">
            {{scope.row.productTitle}}
          </template>
        </el-table-column>
        <el-table-column
          label="库存总数">
          <template slot-scope="scope">
            <span v-if="scope.row.stockCount ==-1">无限库存</span>
            <span v-else>{{scope.row.stockCount}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="已使用库存数">
          <template slot-scope="scope">
            <span v-if="scope.row.useStock">{{scope.row.useStock}}</span>
            <span v-else>0</span>
          </template>
        </el-table-column>
        <el-table-column
          label="图库集">
          <template slot-scope="scope">
            <a href="javascript:void(0);" @click="getImgList(scope.row)">管理图库</a>
          </template>
        </el-table-column>
        <el-table-column
          label="库存">
          <template slot-scope="scope">
            <a href="javascript:void(0);" @click="openStockDialog(scope.row)">设置</a>
          </template>
        </el-table-column>
        <el-table-column
          label="价格">
          <template slot-scope="scope">
            <a href="javascript:void(0);" @click="openPriceDialog(scope.row)">设置</a>
          </template>
        </el-table-column>
        <el-table-column
          label="状态">
          <template slot-scope="scope">
            <span v-if="scope.row.productStatus=='1'">已启用</span>
            <span v-if="scope.row.productStatus=='0'">已禁用</span>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="240">
          <template slot-scope="scope">

            <el-button
              size="small"
              type="primary"
              :disabled="scope.row.status=='0'||scope.row.typeName==='自驾游'"
              @click="getProInfo(scope.row.productNo)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
            </el-button>


            <!--              <el-button
                            size="small"
                            type="danger"
                            v-if="scope.row.productStatus=='NORMAL'"
                            :disabled="true"
                            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                          </el-button>
                          <el-button
                            size="small"
                            type="danger"
                            v-if="scope.row.productStatus!='NORMAL'"
                            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                          </el-button>-->
            <el-button
              v-if="scope.row.productStatus=='1'"
              size="small"
              type="warning"
              @click="setStatus(scope.row,1)">停用
            </el-button>
            <el-button
              v-else
              size="small"
              @click="setStatus(scope.row,0)"
              type="success">启用
            </el-button>

            <el-button
              size="small"
              type="primary"
              @click="getPageView(scope.row.id_)"
              >预览
            </el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 预览手机页面 -->

      <el-dialog class="pageview-gray" title="页面预览" size="tiny" :visible.sync="pageview">
        <div class="pageView"  v-if="previewData" >

          <div class="app">
            <div class="pro_swiper">
              <!-- Swiper -->

              <swiper :options="swiperOption" ref="mySwiper">
                <swiper-slide  v-for="(item, key) in previewData.imgs" :key="key">
                  <img :src="baseHost+item.imageUrl">
                </swiper-slide>
                <div class="swiper-pagination swiper-count"  slot="pagination"></div>
              </swiper>
              <div class="proinfo__wkq">
                <h4>{{previewData.productTitle}}</h4>
                <div class="clearfix">
                  <span class="fl">会员价：<b class="price">{{previewData.vipPrice}}</b>元</span>
                  <span class="fr del">非会员价：{{previewData.otherPrice}}元</span>
                </div>
                <div class="date">有效期：2017-10-01至2017-11-30</div>
              </div>
            </div>
            <div class="pro-box__wkq">
              <div class="bar">
                <h3>购买须知</h3>
              </div>
              <div class="detail__wkq">

                <dl>
                  <dt>退款须知</dt>
                  <dd>退款百分比：{{previewData.refundPercent*100}}%</dd>
                  <dd>固定退款金额：{{previewData.refundFixed}}元</dd>
                  <dt>其他须知</dt>
                  <dd v-html="previewData.otherNotice"></dd>
                </dl>
              </div>
            </div>
            <div class="pro-box__wkq">
              <div class="bar">
                <h3>景区简介</h3>
              </div>
              <div class="detail__wkq" v-html="previewData.productSummary">

              </div>
            </div>
            <div class="footer__wkq">
              <div class="fixed-bot">
                <button class="buy-btn__wkq">立即购买</button>
              </div>
            </div>
          </div>
        </div>
      </el-dialog>


      <!--预览图片 -->

      <el-dialog v-model="showBigImg" size="tiny">
        <img width="100%" :src="dialogImageUrl" alt="">
      </el-dialog>
      <!-- 图集管理 -->
      <el-dialog title="图集管理" :visible.sync="imgDialog"  :close-on-click-modal="false" :before-close="closeImgDialog">

        <div class="todo-btn" style="margin-bottom:50px;">
        <upload v-if="!hasUploadImg" @change="setBigImg" :fileList="bigPicArray" showType="text" :isSingle="true" :getPolicyUrl="uploadUrl"></upload>


          <el-form v-if="hasUploadImg" :inline="true" ref="addImg" :rules="imgRule" :model="addImgData" label-width="80px">
            <img :src="baseHost+addImgData.imageUrl" alt="" style="width:50px; height: 50px;">
            <el-form-item label="图片名称" prop="imageName">
              <el-input v-model="addImgData.imageName"></el-input>
            </el-form-item>
            <el-form-item label="图片链接" style="display: none;" prop="imageUrl">
              <el-input :disabled="true" v-model="addImgData.imageUrl"></el-input>
            </el-form-item>
            <el-form-item label="产品编号" style="display: none;" prop="productNo">
              <el-input :disabled="true" v-model="addImgData.productNo"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="success" :loading="addBtnFlag" @click.prevent="submitForm('addImg', 'addImgFlag', 'addImg')">提交图片</el-button>
              <el-button type="default" @click="cancelAddImg">取消</el-button>
            </el-form-item>

          </el-form>
        </div>

        <el-table :data="gridDataImg">
          <el-table-column label="图片" width="300">
            <template slot-scope="scope">
              <a href="javascript:void(0);" @click="preImg(scope.row)">{{scope.row.imageName}}</a>
            </template>
          </el-table-column>
          <el-table-column label="类型">
            <template slot-scope="scope">
              <span v-if="scope.row.imageType==1">导航图</span>
              <span v-if="scope.row.imageType==0">详情图</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="180">
            <template slot-scope="scope">
            <el-button
              size="small"
              type="danger"
              @click="delImg(scope.row.id_)">删除
            </el-button>
              <el-button
                size="small"
                v-if="scope.row.imageType==0"
                type="success"
              @click="setMainImg(scope.row)">设为导航图
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-dialog>

      <!-- 添加产品 -->
      <el-dialog :title="isAdd? '添加产品':'编辑产品'" :close-on-click-modal="false" :before-close="closeProDialog" :visible.sync="proDialogVisible">
        <el-form :model="proForm" :rules="proRules" ref="proForm" label-width="120px">
          <el-form-item label="城市" prop="area">
            <el-select v-model="proForm.area" placeholder="请选择城市">
              <el-option
                v-for="item in areaArray"
                :key="item.name"
                :label="item.desc"
                :value="item.name"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="产品名称" prop="title">
            <el-input v-model="proForm.title" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="产品类型" prop="typeId">
            <el-select v-model="proForm.typeId" placeholder="请选择产品类型">
              <el-option
                v-for="item in typeArray"
                :key="item.id_"
                :label="item.typeName"
                :value="item.id_"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="产品简介" prop="intro">
            <!--<el-input type="textarea" :rows="3" v-model="proForm.intro"></el-input>-->

            <v-editor
              :content="content.intro"
              path=""
              v-model="proForm.intro">
            </v-editor>
          </el-form-item>
          <el-form-item label="库存总数" prop="stockCount">
            <el-input-number v-model="proForm.stockCount" size="small" :min="-1" :max="99999999"  :step="1"></el-input-number>
          </el-form-item>
          <el-form-item label="退单类型" prop="chargeback">
            <el-select v-model="proForm.chargeback" placeholder="请选择退单类型">
              <el-option
                v-for="item in chargeBackArray"
                :key="item.name"
                :label="item.desc"
                :value="item.name"></el-option>
            </el-select>
          </el-form-item>

          <el-row>
            <el-col :span="12">
              <el-form-item label="退单手续费(%)" prop="refundPercent">
                <el-row>
                  <el-col :span="20">
                    <el-input-number v-model="refundPercent" size="small" :min="0" :max="100" :step="1"></el-input-number>
                  </el-col>
                  <el-col :span="4">%</el-col>
                </el-row>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="固定退款金额" prop="refundFixed">
                <el-row>
                  <el-col :span="12">
                    <el-input type="number" v-model.number="proForm.refundFixed"></el-input>
                  </el-col>
                  <el-col :span="12">元</el-col>
                </el-row>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="其他须知" prop="otherNotice">
            <v-editor
              :content="content.otherNotice"
              path=""
              v-model="proForm.otherNotice">
            </v-editor>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" :loading="addBtnFlag" @click.prevent="submitForm('proForm', 'addBtnFlag', 'addPro')">确 定</el-button>
          <el-button @click="closeProDialog">取 消</el-button>
        </div>
      </el-dialog>


      <el-dialog title="添加自驾游产品代金券" size="tiny" :visible.sync="addCouponDia">
        <el-form :model="productForm" :rules="couponRules" ref="productForm"  label-width="140px">
          <el-form-item label="产品名称：">
            <el-input :disabled="true" placeholder="自驾游产品代金券"></el-input>
          </el-form-item>
          <el-form-item label="单价(每人)：" prop="couponAdultPrice">
            <el-input  v-model.number="productForm.couponAdultPrice"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button :loading="isAddCoupon" @click="handleAddCoupon('productForm')" type="primary">确 定</el-button>
          <el-button @click="addCouponDia = false">取 消</el-button>
        </div>
      </el-dialog>

      <!-- 价格管理的table dialog -->
      <el-dialog v-if="priceMod.currentItem" :title="'价格管理('+priceMod.currentItem.productTitle+')'" :visible.sync="priceDialog" size="large" :before-close="closePriceDialog"  :close-on-click-modal="false">

        <div class="todo-btn">
          <el-form :inline="true" ref="priceSearch" :model="priceMod.priceSearch" label-width="80px">
            <el-form-item label="开始日期" prop="date1">
              <el-date-picker
                v-model="priceMod.priceSearch.date1"
                type="date"
                placeholder="选择开始日期"
                :picker-options="beginToday">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="截止日期" prop="date2">
              <el-date-picker
                v-model="priceMod.priceSearch.date2"
                type="date"
                placeholder="选择截止日期"
                :picker-options="behindStart">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="状态">
              <el-select v-model="priceMod.priceSearch.status" clearable placeholder="选择状态">
                <el-option label="有效" value="1"></el-option>
                <el-option label="作废" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="getPriceList" :loading="searchBtnFlag">查询</el-button>
              <el-button type="success" @click="openPriceSetDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加价格</el-button>
            </el-form-item>

          </el-form>
        </div>
        <el-table :data="priceMod.priceData" v-loading.body="priceMod.loading">
          <el-table-column :formatter="priceLevelFormat" label="价格级别" width="100"></el-table-column>
          <el-table-column property="priceBeginTime" label="开始时间" width="140"></el-table-column>
          <el-table-column property="priceEndTime" label="结束时间" width="140"></el-table-column>
          <el-table-column :formatter="priceTypeFormat" label="价格类型" width="100"></el-table-column>
          <el-table-column label="价格" width="100">
            <template slot-scope="scope">
              <span class="price">&yen;{{scope.row.priceValue}}</span>
            </template>
          </el-table-column>
          <el-table-column property="remark" label="备注"></el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.status==0">已作废</span>
              <span v-else>正常</span>
            </template>
          </el-table-column>


          <el-table-column
            fixed="right"
            label="操作"
            width="150">
            <template slot-scope="scope">
              <el-button
                size="small"
                type="primary"
                v-if="scope.row.status!=0"
                @click="doUpdatePrice(scope.row)">
                编辑
              </el-button>
              <el-button
                size="small"
                type="danger"
                v-if="scope.row.status!=0"
              @click="abolishPrice(scope.row)">
                作废
              </el-button>
              <el-button
                size="small"
                :disabled="true"
                v-if="scope.row.status==0">
                已经作废
              </el-button>
            </template>


          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-pagination
            layout="prev, pager, next"
            @current-change="pricePageChange"
            :total="priceMod.total">
          </el-pagination>
        </div>
      </el-dialog>

      <!-- 设置价格 -->

      <el-dialog :title="priceMod.update? '编辑价格' : '新增价格'" :visible.sync="priceSetDialog" :close-on-click-modal="false" :before-close="closePriceSetDialog">
        <el-form ref="priceForm" :model="priceMod.add" :rules="priceRule" label-width="80px" class="wkq__set_price">

          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="开始日期" prop="startTime">
                <el-date-picker
                  v-model="priceMod.startTime"
                  type="date"
                  placeholder="选择日期"
                  @change="getPriceDate1"
                  :picker-options="priceBegin"
                  format="yyyy/MM/dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="结束日期" prop="endTime">
                <el-date-picker
                  v-model="priceMod.endTime"
                  type="date"
                  placeholder="选择日期"
                  @change="getPriceDate2"
                  :picker-options="priceEnd"
                  format="yyyy/MM/dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="价格类型" prop="type">
                <el-select v-model="priceMod.add.type" placeholder="请选择价格类型">
                  <el-option v-for="item in priceMod.typeArray" :key="item.id" :label="item.dicText" :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="价格级别" prop="priceLevel">
                <el-select v-model="priceMod.add.priceLevel" placeholder="请选择价格级别">
                  <el-option v-for="item in priceMod.levelArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="价格" prop="priceValue">
                <el-input-number v-model="priceMod.add.priceValue" :step="0.01" :debounce="300" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="备注" prop="remark">
                <el-input v-model="priceMod.add.remark"></el-input>
              </el-form-item>
            </el-col>




          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closePriceSetDialog">取 消</el-button>
          <el-button type="primary" @click="submitForm('priceForm', 'addPriceBtnFlag', 'setPrice')">确 定</el-button>
        </div>
      </el-dialog>



      <!-- 库存管理的table dialog -->
      <el-dialog v-if="stockMod.currentItem" :title="'库存管理('+stockMod.currentItem.productTitle+')'" :visible.sync="stockDialog" size="large" :before-close="closeStockDialog"  :close-on-click-modal="false">

        <div class="todo-btn">
          <el-form :inline="true" ref="priceSearch" :model="stockMod.stockSearch" label-width="80px">
            <el-form-item label="开始日期" prop="date1">
              <el-date-picker
                v-model="stockMod.stockSearch.date1"
                type="date"
                placeholder="选择开始日期"
                :picker-options="stockBeginSearch">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="截止日期" prop="date2">
              <el-date-picker
                v-model="stockMod.stockSearch.date2"
                type="date"
                placeholder="选择截止日期"
                :picker-options="stockEndSearch">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="状态">
              <el-select v-model="stockMod.stockSearch.status" clearable placeholder="选择状态">
                <el-option label="有效" value="1"></el-option>
                <el-option label="作废" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="getStockList" :loading="searchBtnFlag">查询</el-button>
              <el-button type="success" @click="openStockSetDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加库存</el-button>
            </el-form-item>

          </el-form>
        </div>
        <el-table :data="stockMod.data" v-loading.body="stockMod.loading">
          <el-table-column property="stockBeginTime" label="开始时间" width="140"></el-table-column>
          <el-table-column property="stockEndTime" label="结束时间" width="140"></el-table-column>
          <el-table-column label="库存数" width="100">
            <template slot-scope="scope">
              <span class="price">{{scope.row.stockValue}}</span>
            </template>
          </el-table-column>
          <el-table-column property="remark" label="备注"></el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.status==0">已作废</span>
              <span v-else>正常</span>
            </template>
          </el-table-column>


          <el-table-column
            fixed="right"
            label="操作"
            width="150">
            <template slot-scope="scope">
              <el-button
                size="small"
                type="primary"
                v-if="scope.row.status!=0"
                @click="doUpdateStock(scope.row)">
                编辑
              </el-button>
              <el-button
                size="small"
                type="danger"
                v-if="scope.row.status!=0"
                @click="abolishStock(scope.row)">
                作废
              </el-button>
              <el-button
                size="small"
                :disabled="true"
                v-if="scope.row.status==0">
                已经作废
              </el-button>
            </template>


          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-pagination
            layout="prev, pager, next"
            @current-change="stockPageChange"
            :total="stockMod.total">
          </el-pagination>
        </div>
      </el-dialog>

      <!-- 设置库存 -->

      <el-dialog :title="stockMod.update? '编辑库存' : '新增库存'" :visible.sync="stockSetDialog" :close-on-click-modal="false" :before-close="closeStockSetDialog">
        <el-form ref="stockForm" :model="stockMod.add" :rules="stockRule" label-width="80px" class="wkq__set_price">

          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="开始日期" prop="startTime">
                <el-date-picker
                  v-model="stockMod.startTime"
                  type="date"
                  placeholder="选择日期"
                  @change="getStockDate1"
                  :picker-options="stockBegin"
                  format="yyyy/MM/dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="结束日期" prop="endTime">
                <el-date-picker
                  v-model="stockMod.endTime"
                  type="date"
                  placeholder="选择日期"
                  @change="getStockDate2"
                  :picker-options="stockEnd"
                  format="yyyy/MM/dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
<!--            <el-col :span="12">
              <el-form-item label="库存级别" prop="stockLevel">
                <el-select v-model="stockMod.add.stockLevel" placeholder="请选择价格级别">
                  <el-option v-for="item in stockMod.levelArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                </el-select>
              </el-form-item>
            </el-col>-->

            <el-col :span="12">
              <el-form-item label="单日销售数" prop="stockValue">
                <el-input-number v-model="stockMod.add.stockValue" :step="1" :debounce="300" :min="-1" :max="999999"></el-input-number>
                （每日库存）
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="备注" prop="remark">
                <el-input v-model="stockMod.add.remark"></el-input>
              </el-form-item>
            </el-col>




          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm('stockForm', 'addStockBtnFlag', 'setStock')">确 定</el-button>
          <el-button @click="closeStockSetDialog">取 消</el-button>
        </div>
      </el-dialog>


    </div>
    <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
  </div>
</template>
<script>
  import Editor from '../../../components/Editor'
  import Page from '../../Page.vue';
  import api from '../../../api/product';
  import upload from '../../Upload.vue';
  import moment from 'moment'
  export default {

    data (){

      var checkPrice = (rule, value, callback) => {  //价格
        var reg = this.priceReg;
        if(reg.test(value)){
          callback();
        }else{
          callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
        }
      };

      //数字 1-11位 ，并且是正整数
      var checkNumLong = (rule, value, callback) => {  //数字 1-11位
        var reg = /^[0-9]*[1-9][0-9]*$/;
        if(reg.test(value)){
          console.log('是整数')
          if(value.toString().length>=1 && value.toString().length<=11){
            callback();
          }else{
            callback(new Error('请输入1-11位长度的整数'));
          }
        }else{
          callback(new Error('请输入正整数'));
        }
        console.log(value.toString().length);

      };
      return {


        swiperOption: {
          autoplay: 5000,
          pagination: '.swiper-pagination',
          paginationType: 'fraction',
          autoHeight: false,
        },
        pageview: false,
        previewData:null,


        beginToday: {
          disabledDate: (time)=> {
            if(this.priceMod.priceSearch.date2) {
              return time.getTime() > new Date(this.priceMod.priceSearch.date2).getTime() ||  time.getTime() < Date.now() - 8.64e7;
            }else{
              return time.getTime() < Date.now() - 8.64e7;
            }
          }
        },
        behindStart: {
          disabledDate:(time) =>{
            if(this.priceMod.priceSearch.date1){
              return time.getTime() < new Date(this.priceMod.priceSearch.date1).getTime();

            }else{
              return time.getTime() < Date.now() - 8.64e7;

            }
          }
        },

        stockBeginSearch: {
          disabledDate: (time)=> {
            if(this.stockMod.stockSearch.date2) {
              return time.getTime() > new Date(this.stockMod.stockSearch.date2).getTime() ||  time.getTime() < Date.now() - 8.64e7;
            }else{
              return time.getTime() < Date.now() - 8.64e7;
            }
          }
        },
        stockEndSearch: {
          disabledDate:(time) =>{
            if(this.stockMod.stockSearch.date1){
              return time.getTime() < new Date(this.stockMod.stockSearch.date1).getTime();

            }else{
              return time.getTime() < Date.now() - 8.64e7;

            }
          }
        },




        priceBegin: {
          disabledDate: (time)=> {
            if(this.priceMod.endTime) {
              return time.getTime() > new Date(this.priceMod.endTime).getTime() ||  time.getTime() < Date.now() - 8.64e7;
            }else{
              return time.getTime() < Date.now() - 8.64e7;
            }
          }
        },
        priceEnd: {
          disabledDate:(time) =>{
            if(this.priceMod.startTime){
              return time.getTime() < new Date(this.priceMod.startTime).getTime();

            }else{
              return time.getTime() < Date.now() - 8.64e7;

            }
          }
        },

        stockBegin: {
          disabledDate: (time)=> {
            if(this.stockMod.endTime) {
              return time.getTime() > new Date(this.stockMod.endTime).getTime() ||  time.getTime() < Date.now() - 8.64e7;
            }else{
              return time.getTime() < Date.now() - 8.64e7;
            }
          }
        },
        stockEnd: {
          disabledDate:(time) =>{
            if(this.stockMod.startTime){
              return time.getTime() < new Date(this.stockMod.startTime).getTime();

            }else{
              return time.getTime() < Date.now() - 8.64e7;

            }
          }
        },


        //设置价格所需的变量
        priceMod: {
          loading:false,
          data:[], //库存列表数组
          typeArray:[],
          levelArray:[],
          pageNum:1,
          total:1,
          currentItem:null,
          startTime:'',
          endTime:'',
          update:false,
          priceSearch:{
            productNo:'',
            status:'',
            date1:'',
            date2:''
          },
          add:{
            startTime:'',
            endTime:'',
            type:'',
            priceLevel:'',
            priceValue:'',
            remark:'',
            productNo:'',
          }
        },
        //设置库存所需的变量
        stockMod: {
          loading:false,
          priceData:[], //价格列表数组
          typeArray:[],
          levelArray:[],
          pageNum:1,
          total:1,
          currentItem:null,
          startTime:'',
          endTime:'',
          update:false,
          stockSearch:{
            productNo:'',
            status:'',
            date1:'',
            date2:''
          },
          add:{
            startTime:'',
            endTime:'',
           // stockLevel:'',
            stockValue:'',
            remark:'',
            productNo:'',
          }
        },





        // kws
        addCouponDia:false,
        addCardDia:false,
        isAddCoupon:false,
        addCouponCardFlag:false,
        start_time:'',
        end_time:'',
        productForm:{
          couponAdultPrice:''
        },

        gridDataImg:[],
        areaArray:[],
        priceDate:[],
        refundPercent:0,
        bigPicArray:[],
        imgDialog: false,
        priceDialog: false,
        inventoryDialog: false,
        priceSetDialog:false,
        stockSetDialog: false,
        stockDialog: false,



        dialogImageUrl:'',
        showBigImg: false,

        // wkq
        indexNumber:0,
        tableLoading:true,
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        uploadUrl: '/astProduct/getPolicy',
        content: {
          otherNotice:'',
          intro:''
        },
        checkTable:[],
        productJson:[],


        thisItem:null,
        hasUploadImg: false,
        addImgData: {
          imageName:'',
          imageUrl:'',
          productNo:'',
        },

  /*      product: {
          name:'',
          chargeback:'',
          refuninfo:'',
        },*/
        addCardValid: {
          maxCard:9999,
          lastTime:1,
          adultPrice:'',
          childPrice:'',

        },
        time1:'',
        time2:'',
        time:'2017-08-18',
        proDialogVisible: false,
        cardDialogVisible: false,

        pickerOptionsStart: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7
          }
        },

        pickerOptionsEnd: {
          disabledDate :(time) =>  {
            return time.getTime() <= this.time1 || time.getTime() < Date.now() - 8.64e7;
          }
        },

        //价格列表--模拟数据
        priceDataList:[
          {
            level:1,
            type:1,
            startTime:'2017/09/12',
            endTime:'2018/09/12',
            price:88,
            remark:'测试'
          }
        ],

        //下面是编辑或者新增的弹窗数据
        chargeBackArray: [],    //退单类型
        typeArray: [],    //类型
        isAdd: true,
        addBtnFlag: false,
        addPriceBtnFlag: false,
        addStockBtnFlag: false,
        addImgFlag: false,
        updateBtnFlag: false,
        searchBtnFlag: false,
        proForm: {
          typeId:'',
          title:'',
          intro:'',
          chargeback:'',
          refundPercent: 0, //退单百分比
          refundFixed:0,
          stockCount: '-1',
          otherNotice:'',
          area:'',
        },
        search: {
          title:'',
          typeId:'',
          status:'',
          area:''
        },
        couponRules:{
          couponAdultPrice:[{type: 'number', required: true, message: '单价(每人)', trigger: 'change'  },
            { validator: checkPrice }]
        },
        proRules: {
          title: [
            { required: true, message: '请输入产品名称', trigger: 'blur' },
            { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
          ],
          typeId: [
            { required: true, message: '请选择类型', trigger: 'change' },
          ],
          intro: [
            { required: true, message: '请输入产品简介', trigger: 'blur' },
            { min: 1, max: 1000, message: '长度在 1 到 1000 个字符', trigger: 'blur' }
          ],
          chargeback:  [
            { required: true, message: '请选择退单类型', trigger: 'change' },
          ],
          refundPercent:  [
            { required: true, type:'number', message: '请输入退款百分比', trigger: 'change' },
          ],
          refundFixed:  [
            { required: true, type:'number', message: '请输入退单固定金额', trigger: 'change' },
          ],
          otherNotice:  [
            { required: true, message: '其他须知', trigger: 'change' },
            { min: 1, max: 1000, message: '长度在 1 到 1000 个字符', trigger: 'blur' }
          ],
          area:  [
            { required: true, message: '请选择城市', trigger: 'change' },
          ],

        },


        imgRule: {
          imageName: [
            {required: true, message: '请输入图片名称', trigger: 'blur'},
            {min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur'}
          ],
          imageUrl: [
            {required: true, message: '缺少图片', trigger: 'blur'},
          ],
          productNo: [
            {required: true, message: '缺少产品编号', trigger: 'blur'},
          ],
        },


        priceRule: {
          startTime: [
            {required: true, message: '开始时间必填', trigger: 'change'},
          ],
          endTime: [
            {required: true, message: '截至时间必填', trigger: 'change'},
          ],
          type: [
            {required: true, message: '请选择类型'},
          ],
          priceLevel: [
            {required: true, message: '请选择级别'},
          ],
          priceValue: [
            {type: 'number', required: true, message: '请输入价格'},
            { validator: checkPrice }
          ],
          remark: [
            {min: 0, max: 50, message: '长度在 0 到 50 个字符', trigger: 'change'}
          ],
          productNo: [
            {required: true, message: '缺少产品编号', trigger: 'change'},
          ],
        },


        stockRule: {
          startTime: [
            {required: true, message: '开始时间必填', trigger: 'change'},
          ],
          endTime: [
            {required: true, message: '截至时间必填', trigger: 'change'},
          ],
 /*         stockLevel: [
            {required: true, message: '请选择级别'},
          ],*/
          stockValue: [
            {type: 'number', required: true, message: '请输入库存数量'},
          ],
          remark: [
            {min: 0, max: 50, message: '长度在 0 到 50 个字符', trigger: 'change'}
          ],
          productNo: [
            {required: true, message: '缺少产品编号', trigger: 'change'},
          ],
        },

      }
    },
    created () {
      this.getList();
    },
    components: {
      Page,
      upload,
      'v-editor': Editor
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      refundPercent: {
        handler: function (val, oldVal) {
          this.proForm.refundPercent = val/100;
          console.log(val);
          console.log(this.proForm.refundPercent);
        },
        deep: true
      },

      isAdd: {
        deep: true,
        handler: function (val, oldVal) {
          if(val){
            try {

              delete this.proForm.id;
              delete this.proForm.productNo;
            }catch (err){

            }
          }
        }
      },
      checkTable: {
        deep: true,
        handler: function (val, oldVal) {
          this.productJson=[];
          for(let i = 0; i<val.length; i++){
            this.productJson.push({"id": val[i].id_, "version": val[i].version})
          }
          console.log(this.productJson)
        }
      },
      hasUploadImg: {
        deep: true,
        handler: function (val, oldVal) {

          if(!val){

            this.addImgData.imageUrl=''
            this.addImgData.imageName=''
            this.addImgFlag = false;
          }
        }

      }
    },
    computed: {
      emailReg () {
        return this.$store.state.emailReg;
      },
      phoneReg () {
        return this.$store.state.phoneReg;
      },
      priceReg () {
        return this.$store.state.priceReg;
      },
      baseHost: function () {
        return this.$store.state.host;
      }
    },


    methods: {




      getPageView (id) {

        this.$http.post('/astProduct/preview', {id: id}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {

            this.pageview = true;
            this.previewData = res.data;

          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },

      priceLevelFormat (row, column, cellValue) {
        for (let i = 0; i< this.priceMod.levelArray.length; i++){
          if(this.priceMod.levelArray[i].name == row.priceLevel){
            return this.priceMod.levelArray[i].desc
          }
        }
      },

      priceTypeFormat (row, column, cellValue) {

        for (let i = 0; i< this.priceMod.typeArray.length; i++){
          if(this.priceMod.typeArray[i].id == row.productDicId){
            return this.priceMod.typeArray[i].dicText
          }
        }
      },

      stockLevelFormat (row, column, cellValue) {
        for (let i = 0; i< this.stockMod.levelArray.length; i++){
          if(this.stockMod.levelArray[i].name == row.stockLevel){
            return this.stockMod.levelArray[i].desc
          }
        }
      },


      abolishStock (obj) {


        this.$confirm('是否作废当前库存?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.$http.post('/astProduct/abolishStock', {
            id:obj.id_,
            version:obj.version
          } ).then((response) => {
            const res = response.body;


            if (res.code == 200) {
              this.$message.success('操作成功');

              this.getStockList ()
            } else {
              if(res){
                this.$message.error(res.data.message);
              }
            }
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });


      },

      abolishPrice (obj) {


        this.$confirm('是否作废当前价格?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.$http.post('/astProduct/abolishPrice', {
            id:obj.id_,
            version:obj.version
          } ).then((response) => {
            const res = response.body;


            if (res.code == 200) {
              this.$message.success('操作成功');

              this.getPriceList ()
            } else {
              if(res){
                this.$message.error(res.data.message);
              }
            }
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });


      },

      doUpdatePrice (obj){
        this.priceMod.update = true;
        this.priceMod.add.startTime = moment(obj.priceBeginTime).format('YYYY/MM/DD')
        this.priceMod.startTime =obj.priceBeginTime
        this.priceMod.endTime =obj.priceEndTime
        this.priceMod.add.endTime = moment(obj.priceEndTime).format('YYYY/MM/DD')
        this.priceMod.add.type = obj.productDicId
        this.priceMod.add.priceLevel = obj.priceLevel
        this.priceMod.add.remark = obj.remark
        this.$set(this.priceMod.add,'id',obj.id_)
        this.$set(this.priceMod.add,'version',obj.version)
        this.openPriceSetDialog();
      },

      doUpdateStock (obj){
        this.stockMod.update = true;
        this.stockMod.add.startTime = moment(obj.stockBeginTime).format('YYYY/MM/DD')
        this.stockMod.startTime =obj.stockBeginTime
        this.stockMod.endTime =obj.stockEndTime
        this.stockMod.add.endTime = moment(obj.stockEndTime).format('YYYY/MM/DD')
        this.stockMod.add.stockLevel = obj.stockLevel
        this.stockMod.add.stockValue = obj.stockValue
        this.stockMod.add.remark = obj.remark
        this.$set(this.stockMod.add,'id',obj.id_)
        this.$set(this.stockMod.add,'version',obj.version)
        this.openStockSetDialog();
      },

      getPriceDate1 (val) {
        this.priceMod.add.startTime = val;
      },
      getPriceDate2 (val) {
        this.priceMod.add.endTime = val;
      },
      getStockDate1 (val) {
        this.stockMod.add.startTime = val;
      },
      getStockDate2 (val) {
        this.stockMod.add.endTime = val;
      },

      setStock () {
        var url ='/astProduct/addStock'
        this.stockMod.add.productNo = this.stockMod.currentItem.productNo;
        if(this.stockMod.update){
          url ='/astProduct/updateStock'
        }else{
          try {
            url ='/astProduct/addStock'
            delete this.stockMod.add.id;
            delete this.stockMod.add.version;
          }catch (err){

          }
        }


        this.$http.post(url, this.stockMod.add ).then((response) => {
          const res = response.body;


          if (res.code == 200) {
            this.$message.success('库存设置成功');
            this.closeStockSetDialog();

            this.getStockList ()
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
        });
      },


      setPrice () {
        var url ='/astProduct/addPrice'
        this.priceMod.add.productNo = this.priceMod.currentItem.productNo;
        if(this.priceMod.update){
          url ='/astProduct/updatePrice'
        }else{
          try {
            url ='/astProduct/addPrice'
            delete this.priceMod.add.id;
            delete this.priceMod.add.version;
          }catch (err){

          }
        }

        this.$http.post(url, this.priceMod.add ).then((response) => {
          const res = response.body;


          if (res.code == 200) {
            this.$message.success('价格设置成功');
            this.closePriceSetDialog();

            this.getPriceList ()
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
        });
      },

      pricePageChange(val){
        console.log(val)
        this.priceMod.pageNum = val;
        this.getPriceList();
      },

      stockPageChange (val){
        console.log(val)
        this.stockMod.pageNum = val;
        this.getStockList();

      },

      getStockList () {
        this.stockMod.loading = true;
        this.stockMod.levelArray = [];
        this.stockMod.data =[];

        this.$http.post('/astProduct/read/StockList', {
          pageNum: this.stockMod.pageNum,
          pageSize: 10,
          startTime:this.stockMod.stockSearch.date1? moment(this.stockMod.stockSearch.date1).format('YYYY/MM/DD'): '',
          endTime:this.stockMod.stockSearch.date2? moment(this.stockMod.stockSearch.date2).format('YYYY/MM/DD'): '',
          status: this.stockMod.stockSearch.status,
          productNo:this.stockMod.currentItem.productNo,
        }).then((response) => {
          const res = response.body;


          this.stockMod.loading = false;
          if (res.code == 200) {

            this.stockMod.levelArray = res.data.level;
            this.stockMod.data = res.data.page.records;
            this.stockMod.total = res.data.page.total;
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
        }, (response) => {
          // 响应错误回调
          this.stockMod.loading = false;
          this.$message.error('出错了:' + response);
        });
      },

      getPriceList () {
        this.priceMod.loading = true;
        this.priceMod.levelArray = [];
        this.priceMod.typeArray = [];
        this.priceMod.priceData =[];

        console.log(this.priceMod.priceSearch.date1)
        this.$http.post('/astProduct/read/PriceList', {
          pageNum: this.priceMod.pageNum,
          pageSize: 10,
          startTime:this.priceMod.priceSearch.date1? moment(this.priceMod.priceSearch.date1).format('YYYY/MM/DD'): '',
          endTime:this.priceMod.priceSearch.date2? moment(this.priceMod.priceSearch.date2).format('YYYY/MM/DD'): '',
          status: this.priceMod.priceSearch.status,
          productNo:this.priceMod.currentItem.productNo,
        }).then((response) => {
          const res = response.body;


          this.priceMod.loading = false;
          if (res.code == 200) {

            this.priceMod.levelArray = res.data.level;
            this.priceMod.typeArray = res.data.type;
            this.priceMod.priceData = res.data.page.records;
            this.priceMod.total = res.data.page.total;
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
        }, (response) => {
          // 响应错误回调
          this.priceMod.loading = false;
          this.$message.error('出错了:' + response);
        });
      },

      preImg (row){
        this.showBigImg = true;
        this.dialogImageUrl = this.baseHost+row.imageUrl
      },


      setMainImg (obj) {

        this.$http.post('/astProduct/updateImgType', {id: obj.id_,productNo: obj.productNo}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getImgList(this.thisItem);



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },

      cancelAddImg (){
        this.hasUploadImg=false
      },

      delImg (id) {

        this.$http.post('/astProduct/deleteImg', {id: id}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getImgList(this.thisItem);



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },


      addImg (){
        this.addImgFlag = true;
        let url = '/astProduct/addImg'
        this.$http.post(url, this.addImgData).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.hasUploadImg = false;
              this.getImgList(this.thisItem);



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.addImgFlag = false;
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
          this.addImgFlag = false;
        });
      },

      getImgList (obj) {
        this.thisItem=obj;
        this.addImgData.productNo=obj.productNo
        this.$http.post('/astProduct/read/ImgList', {
          productNo: obj.productNo,
        }).then((response) => {
          const res = response.body;
          if (res.code == 200) {
            this.gridDataImg = res.data;
            this.openImgDialog();
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
        });

      },

      setBigImg (val) {  //得到upload返回的图片数据后设置图片
        console.log(val);
        this.hasUploadImg = true;
        this.addImgData.imageUrl = val;
      },

      //获取图库图片数组
      getImg (id) {

      },

      getBeforeTime (val){
        this.cardForm.productStartTime = moment(val).format('YYYY/MM/DD')
        console.log(val)
        console.log(this.cardForm)
      },

      getEndTime (val){
        this.cardForm.productEndTime = moment(val).format('YYYY/MM/DD')
        console.log(val)
        console.log(this.cardForm)
      },

      createCard (){

        this.$confirm('创建之后将不能再次修改, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.addBtnFlag = true;
          console.log(this.cardForm)

          this.$http.post('/yjProduct/addCard', this.cardForm).then((response) => {
            // 响应成功回调
            const res = response.body;
            console.log(res);
            if (res.code==200) {
              if(res.data.success){
                this.closeCardDialog();
                this.$message({
                  message: '创建成功',
                  type: 'success'
                });
              }else{
                this.$message({
                  message: res.data.message,
                  type: 'error'
                });

              }
            } else {
              this.$message.error(res.msg);
            }
            this.addBtnFlag = false;
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
            this.addBtnFlag = false;
          });
        }).catch(() => {
          this.addBtnFlag = false;
          this.$message({
            type: 'info',
            message: '已取消创建',
          });
        });


      },

      getBeforeCard (id,v){
        this.$http.post('/yjProduct/addCardInfo', {productId: id,version: v}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.product.name = res.data.productTitle
            this.product.chargeback = res.data.chargeback
            this.product.refuninfo = res.data.chargebackIntro;

            this.addCardValid.lastTime = res.data.bookingLimitTime
            this.addCardValid.maxCard = res.data.productCount;
            this.cardForm.batchCount = res.data.productCount;
            if(res.data.productCount=='-1'){
              this.addCardValid.maxCard=Infinity;
              this.cardForm.batchCount = 100;
            }

            this.addCardValid.adultPrice = res.data.adultPrice
            this.addCardValid.childPrice = res.data.childPrice

            this.cardForm.id = res.data.id_;
            this.cardForm.version = res.data.version;
            this.cardForm.bookingLimitTime = res.data.bookingLimitTime;
            this.cardFormpersionCount = res.data.persionCount;
            this.cardForm.sellPrice = res.data.adultPrice
            this.cardForm.bookingIntro = res.data.bookingIntro;


            /*          id:'',
                      version:'',
                      bookingIntro:'',
                      bookingLimitTime:'',
                      batchCount:100,
                      persionCount:2,
                      sellPrice:0.01,
                      productStartTime:'',
                      productEndTime:''*/


            this.openCardDialog();
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },

      getRows (selection, row){
        this.checkTable = selection;
      },

      batchDisable (){

        if(this.productJson.length>0){


          this.$confirm('确定将勾选的产品批量停用吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {

            this.$http.post('/yjProduct/batchDisable', {productJson: JSON.stringify(this.productJson)}).then((response) => {
              // 响应成功回调
              const res = response.body;
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                  this.$message(res.msg);
                  this.getList();
                  this.productJson =[]

                }else{
                  this.$message(res.data.message);
                }
              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消操作'
            });
          });

        }else{
          this.$message.error('请先选择产品');
        }

      },

      setStatus (row, state) {  //启用或者禁用
        let url =''
        if(state==1){
          url = '/astProduct/stop'
        }else{
          url = '/astProduct/start'
        }

        this.$confirm('确定进行此操作吗', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.$http.post(url, {id:row.id_}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code==200) {
              if(res.data.success){
                this.$message(res.msg);
                this.getList();

              }else{
                this.$message(res.data.message);
              }
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },

      canDo (){
        this.$message('不可启用，只能通过复制重新生产');
      },


      showDate (row) {
        this.showDateFlag = true;
        this.showPrice.limitPrice = row.limitPrice;
        this.showPrice.retailPrice = row.retailPrice;
        this.showPrice.purChildPrice = row.purChildPrice;
        this.showPrice.purAdultPrice =  row.purAdultPrice;
        this.showPrice.adultPrice =  row.adultPrice;
        this.showPrice.childPrice =  row.childPrice;
      },
      closeDateShow () {
        this.showDateFlag = false;
      },





      copyPro (row) {

      },


      getProInfo (id) {
        var _id=id || '';

          this.$http.post('/astProduct/read/queryByProductNo', {productNo: _id}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code==200) {
              if(res.data){
                this.isAdd = false;
                this.proForm.typeId = res.data.strTypeId;
                this.proForm.title=res.data.productTitle;
                this.proForm.area=res.data.area;
                //this.proForm.intro=res.data.productSummary;
                let _this= this;
                setTimeout(function () {
                  console.log(111);
                  _this.$set(_this.content,'otherNotice',res.data.otherNotice);
                  _this.$set(_this.content,'intro',res.data.productSummary);
                },0)
                this.proForm.chargeback=res.data.chargeback;
                this.proForm.refundPercent= res.data.refundPercent*100;
                this.refundPercent = res.data.refundPercent*100;
                this.proForm.refundFixed=res.data.refundFixed;
                this.proForm.stockCount=res.data.stockCount;
                this.proForm.otherNotice=res.data.otherNotice;
                this.proForm.intro=res.data.productSummary;
                //版本号+id
                this.$set(this.proForm,'id',res.data.id_);
                this.$set(this.proForm,'productNo',res.data.productNo);

                this.proDialogVisible = true;

              }else{
                // this.$message(res.data.message);
              }
            } else {
              //this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });

      },



      addPro () {
        this.addBtnFlag = true;
        let url='';
        if(this.isAdd){
          url = '/astProduct/add'
        }else{
          url = '/astProduct/update'
        }
        this.$http.post(url, this.proForm).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.closeProDialog();
              this.getList();



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.addBtnFlag = false;
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
          this.addBtnFlag = false;
        });
      },



      deleteItem (row){ //删除


        this.$http.post('/product/deleteInfo', {productStatus:row.productStatus, productNo: row.productNo}).then((response) => {
          // 响应成功回调
          let res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$confirm(res.data.message, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                this.$http.post('/product/delete', {id:row.id_, version: row.version, productNo: row.productNo}).then((response) => {
                  // 响应成功回调
                  let res = response.body;
                  if (res.code==200) {
                    if(res.data.success){
                      this.$message(res.msg);
                      this.getList();

                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                    this.$message.error(res.msg);
                  }
                }, (response) => {
                  // 响应错误回调
                  this.$message('出错了:' + response);
                });
              })

            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },


      openImgDialog (){
        this.imgDialog = true;
      },
      closeImgDialog (done) {  //关闭图集管理弹窗
        this.imgDialog = false;
        this.hasUploadImg = false;
        this.gridDataImg=[];
      },


      openInventoryDialog (){
        this.inventoryDialog = true;
      },
      closeInventoryDialog (done) {  //关闭图集管理弹窗
        this.inventoryDialog = false;
      },

      openPriceDialog (row){
        this.priceDialog = true;
        this.priceMod.currentItem = row;
        this.getPriceList();

      },
      closePriceDialog (done) {  //关闭价格管理弹窗
        this.priceDialog = false;
        this.priceMod.loading = false;
        this.priceMod.currentItem = null;
        this.priceMod.priceSearch.date1 = '';
        this.priceMod.priceSearch.date2 = '';
        this.priceMod.priceSearch.status = '';
      },


      openPriceSetDialog (){  //打开设置价格表单
        this.priceSetDialog = true;
      },


      closePriceSetDialog (){  //关闭设置价格表单
        //priceForm
        this.resetForm('priceForm');
        this.priceSetDialog = false;
        this.priceMod.update = false

        this.priceMod.add.startTime = ''
        this.priceMod.startTime = ''
        this.priceMod.endTime = ''
        this.priceMod.add.endTime = ''
        this.priceMod.add.type = ''
        this.priceMod.add.priceLevel = ''
        this.priceMod.add.priceValue = 0
        this.priceMod.add.remark = ''
        this.priceMod.add.id = ''
        this.priceMod.add.version = ''


        console.log(this.priceMod.add)


      },




      openStockDialog (row){
        this.stockDialog = true;
        this.stockMod.currentItem = row;
        console.log('打开库存管理')
        this.getStockList();

      },
      closeStockDialog (done) {  //关闭价格管理弹窗
        this.stockDialog = false;
        this.stockMod.loading = false;
        this.stockMod.currentItem = null;
        this.stockMod.stockSearch.date1 = '';
        this.stockMod.stockSearch.date2 = '';
        this.stockMod.stockSearch.status = '';
      },


      openStockSetDialog (){  //打开设置库存表单
        this.stockSetDialog = true;
      },


      closeStockSetDialog (){  //关闭设置库存表单
        this.resetForm('stockForm');
        this.stockSetDialog = false;
        this.stockMod.update = false

        this.stockMod.add.startTime = ''
        this.stockMod.startTime = ''
        this.stockMod.endTime = ''
        this.stockMod.add.endTime = ''
        this.stockMod.add.stockLevel = ''
        this.stockMod.add.stockValue = 0
        this.stockMod.add.remark = ''
        this.stockMod.add.id = ''
        this.stockMod.add.version = ''

      },




      openProDialog (){
        this.proDialogVisible = true;
      },
      closeProDialog (done){  //关闭新增表单弹窗
        this.resetForm('proForm');
        this.proForm.typeId =''
        this.proForm.title=''
        //this.proForm.productDetail=''
        this.proForm.intro = '';
        this.proForm.area=''
        this.proForm.refundPercent= 0
        this.proForm.chargeback=''
        this.proForm.refundFixed=0
        this.refundPercent=''
        var _this=this;
        setTimeout(function () {
          console.log(111);
          _this.$set(_this.content,'otherNotice','' );
          _this.$set(_this.content,'intro','' );
        },0)
        this.proForm.otherNotice=''
        this.proForm.intro=''



        this.proDialogVisible = false;
        this.addBtnFlag = false;
        this.isAdd = true;
      },

      openCardDialog (){
        this.cardDialogVisible = true;
      },
      closeCardDialog (done){  //关闭新增表单弹窗
        this.time1=''
        this.time2=''
        this.cardForm.id = ''
        this.cardForm.version = ''
        this.cardForm.bookingIntro = ''
        this.cardForm.bookingLimitTime = ''
        this.cardForm.batchCount = 100
        this.cardForm.persionCount = 1
        this.cardForm.sellPrice = 0.01
        this.cardForm.productStartTime = ''
        this.cardForm.productEndTime =''
        //this.resetForm('cardForm');
        this.addBtnFlag = false;
        this.cardDialogVisible = false;
        console.log(this.cardDialogVisible)
      },



      closeEditDialog (done){ //关闭编辑表单弹窗

        this.resetForm('edit');
        this.editDialog = false;
        this.updateBtnFlag = false;
      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.resetForm('search');
        this.pageNum = 1;
        this.getList();
      },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      openEdit (row) {
        this.editDialog = true;
        //将属性赋值到编辑数据对象
        console.log(row)
        for(var x in this.edit){
          //console.log(x)
          var data = this.edit;
          for(var y in row){
            if(x==y){
              data[x]=row[y]
            }
          }
        }

      },
      closeDialog (done) {
        this.editFlag = false;
        this.updateBtnFlag = false;
      },
      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },

      formatArea (row, column, cellValue) {
          for(let k = 0; k<this.areaArray.length; k++){
            if(row.area == this.areaArray[k].name){
              return  this.areaArray[k].desc;
              break;
            }
          }
      },

      formatType (row, column, cellValue) {
        console.log(row.strTypeId)
        for(let k = 0; k<this.typeArray.length; k++){
          if(row.strTypeId == this.typeArray[k].id_){
            return this.typeArray[k].typeName;
            break;
          }
        }
      },

      getList () {  //获取分页
        this.tableLoading = true;
        this.$http.post('/astProduct/read/list', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          title: this.search.title,
          typeId: this.search.typeId,
          status: this.search.status,
          area: this.search.area,
        }).then((response) => {
          const res = response.body;
          this.chargeBackArray = res.data.chargeBack;
          this.typeArray = res.data.type;
          this.areaArray = res.data.area;
          if (res.code == 200) {

            this.tableData = res.data.page.records;
            this.total = res.data.page.total;
          } else {
            if(res){
              this.$message.error(res.data.message);
            }
          }
          this.tableLoading = false;
        });
      },
      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      },

      // wks
      addCoupon(form){
        if (this.$refs[form]) {
          this.$refs[form].resetFields();
        }
        this.addCouponDia = true;
      },

      handleAddCoupon(form){
        this.isAddCoupon = true;
        this.$refs[form].validate((valid) => {
          if (valid) {
            this.$http.post('/yjProduct/addTicket',{adultPrice:this.productForm.couponAdultPrice}).then((response) => {
              // 响应成功回调
              const res = response.body
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                  this.diaProduct = false;
                  this.$message('操作成功');
                  this.addCouponDia=false;
                  this.getList();
                }else{
                  this.$message(res.data.message);
                }
              } else {
                this.$message.error(res.msg);
              }
              this.isAddCoupon = false;
            }, (response) => {
              this.$message.error('出错了:' + response);
              this.isAddCoupon = false;
            });

          } else {
            this.isAddCoupon = false;
            return false;
          }

        });
      },

      initCouponCard(id, version){
        if (this.$refs['addCardForm']) {
          this.$refs['addCardForm'].resetFields();
        }
        this.addCardForm.id=id;
        this.addCardForm.version=version;
        this.start_time='';
        this.end_time='';
        this.addCardDia=true;
      },

      getStartTime(val){
        this.addCardForm.productStartTime = moment(val).format('YYYY/MM/DD')
      },

      getEndTimeK(val){
        this.addCardForm.productEndTime = moment(val).format('YYYY/MM/DD')

      },
      handleSubCouponCard(){

        this.$refs['addCardForm'].validate((valid) => {
          this.addCouponCardFlag = true;
          if (valid) {
            this.$http.post('/yjProduct/addTravelCard',this.addCardForm).then((response) => {
              // 响应成功回调
              const res = response.body
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                  this.addCardDia = false;
                  this.addCardForm.id='';
                  this.addCardForm.version='';
                  this.$message('操作成功');
                  this.getList();
                }else{
                  this.$message(res.data.message);
                }
              } else {
                this.$message.error(res.msg);
              }
              this.addCouponCardFlag = false;
            }, (response) => {
              this.$message.error('出错了:' + response);
              this.addCouponCardFlag = false;
            });

          } else {
            this.addCouponCardFlag = false;
            return false;
          }

        });
      }

    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .wkq__set_price{
    .el-select{
      width: 100%;
    }
    .el-date-editor {

      &.el-input {
        width: 100%;
      }

    }
  }




  .proinfo__wkq{
    padding:10px;
    font-size: 14px;
    background: #fff;
    overflow: hidden;
    word-break: break-all;
    h4{
      font-size:16px;
      margin-bottom: 10px;
    }
    .date{
      margin-top:10px;
      font-size:12px;
      color: #888;
    }
    .price{
      font-size: 16px;
      color: #ff2c02;
    }
    .del{
      color: #888888  ;
    }
  }

  .pageview-gray{
    .el-dialog{
      background: #f2f3f5;

      .el-dialog__body{
        padding:20px 0;
        .pageView{
          background: #f2f3f5;
        }
      }
    }
  }

  .pro-box__wkq{
    margin-top: 10px;
    background:#fff;
    .bar{
      padding:10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      h3{
        padding:0 10px;
        margin:0;
        font-size: 16px;
        border-left: 3px solid #2a8fe9;
      }
    }
    .detail__wkq{
      padding: 10px;
      line-height:1.8;
    }
  }

  .footer__wkq{
    height: 45px;
  }

  .fixed-bot{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:45px;
  }

  .buy-btn__wkq{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color:#fff;
    background: #2a8fe9;
    border: none;
  }


  .pro_swiper{
    position: relative;
    .swiper-container{
      position: relative;
      overflow: hidden;
      .swiper-wrapper{
        position: relative;
        width: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
      }
    }
    .swiper-slide{
      float: left;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-flex-shrink: 0;
      -ms-flex: 0 0 auto;
      img{
        display: block;
        margin:0 auto;
      }
    }
  }

  .swiper-count{
    position: absolute;
    right:10px;
    bottom:10px;
    z-index:2;
    display: block;
    width: 40px;
    height:40px;
    line-height:40px;
    font-size: 12px;
    text-align: center;
    color:#fff;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
  }


</style>
