<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>客服管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" :model="queryStr" ref="search">
            <el-form-item label="名称" prop="kefuName" label-width="50px">
              <el-input v-model="queryStr.kefuName"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="status">
              <el-select v-model="queryStr.status" placeholder="全部">
                 <el-option label="启用" value="1"></el-option>
                 <el-option label="停用" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
            </el-form-item>
	        <el-button type="success"  @click="handleAddForm('addChat')"><i class="fa fa-plus" aria-hidden="true"></i> 添加客服</el-button>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
	        <el-table-column
	                prop="kefuName"
	                label="客服名称">
	        </el-table-column>
	        <el-table-column
	                prop="wxCode"
	                label="客服号">
	        </el-table-column>
	        <el-table-column
	                label="客服二维码">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="warning"
                              @click="showPic(scope.row)">查看图片
                      </el-button>
                  </template>
	        </el-table-column>
	        <el-table-column
	                prop="phone"
	                label="电话号">
	        </el-table-column>
	        <el-table-column
	                prop="telephone"
	                label="手机号">
	        </el-table-column>
	        <el-table-column
	                prop="status"
                  :formatter="formatterStatus"
	                label="状态">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="250">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 修改</el-button>
                  <el-button v-if="scope.row.status==0" @click="handleDisable(scope.row, 1)" type="success" size="small">启用</el-button>
	              	<el-button v-if="scope.row.status==1" @click="handleDisable(scope.row, 0)" type="danger" size="small">停用</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
  	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

         <el-dialog title="添加客服" :visible.sync="dialogVisible1" :before-close="handleClose">
             <el-form :model="addChat" ref="addChat" :rules="addRules">
               <el-form-item label="客服名称："  :label-width="formLabelWidth" prop="kefuName">
                 <el-input v-model="addChat.kefuName" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="微信号：" :label-width="formLabelWidth" prop="wxCode">
                 <el-input v-model="addChat.wxCode" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="微信二维码 " :label-width="formLabelWidth" prop="wxUrl">
				        <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/kefu/getPolicy'" @change="getUploadAdd"></upload>
			         </el-form-item>
               <el-form-item label="电话号：" :label-width="formLabelWidth" prop="phone">
                 <el-input v-model="addChat.phone" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="手机号：" :label-width="formLabelWidth" prop="telephone">
                 <el-input v-model="addChat.telephone" auto-complete="off"></el-input>
               </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button type="primary" :loading="isAdd" @click="submitForm('addChat')">添加</el-button>
               <el-button @click="dialogVisible1 = false">取 消</el-button>
             </div>
         </el-dialog>

         <el-dialog title="编辑客服" :visible.sync="dialogVisible2" :before-close="handleClose">
             <el-form :model="updateForm" ref="updateForm" :rules="addRules">
               <el-form-item label="客服名称：" prop="kefuName" :label-width="formLabelWidth">
                 <el-input v-model="updateForm.kefuName" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="微信号：" prop="wxCode" :label-width="formLabelWidth">
                 <el-input v-model="updateForm.wxCode" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="微信二维码：" prop="wxUrl" :label-width="formLabelWidth">
           <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/kefu/getPolicy'"  @change="getUploadEdit"></upload>
               </el-form-item>
               <el-form-item label="电话号：" prop="phone" :label-width="formLabelWidth">
                 <el-input v-model="updateForm.phone" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="手机号：" prop="telephone" :label-width="formLabelWidth">
                 <el-input v-model="updateForm.telephone" auto-complete="off"></el-input>
               </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button type="primary" :loading="isEdit" @click="editForm('updateForm')">修改</el-button>
               <el-button @click="dialogVisible2 = false">取 消</el-button>
             </div>
         </el-dialog>
  	     <el-dialog
                 title="查看banner图片"
                 :visible.sync="showPicFlag"
                 size="tiny"
                 :before-close="closePicShow">
             <img :src="bigPic" />
         </el-dialog>
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import Upload from '../Upload.vue';
export default {
  name: 'chat',
  components: {
      Page,Upload
  },
  data () {
   var validatePhone = (rule, value, callback) => {
        var patternExp  =  this.$store.state.telReg;
         setTimeout(() => {
                     if (!patternExp.test(value)) {
                       callback(new Error('电话号码格式不正确,正确格式为 : xxxx-xxxxxxxx (或：区号-电话号码)'));
                     } else {
                       callback();
                     }
                 }, 1000);
       };
   var validateTel = (rule, value, callback) => {
         var patternExp  =  this.$store.state.phoneReg;
         setTimeout(() => {
                     if (!patternExp.test(value)) {
                       callback(new Error('手机号码格式不正确'));
                     } else {
                       callback();
                     }
                 }, 1000);
       };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      showPicFlag:false,
      bigPic:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
        picArray:[],
    	//表单类
      dialogVisible1:false,
    	dialogVisible2:false,
      addChat: {
        kefuName:'',
        wxCode:'',
        wxUrl:'',
        phone:'',
        telephone:''
       },
    	updateForm: {
        id:'',
        version:'',
        kefuName:'',
        wxCode:'',
        wxUrl:'',
        phone:'',
        status:'',
        telephone:''
    	 },
    	 formLabelWidth: '120px',
        // 查询条件
    	 queryStr: {
          kefuName:'',
					status:''
       		 },
            // 规则
        addRules:{
           kefuName:[{ required: true, message: '请输入客服名', trigger: 'blur'},
           {min:2, max:16,message:'长度在 2 到 16 个字符',trigger: 'blur'}],
           wxCode:[{min:3, max:20,message:'长度在 3 到 20 个字符',trigger: 'blur'}],
           wxUrl:[ { trigger: 'blur'}],
           phone:[ { validator: validatePhone, trigger: 'blur' }],
           telephone:[ { validator: validateTel, trigger: 'blur' }]
    		}
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
    computed: {
        baseHost () {
            return this.$store.state.host;
        }
    },
    methods: {
      formatterStatus(row, column){
        return row.status == 0 ?'停用':'正常'
      },
      showPic(row){
        this.showPicFlag = true;
        this.bigPic = this.baseHost + row.wxUrl;
      },
      closePicShow(){
        this.showPicFlag = false;
      },
        //上传成功回调自定义事件，一般用于返回图片URL等
        getUploadAdd (val) {
            this.addChat.wxUrl = val;
            console.log(this.addChat)
        },
        getUploadEdit (val) {
            this.updateForm.wxUrl = val;
        },
  	 handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
    // 添加客服
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/kefu/add',this.addChat).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                      this.dialogVisible1 = false;
                      this.$message('添加客服成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                   this.$message.error(res.msg);
                }
                 this.isAdd = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isAdd = false;
            });
           } else {
             this.isAdd = false;
             return false;
           }
         });
    },
    // 修改客服
  	editForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
	         	this.$http.post('/kefu/update',this.updateForm).then((response) => {
	         	    // 响应成功回调
	         	    const res = response.body
	         	    console.log(res);
	         	    if (res.code==200) {
                  if(res.data.success){
                   this.dialogVisible2 = false;
                   this.$message('修改成功');
                   this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	         	    } else {
	         	        this.$message.error(res.msg);
	         	    }
                this.isEdit = false;
	         	}, (response) => {
	         	    this.$message.error('出错了:' + response);
                this.isEdit = false;
	         	});

	         } else {
            this.isEdit = false;
	           return false;
	         }

	       });
  	},
  	handleAddForm(form){
		this.dialogVisible1 = true;
		    if (this.$refs[form]) {
          this.$refs[form].resetFields();
        }
        this.picArray = [];
  	},
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum = 1;
      this.getList();
    },
    reset(form){
     this.$refs[form].resetFields();
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 编辑
    handleEdit(row){
    	this.dialogVisible2 = true;
      if (this.$refs['updateForm']) {
        this.$refs['updateForm'].resetFields();
      }
      this.updateForm.id = row.id_;
      this.updateForm.version = row.version;
      this.updateForm.kefuName = row.kefuName;
      this.updateForm.wxCode = row.wxCode;
      this.updateForm.phone = row.phone;
      this.updateForm.status = row.status;
      this.updateForm.telephone = row.telephone;
      if(row.wxUrl){
        this.updateForm.wxUrl = row.wxUrl;
        this.picArray = [{name:'kefu',url:this.baseHost+row.wxUrl}]
      }else{
        this.picArray = [];
      }
       },
         // 删除
    handleDelete(row) {
       this.$confirm('确认删除')
         .then(_ => {
           this.$http.post('/kefu/delete', {id: row.id_,
               version:row.version}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);
               if (res.code==200) {
                if(res.data.success){
                  this.$message('删除成功');
                  this.getList();
                }else{
                  this.$message(res.data.message);
                }
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
         })
         .catch(_ => {});
         },
    handleDisable(row, status) {
	     this.$confirm('确认操作该客服?')
	       .then(_ => {
	         this.$http.post('/kefu/disable', {id:row.id_, version:row.version, status:status}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
             console.log(val)
         },
         getPageNum (val) {
             this.pageNum = val;
             console.log(val)
         },
         // 初始表单
         getList(){
             this.$http.post('/kefu/read/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize,kefuName:this.queryStr.kefuName,status:this.queryStr.status}).then((response) => {
                 // 响应成功回调
                 const res =  response.body;
                 if (res.code==200) {
                  this.tableData = res.data.records;
                  this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
             console.log('this is getList');
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>




