<template>
  <div class="container__main">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/cus/triplist'}">定制行程管理</el-breadcrumb-item>
        <el-breadcrumb-item>定制路线</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class=" clearfix custom-mod__1200" v-loading.body="hasTrips">
      <el-tabs v-if="tripDays.length>0" type="border-card">
        <el-tab-pane label="标题封面">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <el-card class="box-card">
                <el-form   ref="search" :model="custom">
                  <el-form-item label="" prop="tripImg">
                    <upload :fileList="picArray" class="trip-banner"  :isSingle="true" :getPolicyUrl="'/customizationTrip/getPolicy'" @change="getUploadAdd"></upload>
                    <p style="margin:0; padding:0; text-align:center;color:#ccc; ">点击上面区域上传、更新封面图</p>
                  </el-form-item>
                  <el-form-item label="" prop="tripTitle">
                    <el-input v-model="custom.tripTitle" placeholder="玩法名称"></el-input>
                  </el-form-item>

                  <el-form-item label="" prop="tripFeature">
                  <v-editor
                    :content="content.tripFeature"
                    path=""
                    v-model="custom.tripFeature">
                  </v-editor>
                  </el-form-item>
                  <p style="margin:0 0 30px; padding:0; text-align:center;color:#ccc; ">描述行程特色，300字</p>
                  <el-form-item style="text-align: center">
                    <el-button type="success" @click="updateCustom">保存信息</el-button>
                  </el-form-item>

                </el-form>
              </el-card>

            </el-col>
          </el-row>

        </el-tab-pane>
        <el-tab-pane>
          <span slot="label"><i class="el-icon-date"></i> 日程安排</span>
          <el-row class="tripList__mod" :gutter="20">
            <el-col :span="4">
              <h3 class="custom-mod-title">行程总览</h3>
              <ul class="custom-city-list">
                <li v-bind:class="[activeTrip==key? 'cur':'']" v-for="(item,key) in tripDays" :key="key" >
                  <div class="city-info__list" @click="activeThis(key)">
                    <b>day {{key+1}}</b>
                    <span class="custom-city__small fontsize__small">
                    <template v-if="item.citys.length>0" v-for="city in item.citys">{{city.area}}</template>
                    <template  v-if="item.citys.length==0">暂无城市</template>
                  </span>
                    <p class="fontsize__small">{{item.date}} {{item.date | weekCN}}</p>
                    <i class="el-icon-arrow-down"></i>
                  </div>
                  <div class="add__days">
                    <p @click="beforeAdd(key)"><i class="iconfont icon-jia-round"></i>在之前插入一天</p>
                    <p @click="afterAdd(key)"><i class="iconfont icon-jia-round"></i>在之后插入一天</p>
                    <i @click="removeDays(key)" v-if="tripDays.length>1" class="iconfont icon-del-round"></i>
                  </div>
                </li>
              </ul>
              <el-button :plain="true" type="info" style="width: 100%; margin-top: 20px;" @click="addNewDay">
                <span class="el-icon-plus"></span> 增加一天
              </el-button>
              <el-button type="success" style="width: 100%; margin-top: 10px; margin-left:0" @click="saveTripDays">保存行程</el-button>

            </el-col>
            <el-col :span="7">
              <h3>日程安排</h3>
              <el-card class="box-card">
                <div class="add-city__header">
                  <span v-if="tripDays[activeTrip].citys.length==0">暂无城市</span>
                  <el-breadcrumb separator=">" v-if="tripDays[activeTrip].citys.length>0">

                    <el-breadcrumb-item v-for="(item,key) in tripDays[activeTrip].citys" :key="key">{{item.area}}<i @click="removeCity(key)" class="iconfont icon-jian"></i></el-breadcrumb-item>
                  </el-breadcrumb>
                  <el-button type="primary" size="small" @click="cityVisible = true"><i class="iconfont icon-jia-round"></i> 城市</el-button>
                </div>
                <template v-if="tripDays[activeTrip].sites.length>0">


                <div v-for="(item, key) in tripDays[activeTrip].sites" :key="key" :class="['schedule__item',item.siteInfo==currentSite.siteInfo && item.startTime == currentSite.startTime? 'cur':'']">
                  <div class="header">
                    <span class="title">第{{key+1}}站</span>
                    <span class="title">{{item.siteInfo.siteTitle}}</span>
                    <span class="title">{{item.startTime}}</span>
                  </div>
                  <div class="content">
                    <div class="label">
                      包含项目
                    </div>
                    <ul class="projects">
                      <li v-for="(projectItem, subKey) in item.projects" :key="subKey"><p>{{projectItem.itemTitle}}</p><i @click="removeProject(key,subKey)" class="iconfont icon-jian"></i></li>
                      <li><el-button @click="searchProjects(item)" type="default" size="mini" icon="plus">增加项目</el-button></li>
                    </ul>
                  </div>
                  <div class="foot">
                    <i class="iconfont icon-del-round" @click="removeSite(key)"></i>
                    <i v-if="key===tripDays[activeTrip].sites.length-1" class="iconfont icon-jt-down"  style="color:#ccc; cursor: not-allowed"></i>
                    <i v-if="key!==tripDays[activeTrip].sites.length-1" @click="siteSort(key,'down')" class="iconfont icon-jt-down"></i>
                    <i v-if="key===0" class="iconfont icon-jt-up" style="color:#ccc;cursor: not-allowed"></i>
                    <i v-if="key!=0" @click="siteSort(key,'up')" class="iconfont icon-jt-up"></i>
                  </div>
                </div>
                </template>
                <p v-else class="empty-msg">当天尚无任何安排</p>
              </el-card>
            </el-col>
            <el-col :span="7">

              <h3>站点添加</h3>
              <el-card class="box-card">
                <P style="margin:-10px 0 10px;">按城市选站点</P>
                <template v-if="tripDays[activeTrip].citys.length>0">
                  <el-radio-group v-model="city" size="small" @change="getSiteType">
                    <el-radio-button v-for="(item,key) in tripDays[activeTrip].citys" :key="key" :label="item.code" >{{item.area}}</el-radio-button>
                  </el-radio-group>
                </template>
                <span v-if="tripDays[activeTrip].citys==0">暂无城市，请从左栏添加城市</span>
                <div>


                  <P>按类型筛选</P>
                  <el-row>
                    <el-radio-group v-model="sitePage.typeId" @change="showSite" style="width: 100%">
                      <el-col :span="6" v-for="(item,key) in siteTypeArr" :key="key">
                        <el-radio  :label="item.id_">{{item.sortName}}</el-radio>
                      </el-col>
                    </el-radio-group>

                  </el-row>
                  <div  v-loading.body="siteLoading" >
                  <template v-if="sites.length>0">

                    <ul class="site-item__m"  >
                      <li v-for="(siteItem, subkey) in sites" @click="openSiteTime(siteItem)" :key="subkey">
                        <img :src="baseHost+siteItem.image" alt="">
                        {{siteItem.siteTitle}}
                        <i class="iconfont icon-jia"></i>
                      </li>
                    </ul>
                    <el-button v-if="sitePage.pages >= sitePage.pageNum" :plain="true" type="info" @click="getSites">加载更多</el-button>

                  </template>
                  <template v-else>
                    <div class="empty-msg">
                      该城市暂无站点
                    </div>
                  </template>
                  </div>
                </div>


              </el-card>
            </el-col>
            <el-col :span="6">
              <h3>站点项目</h3>
              <el-card class="box-card"  v-loading.body="projectLoading">
                <ul class="project-item__m" v-if="projects.length>0">
                  <li v-for="(item,key) in projects" :key="key">
                    <a href="javascript:void(0)">
                      {{item.itemTitle}}

                    </a>
                    <i class="iconfont icon-jia" @click="addProject(item)"></i>
                  </li>
                </ul>
                <p v-else class="empty-msg">当前站点无相关项目可选</p>
              </el-card>
            </el-col>
          </el-row>

        </el-tab-pane>
        <el-tab-pane label="预订清单">
          <div  style="margin-bottom:20px; text-align: right;">
            <el-button v-on:click="openBillDialog" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加商品</el-button>
          </div>
          <p style="font-size:20px;">已经添加商品列表</p>
          <el-table
            :data="billList.price"
            height="450"
            v-loading.body="tableLoading"
            border
            style="width: 100%">
            <el-table-column
              prop="productTitle"
              label="商品名称"
              width="180">
            </el-table-column>
            <el-table-column
              prop="productPrice"
              label="单价"
              width="180">
            </el-table-column>
            <el-table-column
              prop="productSize"
              label="数量">
            </el-table-column>
            <el-table-column
              prop="count"
              label="合计">
            </el-table-column>
            <el-table-column
              label="操作"
              fixed="right"
              width="250">
              <template slot-scope="scope">
                  <el-button
                    size="small"
                    type="primary"
                  @click="todoUpdateBill(scope.row)">
                    <i class="fa fa-edit" aria-hidden="true"></i> 编辑
                  </el-button>

                <el-button
                  size="small"
                  type="danger"
                  @click="deleteBill(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <div style="font-size:24px;">费用总计:<span class="price">{{billList.sum}}</span></div>
        </el-tab-pane>
        <el-tab-pane label="分享导出">
          <el-button @click="getWXLink" :plain="true" type="success">生成微信链接</el-button>
          <el-button @click="getQRCode" :plain="true" type="success">生成微信二维码</el-button>
          <div style="text-align: center; margin:30px 0;">
            <span  v-if="wxShareLink" >请复制地址到微信打开</span>
            <span  v-if="wxShareQRCode" >请使用【微信】扫描二维码</span>
          </div>

          <p v-if="wxShareLink" style="text-align: center; margin:20px 0;">{{wxShareLink}}</p>
          <p v-if="wxShareQRCode" style="text-align: center; margin:20px 0;">
            <img style="width:200px;" :src="wxShareQRCode" alt="">
          </p>

        </el-tab-pane>

      </el-tabs>



      </div>


    <!-- 选站点的时候选择时间点 -->
    <el-dialog
      title="请选择出发时间"
      :visible.sync="siteTimeFlag"
      size="tiny"
      :before-close="closeSiteTime">
      <el-time-select
        v-model="siteTime"
        :picker-options="{
          start: '00:00',
          step: '00:15',
          end: '24:00'
        //selectableRange: '00:30:00 - 24:00:00'
    }"
        placeholder="请选择出发时间">
      </el-time-select>
      <span slot="footer" class="dialog-footer">
    <el-button @click="closeSiteTime">取 消</el-button>
    <el-button type="primary" @click="addSite">确 定</el-button>
  </span>
    </el-dialog>



    <!-- 选择城市 -->
    <el-dialog title="选择城市" size="tiny" :visible.sync="cityVisible">
      <el-cascader
        :options="allCity"
        v-model="addCityArr"
        :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
        filterable
        @change="getAddCity"
        :clearable = true
      >
      </el-cascader>
    </el-dialog>



    <!-- 添加报价 -->
    <el-dialog title="添加商品" size="tiny" :visible.sync="billAddDialog" :before-close="closeBillDialog">
      <el-form :model="billAdd"  :rules="rules" ref="billAddForm" label-width="80px" >
        <el-form-item label="商品名称" prop="productTitle">
          <el-input v-model="billAdd.productTitle" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="商品单价" prop="productPrice">
          <el-input v-model.number="billAdd.productPrice" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="预定数量"  prop="productSize">
          <el-input-number v-model="billAdd.productSize" :step="1" :min="1" :max="9999"></el-input-number>
        </el-form-item>
        <el-form-item label="备注" >
          <el-input type="textarea" v-model="billAdd.remark"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeBillDialog">取 消</el-button>
        <el-button type="primary" @click="addBill" >确 定</el-button>
      </div>
    </el-dialog>

</div>
</template>
<script>
  import moment from 'moment';
  import Upload from '../Upload.vue'
  import Editor from '../../components/Editor'
  import Page from "../Page";

  export default {
    data () {

      var checkPrice = (rule, value, callback) => {  //邮箱校验
        var reg = this.priceReg;
        if(value){
          if (reg.test(value)) {
            callback();
          } else {
            callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
          }
        }else{
          callback()
        }
      };
      return {

        rules: {
          productTitle: [
            {required: true, message: '请输入商品标题'},
          ],

          productPrice: [
            {type: 'number',required: true, message: '请选择商品单价'},
            {validator: checkPrice}
          ],

          productSize: [
            {required: true, message: '请输入数量'},
          ],
        },
        hasTrips:false,
        isAdd:true,
        billAddDialog:false,
        billList:{},
        wxShareLink:'',
        wxShareQRCode:'',
        billAdd:{
          id:'',
          tripId:this.$route.query.customId,
          productTitle:'',
          productPrice:0,
          productSize:1,
          remark:'',
        },

        content: {
          tripSign:''
        },

        custom:null,

        projectLoading:false,
        siteLoading:false,
        picArray:[],
        addCityArr:[],
        chooseDays:null,
        allCity:[],
        tripDays:[],
        postTrip:[],
        cityVisible:false,
        siteTimeFlag:false,
        activeTrip:'',
        city:'', //右侧选择站点时的城市code码
        sites:[], //当前城市站点
        projects:[],  //当前站点项目
        siteTypeArr:[],
        siteTime:'', //站点出发间
        sitePage:{
          typeId:'',
          pageNum:1,
          pageSize:10,
          current:1,
          pages:1,

        },
        nowSite:null, // 点击选择站点时赋值
        currentSite:{ //当前激活的站点信息
          siteInfo:null,
          startTime:'',
          cityCode:'',
          projects:[],
        }
      }
    },
    components: {
      Page,
      Upload,
      'v-editor': Editor,
    },
    computed: {
      priceReg () {
        return this.$store.state.priceReg;
      },
      baseHost () {
        return this.$store.state.host;
      },
    },
    filters: {
      weekCN (val){
        let week = moment(val).day();
        let week_cn='';
        switch (week){
          case 1:
            week_cn = '星期一';
            break;
          case 2:
            week_cn = '星期二';
            break;
          case 3:
            week_cn = '星期三';
            break;
          case 4:
            week_cn = '星期四';
            break;
          case 5:
            week_cn = '星期五';
            break;
          case 6:
            week_cn = '星期六';
            break;
          case 0:
            week_cn = '星期天';
            break;

        }

        return week_cn
      }
    },
    created (){
      //this.chooseDays = JSON.parse(this.$route.query.data);
      //console.log(this.$route.query.data)
      this.getAllCity();
      this.queryCustom();
      this.getBillList();
    },
    watch: {
      nowSite: {  //当前站点变动，最右侧的项目也要清空
        deep: true,
        handler: function (val,oldVal) {
          this.projects = [];
        }

      },

      /*chooseDays:{
        deep: true,
        handler: function (val, oldVal) {
        }
      },*/
      activeTrip: {
        deep: true,
        handler:function (val, oldVal) {
          console.log('当前日程有变化-索引')
          //if(val!==oldVal){
            //清空站点 站点项目
            this.sitePage.pageNum =1;
            this.sitePage.pageSize =10;
            this.sitePage.current =1;
            this.sitePage.pages =1;
            this.sites=[];
            this.siteTypeArr = [];
            this.city='';
            this.sitePage.typeId = '';
            this.currentSite.siteInfo = null;
            this.currentSite.startTime = '';

            //console.log(this.tripDays[val])
            if(this.tripDays[val].citys.length>0){ //新增天数和前插入和后插入这时候是没有城市的
              this.city=this.tripDays[val].citys[0].code;
              console.log(this.city)
              this.getSiteType();

            }else{

            }



         // }
        }
      }
    },


    methods:{

      getWXLink (){
        this.wxShareLink=''
        this.wxShareQRCode=''
        this.$http.post('/customizationTrip/shareWx', {id: this.billAdd.tripId}).then((response) => {
          let res = response.body;
          if(res.code==200){
            this.wxShareLink=res.data
          }

        }, (response) => {
          // 响应错误回调

          this.$message('出错了:' + response);
        });

      },

      getQRCode (){
        this.wxShareLink=''
        this.wxShareQRCode=''
        this.wxShareQRCode ='/customizationTrip/shareQRCode?id='+this.billAdd.tripId+'&qrCodeSize=900';
      },


      //站点顺序
      siteSort(index,type){
        let _site = JSON.parse(JSON.stringify(this.tripDays[this.activeTrip].sites[index]));
        this.tripDays[this.activeTrip].sites.splice(index,1)
        if(type=='up'){
          this.tripDays[this.activeTrip].sites.splice(index-1,0,_site)
        }else {
          this.tripDays[this.activeTrip].sites.splice(index+1,0,_site)
        }

      },

      deleteBill (row){
        this.$http.post('/customizationTrip/deletePrice', {id: row.id_,tripId:this.$route.query.customId}).then((response) => {
          let res = response.body;
          if(res.code==200){
            this.$message.success('操作成功');
            this.getBillList()
          }

        }, (response) => {
          // 响应错误回调
          this.tableLoading = false;

          this.$message('出错了:' + response);
        });
      },

      todoUpdateBill (row){
        this.isAdd = false;
        this.billAddDialog = true;
        this.billAdd.productTitle = row.productTitle;
        this.billAdd.productPrice = row.productPrice;
        this.billAdd.productSize = row.productSize;
        this.billAdd.remark = row.remark;
        this.$set(this.billAdd, 'id', row.id_)
      },

      addBill (){

        this.$refs['billAddForm'].validate((valid) => {
          if (valid) {

            let url = '/customizationTrip/insertPrice'

            if(this.isAdd){
              url = '/customizationTrip/insertPrice'
            }else{
              url = '/customizationTrip/updatePrice'
            }

            this.$http.post(url, this.billAdd).then((response) => {
              let res = response.body;
              if(res.code==200){
                this.$message.success('操作成功');
                this.closeBillDialog()
                this.getBillList()
              }

            }, (response) => {
              // 响应错误回调
              this.tableLoading = false;

              this.$message('出错了:' + response);
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },

      openBillDialog (){
         this.billAddDialog = true;
      },

      closeBillDialog (done){
        this.billAddDialog = false;
        this.isAdd = true;
        delete this.billAdd.id
        this.resetForm('billAddForm');
        this.billAdd.productTitle = '';
        this.billAdd.productPrice = 0;
        this.billAdd.productSize = 1;
        this.billAdd.remark = ''
      },



      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },


      getBillList () {  //获取报价清单列表
        this.tableLoading = true;

        this.$http.post('/customizationTrip/queryPriceInfo', {
          id: this.$route.query.customId,
        }).then((response) => {
          this.tableLoading = false;
          let res = response.body;
          if(res.code==200){
            this.billList = res.data;
          }

        }, (response) => {
          // 响应错误回调
          this.tableLoading = false;

          this.$message('出错了:' + response);
        });




      },


      removeProject (k,sk){
        console.log(`${k}和${sk}`)
        this.tripDays[this.activeTrip].sites[k].projects.splice(sk,1)

      },

      removeDays(index){
        this.tripDays.splice(index,1);

        for(let i=0; i< this.tripDays.length; i++){
          let _this = this;
          (function (_i) {
            let item = _this.tripDays[_i];
            if(_i>=index){
              item.date = moment(new Date(item.date).getTime()-60*60*1000*24).format('YYYY/MM/DD');
            }
          })(i)


        }
        if(index!=0){
          this.activeTrip = index-1
        }else{

        }
      },

      addNewDay (){
        let varData = JSON.parse(JSON.stringify(this.tripDays[this.tripDays.length-1]))

        let addNewDay = {
          date:moment(new Date(varData.date).getTime()+60*60*1000*24).format('YYYY/MM/DD'),
          citys:[],
          sites:[],
        }

        this.tripDays.push(addNewDay);
        this.activeTrip=this.tripDays.length-1;

      },

      beforeAdd (index){ //在之前插入一天
        let varData = JSON.parse(JSON.stringify(this.tripDays[index]))
        console.log(varData)
        let addNewDay = {
          date:varData.date,
          citys:[],
          sites:[],
        }
        this.tripDays.splice(index,0,addNewDay);
        for(let i=0; i< this.tripDays.length; i++){
          let _this = this;
          (function (_i) {
            let item = _this.tripDays[_i];
            if(_i>index){
              item.date = moment(new Date(item.date).getTime()+60*60*1000*24).format('YYYY/MM/DD');
            }
          })(i)


        }
        this.activeTrip = '';
        this.activeTrip=index;
      },
      afterAdd (index){ //在之后插入一天
        console.log(index)

        let varData = JSON.parse(JSON.stringify(this.tripDays[index]))
        console.log(varData)
        let addNewDay = {
          date:moment(new Date(varData.date).getTime()+60*60*1000*24).format('YYYY/MM/DD'),
          citys:[],
          sites:[],
        }
        this.tripDays.splice(index+1,0,addNewDay);
        for(let i=0; i< this.tripDays.length; i++){
          let _this = this;
          (function (_i) {
            let item = _this.tripDays[_i];
            if(_i>(index+1)){
              item.date = moment(new Date(item.date).getTime()+60*60*1000*24).format('YYYY/MM/DD');
            }
          })(i)

        }
        this.activeTrip = index+1;

      },


      saveTripDays(){
        this.beTrip();
        this.updateCustom()
      },

      //封装提交到后端的日程数据,数据格式参考:https://gitee.com/hinong/codes/4pse5lbau9gzqh28w0ktm97
      beTrip (){
        this.postTrip=[];
        for (let day of this.tripDays){
          let dayData = {};
          dayData.date = day.date;
          dayData.citys = [];
          dayData.sites = [];
          for(let city of day.citys){ //城市数组
            dayData.citys.push({code: city.code});
          }

          for(let site of day.sites){
            let siteObj = {}; //站点对象
            //let projectArr = [];

            siteObj.startTime = site.startTime;
            siteObj.siteInfo={}
            siteObj.siteInfo.siteNo = site.siteInfo.siteNo;
            siteObj.cityCode = site.cityCode;
            siteObj.projects = [];

            for(let project of site.projects){ //站点项目数组
              siteObj.projects.push({"itemNo":project.itemNo})
            }
            dayData.sites.push(siteObj)

          }

          this.postTrip.push(dayData);

        }

        //this.postTrip
        console.log(this.postTrip)
      },

      updateCustom (){
        this.$http.post('/customizationTrip/update', {
          id:this.custom.strId,
          tripTitle:this.custom.tripTitle,
          tripFeature:this.custom.tripFeature,
          tripImg:this.custom.tripImg,
          routeInfo:JSON.stringify(this.postTrip),
          beginCityCode:this.custom.beginCityCode,
          endCityCode:this.custom.endCityCode,
          beginTime:moment(this.postTrip[0].date).format('YYYY/MM/DD'),
          endTime:moment(this.postTrip[this.postTrip.length-1].date).format('YYYY/MM/DD'),
        }).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.$message.success('信息更新成功');

          } else {
            this.$message.error(res.msg);
          }
          this.projectLoading = false;

        }, (response) => {
          // 响应错误回调
          this.projectLoading = false;
          this.$message('出错了:' + response);
        });
      },

  getUploadAdd (val){
    console.log(val)
    this.custom.tripImg = val;
  },


  searchProjects (obj){ //在站点地方查询增加项目
        console.log(obj)
        this.currentSite = null;
        this.currentSite = JSON.parse(JSON.stringify(obj)); //当前激活项目
        this.getSiteProject({date:this.tripDays[this.activeTrip].date+' '+obj.startTime+':00',siteNo:obj.siteInfo.siteNo});

      },

      removeCity (index){  //删除城市的同时也要将属于该城市站点删除
        let cityCode = this.tripDays[this.activeTrip].citys[index].code;
        this.tripDays[this.activeTrip].citys.splice(index,1)  //删除城市
        for(let i=0; i < this.tripDays[this.activeTrip].sites.length; i++){
          let item=this.tripDays[this.activeTrip].sites[i];
          if(item.cityCode===cityCode){
            this.tripDays[this.activeTrip].sites.splice(i,1)
            i--
          }
        }
        //删除
        console.log(this.city)

        if(cityCode == this.city){//删除当前城市的站点类型 站点列表  项目列表
          console.log('aaa')
          this.city ='';
          if(this.tripDays[this.activeTrip].citys.length>0){
            this.city=this.tripDays[this.activeTrip].citys[0].code;
          }
          console.log(this.city)
        }

      },

      addProject (obj){
        for(let i = 0; i < this.tripDays[this.activeTrip].sites.length; i++){
          let item=this.tripDays[this.activeTrip].sites[i];
          if(item.siteInfo.siteNo===this.currentSite.siteInfo.siteNo && item.startTime ===this.currentSite.startTime ){
            this.tripDays[this.activeTrip].sites[i].projects.push(obj);
            break;
          }
        }



        console.log(obj);
        console.log(this.tripDays);
        console.log(JSON.stringify(this.tripDays));
      },

      getSiteProject (pos){
        this.projectLoading = true;
        this.$http.post('/customizationTrip/addItemUI', pos).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.projects=res.data
          } else {
            this.$message.error(res.msg);
          }
          this.projectLoading = false;

        }, (response) => {
          // 响应错误回调
          this.projectLoading = false;
          this.$message('出错了:' + response);
        });
      },

      removeSite (index){
        console.log(this.tripDays[this.activeTrip].sites)
        this.tripDays[this.activeTrip].sites.splice(index,1)
      },

      addSite (){//将站点添加到trip数组
        let siteObj = this.nowSite;
        if(this.siteTime){
          //关闭时间选择窗口
          this.closeSiteTime();

          this.tripDays[this.activeTrip].sites.push({
            startTime:this.siteTime,
            siteInfo:siteObj,
            cityCode:this.city,
            projects:[],
          });

          console.log(this.tripDays[this.activeTrip])

          this.$set(this.currentSite, 'siteInfo', siteObj)
          this.$set(this.currentSite, 'cityCode', this.city)
          this.$set(this.currentSite, 'startTime', this.siteTime)
          this.$set(this.currentSite, 'projects', [])

          this.getSiteProject({date:this.tripDays[this.activeTrip].date+' '+this.siteTime+':00',siteNo:siteObj.siteNo});
        }else{
          this.$message({
            message: '请选择出发时间点',
            type: 'warning'
          });
        }




        console.log(this.tripDays[this.activeTrip])
      },

      closeSiteTime (done){
        this.siteTimeFlag = false;
      },

      openSiteTime (obj){
        this.siteTimeFlag = true;
        this.nowSite = obj;
       // this.addSite(obj)
      },

      showSite(index){
       // this.siteType = index;
        //初始化分页
        this.sitePage.pageNum =1;
        this.sitePage.pageSize =10;
        this.sitePage.current =1;
        this.sitePage.pages =1;
        this.sites=[];

        console.log(this.sitePage.typeId)
        if(this.sitePage.typeId){
          this.getSites()
        }
      },

      getSiteType (city){
        this.sitePage.typeId=''; //清除站点已选类型，避免同一个城市造成不刷新请求站点
        //初始化分页
        this.sitePage.pageNum =1;
        this.sitePage.pageSize =10;
        this.sitePage.current =1;
        this.sitePage.pages =1;
        this.sites=[];
        this.siteTypeArr=[];
        let areaCode = city || this.city;
        this.$http.post('/customizationTrip/read/siteSort', {area:areaCode}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            if(res.data.length>0){
              this.siteTypeArr=res.data
              this.$set(this.sitePage,'typeId',this.siteTypeArr[0].id_)
              console.log(this.sitePage.typeId);
            }else{
              this.$set(this.sitePage,'typeId','')
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },


      getSites (){  //根据地区获取站点
        this.siteLoading= true;
        let areaCode =  this.city;
        console.log(this.city)
        console.log(areaCode)
        this.$http.post('/customizationTrip/read/site', {area:areaCode,id:this.sitePage.typeId,pageNum:this.sitePage.pageNum,pageSize:this.sitePage.pageSize}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.sitePage.pageNum+=1;

            this.sites=this.sites.concat(res.data.records);
            this.sitePage.current = res.data.current;
            this.sitePage.pages = res.data.pages;
            console.log(this.sites)
          } else {
            this.$message.error(res.msg);
          }
          this.siteLoading= false;
        }, (response) => {
          // 响应错误回调
          this.siteLoading= false;
          this.$message('出错了:' + response);
        });

      },

      activeThis (index){
        console.log(`索引${index},第${index+1}天`);
        this.activeTrip=index; //设置激活索引
      },

      getAddCity (val,value){
        let checkAreaArr = val[val.length-1];
        if(checkAreaArr){//只要最后  不要省
          let nowCity = this.formatterArea(checkAreaArr)
          console.log(nowCity)
          //将当前选择的城市添加到激活状态的日程中
          let nowTrip = this.tripDays[this.activeTrip];
          let hasCity = false;  //是否已经存在城市
          for (let item of nowTrip.citys){
            if(item.code=== nowCity.code){
              hasCity = true;
            }
          }

          //如果未存在城市，push添加
          if(!hasCity){
            nowTrip.citys.push(nowCity);
            this.city = nowCity.code;
          }

          this.getSiteType()

          this.cityVisible =false;
          this.addCityArr=[]


          // this.postData.endCity = checkAreaArr;
        }else{
         // this.postData.endCity = '';
        }
      },

      formatterArea(code){
        for (let argument of this.allCity) {
          for (let item of argument.list) {
            if (item.code == code) {
              return item;
            }
          }
        }


      },

      queryCustom (_id){
        this.hasTrips = true;

        let customID = _id || this.$route.query.customId;

        this.$http.post('/customizationTrip/read/queryById', {id:customID}).then((response) => {
          // 响应成功回调
          const res = response.body;
          //console.log(res);
          if (res.code==200) {
            this.custom =res.data;
            this.tripDays = this.custom.route;
            //this.content.tripFeature = this.custom.tripFeature
            let _this = this;
            setTimeout(function () {
              _this.$set(_this.content,'tripFeature',_this.custom.tripFeature);

            },0);

            console.log(this.content.tripFeature)
            this.beTrip();
            this.activeTrip = 0;
            //图片
            if(this.custom.tripImg){
              this.picArray = [{name: 'tripImg', url:this.baseHost+this.custom.tripImg}]

            }

            console.log(this.tripDays)

          } else {
            this.$message.error(res.msg);
          }
          this.hasTrips = false;
        }, (response) => {
          // 响应错误回调
          this.hasTrips = false;

          this.$message('出错了:' + response);
        });
      },

      getAllCity (){

        this.$http.post('/area/read/allCity', {}).then((response) => {
          // 响应成功回调
          const res = response.body;
          //console.log(res);
          if (res.code==200) {
            this.allCity = res.data;
          //  console.log(this.allCity)
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      todoDays (){
        let data = this.chooseDays;
        let nowTime = new Date(data.startTime).getTime();
        //console.log(nowTime)
        for(let item of data.goCity){
          for(let k=0; k<item.days; k++){
            nowTime+=60*60*24*1000;
            let week = moment(nowTime).day();
            let weekCN='';
            switch (week){
              case 1:
                weekCN = '星期一';
                break;
              case 2:
                weekCN = '星期二';
                break;
              case 3:
                weekCN = '星期三';
                break;
              case 4:
                weekCN = '星期四';
                break;
              case 5:
                weekCN = '星期五';
                break;
              case 6:
                weekCN = '星期六';
                break;
              case 0:
                weekCN = '星期天';
                break;

            }

            //delete item.days;

            this.tripDays.push({
              date:moment(nowTime).format('YYYY/MM/DD'),
              week: weekCN,
              citys:[
                item
              ],
              sites:[]
            });
          }


        }
        this.activeTrip = 0;

        console.log(this.tripDays);

      }
    }
  }

</script>
<style scoped lang="scss" rel="stylesheet/scss">
  .list-todo__top{
    font-size: 14px;
  }

  .custom-city-list{
    padding:0;
    margin:0;
    height: 580px;
    overflow-y:auto;
    li{
      margin:2px 0;
      list-style:none;
      border:1px solid #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &.cur{
        border-color:#f7ba2a;
        .add__days{
          position: relative;
          display: block;
          padding-right: 30px;
          .icon-del-round{
            position: absolute;
            right:5px;
            top:50%;
            margin-top:-10px;
            font-size: 30px;
            color:#ff4949;
            cursor: pointer;

          }
        }
        .city-info__list{

          border-radius:3px 3px 0 0;
          background:#f7ba2a;

        }
      }
      .city-info__list{
        position: relative;
        padding:5px;
        color:#fff;
        background: #AEC1D8;
        border-radius: 3px;

        b{
          font-size: 20px;
        }
        .custom-city__small{
          float: right;
        }
        i{
          position: absolute;
          right:10px;
          bottom:10px;
        }

      }
      .add__days{
        display: none;
        padding:5px;
        p{
          margin:0;
          padding:3px 0;
          i{
            cursor: pointer;
            margin-right: 5px;
            transform: rotate(45deg);
          }
        }
      }

    }
  }

  .fontsize__small{
    font-size: 12px;
  }

  .custom-mod__1200{
    min-width: 1200px;
    min-height: 800px;
    .el-tabs{

      .el-card{
      }
    }
  }

  .schedule__item{
    margin-top:10px;
    background:#eee;
    &.cur{

    }
    .header{
      overflow: hidden;
      margin: 0 0 20px 0;
      .title{
        float: left;
        width:33.3%;
        height: 30px;
        line-height: 30px;
        overflow:hidden;
        text-align: center;
        font-size: 16px;
        &:last-child{
          font-size:12px;
        }

      }
    }
    .content{
      padding:0 10px;
      margin-bottom:20px;
      overflow: hidden;
      .label{
        float: left;
        width:80px;
      }
      .projects{
        margin:0;
        margin-left: 90px;
        padding:0;
        li{
          position: relative;
          padding-right: 15px;
          margin:0 0 10px 0;
          list-style: none;
          p{
            width: 100%;
            overflow:hidden;
            font-size: 14px;
            height: 24px;
            margin:0;
            padding:0;
            line-height: 24px;
            text-overflow: ellipsis;
            white-space:nowrap;
          }
          i{
            position:absolute;
            right:5px;
            top:5px;
            color:#FF4949;
            cursor: pointer;
          }
        }
      }
    }
    .foot{
      padding:0 10px;
      overflow: hidden;
      i{
        float: right;
        font-size: 30px;
        margin-left: 5px;
        cursor: pointer;
        &.icon-del-round{
          margin-left: 20px;
          color: #ff4949;
        }
      }
    }
  }
  .add-city__header{
    padding-right: 40px;
    position: relative;
    min-height: 40px;
    button{
      position: absolute;
      right:0;
      top:-5px;
    }
  }

  .site-item__m,.project-item__m{
    margin:0;
    padding:0;
    li{
      list-style: none;
      margin:5px 0;
      line-height: 48px;
      height: 48px;
      padding:5px 40px 5px 5px;
      position: relative;
      background:#eee;
      font-size: 16px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &.cur{
        color:#fff;
        background:#f7ba2a;
      }
      img{
        width:80px;
        height: 48px;
        margin-right: 10px;
        overflow: hidden;
        float: left;
        background:#ddd;
      }
      i{
        position: absolute;
        right:10px;
        top:50%;
        font-size: 24px;
        margin-top:-10px;
        line-height: 1;
      }

    }
  }

  .project-item__m{
    li{
      padding:10px;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
    }
  }

  .empty-msg{
    padding:30px 0;
    text-align: center;
    color:#999;
  }

  .container__main{
    height: 100%;
  }





  </style>
<style lang="scss" rel="stylesheet/scss">
  .trip-banner{
    .el-upload--picture-card{
      width: 100%;
    }
  }
  .tripList__mod{
    height:710px;
    padding-bottom:40px;
    .el-card__body{
      height: 680px;
      overflow-y:auto;
      box-sizing: border-box;
    }
  }
  .custom-mod__1200{
    .el-tabs__content{
      min-height: 750px;
    }
  }
</style>
