<template>
  <div class="container__main">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/cus/triplist'}">定制行程管理</el-breadcrumb-item>
        <el-breadcrumb-item >添加定制-选择城市</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="wkq-custom-mod">
        <div class="wkq-city-list custom-box__short">
          <h3 class="bar-title__center">选择目的地</h3>
          <el-input
            placeholder="搜索目的地城市"
            icon="search"
            v-model="searchCity"
            :on-icon-click="getSearch">
          </el-input>
          <div class="city-mod">
            <template  v-if="!showSearch">
              <div class="wkq-city-list__item">
                <div class="bar">热门城市</div>
                <ul class="city__hot">
                  <li v-for="(item,key) in hotCity" @click="addGoCity(item)"><el-button :plain="true" type="info" size="small">{{item.area}}</el-button></li>
                </ul>
              </div>
              <div class="wkq-city-list__item" v-for="(item,key) in allCity">
                <div class="bar">{{item.area}}</div>
                <ul class="city__all">
                  <li v-for="(subItem,index) in item.list" @click="addGoCity(subItem)"><span>{{subItem.area}}</span></li>
                </ul>
              </div>
            </template>

            <div  v-if="showSearch" class="wkq-city-list__item">
              <div class="bar">
                <el-tag
                  :closable="true"
                  type="warning"
                  @close="removeSearch"
                >
                  {{searchCity}}
                </el-tag>
              </div>
              <ul class="city__all" v-if="queryCity.length>0">
                <li v-for="(subItem,index) in queryCity" @click="addGoCity(subItem)"><span>{{subItem.area}}</span></li>
              </ul>
              <el-alert
                v-if="queryCity.length===0"
                style="margin-top:20px;"
                title="无相关城市"
                type="warning"
                :closable="false"
                show-icon>
              </el-alert>
            </div>
          </div>

        </div>
        <el-card class="box-card custom-box__short">

          <h3 class="bar-title__center">创建路线</h3>

          <div  class="city-mod">
            <el-form ref="form" :rules="rules"  :model="postData">

              <el-form-item label="出发日期" label-width="80px" prop="beginTime">
                <el-date-picker
                  v-model="startTime"
                  type="date"
                  placeholder="出发日期"
                  @change="getStartTime"
                  :picker-options="startTimeOption">
                </el-date-picker>

              </el-form-item>
              <el-form-item label="出发城市" label-width="80px" prop="beginCityCode">
                <el-cascader
                  :options="allCity"
                  v-model="startCityArr"
                  :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                  filterable
                  @change="getStartCity"
                  :clearable = true
                >
                </el-cascader>
              </el-form-item>
              <el-form-item label="目的城市" label-width="80px" prop="goCity">
                <div class="" v-show="postData.goCity.length>0" v-for="(item,key) in postData.goCity" :key="key">
                  <el-tag
                    :key="item.code"
                    :closable="true"
                    :close-transition="true"
                    type=""
                    @close="removeGoCity(key)"
                  >
                    {{item.area}}
                  </el-tag>
                  <el-input-number size="small" :min="1" :step="1" v-model="item.days"></el-input-number>
                  天
                </div>
                  <el-tag v-show="postData.goCity.length==0" type="warning">暂无目的城市，请从左边选取</el-tag>


              </el-form-item>
              <el-form-item label="返程日期" label-width="80px" prop="endTime">
                <el-date-picker
                  v-model="endTime"
                  type="date"
                  placeholder="返程日期"
                  @change="getEndTime"
                  :picker-options="endTimeOption">
                </el-date-picker>

              </el-form-item>
              <el-form-item label="返程城市" label-width="80px" prop="endCityCode">
                <el-cascader
                  :options="allCity"
                  v-model="endCityArr"
                  :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                  filterable
                  @change="getEndCity"
                  :clearable = true
                >
                </el-cascader>
              </el-form-item>
            </el-form>
          </div>
          <el-button type="primary" @click="nextSubmit" style="width:100%;">下一步</el-button>

        </el-card>


      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  export default {

    data (){
      return {
        num1:1,
        searchCity:'',
        showSearch: false,
        queryCity:[],
        allCity:[],
        hotCity:[],
        startCityArr:[],
        endCityArr:[],
        startTime:moment().format('YYYY/MM/DD'),
        endTime:moment().format('YYYY/MM/DD'),
        postData:{
          beginCityCode:'',
          endCityCode:'',
          beginTime:moment().format('YYYY/MM/DD'),
          endTime:moment().format('YYYY/MM/DD'),
          goCity:[],
        },
        tripDays:[],
        postTrip:[],
        startTimeOption:{
          disabledDate: time=> {
            return time.getTime() < Date.now() - 8.64e7 ||time.getTime() > new Date(new Date(this.endTime).getTime()-(60*60*1000*24*(this.behideDay-1)));
          }
        },
        endTimeOption:{
          disabledDate : time => {

            let behideTime=0;

            behideTime = new Date(this.startTime).getTime()+(60*60*1000*24*this.behideDay)
            return time.getTime() < new Date(behideTime)
          },

        },
        rules: {
          beginCityCode: [
            {required: true, message: '请选择出发城市'},
          ],

          endCityCode: [
            {required: true, message: '请选择返程城市'},
          ],

          beginTime: [
            {required: true, message: '请选择出发时间'},
          ],

          endTime: [
            {required: true, message: '请选择返程时间'},
          ],
          goCity: [
            {required: true, type:'array',message: '请选择目的城市'},
          ],
        },

      }
    },
    created () {
      this.getAllCity(); //获取全部城市
      this.getHotCity();  //热门城市
    },
    components: {
    },
    watch: {

      startCityArr: {
        deep: true,
        handler: function (val,oldval) {
          if(this.endCityArr.length===0){
            this.endCityArr = val;
            this.getEndCity(this.endCityArr);
          }
        }
      },

      postData: {
        deep: true,
        handler: function (val,oldval) {
          let b_time = new Date(this.startTime).getTime();
          let e_time = new Date(this.endTime).getTime();
          let n_time =b_time+60*60*1000*24*(this.behideDay-1);
          console.log(b_time+60*60*1000*24*(this.behideDay-1))
          console.log(new Date(this.endTime).getTime())
          console.log(new Date(this.startTime).getTime())
          if(e_time< n_time){
            this.endTime = moment(n_time).format('YYYY/MM/DD')
          }
        }

      },

    },
    computed: {
      behideDay (){
        let days=0;
        for(let item of this.postData.goCity){
          console.log(111)
          days+=item.days;
        }

        return days;
      }
    },
    methods: {
      //删除搜索城市
      removeSearch (){
        this.showSearch = false;
        this.searchCity = '';
        this.queryCity = [];
      },

      //封装提交到后端的日程数据,数据格式参考:https://gitee.com/hinong/codes/4pse5lbau9gzqh28w0ktm97
      beTrip (){
        this.postTrip=[];
        for (let day of this.tripDays){
          let dayData = {};
          dayData.date = day.date;
          dayData.citys = [];
          dayData.sites = [];
          for(let city of day.citys){ //城市数组
            dayData.citys.push({code: city.code});
          }

          for(let site of day.sites){
            let siteObj = {}; //站点对象
            //let projectArr = [];

            siteObj.startTime = site.startTime;
            siteObj.siteInfo.siteNo = site.siteInfo.siteNo;
            siteObj.cityCode = site.cityCode;
            siteObj.projects = [];

            for(let project of site.projects){ //站点项目数组
              siteObj.projects.push({"itemNo":project.itemNo})
            }
            dayData.sites.push(siteObj)

          }

          this.postTrip.push(dayData);

        }

        //this.postTrip
        console.log(this.postTrip)
      },


      nextSubmit (){//下一步

        this.$refs['form'].validate((valid) => {
          if (valid) {
            this.todoDays();//整理日程json
            console.log(JSON.stringify(this.tripDays))

            this.beTrip();



            this.$http.post('/customizationTrip/insert', {
              beginCityCode:this.postData.beginCityCode,
              endCityCode:this.postData.endCityCode,
              beginTime:moment(this.postData.beginTime).format('YYYY/MM/DD'),
              endTime :moment(this.postData.endTime).format('YYYY/MM/DD'),
              routeInfo :JSON.stringify(this.postTrip),
            }).then((response) => {
              // 响应成功回调
              const res = response.body;
              console.log(res);
              if (res.code==200) {
                this.$router.push({name:'customadd',query:{customId:res.data.obj}})

              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });


      },

      getStartTime(val){

        if(val){
          this.postData.beginTime = moment(this.startTime).format('YYYY/MM/DD')
        }else{
          this.postData.beginTime ='';

        }
        console.log(val)
      },

      getEndTime (val) {

        if(val){
          this.postData.endTime = moment(this.endTime).format('YYYY/MM/DD')
        }else{
          this.postData.endTime ='';

        }
        console.log(val)
      },

      getStartCity (val){
        let checkAreaArr = val[val.length-1]
        if(checkAreaArr){//只要最后  不要省
          this.postData.beginCityCode   = checkAreaArr;

        }else{
          this.postData.beginCityCode   = '';
        }
      },

      getEndCity (val) {
        let checkAreaArr = val[val.length-1]
        if(checkAreaArr){//只要最后  不要省
          this.postData.endCityCode  = checkAreaArr;
        }else{
          this.postData.endCityCode  = '';
        }
        console.log(this.postData.endCityCode)
      },

      getCityOBJ(code){
        for (let argument of this.allCity) {
          for (let item of argument.list) {
            if (item.code == code) {
              return item;
            }
          }
        }


      },

      getSearch(){

        if(this.searchCity!=''){


          this.$http.post('/area/read/queryCity', {area:this.searchCity}).then((response) => {
            // 响应成功回调
            const res = response.body;
            console.log(res);
            if (res.code==200) {
              this.queryCity = res.data;
              this.showSearch = true;
              console.log(this.queryCity)
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });
        }

      },

      removeGoCity (i){
        this.postData.goCity.splice(i,1);

      },

      addGoCity (obj){
        let city=JSON.parse(JSON.stringify(obj))
       // city.days=1
        this.$set(this.postData,'goCity',this.postData.goCity.concat([city]))
        this.$set(this.postData.goCity[this.postData.goCity.length-1],'days',1)
        console.log(this.postData.goCity)

      },

      getHotCity (){

        this.$http.post('/area/read/hotCity', {}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.hotCity = res.data;
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      getAllCity (){

        this.$http.post('/area/read/allCity', {}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.allCity = res.data;
            console.log(this.allCity)
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },
      todoDays () {
        let data = this.postData.goCity;
        let nowTime = new Date(this.postData.beginTime).getTime() - 60 * 60 * 24 * 1000;
        console.log(nowTime)
        for (let item of data) {
          for (let k = 0; k < item.days; k++) {
              nowTime += 60 * 60 * 24 * 1000;
            let week = moment(nowTime).day();
            let weekCN = '';
            switch (week) {
              case 1:
                weekCN = '星期一';
                break;
              case 2:
                weekCN = '星期二';
                break;
              case 3:
                weekCN = '星期三';
                break;
              case 4:
                weekCN = '星期四';
                break;
              case 5:
                weekCN = '星期五';
                break;
              case 6:
                weekCN = '星期六';
                break;
              case 0:
                weekCN = '星期天';
                break;

            }

            this.tripDays.push({
              date: moment(nowTime).format('YYYY/MM/DD'),
              week: weekCN,
              citys: [
                item
              ],
              sites: []
            });
          }

          console.log(this.tripDays);

        }
      }

    }
  }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";

  .wkq-custom-mod{
    margin-top:30px;
    overflow: hidden;
    .wkq-city-list{
      float: left;
      margin-right: 20px;
    }
    .box-card{
      width: 450px;
      float: left;
    }
  }

  .wkq-city-list__item{
    .bar{
      color:#5D84B3;
      &:after{
        content:"";
        width:100%;
        height: 1px;
        background:#5d84b3;
      }
    }
    ul{
      padding:10px;
      margin:0 0 20px;
      overflow:hidden;
      li{
        list-style:none;
        float: left;
        padding:0 5px ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        button{
          margin:10px 0 0 0;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .city__hot{
    li{
      width: auto;
      max-width: 50%;
    }
  }

  .city__all{
    li{
      width:auto;
      height: 28px;
      margin-top:10px;
      line-height: 28px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      span{
        cursor:pointer;
        display: block;
        width:100%;
        height: 100%;
      }
    }
  }




  .bar-title__center{
    margin:0 0 10px;
    font-size: 14px;
    text-align: center;
  }

  .wkq-city-list{
    width: 300px;
    background: #fff;
    padding:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .city-mod{
    height:500px;
    padding:10px 0;
    overflow-y: auto;
  }

  .custom-box__short{

  }

</style>
