<template>
    <div class="container__main">
      <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/custom/list'}">订制订单管理</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="list-todo__top">
          <div class="todo-btn">
            <el-form :inline="true" ref="search" :model="search" label-width="90px">
              <el-form-item label="订单编号" prop="orderNo">
                <el-input v-model="search.orderNo"></el-input>
              </el-form-item>
              <el-form-item label="联系人" prop="customerName">
                <el-input v-model="search.customerName"></el-input>
              </el-form-item>
              <el-form-item label="联系电话" prop="customerPhone">
                <el-input v-model="search.customerPhone"></el-input>
              </el-form-item>
              <div>
                <el-form-item label="订单状态" prop="orderStatus">
                  <el-select   v-model="search.orderStatus" :clearable="true" filterable placeholder="请选择">
                    <el-option v-for="item in orderStatusArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="定制游类型" prop="customizationTypeId">
                  <el-select v-model="search.customizationTypeId" :clearable="true" filterable placeholder="请选择定制游类型">
                    <el-option v-for="item in typeArray" :key="item.id_" :label="item.customizationName" :value="item.id_"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                  <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                </el-form-item>
              </div>

            </el-form>
          </div>
        </div>
        <el-table
          max-height="600"
          row-key
          v-loading="tableLoading"
          element-loading-text="拼命加载中"
          @select="getRows"
          @select-all="getRows"
          :data="tableData"
          stripe
          style="width: 100%">
          <el-table-column
            type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="订单编号">
                  <span>{{props.row.orderNo}}</span>
                </el-form-item>
                <el-form-item label="定制类型">
                  <span>{{formattertype(props.row) }}</span>
                </el-form-item>
                <el-form-item label="订单状态">
                  <span>{{formatterOrderStatus(props.row)}}</span>
                </el-form-item>
                <el-form-item label="下单时间">
                  <span>{{ props.row.createTime }}</span>
                </el-form-item>
                <el-form-item label="开始日期">
                  <span>{{props.row.startTime}}</span>
                </el-form-item>
                <el-form-item label="结束日期">
                  <span>{{props.row.endTime}}</span>
                </el-form-item>
                <el-form-item label="联系人">
                  <span>{{ props.row.customerName }}</span>
                </el-form-item>
                <el-form-item label="联系电话">
                  <span>{{ props.row.customerPhone }}</span>
                </el-form-item>
                <el-form-item label="微信号">
                  <span>{{ props.row.wecharId }}人</span>
                </el-form-item>
                <el-form-item label="出发地">
                  <span>{{ props.row.depart }}</span>
                </el-form-item>
                <el-form-item label="目的地">
                  <span>{{ props.row.destination }}</span>
                </el-form-item>
                <el-form-item label="出行天数">
                  <span>{{ props.row.day }}天</span>
                </el-form-item>
                <el-form-item label="出行人数">
                  <span>{{ props.row.number }}人</span>
                </el-form-item>
                <el-form-item label="定制金额">
                  <span class="price">&yen; {{ props.row.sellPricePrice }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            prop="orderNo"
            label="订单编号">
          </el-table-column>
          <el-table-column
            label="订单状态">
            <template slot-scope="scope">
              {{formatterOrderStatus(scope.row)}}
            </template>
          </el-table-column>
          <el-table-column
            label="定制类型">
            <template slot-scope="scope">
              {{formattertype(scope.row)}}
            </template>
          </el-table-column>
          <el-table-column
            prop="customerName"
            label="联系人">
          </el-table-column>
          <el-table-column
            prop="customerPhone"
            label="联系电话">
          </el-table-column>
          <el-table-column
            label="其他需求">
            <template slot-scope="scope">
              <a href="javascript:void(0);" @click="showUserReamrk(scope.row)">查看</a>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            label="操作"
            width="200">
            <template slot-scope="scope">
              <el-button
                size="small"
                v-if="scope.row.orderStatus=='WAITING_PAYMENT'"
                :disabled="true">等待支付
              </el-button>
              <el-button
                size="small"
                v-if="scope.row.orderStatus=='ORDER_RESERVE'"
                @click="doOrder('confirm', scope.row)"
                type="warning">确认订单
              </el-button>
              <el-button
                size="small"
                v-if="scope.row.orderStatus=='ORDER_CONFIRM'"
                @click="doOrder('complete', scope.row)"
                type="danger">订单完成
              </el-button>
              <el-button
                size="small"
                v-if="scope.row.orderStatus=='ORDER_COMPLETE'"
                :disabled="true">订单结束
              </el-button>
              <el-button
                size="small"
                @click="openProDialog(scope.row)">添加备注
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <!-- 出票前的查询展示 -->
        <el-dialog title="尚未出票的批次" :visible.sync="ticketVisible">
          <el-table :data="ticketData">
            <el-table-column property="productTitle" label="产品名称"></el-table-column>
            <el-table-column property="strBatchNo" label="批次编号"></el-table-column>
          </el-table>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.prevent="createTicket">确定出票</el-button>
            <el-button @click="closeTicketDialog">取 消</el-button>
          </div>
        </el-dialog>

        <!-- 作废前的查询展示 -->
       <!-- <el-dialog title="提示" :visible.sync="batchDataVisible">
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.prevent="repeal">确定作废</el-button>
            <el-button @click="closeBatchDialog">取 消</el-button>
          </div>
        </el-dialog>-->
        <!-- 备注 -->
        <el-dialog title="其他需求" :before-close="closeProDialog" :visible.sync="proDialogVisible">
          <el-table :data="remarkData">
            <el-table-column property="oprtResume" label="需求" width="150"></el-table-column>
            <el-table-column property="creName" label="创建人" width="200"></el-table-column>
            <el-table-column property="createTime" label="时间"></el-table-column>
          </el-table>
          <el-form style="margin-top:30px;" :model="remark" :rules="remarkRules"  v-if="proDialogVisible" ref="remarkForm" label-width="80px">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="新增需求" prop="oprtResume">
                  <el-input v-model="remark.oprtResume"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-button type="primary" :loading="addBtnFlag"  @click.prevent="submitForm('remarkForm', 'addBtnFlag', 'addRemark')">确 定</el-button>
              </el-col>
            </el-row>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="closeProDialog">取 消</el-button>
          </div>
        </el-dialog>

      </div>
      <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
    </div>
</template>
<script>
    import Editor from '../../components/Editor'
    import Page from '../Page.vue';
    import upload from '../Upload.vue';
    import moment from 'moment'
    export default {

        data (){

          var checkPrice = (rule, value, callback) => {  //价格
            var reg = this.priceReg;
            if(reg.test(value)){
              callback();
            }else{
              callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
            }
          };

          //数字 1-11位 ，并且是正整数
          var checkNumLong = (rule, value, callback) => {  //数字 1-11位
            var reg = /^[0-9]*[1-9][0-9]*$/;
            if(reg.test(value)){
              console.log('是整数')
              if(value.toString().length>=1 && value.toString().length<=11){
                callback();
              }else{
                callback(new Error('请输入1-11位长度的整数'));
              }
            }else{
              callback(new Error('请输入正整数'));
            }
            console.log(value.toString().length);

          };
            return {
                indexNumber:0,
                tableLoading:true,
                tableData: [],
                remarkData:[],
                batchData:[],
                ticketData:[],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                uploadUrl: '/product/getPolicy',
                content: {
                  productDetail:''
                },
                checkTable:[],
                productJson:[],
                repealObj:[],
                ticketObj:[],
                cardObj:[],
                product: {
                  name:'',
                  chargeback:'',
                  refuninfo:'',
                },
                proDialogVisible: false,
              batchDataVisible: false,
              ticketVisible:false,
              pickerOptionsStart: {
                disabledDate(time) {
                  return time.getTime() < Date.now() - 8.64e7;
                }
              },

              pickerOptionsEnd: {
                disabledDate :(time) =>  {
                  return time.getTime() < this.cardForm.productStartTime || time.getTime() < Date.now() - 8.64e7;;
                }
              },

                //下面是编辑或者新增的弹窗数据
                orderStatusArray: [],  //订单状态数组
                typeArray: [],    //定制游类型
                isAdd: true,
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                remark: {
                  oprtResume:'',
                  orderId:'',
                },
                search: {
                  customerName:'',
                  customerPhone:'',
                  customizationTypeId:'',
                  orderStatus:'',
                  orderNo: '',
                },

              remarkRules: {
                oprtResume: [
                  { required: true, message: '请输入备注内容', trigger: 'blur' },
                ],
                cardId: [
                  { required: true, message: '缺少实体卡ID', trigger: 'blur' },
                ],
              },



            }
        },
        created () {
            this.getList();
        },
        components: {
            Page,
            upload,
            'v-editor': Editor
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
  /*        checkTable: {
              deep: true,
              handler: function (val, oldVal) {
                this.productJson=[];
                for(let i = 0; i<val.length; i++){
                  this.productJson.push({"id": val[i].id_, "version": val[i].version})
                }
                console.log(this.productJson)
              }
          }*/
        },
          computed: {
            emailReg () {
              return this.$store.state.emailReg;
            },
            phoneReg () {
              return this.$store.state.phoneReg;
            },
            priceReg () {
              return this.$store.state.priceReg;
            }
          },
        methods: {


          showUserReamrk (row){
            console.log(row)
            let m = row.remark? row.remark: '暂无';
            console.log(m)
              this.$alert(m, '用户的其他需求', {
                confirmButtonText: '确定',
                callback: action => {
                /*  this.$message({
                    type: 'info',
                    message: `action: ${ action }`
                  });*/
                }
              });
            },

          doOrder (doWhat, row){
            let url='';
            if(doWhat=='confirm'){
              url='/customization/confirm';
            }else if(doWhat=='complete'){
              url='/customization/complete';
            }

            this.$confirm('是否进行此操作?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {

              this.$http.post(url, {id: row.id_, version: row.version}).then((response) => {
                // 响应成功回调
                const res = response.body;
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.$message(res.msg);
                    this.getList();

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消操作'
              });
            });




          },


          formatterOrderStatus(row, column) {
            for(let i=0; i < this.orderStatusArray.length; i++){
              if(row.orderStatus == this.orderStatusArray[i].name){
                return this.orderStatusArray[i].desc;

              }
            }
          },

          formattertype (row, column){
            for(let i=0; i < this.typeArray.length; i++){
              if(row.strCustomizationTypeId == this.typeArray[i].id_){
                return this.typeArray[i].customizationName;
              }

            }
          },

          createTicket (){
            this.$confirm('确定出票吗?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {


              this.$http.post('/yjProductBatch/batchTicket', {cardBatchJson: JSON.stringify(this.ticketObj)}).then((response) => {
                // 响应成功回调
                const res = response.body;
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.closeTicketDialog();
                    this.$message(res.msg);
                    this.getList();

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              });
            });

          },

          doTicketBefore(obj){ //出票前查询
            let postData = obj || this.productJson;

            this.ticketObj = obj? obj:this.productJson; //将当前存储

            this.$http.post('/yjProductBatch/batchTicketInfo', {cardBatchJson: JSON.stringify(postData)}).then((response) => {
              // 响应成功回调
              const res = response.body;
              console.log(res);
              if (res.code==200) {
                this.ticketData =res.data;
                  this.openTicketDialog();
              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });

          },

          checkSigle(item,type){
            if(type=='void'){
              this.getBatchInfo([{id: item.id_, version: item.version}]);
            }else if(type=='ticket'){
              this.doTicketBefore([{id: item.id_, version: item.version}]);

            }else if(type=='card'){
              this.cardRepeal([{id: item.id_, version: item.version}]);

            }
          },

          getRows (selection, row){
            this.checkTable = selection;
          },

          cardRepeal(obj){

            let postData = obj || this.productJson;

            this.cardObj = obj? obj:this.productJson; //将当前存储
            if(this.cardObj.length>0){
              this.repeal();
            }else{
              this.$message('请勾选要作废的实体卡');

            }
          },

          repeal(){
            this.$confirm('确定要作废当前实体卡吗?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {


              this.$http.post('/yjProductCard/batchDisable', {cardJson: JSON.stringify(this.cardObj)}).then((response) => {
                // 响应成功回调
                const res = response.body;
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.$message(res.msg);
                    this.getList();
                    this.productJson=[];
                    this.cardObj =[];

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消作废'
              });
            });

          },

          setStatus (row, state) {  //启用或者禁用
            let url =''
            if(state==1){
              url = '/yjProduct/disable'
            }else{
              url = '/yjProduct/disable'
            }


            this.$http.post(url, {id:row.id_, version: row.version}).then((response) => {
              // 响应成功回调
              const res = response.body;
              if (res.code==200) {
                if(res.data.success){
                  this.$message(res.msg);
                  this.getList();

                }else{
                  this.$message(res.data.message);
                }
              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });
          },

          canDo (){
            this.$message('不可启用，只能通过复制重新生产');
          },


            showDate (row) {
                this.showDateFlag = true;
                this.showPrice.limitPrice = row.limitPrice;
                this.showPrice.retailPrice = row.retailPrice;
                this.showPrice.purChildPrice = row.purChildPrice;
                this.showPrice.purAdultPrice =  row.purAdultPrice;
                this.showPrice.adultPrice =  row.adultPrice;
                this.showPrice.childPrice =  row.childPrice;
            },
            closeDateShow () {
                this.showDateFlag = false;
            },





          copyPro (row) {

          },


          getRemark (id) {

            this.$http.post('/customization/read/resumeList', {orderId: id}).then((response) => {
              // 响应成功回调
              const res = response.body;
              if (res.code==200) {
                if(res.data){
                  this.remarkData= res.data;
                }else{
                  // this.$message(res.data.message);
                }
              } else {
                //this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });

          },



          addRemark () {
            this.addBtnFlag = true;
            let url='/customization/insertResume';
                this.$http.post(url, this.remark).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.remark.oprtResume='';
                            this.getRemark(this.remark.orderId)

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                  this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                  this.addBtnFlag = false;
                });
            },



            deleteItem (row){ //删除


              this.$http.post('/product/deleteInfo', {productStatus:row.productStatus, productNo: row.productNo}).then((response) => {
                // 响应成功回调
                let res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$confirm(res.data.message, '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      this.$http.post('/product/delete', {id:row.id_, version: row.version, productNo: row.productNo}).then((response) => {
                        // 响应成功回调
                        let res = response.body;
                        if (res.code==200) {
                          if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                          }else{
                            this.$message(res.data.message);
                          }
                        } else {
                          this.$message.error(res.msg);
                        }
                      }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                      });
                    })

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            },

            openProDialog (row){
              console.log(row)
                this.proDialogVisible = true;
                this.getRemark(row.id_);
                this.remark.orderId = row.id_

            },
            closeProDialog (done){  //关闭新增表单弹窗
              this.proDialogVisible = false;
              this.remark.oprtResume =''
              this.remark.orderId = ''
              this.remarkData = [];
            },

          openBatchDialog (){
            this.batchDataVisible = true;
          },
          closeBatchDialog (done){  //关闭新增表单弹窗

              this.batchDataVisible = false;
          },

          openTicketDialog (){
            this.ticketVisible = true;
          },
          closeTicketDialog (done){  //关闭新增表单弹窗

            this.ticketVisible = false;
          },



            closeEditDialog (done){ //关闭编辑表单弹窗

                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            closeDialog (done) {
                this.editFlag = false;
                this.updateBtnFlag = false;
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },


          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            getList () {  //获取分页
              this.tableLoading = true;
              this.$http.post('/customization/read/list', {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                customerName: this.search.customerName,
                customerPhone: this.search.customerPhone,
                customizationTypeId: this.search.customizationTypeId,
                orderStatus: this.search.orderStatus,
                orderNo: this.search.orderNo
              }).then((response) => {
                    const res = response.body;
                this.orderStatusArray = res.data.orderStatus;
                this.typeArray = res.data.type;
                console.log(this.orderStatusArray)
                    if (res.code == 200) {
            /*          for(let i = 0; i< res.data.page.records.length; i++){
                        var _check = res.data.page.records[i].chargeback;
                        for(let k = 0; k<this.typeArray.length; k++){
                          if(_check = this.typeArray[k].name){
                            res.data.page.records[i].typeName = this.typeArray[k].typeName;
                            break;
                          }
                        }
                      }*/
                        this.tableData = res.data.page.records;
                        this.total = res.data.page.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                    this.tableLoading = false;
                });
            },
            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
<style>
  .batch-box{
    padding:5px;
    margin:5px;
    border: 1px dashed #ddd;
    color: #fff;
    background: #FF4949;
  }
</style>
