<template>
  <div class="table-list">

    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/cus/triplist'}">定制行程管理</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="list-todo__top">
      <div class="todo-btn">
        <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="80px">
          <el-form-item label="行程名称" prop="tripTitle">
            <el-input v-model="search.tripTitle"></el-input>
          </el-form-item>
          <el-form-item label="出发城市" label-width="80px" prop="beginCityCode">
            <el-cascader
              :options="allCity"
              v-model="startCityArr"
              :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
              filterable
              @change="getStartCity"
              :clearable = true
            >
            </el-cascader>
          </el-form-item>
          <el-form-item label="出发时间" prop="beginTime">
            <el-date-picker
              v-model="pickerBeginTime"
              @change = "getBeginTime"
              type="date"
              placeholder="选择日期"
              :editable ="false">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="定制师" prop="customizationPersionId">
            <el-input v-model="search.customizationPersionId"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
            <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
          </el-form-item>
        </el-form>
        <router-link :to="{ name: 'chooseCity'}">
          <el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加定制</el-button>
        </router-link>


      </div>
    </div>

    <el-table
      :data="tableData"
      v-loading="tableLoading"
      element-loading-text="拼命加载中"
      stripe
      style="width: 100%">
      <el-table-column
        prop="tripTitle"
        label="行程名称">
      </el-table-column>
      <el-table-column
        prop="beginCityCode"
        :formatter="formatterCity"
        label="出发地">
      </el-table-column>
      <el-table-column
        prop="beginTime"
        label="出发时间">
      </el-table-column>
      <el-table-column
        prop="updateBy"
        label="定制师">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        label="最后编辑时间">
      </el-table-column>
      <el-table-column
        label="操作"
        fixed="right"
        width="250">
        <template slot-scope="scope">
          <router-link :to="{ name: 'customadd', query:{customId: scope.row.strId}}">
            <el-button
              size="small"
              type="primary">
              <i class="fa fa-edit" aria-hidden="true"></i> 编辑
            </el-button>
          </router-link>

          <el-button
            size="small"
            type="danger"
            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
          </el-button>
          <el-button
            size="small"
            type="default"
            @click="getQRCode(scope.row)"
            ><i class="fa fa-eye fa-lg"></i> 查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>



    <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>
    <el-dialog
      title="请用微信扫下方二维码"
      :visible.sync="QRCodePop"
      size="tiny"
      :before-close="closeQR">
      <img style="width:200px; display: block; margin:0 auto;" :src="wxShareQRCode" alt="">
    </el-dialog>

  </div>
</template>
<script>
  import moment from 'moment';

  import Page from '../Page.vue';
  export default {
    data (){
      var checkUrl = (rule, value, callback) => {
        if (!value) {
          var urlReg = this.urlReg;
          if(urlReg.test(value)){
            callback();
          }else{
            return callback(new Error('链接格式不正确'));
          }
        }
      };
      //数字 1-11位 ，并且是正整数（包括0）
      var checkSortNumber = (rule, value, callback) => {  //数字 1-11位
        var reg = /^[0-9]*[0-9][0-9]*$/;
        if(reg.test(value)){
          if(value.toString().length>=1 && value.toString().length<=11){
            callback();
          }else{
            callback(new Error('请输入1-11位长度的整数'));
          }
        }else{
          callback(new Error('请输入正整数'));
        }

      };

      return {
        QRCodePop:false,
        wxShareQRCode:'',
        pickerBeginTime:'',
        startCityArr:[],
        allCity:[],
        tableLoading: true,
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        updateBtnFlag: false,
        addBtnFlag: false,
        searchBtnFlag: false,
        showPicFlag: false,
        bigPic:'',
        editDialog: false,
        roles:[],
        searchRules:{},
        search: {
          tripTitle: '',
          beginCityCode: '',
          beginTime: '',
          customizationPersionId: '',
        },
        del: {
          version:'',
          id:''
        },
      }
    },
    created () {
      this.getList();
    },
    components: {
      Page,
    },
    filters: {
      menuShow: function (value) {
        return value == true ? '已启用' : '已禁用'
      }
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      }
    },
    computed: {
      baseHost () {
        return this.$store.state.host;
      },
      urlReg () {
        return this.$store.state.urlReg
      }
    },
    methods: {


      getQRCode (row){
        this.wxShareQRCode=''
        this.wxShareQRCode ='/customizationTrip/shareQRCode?id='+row.strId+'&qrCodeSize=900';
        this.QRCodePop = true;
      },

      closeQR (done){ //关闭二维码显示
        this.wxShareQRCode=''
        this.QRCodePop = false;

      },

      getBeginTime (val){
        console.log(val)
        if(val){
          this.search.beginTime = moment(val).format('YYYY/MM/DD');
        }else{
          this.search.beginTime ='';

        }
      },

      getStartCity (val){
        let checkAreaArr = val[val.length-1]
        if(checkAreaArr){//只要最后  不要省
          this.search.beginCityCode   = checkAreaArr;

        }else{
          this.search.beginCityCode   = '';
        }
      },

      formatterCity (row, column){

        for(let item of this.allCity){
          for(let subItem of item.list){

            if(row.beginCityCode == subItem.code){
              return subItem.area;
              break;
            }

          }

        }
      },


      deleteItem (row){

        this.$confirm('将会删除当前定制路线, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.$http.post('/customizationTrip/delete', {id:row.strId}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code==200) {
              if(res.data.success){
                this.$message(res.msg);
                this.getList();

              }else{
                this.$message(res.data.message);
              }
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });


      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.resetForm('search');
        this.pickerBeginTime=''
        this.startCityArr=[]
        this.pageNum = 1;
        this.getList();
      },



      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },


      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },





      setStatus (row, state) {  //启用或者禁用
        let url =''
        if(state==1){
          url = '/banner/start'
        }else{
          url = '/banner/disable'
        }


        this.$http.post(url, {id:row.id_, version: row.version, status: state}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getList();

            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },
      getList () {  //获取分页
        this.tableLoading = true;

        this.$http.post('/customizationTrip/read/list', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          tripTitle: this.search.tripTitle,
          beginCityCode: this.search.beginCityCode,
          beginTime: this.search.beginTime,
          customizationPersionId: this.search.customizationPersionId,
        }).then((response) => {
          this.tableLoading = false;
          let res = response.body;
          if(res.code==200){
            this.allCity = res.data.area;
            this.tableData = res.data.trip.records;
            this.total = res.data.trip.total;
          }else{

            this.$message(res.msg);
          }

        }, (response) => {
          // 响应错误回调
          this.tableLoading = false;

          this.$message('出错了:' + response);
        });




      }
    },
    beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
      // 在当前路由改变，但是改组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
    }
  }
</script>
