<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>协会兼职信息管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
        <div class="list-todo__top">
            <el-form :inline="true" ref="search" :model="queryS" label-width="100px">
              <el-form-item label="姓名:">
                <el-input v-model="queryS.name"></el-input>
              </el-form-item>
              <el-form-item label="身份证号:">
                <el-input v-model="queryS.idCard"></el-input>
              </el-form-item>
              <el-form-item label="职位:">
                <el-select  v-model="queryS.position" :clearable="true" placeholder="请选择">
                  <el-option v-for="(item,key) in positionTypeArr" :key="key" :label="item.desc" :value="item.name"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item label="状态:">
                <el-select  v-model="queryS.jobStatus" :clearable="true" placeholder="请选择">
                  <el-option v-for="(item,key) in jobStatusArr" :key="key"  :label="item.desc" :value="item.name"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
              </el-form-item>
              <div>
                
                <el-button type="warning" @click="exportMoney">导出佣金</el-button>                
                <el-button type="success" @click="openPartTimerDia(true,'add')"><i class="fa fa-plus" aria-hidden="true"></i> 添加主管人</el-button>
                <el-button type="success" @click="openPartTimerDia(false,'add')"><i class="fa fa-plus" aria-hidden="true"></i> 添加兼职人员</el-button>
              </div>
            </el-form>
        </div>

      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="name"
                  label="姓名">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="手机号">
          </el-table-column>
          <el-table-column
                  prop="idCard"
                  label="身份证号">
          </el-table-column>
          <el-table-column
                  prop="openId"
                  label="openID">
          </el-table-column>
          <el-table-column
                  prop="code"
                  label="邀请码">
          </el-table-column>
          <el-table-column
                  prop="subordinateCount"
                  label="下属人数">
          </el-table-column>
          <el-table-column
                  label="佣金">
                  <template slot-scope="scope">
                  <span class="price">&yen; {{ scope.row.commission }}</span>
                  </template>
          </el-table-column>
          <el-table-column
                  label="待结算佣金">
                  <template slot-scope="scope">
                  <span class="price">&yen; {{ scope.row.waitCommission }}</span>
                  </template>
          </el-table-column>
          <el-table-column
                  label="分销金额">
                  <template slot-scope="scope">
                  <span class="price">&yen; {{ scope.row.distributionMoney }}</span>
                  </template>
          </el-table-column>
          <el-table-column
                  label="下属分销金额">
                  <template slot-scope="scope">
                  <span class="price">&yen; {{ scope.row.subordinateDistributionMoney }}</span>
                  </template>                  
          </el-table-column>
          <el-table-column
                  prop="position"
                  :formatter ="formatterPositionType"
                  label="职位">
          </el-table-column>
          <el-table-column
                  prop="jobStatus"
                  :formatter ="formatterJobStatus"
                  label="在职状态">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="410"
                  label="操作">
                  <template slot-scope="scope">
                      <el-button size = "small" type="success" @click="openChartDia(scope.row)">结算</el-button>
                      <el-button size = "small" type="primary" @click="getQRCode(scope.row)">生成二维码</el-button>
                      <el-button size = "small" type="primary" v-if="scope.row.position=='SUPERVISOR'" @click="openPartTimerDia(true,'update',scope.row)">修改信息</el-button>
                      <el-button size = "small" type="primary" v-if="scope.row.position!='SUPERVISOR'" @click="openPartTimerDia(false,'update',scope.row)">修改信息</el-button>
                      <el-button size = "small" type="warning" @click="resetPerson(scope.row.id_)">重置数据</el-button>
                      <el-button size = "small" type="danger" @click="delPerson(scope.row.id_)">删除</el-button>
                  </template>
          </el-table-column>
      </el-table>
   <page class="pagination__bar" :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="会员延期" size="small" :visible.sync="postPhoneDia">
     <el-form label-width="140px">
       <el-form-item label="姓名：">
         <span>{{postData.name}}</span>
       </el-form-item>
       <el-form-item label="会员卡账号：">
         <span>{{postData.creditNo}}</span>
       </el-form-item>
       <el-form-item label="有效期结束时间：">
         <span>{{postData.memberEndtime|filterTime}}</span>
       </el-form-item>
       <el-form-item label="会员结束时间：">
          <el-date-picker
            type="date"
            v-model="postPhoneTime"
            @change="getBeforeTime"
            placeholder="选择日期">
          </el-date-picker>
           <el-checkbox class="k-post-year"  label="延期一年"  v-model="isPostYear"></el-checkbox>
       </el-form-item>
       </el-form>
   <div slot="footer" class="dialog-footer">
     <el-button type="primary" :loading="isDoPostPhone" @click="doPostPhone()">保存</el-button>
      <el-button  @click="postPhoneDia = false">关 闭</el-button>
   </div>
  </el-dialog>

  <el-dialog :title="todo=='add'? isCharge? '添加主管':'添加兼职人员':isCharge? '编辑主管':'编辑兼职人员'" width="500px" :visible.sync="partTimerDia" 
  :before-close="closePartTimerDia" :close-on-click-modal="false">
  <el-form ref="partTimerForm" :rules="partTimeRule" :model="partTimer" 
  v-loading="queryLoading"
  element-loading-text="正在查询用户信息">
    <el-form-item label="姓名" :label-width="formLabelWidth" prop="name">
      <el-input v-model="partTimer.name" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="电话" :label-width="formLabelWidth" prop="phone">
      <el-input v-model="partTimer.phone" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="身份证号" :label-width="formLabelWidth" prop="idCard">
      <el-input v-model="partTimer.idCard" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item v-if="!isCharge" label="添加主管人" :rules="[
            { required: true, message: '请选择主管人员', trigger: 'change' },              
          ]" :label-width="formLabelWidth" prop="parentId">
      <el-select v-model="partTimer.parentId" placeholder="请选择所属主管人">
        <el-option label="不关联主管" value="0"></el-option>
        <el-option v-for="(item,key) in chargeArr" :key="key" :label="item.name" :value="item.id_"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="兼职状态" :label-width="formLabelWidth" prop="jobStatus">
      <el-select v-model="partTimer.jobStatus" placeholder="是否在职">
        <el-option v-for="(item, index) in jobStatusArr" :key="index" :label="item.desc" :value="item.name"></el-option>
      </el-select>
    </el-form-item>    
    <el-form-item label="openid" :label-width="formLabelWidth" prop="openId">
      <el-input v-model="partTimer.openId" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closePartTimerDia">取 消</el-button>
    <el-button type="primary" @click.prevent="submitForm('partTimerForm', 'partTimerBtnFlag', 'newPerson')">确 定</el-button>
  </div>
</el-dialog>

  </div>
  <!-- 结算 -->
  <el-dialog title="结算记录" width="500px" :visible.sync="chartDia" 
  :before-close="closeChartDia" :close-on-click-modal="false">
  <el-form ref="chartForm" :rules="chartRule" :model="chartData">
    <el-form-item label="ID" :label-width="formLabelWidth" prop="id">
      <el-input v-model="chartData.id" :disabled="true" auto-complete="off"></el-input>
    </el-form-item>
    <!-- <el-form-item label="结算订单号" :label-width="formLabelWidth" prop="clearingOrderNo">
      <el-input v-model="chartData.clearingOrderNo" auto-complete="off"></el-input>
    </el-form-item> -->
    <el-form-item label="结算流水号" :label-width="formLabelWidth" prop="clearingWaterNo">
      <el-input v-model="chartData.clearingWaterNo" auto-complete="off"></el-input>
    </el-form-item>     
    <el-form-item label="结算金额" :label-width="formLabelWidth" prop="clearingMoney">
      <el-input v-model.number="chartData.clearingMoney" auto-complete="off">
         <template slot="append">元</template>
      </el-input>
    </el-form-item>
    <el-form-item label="结算金额" :label-width="formLabelWidth" prop="clearingDate">
      <el-date-picker
      v-model="chartData.clearingDate"
      format="yyyy/MM/dd HH:mm:ss"
      value-format="yyyy/MM/dd HH:mm:ss"
      type="datetime"
      placeholder="选择日期时间">
    </el-date-picker>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeChartDia">取 消</el-button>
    <el-button type="primary" @click.prevent="submitForm('chartForm', 'chartBtnFlag', 'chart')">确 定</el-button>
  </div>
</el-dialog>


      <el-dialog
      title="请用微信扫下方二维码"
      :visible.sync="QRCodePop"
      size="tiny"
      :before-close="closeQR">
      <img style="width:200px; display: block; margin:0 auto;" :src="wxShareQRCode" alt="">
    </el-dialog>
</div>
</template>
<script>
import Page from '../../Page.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
export default {
  name: 'seldrive',
  components: {
      Page
  },
  data () {
      var checkIDCard = (rule, value, callback) => {  //价格
        var reg = this.idCardEeg;
        if(reg.test(value)){
          callback();
        }else{
          callback(new Error('请正确输入15或18位身份证号码'));
        }
      };

        var checkPhone = (rule, value, callback) => {  //价格
            var reg = this.phoneReg;
            if(reg.test(value)){
            callback();
            }else{
            callback(new Error('请正确输入11位手机号码'));
            }
        };
         var checkPrice = (rule, value, callback) => {  //邮箱校验
                var reg = this.priceReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
                }
            };

    return {
      // 提交频率控制按钮
      isSearch:false,
      isPostYear:'',
      diaFee:false,
      postPhoneTime:'',
      exportTime:'',
      isDoPostPhone:false,
      postId:'',
      diaXls:false,
      postPhoneDia:false,
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      //表单类
        formLabelWidth: '100px',
      // 查询条件
        queryS:{
          name:'',
          idCard:'',
          position:'',
          jobStatus:'',
        },
        queryLoading:false,
        jobStatusArr:[],
        positionTypeArr:[],
        isCharge:false,  //是否主管，用于dialog
        partTimerBtnFlag: false,
        partTimerDia: false,
        todo:'add',  //add或者update 新增或者编辑
        chargeArr:[],
        wxShareQRCode:'',
        QRCodePop:false,
        partTimer:{
            id:'',
            name:'',
            phone:'',
            idCard:'',
            parentId:'',
            jobStatus:'',
            openId:'',
        },
        chartBtnFlag:false,
        chartDia:false,
        chartData:{
          id:'',
          //clearingOrderNo:'',
          clearingWaterNo:'',
          clearingMoney:'',
          clearingDate:'',
        },
        partTimeRule: {
          name: [
            {required: true, message: '请输入姓名', trigger: 'blur'},
            {min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur'}
          ],
          phone: [
            {required: true, message: '请输入手机号码', trigger: 'blur'},
            { validator: checkPhone }
          ],
          idCard: [
            {required: true, message: '请输入身份证号码', trigger: 'blur'},
            { validator: checkIDCard }            
          ],
          jobStatus:[
            { required: true, message: '请选择在职状态', trigger: 'change' },              
          ],
          openId: [
            {required: true, message: '请输入openid', trigger: 'blur'},                                     
          ]
        },
        chartRule: {
          id: [
            {required: true, message: '请选择id', trigger: 'blur'},
          ],
          // clearingOrderNo: [
          //   {required: true, message: '需要填写结算订单号', trigger: 'blur'},
          // ],
          clearingWaterNo: [
            {required: true, message: '需要填写结算流水号', trigger: 'blur'},
          ],
          clearingMoney	:[
            { required: true, type: 'number', message: '请输入结算金额，最多2位小数', trigger: 'change' }, 
            { validator: checkPrice}             
          ],
          clearingDate: [
            {required: true, message: '请选择时间', trigger: 'blur'},                                     
          ]
        },
        postData:{
            name:'',
            creditNo:'',
            memberEndtime:''
        }
    };
  },
  created(){
    this.getList();
  },
    computed: {
      emailReg () {
        return this.$store.state.emailReg;
      },
      phoneReg () {
        return this.$store.state.phoneReg;
      },
      idCardEeg () {
        return this.$store.state.idCardEeg;
      },
      baseHost: function () {
        return this.$store.state.host;
      },
      priceReg () {
          return this.$store.state.priceReg;
      }
      
    },

  
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      isPostYear: {
          handler: function (val, oldVal) {
              if(val){
                  const year = parseInt(this.postData.memberEndtime.split('-')[0])+1;
                  const month = this.postData.memberEndtime.split('-')[1];
                  const day = this.postData.memberEndtime.split('-')[2];
                  this.postPhoneTime = year +'-'+ month +'-' + day;
              }else{
                this.postPhoneTime = '';
              }
          },
          deep: true
      }
  },
  filters:{
    filterTime:(time) =>{
      const year = time.split('-')[0];
      const month = time.split('-')[1];
      const day =  time.split('-')[2];
      return year+' 年 '+month+' 月 '+day+'日'
    }
  },
  methods: {
     exportMoney(){
       console.log(111)
        window.open(location.origin+'/partTime/export');       
    },

    closeChartDia (){
      this.chartData.id='';
      //this.chartData.clearingOrderNo='';
      this.chartData.clearingWaterNo='';
      this.chartData.clearingMoney='';
      this.chartData.clearingDate='';
      this.resetForm('chartForm');      
     this.chartDia = false;
    },

    openChartDia(row){
      this.chartData.id=row.id_
     this.chartDia = true;
    },

    chart (){
      this.chartBtnFlag=true;

      this.$http.post('/partTime/clearing',this.chartData).then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);
          if (res.code==200) {
            if(res.data.success){
                this.$message(res.data.message);
                this.chartBtnFlag=false;
                this.closeChartDia();
                this.getList();
                
            }else{
              this.$message(res.data.message);
            }
          } else {
              this.$message.error(res.msg);
          }
          this.chartBtnFlag=false;
      }, (response) => {
          this.$message.error('出错了:' + response);
          this.chartBtnFlag=false;
      });


    },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      addPartTimer (){
          this.partTimerBtnFlag = true;
        let url = ''
        this.$http.post(url, this.partTimer).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.partTimerBtnFlag = false;
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
          this.partTimerBtnFlag = false;
        });
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },

    openPartTimerDia(flag,todo,obj){
        this.isCharge = flag;
        this.partTimerDia = true;
        let _id='';
        this.todo = todo;
        console.log(obj)
        if(obj){
          _id=obj.id_;
        }
        if(todo=='update'){
          this.queryPerson(_id);
        }
        if(todo=='add'){
          this.getCharge();
        }
    },
    closePartTimerDia(){
      this.partTimer.name='';
      this.partTimer.phone='';
      this.partTimer.idCard='';
      this.partTimer.id='';
      this.partTimer.jobStatus='';
      this.partTimer.parentId='';
      this.partTimer.openId='';
      this.chargeArr = [];
      this.resetForm('partTimerForm');
      this.partTimerDia=false;
      
    },
    handleExport(onOff){
      if(onOff=='1'){
        if(this.exportTime){
           window.open(location.origin+'/associationUser/associationUser/export?exportType=1&&member_endtime='+this.exportTime);
           this.diaFee = false;

        }else{
           this.$message.error('请选择会员到期时间');
           return
        }

      }else if(onOff=='2'){
         window.open(location.origin+'/associationUser/associationUser/export?exportType=2')
      }
    },
    getBeforeTime(val){
      if(val!==undefined){
        this.postPhoneTime = moment(val).format('YYYY-MM-DD')
      }
      },
      getExportTime(val){
         if(val!==undefined){
        this.exportTime = moment(val).format('YYYY-MM-DD')
      }
      },
    handlePostphone(id){
      this.postId = id;
      this.postPhoneTime = '';
      this.isPostYear=false;
      this.$http.post('/associationUser/selectUserInfo/select', {id:id}).then((response) => {
              // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                    if(res.data){
                        this.postData.name = res.data.name;
                        this.postData.creditNo = res.data.creditNo;
                        this.postData.memberEndtime = res.data.memberEndtime.split(' ')[0];
                        this.postPhoneDia = true;
                    }else{
                      this.$message(res.data.message);
                    }
                } else {
                    this.$message.error(res.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });

    },
    doPostPhone(){
      this.isDoPostPhone=true;

      this.$http.post('/associationUser/delayUser/update',{id:this.postId,member_endtime:this.postPhoneTime}).then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);
          if (res.code==200) {
            if(res.data.success){
                this.$message('会员延期成功');
                this.postPhoneDia=false;
                this.getList();
            }else{
              this.$message(res.data.message);
            }
          } else {
              this.$message.error(res.msg);
          }
          this.isDoPostPhone=false;
      }, (response) => {
          this.$message.error('出错了:' + response);
          this.isDoPostPhone=true;
      });


    },
    handleOpen(){
      this.diaXls = true;
    },
    handleDis(id){
	     this.$confirm('确认作废该会员?')
	       .then(_ => {
	         this.$http.post('/associationUser/updateUserStatus/update', {id:id}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => { 
            this.$message({
              message:'出错了:' + response,
              type:'error'
            }); 
	         });
	       })
	       .catch(_ => {});
         },
    formatterJobStatus(row, column){
      for(let s of this.jobStatusArr){
        if(s.name==row.jobStatus){
            return s.desc;
        }
      }
    },
    
    formatterPositionType(row, column){
      for(let s of this.positionTypeArr){
        if(s.name==row.position){
            return s.desc;
        }
      }
    },
    reset(form){
     this.queryS.name='';
     this.queryS.idCard='';
     this.queryS.position='';
     this.queryS.jobStatus='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },

    //获取二维码

      getQRCode (row){
        this.wxShareQRCode=''
        this.wxShareQRCode ='/partTime/shareQRCode?id='+row.id_+'&qrCodeSize=900';
        this.QRCodePop = true;
      },


      closeQR (done){ //关闭二维码显示
        this.wxShareQRCode=''
        this.QRCodePop = false;

      },

  //添加人员之前的查询

  queryPerson (id){
    this.queryLoading = true;
    this.$http.post('/partTime/read/queryByid',
        {
            id: id,
          }).then((response) => {
            const res = response.body;
            if (res.code==200) {
              if(res.data){
                if(res.data.user){
                  let user = res.data.user;
                  this.partTimer.name =user.name;
                  this.partTimer.id =user.id_;
                  this.partTimer.jobStatus =user.jobStatus;
                  this.partTimer.phone =user.phone;
                  this.partTimer.idCard =user.idCard;
                  this.partTimer.parentId =user.strParentId;
                  this.partTimer.openId =user.openId;
                }
                if(res.data.supervisorList){
                  this.chargeArr =res.data.supervisorList;
                }

              }
              
            } else {
                  this.$message({
                    message:res.msg,
                    type:'error'
                  });
            }
          this.queryLoading = false;
        }, (response) => {
            this.queryLoading = false;    
            this.$message({
              message:'出错了:' + response,
              type:'error'
            });      
        });
  },

  //获取主管人员

  getCharge (){
          
          this.$http.post('/partTime/read/querySupervisorList').then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data){ 
                  this.chargeArr = res.data;              
                }else{
                  this.$message({
                    message:res.data.message,
                    type:'error'
                  });
                }
              } else {
                  this.$message({
                    message:res.msg,
                    type:'error'
                  });
              }
          }, (response) => {
                  this.$message({
                    message:'出错了:' + response,
                    type:'error'
                  });
          });

  },
  

  //重置当前员工的金额

  resetPerson (id){ 


      this.$confirm('此操作将重置当前员工的分销金额等重要信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          
          this.$http.post('/partTime/reset',{id:id}).then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data.success){
                  this.$message({
                      message:res.data.message,
                      type: 'success'
                    });            
                  this.getList();              
                }else{
                  this.$message.error(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消重置操作'
          });          
        });
  },

  //添加编辑人员

    newPerson(){
      console.log(this.partTimer)
      let url ='/partTime/update'
      let postObj = JSON.parse(JSON.stringify(this.partTimer))
      if(this.todo=='add'){
        url= '/partTime/add'
        delete postObj.id;
      }else{
        url= '/partTime/update';        
      }

      console.log(postObj)

      this.$http.post(url,postObj).then((response) => {
        const res = response.body;
          if (res.code==200) {
            console.log(res)
            if(res.data.success){
              this.$message({
                  message:res.data.message,
                  type: 'success'
                });
              this.closePartTimerDia();              
              this.getList();              
            }else{
              this.$message({
                message:res.data.message,
                type:'error'
              }); 
            }
          } else {
            this.$message({
              message:res.msg,
              type:'error'
            }); 
          }
      }, (response) => {
            this.$message({
              message:'出错了:' + response,
              type:'error'
            }); 
      });

    },

    //删除兼职人员

    delPerson (id){ 

      this.$confirm('此操作将永久删除当前员工, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          
          this.$http.post('/partTime/delete',{id:id}).then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data.success){
                  this.$message({
                      message:res.data.message,
                      type: 'success'
                    });            
                  this.getList();              
                }else{
                  this.$message.error(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除的操作'
          });          
        });

    },



    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/partTime/read/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                name:this.queryS.name,
                jobStatus:this.queryS.jobStatus,
                position:this.queryS.position,
                idCard:this.queryS.idCard,
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                   this.tableData = res.data.partTime.records;
                   this.total = res.data.partTime.total;
                   this.jobStatusArr = res.data.jobStatus;
                   this.positionTypeArr = res.data.positionType;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
.btn-groups-k{
  display: flex;
  justify-content:flex-end;
}
.k-post-year{
  margin-left: 20px;
}
</style>
