<template>
  <div class="table-list">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/log/operatorLog'}">操作员操作日志</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="list-todo__top">
      <div class="todo-btn">
        <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="100px">
          <el-form-item label="选择时间范围" prop="date">
            <el-date-picker
              v-model="daterange"
              format="yyyy/MM/dd HH:mm:ss"
              value-format="yyyy/MM/dd HH:mm:ss"
              type="datetimerange"
              @change="spliceTime"
              :picker-options="pickerOptions"
              placeholder="选择日期范围">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :loading="searchBtnFlag" @click="searchList('search')">查询</el-button>
            <el-button type="default" :loading="searchBtnFlag" @click="reset">重置条件</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <el-table
      :data="tableData"
      stripe
      style="width: 100%">
      <el-table-column
        prop="loginName"
        label="操作人">
      </el-table-column>
      <el-table-column
        prop="operatorAction"
        label="操作地址"
      width="350" >
      </el-table-column>
      <el-table-column
        label="提交的数据">
        <template slot-scope="scope">
          <el-button
            size="small"
            type="warning"
            @click="showData(scope.row)">查看数据
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        prop="createTime"
        label="操作时间">
      </el-table-column>
      <el-table-column
        label="操作结果">
        <template slot-scope="scope">
        <span v-if="scope.row.operatorStatus==0">操作失败</span>
        <span v-if="scope.row.operatorStatus==1">操作成功</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="ip"
        label="IP">
      </el-table-column>
    </el-table>


    <el-dialog
      title="查看操作提交的数据"
      :visible.sync="showDataFlag"
      size="tiny"
      :before-close="closeDataShow">
      {{doVal}}
    </el-dialog>
    <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>

  </div>
</template>
<script>
  import Page from '../Page.vue';
  import api from '../../api/dolog';
  export default {
    data (){
      return {
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        showDataFlag: false,
        searchBtnFlag: false,
        daterange: '',
        doVal: '',
        search: {
          startDate: '',
          endDate: '',
        },
        searchRules: {},
        rules: {
          title: [
            {required: true, message: '请输入标题', trigger: 'blur'},
            {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
          ],
          banner: [
//                        { required: true, message: '请上传图片', trigger: 'blur' },
            {min: 0, max: 100, message: '需要banner图', trigger: 'blur'}
          ],
          url: [
            {required: true, message: '请输入跳转的链接地址', trigger: 'blur'},
            {min: 4, max: 50, message: '正确链接地址', trigger: 'blur'}
          ],
          form_sort: [
            /* {required: true, message: '请输入排序号', trigger: 'blur' },
             {min: 0, max: 16, message: '请输入0-16位数字', trigger: 'blur' },
             {type: 'number',  message: '必须是数字', trigger: 'blur' }*/
          ],
        },
        pickerOptions: {  //时间范围限制
          disabledDate(time) {
            return time.getTime() >= Date.now();
          }
        },
      }
    },
    created () {
      this.getList();
    },
    components: {
      Page
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      }
    },
    methods: {
      spliceTime (val) {
        console.log(val);
        if(Array.isArray(val)){

        this.search.startDate = val[0];
        this.search.endDate = val[1];
        }else{

        this.search.startDate = '';
        this.search.endDate = '';

        }
        // let timeArray = val.split('-');
        // this.search.startDate = timeArray[0];
        // this.search.endDate = timeArray[1];
      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.daterange = '';
        this.search.startDate = '';
        this.search.endDate = '';
        this.pageNum = 1;
        this.getList();
      },


      showData (row) {
        this.showDataFlag = true;
        this.doVal = row.operatorValue;
      },
      closeDataShow () {
        this.showDataFlag = false;
      },


      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },
      getList () {  //获取分页
        api.getList({
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          startDate: this.search.startDate,
          endDate: this.search.endDate
        }, (response) => {
          const res = response.body;
          if (res.code == 200) {
            this.tableData = res.data.records;
            this.total = res.data.total;
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
        });
      }
    },
    beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
      // 在当前路由改变，但是改组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
    }
  }
</script>
