<template>
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
                <el-breadcrumb-item>增加菜单</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="活动名称">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="活动区域">
                <el-select v-model="form.region" placeholder="请选择活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="活动时间">
                <el-col :span="11">
                    <el-date-picker type="date" placeholder="选择日期" v-model="form.date1"
                                    style="width: 100%;"></el-date-picker>
                </el-col>
                <el-col class="line" :span="2">-</el-col>
                <el-col :span="11">
                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.date2"
                                    style="width: 100%;"></el-time-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="缩略图">
                <upload></upload>
            </el-form-item>
            <el-form-item label="选择时间">
                    <el-date-picker
                            v-model="value1"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions0">
                    </el-date-picker>
            </el-form-item>
            <el-form-item label="wang编辑器2">
                <v-editor
                        :input-content="inputContent"
                        :upload-url="uploadUrl"
                        v-model="outputContent"></v-editor>
            </el-form-item>
        </el-form>
    </div>

</template>
<script>
    import Editor from '../../components/Editor'
    import upload from '../Upload.vue';
    export default {
        data () {
            return {
                isAdd: true, //是否新增 ，false代表编辑
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },

                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                    shortcuts (text, onClick) {

                    }
                },
                value1: '',
                inputContent: '测试编辑器',                                // 编辑器的内容
                outputContent: '',
                'uploadUrl': '',

            }
        },
        components: {
            upload,
            'v-editor': Editor
        },
        methods: {
            editorReady (editorInstance){
                editorInstance.setContent('编辑器生效');
                editorInstance.addListener('contentChange', () => {
                    console.log('编辑器发生变化', editorInstance.getContent());
                })
            }
        }
    }
</script>
