<template>
<div>
  <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/dudu/hongbao'}">红包管理</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      <div class="list-todo__top">
          <el-form :inline="true" :model="queryS" ref="search" class="inline-form-query">
            <el-form-item label="名称" prop="site_title">
              <el-input v-model="queryS.activityTitle"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList()"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset()">重置条件</el-button>
              <el-button type="success"  @click="handleAddForm('addCouponForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加红包</el-button>
            </el-form-item>
          </el-form>
      </div>
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="hongbaoTitle"
                  label="名称">
          </el-table-column>
          <el-table-column
                  prop="issueType"
                  :formatter="formatterType"
                  label="发放类型">
          </el-table-column>
          <el-table-column
              prop="money"
                  label="红包金额">
          </el-table-column>
          <el-table-column
                  prop="minAmount"
                  label="最小订单金额">
          </el-table-column>
          <el-table-column
                  prop="validtimeStart"
                  :formatter="formatterTime"
                  label="有效时间">
          </el-table-column>
          <el-table-column
                  label="使用范围">
                  <template slot-scope="scope">
                    <router-link :to="{ name: 'couponLinkPlay', query: { id: scope.row.id_, nameAct:scope.row.hongbaoTitle}}">指定</router-link>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="ifAct"
                  :formatter="formatterAct"
                  label="是否与活动叠加">
          </el-table-column>
          <el-table-column
                  prop="maxGain"
                  label="单用户最多领取">
          </el-table-column>
          <el-table-column
                  prop="issueNum"
                  label="发放数量">
          </el-table-column>
          <el-table-column
                  prop="surplusNum"
                  label="发放数量剩余">
          </el-table-column>
          <el-table-column
                  prop="direction"
                  label="使用说明">
          </el-table-column>
          <el-table-column
                  prop="status"
                  :formatter="formatterStatus"
                  label="状态">
          </el-table-column>
          <el-table-column
                fixed="right"
                label="操作"
                width="300">
                <template slot-scope="scope">
                  <el-button :disabled="scope.row.status==2" v-if="scope.row.status==0" @click="handleRecover(scope.row)" type="success" size="small">启用</el-button>
                  <el-button :disabled="scope.row.status==2" v-if="scope.row.status==1" @click="handlePause(scope.row)" type="danger" size="small">停用</el-button>
                  <el-button :disabled="scope.row.status>0" @click="handleEdit(scope.row)" type="primary" size="small">编辑</el-button>
                  <el-button :disabled="scope.row.status==2"  @click="handleSend(scope.row)" type="success" size="small">发放</el-button>
                  <el-button  @click="showTest(scope.row)" type="success" size="small">发放记录</el-button>
                </template>
          </el-table-column>
      </el-table>

   <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

        <el-dialog title="添加红包" :visible.sync="dialogVisible1" :before-close="handleClose">
             <el-form :model="addCouponForm" :rules="addRules" ref="addCouponForm" :label-width="formLabelWidth">
               <el-form-item label="名称："  prop="hongbaoTitle">
                 <el-input v-model="addCouponForm.hongbaoTitle" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="发放类型：" prop="issueType">
                 <el-select v-model="addCouponForm.issueType" placeholder="选择红包发放类型">
                   <el-option v-for="item in couponTypeOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="红包金额：" prop="money">
                 <el-input type="number" v-model="addCouponForm.money" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="最小订单金额：" prop="minAmount">
                 <el-input type="number" v-model="addCouponForm.minAmount" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="有效时间：" prop="validtimeStart">
                  <el-date-picker
                    v-model="dateArr"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy/MM/dd"
                    format="yyyy/MM/dd"
                    :picker-options="pickerOptionsAdd">
                  </el-date-picker>
                 </el-form-item>
               <el-form-item label="是否与活动叠加:" prop="ifAct">
                  <el-radio class="radio" v-model="addCouponForm.ifAct" :label="1">是</el-radio>
                <el-radio class="radio" v-model="addCouponForm.ifAct" :label="0">否</el-radio>
                 </el-form-item>
                 <el-form-item label="单用户最多领取" prop="maxGain">
                 <el-input type="number" v-model="addCouponForm.maxGain"></el-input>
               </el-form-item>
                 <el-form-item label="发放数量：" prop="issueNum">
                 <el-input type="number" v-model="addCouponForm.issueNum"></el-input>
               </el-form-item>
                 <el-form-item label="使用说明:" prop="direction">
                   <el-input type="textarea" v-model="addCouponForm.direction"></el-input>
                 </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button :loading="isAdd" type="primary" @click="submitForm('addCouponForm')">保存</el-button>
               <el-button @click="dialogVisible1 = false">取 消</el-button>
             </div>
           </el-dialog>

        <el-dialog title="编辑红包" :visible.sync="dialogVisible2" :before-close="handleClose">
             <el-form :model="editCouponForm" :rules="addRules" ref="editCouponForm" :label-width="formLabelWidth">
               <el-form-item label="名称："  prop="hongbaoTitle">
                 <el-input v-model="editCouponForm.hongbaoTitle" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="发放类型：" prop="issueType">
                 <el-select  :disabled="true" v-model="editCouponForm.issueType" placeholder="选择红包发放类型">
                   <el-option v-for="item in couponTypeOption" :key="item.name" :value="item.name" :label="item.desc"></el-option>
                 </el-select>
               </el-form-item>
               <el-form-item label="红包金额：" prop="money">
                 <el-input type="number" :disabled="true" v-model="editCouponForm.money" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="最小订单金额：" prop="minAmount">
                 <el-input type="number" :disabled="true" v-model="editCouponForm.minAmount" auto-complete="off"></el-input>
               </el-form-item>
               <el-form-item label="有效时间：" prop="validtimeStart">
                 
                  <el-date-picker
                    v-model="dateArrEdit"
                    type="daterange"
                    align="right"
                    :disabled="true"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy/MM/dd"
                    format="yyyy/MM/dd"
                    :picker-options="pickerOptionsAdd">
                  </el-date-picker>
                 </el-form-item>
               <el-form-item label="是否与活动叠加:" prop="ifAct">
                  <el-radio class="radio"  v-model="editCouponForm.ifAct" :label="1">是</el-radio>
                <el-radio class="radio"  v-model="editCouponForm.ifAct" :label="0">否</el-radio>
                 </el-form-item>
                 <el-form-item label="单用户最多领取" prop="maxGain">
                 <el-input type="number" v-model="editCouponForm.maxGain"></el-input>
               </el-form-item>
                 <el-form-item label="发放数量：" prop="issueNum">
                 <el-input type="number" :disabled="true" v-model="editCouponForm.issueNum"></el-input>
               </el-form-item>
                 <el-form-item label="使用说明:" prop="direction">
                   <el-input type="textarea"  v-model="editCouponForm.direction"></el-input>
                 </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
               <el-button :loading="isEdit" type="primary" @click="updateForm('editCouponForm')">修改</el-button>
               <el-button @click="dialogVisible2 = false">取 消</el-button>
             </div>
           </el-dialog>
           <el-dialog
               :title="diaTitle"
               :visible.sync="showTestDia"
               width="80%"
               :before-close="closeTest">
              <CouponLog v-if="showTestDia" :data-id="routerId"></CouponLog>
           </el-dialog>
  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import CouponLog from './CouponLog.vue';
export default {
  name: 'coupon',
  components: {
      Page, CouponLog
  },
  data () {
    return {
        dateArrEdit:[],
        dateArr:[],
        pickerOptionsAdd: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },

      // 提交频率控制按钮
        isSearch:false,
        isAdd:false,
        isEdit:false,
        diaTitle:'',
        dialogVisible1:false,
        dialogVisible2:false,
        showTestDia:false,
        isShow:false,
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
        formLabelWidth: '150px',
      // 查询条件
        queryS:{
          activityTitle:'',
        },
        couponTypeOption:[],
        addCouponForm:{
            hongbaoTitle:'',
            issueType:'',
            money:'',
            minAmount:'',
            validtimeStart:'',
            validtimeEnd:'',
            ifAct:'',
            maxGain:'',
            issueNum:'',
            direction:''
        },
        editCouponForm:{
            id:'',
            version :'',
            hongbaoTitle:'',
            issueType:'',
            money:'',
            minAmount:'',
            validtimeStart:'',
            validtimeEnd:'',
            ifAct:'',
            maxGain:'',
            issueNum:'',
            direction:''
        },
        addRules:{
            hongbaoTitle:[
              {
                required:true, message:'请输入红包名称',trigger:'blur'
              }
            ],
            issueType:[
              {
                required:true, message:'请选择发放类型',trigger:'change'
              }
            ],
            money:[
              {
                required:true, message:'请输入红包金额'
              }
            ],
            minAmount:[
              {
                required:true, message:'请输入最小订单金额'
              }
            ],
            validtimeStart:[
              {
                required:true, message:'请选择开始时间'
              }
            ],
            validtimeEnd:[
              {
                required:true, message:'请选择结束时间'
              }
            ],
            ifAct:[
              {
                required:true, message:'是否与活动叠加'
              }
            ],
            maxGain:[
              {
                required:true, message:'请输入单用户最多领取'
              }
            ],
            issueNum:[
              {
                required:true, message:'请输入发放数量'
              }
            ]
        }
    };
  },
  created(){
    this.getList();
  },
  watch:{
    dateArr: {
      deep: true,
      handler: function(val,oldVal){
        if(Array.isArray(val)){
          this.addCouponForm.validtimeStart = val[0]
          this.addCouponForm.validtimeEnd = val[1]
        }else{
          this.addCouponForm.validtimeStart = ''
          this.addCouponForm.validtimeEnd =''

        }
      }
    },
    dateArrEdit: {
      deep: true,
      handler: function(val,oldVal){
        if(Array.isArray(val)){
          this.editCouponForm.validtimeStart = val[0]
          this.editCouponForm.validtimeEnd = val[1]
        }else{
          this.editCouponForm.validtimeStart = ''
          this.editCouponForm.validtimeEnd =''

        }
      }
    },

    

      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    closeTest(){
      this.showTestDia = false;
    },
    getTimeStart(time){
      this.addCouponForm.validtimeStart = time
    },
    getTimeEnd(time){
      this.addCouponForm.validtimeEnd = time
    },
    showTest(row){
      this.routerId = row.id_;
      this.diaTitle = row.hongbaoTitle;
      this.showTestDia = true;
    },
    handleRecover(row){
         this.$confirm('确认启用该红包?')
           .then(_ => {
             this.$http.post('/hongbao/start', {id:row.id_, version:row.version,scopeVersion:row.scopeVersion}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                    if(res.data.success){
                       this.$message('启用成功');
                        this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
           })
           .catch(_ => {});
    },
    handlePause(row){
        this.$confirm('确认停用该红包?')
          .then(_ => {
            this.$http.post('/hongbao/disable', {id:row.id_, version:row.version,scopeVersion:row.scopeVersion}).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                   if(res.data.success){
                      this.$message('停用成功');
                       this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                } else {
                    this.$message.error(res.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });
          })
          .catch(_ => {});
    },
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/hongbao/add',this.addCouponForm).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.dialogVisible1 = false;
                    this.$message('添加成功');
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  }

                } else {
                    this.$message.error(res.msg);
                }
                this.isAdd = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isAdd = false;
            });

           } else {
            this.isAdd = false;
             return false;
           }

         });
    },
    updateForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/hongbao/update',{
              id:this.editCouponForm.id,
              version:this.editCouponForm.version,
              hongbaoTitle:this.editCouponForm.hongbaoTitle,
              ifAct:this.editCouponForm.ifAct,
              maxGain:this.editCouponForm.maxGain,
              direction:this.editCouponForm.direction
            }).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.dialogVisible2 = false;
                    this.$message('编辑成功');
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                    this.$message.error(res.msg);
                }
                this.isEdit = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isEdit = false;
            });

           } else {
            this.isEdit = false;

             return false;
           }
         });
    },
    formatterTime(row, column){
      return row.validtimeStart + '至' + row.validtimeEnd
    },
    formatterStatus(row, column){
      if(row.status == 0){
        return '停用'
      }else if(row.status === 1){
        return '正常'
      }else if(row.status === 2){
        return '过期'
      }
    },
    formatterAct(row, column){
      return row.ifAct == 0 ?'否':'是'
    },
    handleAddForm(form){
      this.dialogVisible1 = true;
      if (this.$refs[form]) {
        this.$refs[form].resetFields();
      }
    },
    formatterType(row, column){
      let arr = this.couponTypeOption;
      for(var i = 0; i <arr.length; i++){
        if(row.issueType == arr[i].name){
            return arr[i].desc
        }
      }
    },
    reset(form){
      this.queryS.activityTitle = '';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
     handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
     getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
     // 初始表单
     getList(){
         this.$http.post('/hongbao/read/list',{hongbaoTitle:this.queryS.activityTitle, pageNum:this.pageNum,pageSize:this.pageSize}).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
                 this.couponTypeOption = res.data.IssueTypeList;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     handleEdit(row){
       if (this.$refs['editCouponForm']) {
         this.$refs['editCouponForm'].resetFields();
       }
          this.$http.post('/hongbao/updateUI',{id:row.id_}).then((response) => {
             const res = response.body;
              if (res.code==200) {
                  this.editCouponForm.id = res.data.hongbao.id_;
                  this.editCouponForm.version = res.data.hongbao.version;
                  this.editCouponForm.hongbaoTitle = res.data.hongbao.hongbaoTitle;
                  this.editCouponForm.issueType = res.data.hongbao.issueType;
                  this.editCouponForm.money = res.data.hongbao.money;
                  this.editCouponForm.minAmount = res.data.hongbao.minAmount;
                  this.editCouponForm.validtimeStart = res.data.hongbao.validtimeStart;
                  this.editCouponForm.validtimeEnd = res.data.hongbao.validtimeEnd;
                  this.dateArrEdit = [res.data.hongbao.validtimeStart,res.data.hongbao.validtimeEnd]
                  this.editCouponForm.ifAct = res.data.hongbao.ifAct;
                  this.editCouponForm.maxGain = res.data.hongbao.maxGain;
                  this.editCouponForm.issueNum = res.data.hongbao.issueNum;
                  this.editCouponForm.direction = res.data.hongbao.direction;
                  this.dialogVisible2 = true;
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });




  },
  handleSend(row){
   this.$router.push({
    name:'sendcoupon',
    query:{id:row.id_,nameAct:row.hongbaoTitle}
   })
  },
  beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
  }
}
}
</script>
<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}

</style>
