<template>
<div>
      <div class="list-todo__top">   
            <el-form v-model="queryS" :inline="true" ref="search">
              <el-form-item label="手机号：" label-width="120px">
                <el-input v-model="queryS.phone"></el-input>
              </el-form-item>
              <el-form-item label="发放时间：" label-width="120px">
                  <el-date-picker
                    v-model="daterange"
                    format="yyyy/MM/dd HH:mm:ss"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    type="datetimerange"
                    @change="spliceTime"
                    :picker-options="pickerOptions"
                    placeholder="选择下单时间范围">
                  </el-date-picker>
              </el-form-item>
                <el-form-item label="发放人帐号：" label-width="120px">
                  <el-input v-model="queryS.issueAccount"></el-input>
                </el-form-item>
                <el-row>
                    <el-form-item>
                      <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                        <el-button type="default" :loading="isSearch" @click="reset()">重置条件</el-button>
                    </el-form-item>
                </el-row>
            </el-form>
      </div> 
  <div class="table-list">
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="createTime"
                  label="发放时间">
          </el-table-column>
          <el-table-column
                  prop="issueAccount"
                  label="发放人账号">
          </el-table-column>
          <el-table-column
                  prop="issueName"
                  label="发放人名称">
          </el-table-column>
          <el-table-column
                  prop="issueType"
                  :formatter="formatterIssue"
                  label="发放类型">
          </el-table-column>
          <el-table-column
                  prop="opeuserType"
                  :formatter="formatterOper"
                  label="操作类型">
          </el-table-column>
          <el-table-column
                  prop="userName"
                  label="用户昵称">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="用户手机号">
          </el-table-column>
      </el-table>
      <el-pagination
          layout="total, prev, pager, next"
          @current-change="changePageNum"
          :page-size="20"
          :total="total">
      </el-pagination>
  </div>
</div>
</template>
<script>
import moment from 'moment';
export default {
  name: 'couponLog',
  props:['dataId'],
  data () {
    return {
      //页码类
      total: 0,
      pageNum:1,
      pageSize:20,
      isSearch:false,
      //表格类
      tableData:[
      ],
      daterange:'',
      queryS:{
        phone:'',
        startDate:'',
        endDate:'',
        issueAccount:''
      },
      operOption:[],
      typeOption:[],
      formLabelWidth: '120px',
      pickerOptions: {
                shortcuts: [{
                  text: '最近一周',
                  onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    picker.$emit('pick', [start, end]);
                  }
                }, {
                  text: '最近一个月',
                  onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    picker.$emit('pick', [start, end]);
                  }
                }, {
                  text: '最近三个月',
                  onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                    picker.$emit('pick', [start, end]);
                  }
                }]
              }
    };
  },
  watch:{
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      dataId: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  created(){
    this.getList();
  },
  methods: {
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
    reset(){
        this.queryS.phone ='';
        this.queryS.startDate ='';
        this.queryS.endDate ='';
        this.queryS.issueAccount ='';
        this.daterange='';
       var _this = this;
       _this.isSearch = true;
       setTimeout(function () {
           _this.isSearch = false;
       },1500);
       this.pageNum = 1;
       this.getList()
    },
    spliceTime(time){
      console.log(time)
      if(Array.isArray(time)){
        this.queryS.startDate =time[0];
        this.queryS.endDate =time[1];

      }else{
        this.queryS.startDate ='';
        this.queryS.endDate ='';

      }
     },
    formatterTime(row, column){
      return moment(row.playTime).format("YYYY.MM.DD")
    },
    formatterIssue(row, column){  
          let arr = this.typeOption;
          for(var i = 0; i <arr.length; i++){
            if(row.issueType == arr[i].name){
                return arr[i].desc
            }
          }
    },
    formatterOper(row, column){  
          let arr = this.operOption;
          for(var i = 0; i <arr.length; i++){
            if(row.opeuserType == arr[i].name){
                return arr[i].desc
            }
          }
    },
    changePageNum(curPage){
      this.pageNum = curPage
    },
     handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
     // 初始表单
     getList(){
         this.$http.post('/hongbao/readIssueList',{
          hongbaoId:this.dataId,
          phone:this.queryS.phone,
          startDate:this.queryS.startDate,
          endDate:this.queryS.endDate,
          issueAccount:this.queryS.issueAccount,
          pageNum:this.pageNum,
          pageSize:this.pageSize
        }).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
                 this.operOption = res.data.OpeuserTypeList
                 this.typeOption = res.data.IssueTypeList
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>