<template>
<div>
  <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/dudu/hongbao'}">红包管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/sys/sendcoupon'}">红包发放</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      <div class="list-todo__top">
        <h3>红包名称：<span class="actLink">{{nameAct}}</span></h3>
        <el-form :inline="true" ref="search" label-width="100px">

	          <el-form-item label="请选择类型" prop="typeOptionId">
	            <el-select v-model="typeOptionId">
	            <el-option
                v-for="item in typeOption"
                :key="item.name"
                :label="item.desc"
                :value="item.name">
              </el-option>
	            </el-select>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId=='RANK_ID'" label="等级" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId=='USER_ID'" label="手机号" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
	          <el-form-item v-if="typeOptionId!='USER_ID' && typeOptionId!='RANK_ID'" label="关键字" prop="queryCondition">
	            <el-input  class="" v-model="queryCondition"></el-input>
	          </el-form-item>
            <el-button @click="handlerSearch" :loading="isSearch" :disabled="queryCondition==''" type="success"><i class="el-icon-search" aria-hidden="true"></i> 搜索</el-button>
          </el-form>
      </div> 
      <el-table
      v-if="diag"
         ref="multipleTable"
         :data="tableData"
         border
         height="400"
         tooltip-effect="dark"
         style="width: 100%"
         @selection-change="handleSelectionChange">
         <el-table-column
           type="selection"
           width="55">
         </el-table-column>
         <el-table-column
           prop="id_"
           label="ID"
           width="120">
         </el-table-column>
         <el-table-column
           prop="rankName" v-if="sortName == 'RANK_ID'" 
           label="等级">
         </el-table-column>
         <el-table-column
           prop="tagName" v-if="sortName == 'GROUP_ID'" 
           label="标签">
         </el-table-column>
         <el-table-column
           prop="nickname" v-if="sortName == 'USER_ID'" 
           label="昵称">
         </el-table-column>
         <el-table-column
           prop="phone" v-if="sortName == 'USER_ID'" 
           label="手机号">
         </el-table-column>
         <el-table-column
           prop="rankName" v-if="sortName == ''" 
           label="等级">
         </el-table-column>
         <el-table-column
           prop="tagName" v-if="sortName == ''" 
           label="标签">
         </el-table-column>
         <el-table-column
           prop="nickname" v-if="sortName == ''" 
           label="昵称">
         </el-table-column>
         <el-table-column
           prop="phone" v-if="sortName == ''" 
           label="手机号">
         </el-table-column>
       </el-table>
       <page :pageSize="pageSize" :total="total" :routerName="pathName" :querys='querys' v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>
      <div style="margin-top: 20px;margin-top: 20px;float: right;margin-right: 60px;">
        <el-button :loading="isSave" size="large" type="primary" @click="save">对已勾选项发放红包</el-button>
      </div>
  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'sendcoupon',
  components: {
      Page
  },
  data () {
    return {
      doSearch:false,      
      querys: JSON.stringify(this.$route.query),
      pageSize: parseInt(this.$route.params.pageSize),
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      //页码类
      rowId: this.$route.query.id,
      nameAct:this.$route.query.nameAct,
      queryCondition:'',
      isSearch:false,
      rowVs: '',
      diag:true,
      isSave:false,
      typeOptionId:'',
      typeOption:[ 
      ],
      sortName:'',
      onOff:false,
      checkdArr:[],
    //表格类
    tableData:[
    ],
    multipleSelection:[]
    };
  },
  watch:{
          queryCondition:{
            deep: true,
            handler: function(val, oldVal){
              if(val===''){
                this.doSearch =false;
                if(this.pageNum==1){
                  this.getList()
                }else{
                  this.pageNum = 1;                  
                }
              }
            }
          },
          typeOptionId:{
            deep: true,
            handler: function(val, oldVal){
              if(val!=oldVal){
                this.doSearch =false;                
                this.queryCondition = '';
                this.pageNum = 1;
                this.getList();
                
              }
            }
          },

            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
  },
  created(){
    this.pageNum =1;
    this.$route.params.pageNum =1;
    this.$router.replace({name:this.pathName,params: { pageNum: this.pageNum,pageSize: this.pageSize}, query:JSON.parse(this.querys)})
    this.getOptionList();
  },
  methods: {
    getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
    handlerSearch(){
      console.log(this.pageNum)
      this.doSearch = true;
      if(this.pageNum==1){
        this.getList();
      }else{
       this.pageNum =1;
        
      }
      // this.tableData=[];
      // this.$http.post('/hongbao/read/issueScope',{
      //   issueScope:this.typeOptionId,
      //   condition:this.queryCondition,
      //   pageNum:1,
      //   pageSize:this.pageSize
      // }).then((response) => {
      //     // 响应成功回调      
      //    const res = response.body;
      //     if (res.code==200) {
      //             this.total = res.data.page.total;
      //        this.tableData = res.data.page.records;
      //     } else {
      //         this.$message.error(res.msg);
      //     }
      // }, (response) => {
      //     this.$message.error('出错了:' + response);
      // });
    },
    getList(){
      this.isSearch = true;
      let postData ={
        hongbaoId:this.rowId,
        issueScope:this.typeOptionId,
        pageNum:this.pageNum,
        pageSize:this.pageSize
      }
      if(this.doSearch){
        postData =  {
          condition:this.queryCondition,
          issueScope:this.typeOptionId,
          pageNum:this.pageNum,
          pageSize:this.pageSize
        }
        //
      }
      this.tableData = [];
      this.$http.post('/hongbao/read/issueScope',postData).then((response) => {
          // 响应成功回调      
         const res = response.body;
          if (res.code==200) {
              this.typeOption = res.data.userScope;  
             
             try{if(res.data.page){
                 this.tableData = res.data.page.records;
               
                  this.total = res.data.page.total;                
                }else{
                  this.total = 0;
                }
               }catch(err){

              }         
          } else {
              this.$message.error(res.msg);
          }
           this.isSearch = false;          
          
      }, (response) => {
           this.isSearch = false;          
        
          this.$message.error('出错了:' + response);
      });
    },
    
    getOptionList(){
          this.$http.post('/hongbao/read/issueScope').then((response) => {
              // 响应成功回调      
             const res = response.body;
              if (res.code==200) {
                 this.typeOption = res.data.userScope;
                 
                 
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
    },
    save(){
      let arr = [];
      for (var i = this.multipleSelection.length - 1; i >= 0; i--) {
        arr.push(this.multipleSelection[i].id_);
      }
      this.update(arr);
    },
    handleSelectionChange(val){
        this.multipleSelection = val;
        console.log(val)
      },
    backGo(){
      history.go(-1);
    },
    update(arr){
      this.isSave = true;
        this.$http.post('/hongbao/issueHongbao', {hongbaoId:this.rowId,issueScope:this.typeOptionId, value:JSON.stringify(arr)}).then((response) => {
            // 响应成功回调      
           const res = response.body;
          if (res.code==200) {
            
            if(res.data.success){
             this.$message('发放申请已提交');
             var self = this;
            //  setTimeout(function(){
            //    self.$router.push({
            //     path:'/dudu/hongbao/1'
            //   })
            //  },1000)
             this.isSave = false;
            }else{
              this.$message(res.data.message);
              this.isSave = false;
            }                     
          } else {
              this.$message.error(res.msg);
              this.isSave = false;
          }
        }, (response) => {
            this.$message.error('出错了:' + response);
            this.isSave = false;
            
        });
    } 
  },

  
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        },
};
</script>
<style type="text/css">
  .actLink{
    color: #20A0FF;
  }
</style>