<template>
  <div class="container__main">
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sinopec/code/list'}">赠券码管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="list-todo__top">
        <div class="todo-btn">
          <el-form :inline="true" ref="search" :model="search" label-width="90px">
            <el-form-item label="赠券码" prop="exchangeNumber">
              <el-input v-model="search.exchangeNumber"></el-input>
            </el-form-item>
            <el-form-item label="校验码" prop="exchangeCode">
              <el-input v-model="search.exchangeCode"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="status">
              <el-select   v-model="search.status" :clearable="true" filterable placeholder="请选择">
                <el-option v-for="item in statusArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
              <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
            </el-form-item>

          </el-form>

          <el-upload
            class="upload-demo"
            ref="upload"
            accept="excel"
            :on-success="handleSuccess"
            :on-error="handleFail"
            action="/sinopec/codeOfExcel/read"
            :file-list="fileList"
            :show-file-list="false"
            :auto-upload="true">
            <el-button :loading="exportLoad" slot="trigger" size="small" type="success">导入兑换券</el-button>
          </el-upload>
        </div>
      </div>
      <el-table
        max-height="600"
        row-key
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          prop="exchangeCode"
          label="核销码">
        </el-table-column>
        <el-table-column
          prop="exchangeNumber"
          label="赠券码">
        </el-table-column>
        <el-table-column
          prop="statustatus"
          :formatter="formatStatus"
          label="状态">
        </el-table-column>
      </el-table>
    </div>
    <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
  </div>
</template>
<script>
  import Page from '../../Page.vue';
  import moment from 'moment'
  export default {

    data (){

      return {

        exportLoad:false,
        fileList: [],
        statusArray:[],

        indexNumber:0,
        tableLoading:true,
        tableData: [],
        remarkData:[],
        batchData:[],
        ticketData:[],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        uploadUrl: '/product/getPolicy',
        content: {
          productDetail:''
        },
        checkTable:[],
        productJson:[],
        repealObj:[],
        ticketObj:[],
        cardObj:[],
        product: {
          name:'',
          chargeback:'',
          refuninfo:'',
        },
        proDialogVisible: false,
        batchDataVisible: false,
        ticketVisible:false,
        pickerOptionsStart: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },

        pickerOptionsEnd: {
          disabledDate :(time) =>  {
            return time.getTime() < this.cardForm.productStartTime || time.getTime() < Date.now() - 8.64e7;;
          }
        },

        //下面是编辑或者新增的弹窗数据
        orderStatusArray: [],  //订单状态数组
        typeArray: [],    //定制游类型
        isAdd: true,
        addBtnFlag: false,
        updateBtnFlag: false,
        searchBtnFlag: false,
        remark: {
          oprtResume:'',
          orderId:'',
        },
        search: {
          exchangeNumber:'',
          exchangeCode:'',
          status:'',
        },



      }
    },
    created () {
      this.getList();
    },
    components: {
      Page,
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
    },
    computed: {
    },
    methods: {

      formatStatus(row, column){
        for(let item of this.statusArray){
          if(item.name === row.status){
            return item.desc
          }
        }
      },

      handleSuccess(res, file, fileList){
        if (res.code==200) {
          if(res.data.success){
            this.$message.success(res.data.message);
            this.getList()

          }else{
            this.$message(res.data.message);

          }
        } else {
          this.$message.error(res.msg);

        }
      },
      handleFail(err, file, fileList){
        this.$message.success(res.msg);
      },
      changePageNum(curPage){
        this.pageNum = curPage;
      },
      submitUpload() {
        this.$refs.upload.submit();
      },



      setStatus (row, state) {  //启用或者禁用
        let url =''
        if(state==1){
          url = '/yjProduct/disable'
        }else{
          url = '/yjProduct/disable'
        }


        this.$http.post(url, {id:row.id_, version: row.version}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getList();

            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },




      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.resetForm('search');
        this.pageNum = 1;
        this.getList();
      },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },
      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },

      getList () {  //获取分页
        this.tableLoading = true;
        this.$http.post('/sinopec/code/list', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          exchangeNumber: this.search.exchangeNumber,
          exchangeCode: this.search.exchangeCode,
          status: this.search.status,
        }).then((response) => {
          const res = response.body;
          if (res.code == 200) {
            this.statusArray = res.data.exchangeStatusEnumList;
            this.tableData = res.data.codeList.records;
            this.total = res.data.codeList.total;
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
          this.tableLoading = false;
        });
      },
      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      }
    }
  }
</script>
<style>
  .batch-box{
    padding:5px;
    margin:5px;
    border: 1px dashed #ddd;
    color: #fff;
    background: #FF4949;
  }
</style>
