<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户属性</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" ref="search">
	          <el-form-item label="名称" label-width="50px">
	            <el-input v-model="attributes_name"></el-input>
	          </el-form-item>
	          <el-form-item>
	            <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
	            <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加属性</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="attributesName"
                  label="属性">
          </el-table-column>
          <el-table-column
                  prop="attributesDetail"
                  label="说明">
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="178">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="添加用户属性" :visible.sync="dialogVisible1" :before-close="handleClose">
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm">
         <el-form-item label="用户属性" :label-width="formLabelWidth" prop="attributes_name">
           <el-input v-model="addLocForm.attributes_name"></el-input>
         </el-form-item>
         <el-form-item label="说明" :label-width="formLabelWidth" prop="attributes_detail">
           <el-input v-model="addLocForm.attributes_detail"></el-input>
         </el-form-item>
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isAdd" @click="submitForm('addLocForm')">保存并添加</el-button>
       <el-button @click="dialogVisible1 = false">取 消</el-button>
     </div>
    </el-dialog>

     <el-dialog title="编辑用户属性" :visible.sync="dialogVisible2" :before-close="handleClose">
       <el-form :model="editLoc" :rules="addFormRules" ref="editLoc">
         <el-form-item label="用户属性" :label-width="formLabelWidth" prop="attributes_name">
           <el-input v-model="editLoc.attributes_name"></el-input>
         </el-form-item>
         <el-form-item label="说明" :label-width="formLabelWidth" prop="attributes_detail">
           <el-input v-model="editLoc.attributes_detail"></el-input>
         </el-form-item>
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isEdit" @click="editForm('editLoc')">保存并添加</el-button>
       <el-button @click="dialogVisible2 = false">取 消</el-button>
     </div>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'preference',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
    	//表单类
      dialogVisible1:false,
      dialogVisible2:false,
      addLocForm:{
           attributes_name:'',
           attributes_detail:''
         },
    	editLoc:{
             id:'',
             version:'',
             attributes_name:'',
             attributes_detail:'',
  	       },
	       formLabelWidth: '120px',
         // 查询条件
	        attributes_name:'',
        // 规则
        addFormRules:{
        attributes_name:[{ required: true, message: '请输入标签', trigger: 'blur' },
             { min:2, max:20,  message: '长度在 2 到 20 个字符', trigger: 'blur' }],
        attributes_detail:[{ min:0, max:100, message: '长度在 0 到 100 个字符', trigger: 'blur'}]
        }

    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    reset(form){
     this.attributes_name='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
  	 handleClose(done) {
            this.$confirm('确认关闭？')
              .then(_ => {
                done();
              })
              .catch(_ => {});
          },
    // 添加
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
               if (valid) {
                this.$http.post('/userAttributes/userAttr/insert',this.addLocForm).then((response) => {
                    const res = response.body
                    console.log(res);
                    if (res.code==200) {
                      if(res.data.success){
                          this.dialogVisible1 = false;
                          this.$message('添加成功');
                          this.getList();
                      }else{
                        this.$message(res.data.message);
                      }

                    } else {
                        this.$message.error(res.msg);
                    }
                     this.isAdd = false;
                }, (response) => {
                    this.$message.error('出错了:' + response);
                     this.isAdd = false;
                });

               } else {
                 this.isAdd = false;
                 return false;
               }

             });
    }, //修改
    editForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/userAttributes/userAttr/update',this.editLoc).then((response) => {
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.dialogVisible2 = false;
                    this.$message('修改成功');
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                    this.$message.error(res.msg);
                }
                this.isEdit = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isEdit = false;
            });

           } else {
             this.isEdit = false;
             return false;
           }

         });
    },
  	editUserAttr(form){
      console.log('增加用户属性')
  	},
  	handleAddForm(form){
		this.dialogVisible1 = true;
		if (this.$refs[form]) {
      this.$refs[form].resetFields();
    }
  	},
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
    	this.getList();
    },
    // 编辑
    handleEdit(row){
          console.log(row);
      if (this.$refs['editLoc']) {
        this.$refs['editLoc'].resetFields();
      }
      this.dialogVisible2 = true;
         this.editLoc.id = row.id_;
         this.editLoc.version = row.version;
         this.editLoc.attributes_name = row.attributesName;
         this.editLoc.attributes_detail = row.attributesDetail;
         },
         // 删除
    handleDelete(row) {
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/userAttributes/userAttr/delete', {id:row.id_,version:row.version}).then((response) => {
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                if(res.data.success){
                   this.$message('删除成功');
                   this.getList();
                }else{
                  this.$message(res.data.message);
                }
	             } else {
	                this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/userAttributes/userAttr/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize,attributes_name:this.attributes_name}).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.records;
                     this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
