<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form v-model="queryS" :inline="true" ref="search">
	          <el-form-item label="昵称" label-width="50px">
	            <el-input v-model="queryS.nickname"></el-input>
	          </el-form-item>
	          <el-form-item label="手机号" label-width="70px">
	            <el-input v-model="queryS.phone"></el-input>
	          </el-form-item>
	          <el-form-item>
	            <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="nickname"
                  label="用户昵称">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="手机号">
          </el-table-column>
          <el-table-column
                  prop="sex"
                  label="性别"
                  :formatter="sexFormat">
          </el-table-column>
          <el-table-column
                  prop="rankName"
                  label="会员等级">
          </el-table-column>
          <el-table-column
                  prop="empValue"
                  label="积分">
          </el-table-column>
          <el-table-column
                  prop="travel_fund"
                  label="旅行基金">
          </el-table-column>
          <el-table-column
                  prop="userStatus"
                  label="状态"
                  :formatter="statusFormat">
          </el-table-column>
          <el-table-column
                  prop="kefuName"
                  label="专属客服">
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="200">
	              <template slot-scope="scope">
	              	<el-button @click="handleReset(scope.row)" type="primary" size="small">密码重置</el-button>
                  <el-button v-if="scope.row.userStatus == 'BAN'||scope.row.userStatus == 'EXP'" @click="handleDisable1(scope.row)" type="success" size="small">启用</el-button>
                  <el-button v-if="scope.row.userStatus == 'NORMAL'" @click="handleDisable2(scope.row)" type="danger" size="small">停用</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="手机更换" :visible.sync="dialogVisible" :before-close="handleClose">
       <el-form :model="changePhone" :rules="changePhoneRule" ref="changePhone">
         <el-form-item label="手机号" label-width="70px" prop="phone">
           <el-input v-model="changePhone.phone"></el-input>
         </el-form-item>
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isEdit" @click="submitPhone('changePhone')">保存并修改</el-button>
       <el-button @click="dialogVisible = false">取 消</el-button>
     </div>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'preference',
  components: {
      Page
  },
  data () {
    var validateTel = (rule, value, callback) => {
          var patternExp  =  this.$store.state.phoneReg;
          setTimeout(() => {
                if (!patternExp.test(value)) {
                  callback(new Error('手机号码格式不正确'));
                } else {
                  callback();
                }
            }, 1000);
        };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      statusOption:[],
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
    	//表单类
      dialogVisible:false,
      resetPwd:{
           pwd:''
       },
        changePhone:{
           phone:''
         },
        formLabelWidth: '120px',
     	// 查询条件
        queryS:{
        	nickname:'',
        	phone:''
        },
    	// 规则
        changePwdRule:{
        pwd:[{ required: true, message: '请输入密码', trigger: 'blur' }],
    },
        changePhoneRule:{
        phone:[{ required: true, message: '请输入手机号', trigger: 'blur' },
        { validator: validateTel, trigger: 'blur' }]
        },

    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    reset(form){
     this.queryS.nickname='';
     this.queryS.phone='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
  	 handleClose(done) {
	    this.$confirm('确认关闭？')
	      .then(_ => {
	        done();
	      })
	      .catch(_ => {});
	  },
    handleDisable1(row) {
       this.$confirm('确认启用该用户?')
         .then(_ => {
           this.$http.post('/user/updateStasus/enableUser', {id:row.id_, version:row.version,phone:row.phone}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);
               if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
         })
         .catch(_ => {});
         },
    handleDisable2(row) {
       this.$confirm('确认停用该用户?')
         .then(_ => {
           this.$http.post('/user/updateStasus/disableUser', {id:row.id_, version:row.version,phone:row.phone}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);
               if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
         })
         .catch(_ => {});
         },
    // 修改手机号
    submitPhone(form){
        this.isEdit = true;
       this.$refs[form].validate((valid) => {
           if (valid) {
            this.$http.post('/user/user/updatePhone',this.changePhone).then((response) => {
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.dialogVisible = false;
                    this.$message('修改成功');
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                    this.$message.error(res.msg);
                }
                this.isEdit = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isEdit = false;
            });

           } else {
            this.isEdit = false;
             return false;
           }

         });
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
    	this.getList();
    },
    statusFormat(row, column){
      let arr = this.statusOption;
      for(var i = 0; i <arr.length; i++){
        if(row.userStatus == arr[i].name){
            return arr[i].desc
        }
      }
    },
    sexFormat(row, column){
      if(row.sex == '1'){
        return '男'
      }else if(row.sex == '2'){
        return '女'
      }else{
        return '未知'
      }
    },
    // 重置密码
    handleReset(row){
      this.$confirm('确认重置密码?')
        .then(_ => {
          this.$http.post('/user/user/updatePwd', {id: row.id_,
              version:row.version,phone:row.phone}).then((response) => {
              // 响应成功回调
              const res = response.body
              console.log(res);
              if (res.code==200) {
               if(res.data.success){
                 this.$message('重置密码成功');
                 this.getList();
               }else{
                 this.$message(res.data.message);
               }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        })
        .catch(_ => {});
         },
    // 重置手机号
    // handleChange(row){
    //     console.log(row);
    //   if (this.$refs['changePhone']) {
    //     this.$refs['changePhone'].resetFields();
    //   }
    //   	 this.dialogVisible = true;
    //      this.changePhone.id = row.id_;
    //      this.changePhone.version = row.version;
    //      this.changePhone.phone = row.phone;
    //      },
         // 停用和启用
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/user/user/list', {pageNum: this.pageNum,pageSize: this.pageSize,nickname:this.queryS.nickname, phone:this.queryS.phone}).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.userList.records;
                     this.total = res.data.userList.total;
                     this.statusOption = res.data.userStatus;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
