<template>
  <div id="changelog-mod" class="white-bg">
    <ul class="timeline">
      <li v-for="item in logs">
        <h3>{{item.version}}</h3>
        <p class="date">
          <em>{{item.date}}</em>
        </p>
        <ul>
          <li v-for="subItem in item.list">
            {{subItem.done}} <span v-if="subItem.who">(by: {{subItem.who}})</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'map',
    data (){
      return {
        logs:[
          {
            date:'2018-03-26',
            version: '0.2.1',
            list:[
              {
                done: '增加协会会员和兼职人员功能',
                who: '',
                url:''
              },
              {
                done: '富文本编辑器（wangeditor）升级至v3.10.0',
                who: '',
                url:''
              },
              {
                done: '升级element-UI至2.2.2',
                who: '',
                url:''
              }
            ]
          },
          {
            date:'2017-12-22',
            version: '0.2.0',
            list:[
              {
                done: '新增定制游管理功能',
                who: 'wkq，lw',
                url:''
              },
              {
                done: '富文本编辑器（wangeditor）升级至v3.0.13',
                who: '',
                url:''
              },
              {
                done: '升级element-UI至1.4.12',
                who: '',
                url:''
              }
            ]
          },
          {
            date:'2017-08-11',
            version: '0.1.9',
            list:[
              {
                done: '取消推荐功能、分页优化',
                who: 'kws',
                url:''
              },
              {
                done: '产品价格和项目价格修改流程优化',
                who: 'wkq',
                url:''
              },
              {
                done: '富文本编辑器（wangeditor）升级至v3.0.5',
                who: '',
                url:''
              },
              {
                done: '升级element-UI至1.4.0',
                who: '',
                url:''
              }
            ]
          },
          {
            date:'2017-06-26',
            version: '0.1.8',
            list:[
              {
                done: '富文本编辑器（wangeditor）升级至v3.0.3',
                who: '',
                url:''
              },
              {
                done: '项目新增和编辑页面，提示是否使用产品详情覆盖项目详情的内容',
                who: '',
                url:''
              },
              {
                done: '在玩法管理、产品管理、项目管理列表点击标题可以进入内容预览页面',
                who: '',
                url:''
              },
            ]
          },
          {
            date:'2017-06-16',
            version: '0.1.7',
            list:[
              {
                done: '增加项目的手机端模拟预览',
                who: '',
                url:''
              }
            ]
          },
          {
              date:'2017-06-15',
              version: '0.1.6',
              list:[
                {
                    done: '产品管理、项目管理、玩法管理列表页已经上架产品不允许进行编辑、删除、修改价格',
                    who: '@wkq',
                    url:''
                },
                {
                  done: '项目管理新增和修改：根据选定的地点，列出对应产品以供选择',
                  who: '',
                  url:''
                },
                {
                  done: '升级element-UI至1.3.6',
                  who: '',
                  url:''
                }
              ]
          },
          {
            date:'2017-06-10',
            version: '0.1.0',
            list:[
              {
                done: '运营部门端上线',
                who: '',
                url:''
              }
            ]
          },
          {
            date:'2017-05-02',
            version: '0.0.1',
            list:[
              {
                done: '开始开发',
                who: '',
                url:''
              }
            ]
          },
        ]
      }
    },
    mounted: function () {

    }
  }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";

  #changelog-mod{
    padding:15px;
  }

  .white-bg{
    background: #fff;
  }
  .timeline{
    margin: 0 0 0 105px;
    padding-left: 25px;
    position: relative;
    color: #5e6d82;
    &:before{
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 10px;
      background-color: #eaeefa
    }
    ul{
      padding-left: 0;
    }
    li{
      &:first-child{
        h3{
          &:before{
            left: -33px;
            top: 10px;
            width: 17px;
            height: 17px;
            background-color: #20a0ff;
            border: 0;
          }
        }
      }
      li{
        font-size: 14px;
        list-style: none;
        padding-left: 0;
        word-break: break-all;
        &:before{
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #5e6d82;
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    >li{
      list-style: none;
      position: relative;
      line-height: 1.8;
      margin-top: -10px;
      &:not(:last-child){
        margin-bottom: 50px;
      }
      h3{
        margin: 0 0 10px;
        font-size: 22px;
        font-weight: 400;
        color: #1f2f3d;
        &:before{
          content: "";
          display: block;
          position: absolute;
          left: -31px;
          top: 13px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: transparent;
          border: 2px solid #20a0ff;
          box-sizing: border-box;
          background-color: #fff;
        }
      }
      .date{
        margin: 0;
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
        em{
          position: absolute;
          left: -127px;
          font-style: normal;
          top: 6px;
          font-size: 14px;
          color: #99a9bf;
        }
      }
    }
  }
</style>
