<template>
  <div id="help-mod__page">
    <el-collapse v-model="activeNames">
      <el-collapse-item name="1">
        <template slot="title">
          浏览器要求 <i class="fa fa-info-circle" aria-hidden="true"></i>
        </template>
        <div>
          <p><i class="fa fa-edge" aria-hidden="true"></i> IE浏览器  <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank">立即下载IE10</a></p>
          <p><i class="fa fa-chrome" aria-hidden="true"></i> chrome  <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank">立即下载chrome浏览器</a></p>
          <p><i class="fa fa-firefox" aria-hidden="true"></i> 火狐浏览器 <a href="http://www.firefox.com.cn/" target="_blank">立即下载火狐浏览器</a></p>
        </div>
      </el-collapse-item>
      <el-collapse-item title="提示操作频繁怎么办？" name="2">
        <div>
          <p>为了避免恶意攻击，系统的请求间隔限制不能少于1秒钟</p>
          <p>当出现提示操作过快的时候说明你向系统发起的请求过快，被系统过滤了，你只能重新操作或者刷新页面</p>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>
<script>
  export default {
    name: 'map',
    data (){
      return {
        activeNames: ['1']
      }
    },
    mounted: function () {

    }
  }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";
  .site-total__icon{
    padding:10px;
    background: #fff;
    @include radius(5px);
    .total-item{
      padding:0 5px;
      border-right: 1px solid #f2f2f2;
      &:last-child{
        border:nonel
      }
    }
  }
</style>
