<template>
    <div id="welcome-index">
    </div>
</template>
<script>
    export default {
        name: 'map',
        mounted: function () {
            this.$nextTick(function () {
            })

        }
    }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
    @import "../../assets/sass/common";
    .site-total__icon{
        padding:10px;
        background: #fff;
        @include radius(5px);
        .total-item{
            padding:0 5px;
            border-right: 1px solid #f2f2f2;
            &:last-child{
                border:nonel
            }
        }
    }
</style>
