<template>
  <div class="table-list">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/dudu/refund'}">产品退款管理</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="list-todo__top">
      <div class="todo-btn">
        <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="100px">
          <el-form-item label="产品订单编号" prop="orderNo">
            <el-input v-model="search.orderNo"></el-input>
          </el-form-item>
          <el-form-item label="联系人" prop="contact">
            <el-input v-model="search.contact"></el-input>
          </el-form-item>
          <el-form-item label="手机号" prop="phone">
            <el-input v-model="search.phone"></el-input>
          </el-form-item>
          <el-form-item label="产品名称" prop="productName">
            <el-input v-model="search.productName"></el-input>
          </el-form-item>
          <el-form-item label="申请人" prop="userName">
            <el-input v-model="search.userName"></el-input>
          </el-form-item>
          <el-form-item label="退款状态" prop="status">
            <el-select filterable v-model="search.status" placeholder="退款状态">
              <el-option v-for="item in refundStatusArr" :key="item.name"  :label="item.desc" :value="item.name"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :loading="searchBtnFlag" @click="searchList('search')">查询</el-button>
            <el-button type="default" :loading="searchBtnFlag" @click="reset">重置条件</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <el-table
      :data="tableData"
      v-loading="tableLoading"
      element-loading-text="拼命加载中"
      stripe
      style="width: 100%">
      <el-table-column
        prop="uesrName"
        label="申请人">
      </el-table-column>
      <el-table-column
        prop="contact"
        label="联系人">
      </el-table-column>
      <el-table-column
        prop="phone"
        label="手机号">
      </el-table-column>
      <el-table-column
        prop="productName"
        label="产品标题">
      </el-table-column>
      <el-table-column
        prop="supName"
        label="供应商">
      </el-table-column>
      <el-table-column
        prop="refundMoney"
        label="退款金额">
    </el-table-column>
      <el-table-column
        prop="refundFixed"
        label="固定退款金额">
      </el-table-column>
      <el-table-column
        prop="refundPercent"
        label="退款百分比">
      </el-table-column>
      <el-table-column
        prop="productOrderNo"
        label="产品订单号">
      </el-table-column>
      <el-table-column
        prop="createTime"
        label="创建时间">
      </el-table-column>
      <el-table-column
        prop="refundText"
        label="退款状态">
      </el-table-column>
       <el-table-column
         label="申请理由">
             <template slot-scope="scope">
               <el-button type="text" @click="openTipRoute1(scope.row)">详情</el-button>
             </template>
       </el-table-column>
       <el-table-column
         label="拒绝理由">
             <template slot-scope="scope">
               <el-button type="text" @click="openTipRoute2(scope.row)">详情</el-button>
             </template>
       </el-table-column>
      <el-table-column
        label="操作"
        fixed="right"
        width="100">
        <template slot-scope="scope">
          <el-button
            size="small"
            type="success"
            v-if="scope.row.refundStatus=='WAIT_CONFIRM'"
            @click="openAudit(scope.row)">立即审核
          </el-button>
          <el-button
            :disabled="true"
            size="small"
            type="default"
            v-if="scope.row.refundStatus!='WAIT_CONFIRM'">暂无操作
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>

    <el-dialog v-if="itemObj" title="审核退款" :visible.sync="showDataFlag" :before-close="closeAudit">
      <p>退款金额：{{itemObj.refundMoney}}</p>
      <p>订单编号：{{itemObj.productOrderNo}}</p>
      <el-form :model="auditDate" ref="audit">
        <el-form-item label="活动区域" label-width="120" prop="isRufund">
          <el-radio-group v-model="auditDate.isRufund">
            <el-radio :label="true">同意</el-radio>
            <el-radio :label="false">拒绝</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="不同意的理由" prop="refuse">
          <el-input type="textarea" v-model="auditDate.refuse" placeholder="拒绝的时候才填写"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeAudit">取 消</el-button>
        <el-button type="primary" @click="audit()">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>
<script>
  import Page from '../Page.vue';
  import api from '../../api/refund';
  export default {
    data (){
      return {


        auditDate: {
          refuse:'',
          isRufund: false,
        },
        itemObj:null,

        refundStatusArr:[],
        tableLoading: true,
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        showDataFlag: false,
        searchBtnFlag: false,
        daterange: '',
        doVal: '',
        search: {
          status: '',
          orderNo: '',
          phone: '',
          contact: '',
          productName: '',
          userName: '',
        },
        searchRules: {},
        rules: {
          title: [
            {required: true, message: '请输入标题', trigger: 'blur'},
            {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
          ],
          banner: [
//                        { required: true, message: '请上传图片', trigger: 'blur' },
            {min: 0, max: 100, message: '需要banner图', trigger: 'blur'}
          ],
          url: [
            {required: true, message: '请输入跳转的链接地址', trigger: 'blur'},
            {min: 4, max: 50, message: '正确链接地址', trigger: 'blur'}
          ],
          form_sort: [
            /* {required: true, message: '请输入排序号', trigger: 'blur' },
             {min: 0, max: 16, message: '请输入0-16位数字', trigger: 'blur' },
             {type: 'number',  message: '必须是数字', trigger: 'blur' }*/
          ],
        },
        pickerOptions: {  //时间范围限制
          disabledDate(time) {
            return time.getTime() >= Date.now();
          }
        },
      }
    },
    created () {
      this.getList();
    },
    components: {
      Page
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },

      tableData: {
          deep: true,
          handler: function (val, oldVal) {
            for(let i = 0; i< val.length; i++){
                for(let k = 0; k<this.refundStatusArr.length; k++){
                    if(val[i].refundStatus==this.refundStatusArr[k].name){
                        val[i].refundText = this.refundStatusArr[k].desc;
                    }
                }
            }
          }
      }
    },
    methods: {
      openTipRoute1(row){
        const h = this.$createElement;
            this.$notify({
              title: '申请理由',
              message: h('i', { style: 'color: teal'}, row.reason)
            });
      },
      openTipRoute2(row){
        const h = this.$createElement;
            this.$notify({
              title: '拒绝理由',
              message: h('i', { style: 'color: teal'}, row.refuse)
            });
      },
      spliceTime (val) {
        console.log(val);
        let timeArray = val.split('-');
        this.search.startDate = timeArray[0];
        this.search.endDate = timeArray[1];
      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.resetForm('search');
        this.pageNum = 1;
        this.getList();
      },


      openAudit (row) {
        this.itemObj = row
        this.showDataFlag = true;
      },
      closeAudit () {
        this.showDataFlag = false;
        this.resetForm('audit')
      },


      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },
      audit () {
        this.$http.post('/refund/audit',{
          id: this.itemObj.id_,
          version: this.itemObj.version,
          productOrderNo: this.itemObj.productOrderNo,
          isRufund: this.auditDate.isRufund,
          refuse: this.auditDate.refuse
        }).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message({
                message: '审核成功',
                type: 'success'
              });
              this.closeAudit();
              this.getList();
            }else{
              this.$message({
                message: res.data.message,
                type: 'error'
              });
            }
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },
      getList () {  //获取分页
        this.tableLoading = true;
        api.getList({
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          status: this.search.status,
          orderNo: this.search.orderNo,
          phone: this.search.phone,
          contact: this.search.contact,
          productName: this.search.productName,
          userName: this.search.userName,
        }, (response) => {
          const res = response.body;
          if (res.code == 200) {
            if(this.refundStatusArr.length==0){
              this.refundStatusArr = res.data.refundStatus;
            }
            this.tableData = res.data.page.records;
            this.total = res.data.page.total;

          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
          this.tableLoading = false;

        });
      }
    },
    beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
      // 在当前路由改变，但是改组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
    }
  }
</script>
