<template>
<div>
  <div class="table-list">
      <div class="list-todo__top">
          <el-form :inline="true" :model="queryS" ref="search" class="inline-form-query">
            <el-form-item label="名称" prop="site_title">
              <el-input v-model="queryS.activityTitle"></el-input>
            </el-form-item>
            <el-form-item label="活动状态 " prop="site_sort_id">
              <el-select v-model="queryS.activityStatus">
              <el-option
              v-for="item in siteOption"
              :value="item.id_"
              :key="item.id_"              
              :label="item.sortName">
              </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList()"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset()">重置条件</el-button>
              <el-button type="success"  @click="handleAddForm('addCouponForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加红包</el-button>
            </el-form-item>
          </el-form>
      </div>
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="name"
                  label="红包名称">  
          </el-table-column>  
          <el-table-column  
                  prop="sendTime"
                  label="发放时间">
          </el-table-column>
          <el-table-column
              prop="userId"
                  label="用户ID">
          </el-table-column>
          <el-table-column
                  prop="userNick"
                  label="用户昵称">
          </el-table-column>
          <el-table-column
                  prop="useRange"
                  label="有效时间">
          </el-table-column>
          <el-table-column
                  prop="remark"
                  label="备注">
          </el-table-column>
          <el-table-column
                  prop="status"
                  label="状态">
          </el-table-column>
          </el-table-column>
          <el-table-column
                fixed="right"
                label="操作"  
                width="178">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row)" type="primary" size="small">编辑</el-button>
                  <el-button @click="handleDelete(scope.row)" type="danger" size="small">删除</el-button>
                </template>
          </el-table-column>
      </el-table>

   <page :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

        <el-dialog title="发放红包" :visible.sync="dialogVisible1" :before-close="handleClose">
            <el-form :model="sendCouponForm" ref="sendCouponForm">
                <el-form-item label="发放红包" :label-width="formLabelWidth">
                    <el-select v-model="sendCouponForm.couponAccount" placeholder="20元红包">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="发放用户" :label-width="formLabelWidth">
                    <el-select v-model="sendCouponForm.userId" placeholder="指定用户">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="备注:" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="sendCouponForm.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm()">保存</el-button>
                <el-button @click="dialogVisible1 = false">取 消</el-button>
            </div>
        </el-dialog> 

  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'couponsend',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
        isSearch:false,
        isAdd:false,
        isEdit:false,
        dialogVisible1:false,
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:20,
      //表格类
      tableData:[
      ],
        formLabelWidth: '120px',
      // 查询条件
        queryS:{
          activityTitle:'',
          activityStatus:''
        },
        couponTypeOption:[],
        activityOption:[],
        addCouponForm:{

        },
        editActivForm:{

        }
    };
  },
  created(){
    this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    handleAddForm(form){
      this.dialogVisible1 = true;
      if (this.$refs[form]) {
        this.$refs[form].resetFields();  
      }
    },
    formatterOrder(row, column){
      var statusObj = {
          WAITING_PAYMENT:'待支付',
          SETOUT:'准备中',
          SUPPLY_FAIL:'缺货',
          REFUND:'退款中',
          CANCELED:'订单取消',
          WAIT_USE:'待消费',
          EXPIRE:'已过期',
          FINISH:'已完成',
          WAIT_SETT:'待结算'
      }
      return statusObj[row.orderStatus]
    },
    formatterPay(row, column){
      var statusObj = {
          WAITING_PAYMENT:'等待支付',
          SUCCESS:'支付成功',
          FAILED:'支付失败'
      }
      return statusObj[row.payStatus]
    },
    reset(form){
      this.queryS.activityTitle = '';
      this.queryS.activityStatus = '';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
     handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    // 查询 
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
     getPageSize (val) { 
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
     // 初始表单
     getList(){
         this.$http.post('/hongbao/read/list',{hongbaoTitle:this.queryS.hongbaoTitle, pageNum:this.pageNum,pageSize:this.pageSize}).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
                 this.couponTypeOption = res.data.IssueTypeList;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {  
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     }
  }
};
</script>
<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
 
</style>