<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>地点管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
      <div class="list-todo__top">
        <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加地点</el-button>
          <el-form :inline="true" :model="queryS" ref="search" class="inline-form-query">
            <el-form-item label="名称" prop="site_title">
              <el-input v-model="queryS.site_title"></el-input>
            </el-form-item>
            <el-form-item label="分类" prop="site_sort_id">
              <el-select v-model="queryS.site_sort_id">
              <el-option
              v-for="item in siteOption"
              :value="item.id_"
              :key="item.id_"
              :label="item.sortName">
              </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="地区" prop="area">
              <el-cascader
                :options="areaOption"
                v-model="areaSelectedOptions"
                :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                filterable
                @change="handlerArea"
                :clearable = true
                >
              </el-cascader>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList('search')"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
            </el-form-item>
          </el-form>
      </div>
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="siteNo"
                  label="地点编号">
          </el-table-column>
          <el-table-column
                  prop="siteTitle"
                  label="名称">
          </el-table-column>
          <el-table-column
              prop="sortName"
                  label="地点类型">
          </el-table-column>
          <el-table-column
                  prop="area"
                  label="地区"
                  :formatter="formatterArea">
          </el-table-column>
          <el-table-column
                  prop="address"
                  width="186"
                  label="地址">
          </el-table-column>
          <el-table-column
           prop="openTips"
                  label="小贴士">
                  <template slot-scope="scope">
                    <el-button type="text" @click="openTip(scope.row)">详情</el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="weather"
                  label="天气">
          </el-table-column>
          <el-table-column
                  prop="status"
                  label="状态"
                  :formatter="formatterStatus">
          </el-table-column>
          <el-table-column
                fixed="right"
                label="操作"
                width="180">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
                  <el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
                </template>
              </el-table-column>
      </el-table>
   <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
     <el-dialog id="mapId" :visible.sync="dialogVisible1" :before-close="handleClose('dialogVisible1')" >
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm">
         <el-form-item label="名称" :label-width="formLabelWidth" prop="site_title">
           <el-input v-model="addLocForm.site_title"></el-input>
         </el-form-item>
         <el-form-item label="分类" :label-width="formLabelWidth" prop="site_sort_id" placeholder="请选择活动分类">
           <el-select v-model="addLocForm.site_sort_id">
              <el-option
              v-for="item in siteOption"
              :value="item.id_"
              :key="item.id_"
              :label="item.sortName">
              </el-option>
           </el-select>
         </el-form-item>
         <el-form-item label="选择地区" :label-width="formLabelWidth" prop="area" placeholder="请选择地区">
           <el-cascader
             :options="areaOption"
             v-model="addAreaArr"
             :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
             filterable
             @change="getAddArea"
             :clearable = true
           >
           </el-cascader>
         </el-form-item>
         <el-form-item label="详细地址" :label-width="formLabelWidth" prop="address">
           <el-input v-model="addLocForm.address"><el-button slot="append" @click="panToMap" icon="search">抓取</el-button></el-input>
         </el-form-item>
           <el-row>
             <el-col :span="12">
            <el-form-item label="坐标X:"  :label-width="formLabelWidth" prop="siteX">
             <el-input v-model="addLocForm.siteX" placeholder=""></el-input>
           </el-form-item>
           </el-col>
            <el-col :span="12">
             <el-form-item label="坐标Y:"  label-width="80px" prop="siteY">
             <el-input v-model="addLocForm.siteY" placeholder=""></el-input>
           </el-form-item>
           </el-col>
           </el-row>
         <el-form-item label="站点图片" prop="image" :label-width="formLabelWidth">
           <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/site/getPolicy'" @change="getUploadEdit"></upload>
         </el-form-item>
         <el-form-item label="备注:" :label-width="formLabelWidth" prop="remark">
             <el-input type="textarea" v-model="addLocForm.remark"></el-input>
          </el-form-item>
          <Bdmap ref="bmap" v-on:increment="incrementTotal"></Bdmap>
       </el-form>
       <div slot="footer" class="dialog-footer">
         <el-button type="primary" v-if="this.buttonOnOff" :loading="isAdd" @click="addForm('addLocForm')">保存并添加</el-button>
         <el-button type="primary" v-if="!this.buttonOnOff":loading="isEdit" @click="editForm('addLocForm')">保存并编辑</el-button>
         <el-button @click="dialogVisible1 = false">取 消</el-button>
       </div>
     </el-dialog>
     <el-dialog id="tieshi"
       title="小贴士"
       :visible.sync="dialogVisible3"
       size="small"
       :before-close="handleClose(dialogVisible3)">
       <el-tag
         v-for="tag in tagObj.dynamicTags"
         :closable="true"
         :key="tag.id_"
         :version = "tag.version"
         :close-transition="false"
         @close="handleCloseTag(tag)"
       >
       {{tag.content}}
       </el-tag>
       <el-input
         class="input-new-tag"
         v-if="inputVisible"
         v-model="inputValue"
         ref="saveTagInput"
         size="large"
         placeholder="请输入 2 到 15 个字符"
         @keyup.enter.native="handleInputConfirm"
         @blur="handleInputConfirm" >
       </el-input>
       <el-button v-else class="button-new-tag" size="small" @click="showInput">添加小贴士</el-button>
     </el-dialog>
  </div>
</div>
</template>

<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import Bdmap from '../MapGrab.vue';
import Upload from '../Upload.vue';

export default {
  name: 'locationManage',
  components: {
      Page, Bdmap,Upload
  },
  data () {
    return {
      areaSelectedOptions:[],
      addAreaArr:[],

      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      //地点小贴士
      tagObj:{
        siteNo:'',
        dynamicTags:[
        ]
      },
      inputVisible: false,
      inputValue: '',
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      buttonOnOff:true,
      //表单类
      dialogVisible1:false,
      dialogVisible3:false,
      picArray:[],
      addLocForm: {
           id:'',
           version:'',
           site_title: '',
           site_sort_id: '',
           area: '',
           address: '',
           siteX:'',
           siteY:'',
           remark:'',
            image:'',
         },
         formLabelWidth: '120px',
         // 查询条件
          queryS: {
            site_title:'',
            site_sort_id:'',
            area:''
        },
        // 下拉选项
         siteOption:[],
         areaOption:[],
        // 添加规则
    addFormRules:{
        site_title:[{ required: true, message: '请输入地点名称', trigger: 'blur' },
           { min:2,max:32,message: '长度在 2 到 32 个字符', trigger: 'blur' }],
         site_sort_id:[{required: true, message: '请选择分类', trigger: 'change'},
          {max:32,message: '长度小于32', trigger: 'change' }],
         area:[  { required: true, message: '请选择地点编码', trigger: 'change' }],
         address:[  { required: true, message: '请输入详细地址', trigger: 'blur'},{ min: 3, max: 100, message: '长度在 3 到 100 个字符', trigger: 'blur' }],
         siteX:[  { required: true, message: '请抓取坐标'}],
         siteY:[  { required: true, message: '请抓取坐标'}],
         remark:[  { max:100, message: '长度小于100个字符', trigger: 'blur'}]
        }
    };
  },
  created(){
    this.getList();
    this.getSortList();

  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  computed :{
    baseHost () {
      return this.$store.state.host;
    },
  },
  methods:{
    getUploadEdit (val) {
      console.log(this.picArray)
      this.addLocForm.image = val;
    },
    handlerArea (val){
      console.log(val);
      let checkAreaArr = val[val.length-1]
      if(checkAreaArr){//只要最后  不要省
        this.queryS.area = checkAreaArr;
      }else{
        this.queryS.area = '';
      }
      console.log(this.queryS.area)
    },
    getAddArea (val){
      console.log(val);
      let checkAreaArr = val[val.length-1]
      if(checkAreaArr){//只要最后  不要省
        this.addLocForm.area = checkAreaArr;
      }else{
        this.addLocForm.area = '';
      }
      console.log(this.addLocForm.area)
    },



    panToMap(){
        this.$refs['bmap'].moveToPla(this.addLocForm.address, true)
    },
    formatterStatus(row, column){
      return row.status == 0 ?'停用':'正常'
    },
    formatterArea(row, column){
      for (let argument of this.areaOption) {
        for (let item of argument.list) {
          if (item.code == row.area) {
            return argument.area+ '-' + item.area
          }
        }
      }


    },
    // 小贴士的获取
    getTagList(){
            this.$http.post('/site/siteMsg/list',{site_no:this.tagObj.siteNo}).then((response) => {
                // 响应成功回调
                const r = response.body;
                if (r.code==200) {
                  this.tagObj.dynamicTags = r.data;
                } else {
                    this.$message.error(r.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });
    },
    // 小贴士的删除
      handleCloseTag(tag) {
        this.$http.post('/site/siteMsg/delete',{id:tag.id_,version:tag.version}).then((response) => {
            // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message('删除成功');
                this.getTagList();
            }else{
              this.$message(res.data.message);
            }
          } else {
              this.$message.error(res.msg);
          }
        }, (response) => {
            this.$message.error('出错了:' + response);
        });
         },
      showInput(){
         this.inputVisible = true;
         this.$nextTick(_ => {
           this.$refs.saveTagInput.$refs.input.focus();
         });
       },
       // 小贴士增加
       handleInputConfirm(){
         let inputValue = this.inputValue.replace(/(^\s*)|(\s*$)/g, "");

         if (inputValue&&inputValue.toString().length<15) {

           this.$http.post('/site/siteMsg/add',{siteNo:this.tagObj.siteNo,content:inputValue,status:1}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);
               if (res.code==200) {
                if(res.data.success){
                  this.getTagList();
                  this.$message('添加成功');
                }else{
                  this.$message(res.data.message);
                }

               } else {
                  this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
         }else if(inputValue.toString().length>=15){
           this.$message.error('小贴士不要超过15个字符');
         }
         this.inputVisible = false;
         this.inputValue = '';
       },
         // map传坐标
      incrementTotal(x){
        this.addLocForm.siteX = x.point.lng;
        this.addLocForm.siteY = x.point.lat;
      },
      // 添加地点
      addForm(form){
        this.isAdd = true;
        this.$refs[form].validate((valid) => {
             if (valid) {
              this.$http.post('/site/site/add',this.addLocForm).then((response) => {
                  // 响应成功回调
                  const res = response.body
                  console.log(res);
                  if (res.code==200) {
                    if(res.data.success){
                      this.dialogVisible1 = false;
                      this.$message('添加成功');
                      this.getList();
                    }else{
                      this.$message(res.data.message);
                    }

                  } else {
                      this.$message.error(res.msg);
                  }
                  this.isAdd = false;
              }, (response) => {
                  this.$message.error('出错了:' + response);
                  this.isAdd = false;
              });

             } else {
              this.isAdd = false;
               return false;
             }

           });
      },// 编辑地点
      editForm(form){
        this.isEdit = true;
        this.$refs[form].validate((valid) => {
             if (valid) {
              this.$http.post('/site/site/update',this.addLocForm).then((response) => {
                  // 响应成功回调
                  const res = response.body
                  console.log(res);
                  if (res.code==200) {
                    if(res.data.success){
                      this.dialogVisible1 = false;
                      this.$message('编辑成功');
                      this.getList();
                    }else{
                      this.$message(res.data.message);
                    }

                  } else {
                      this.$message.error(res.msg);
                  }
                  this.isEdit = false;
              }, (response) => {
                  this.$message.error('出错了:' + response);
                  this.isEdit = false;
              });

             } else {
              this.isEdit = false;
               return false;
             }

           });
      },
      // 小贴士的首次渲染
      openTip(row){
        this.$http.post('/site/siteMsg/list',{site_no:row.siteNo}).then((response) => {
            // 响应成功回调
            const res = response.body;
            console.log(res);
            if (res.code==200) {
              this.dialogVisible3 = true;
              this.tagObj.dynamicTags = res.data;
              this.tagObj.siteNo = row.siteNo;
            } else {
                this.$message.error(res.msg);
            }
        }, (response) => {
            this.$message.error('出错了:' + response);
        });
      },
      handleAddForm(form){
        this.dialogVisible1 = true;
        this.buttonOnOff = true;
        this.addAreaArr=[]
        this.picArray=[]
        if (this.$refs[form]) {
          this.$refs[form].resetFields();
        }
      },
      handleClose(diag) {
        this.diag = false;

      },
      // 查询
      queryList(){
        var _this = this;
        _this.isSearch = true;
        setTimeout(function () {
            _this.isSearch = false;
        },1500);
        this.pageNum = 1;
        this.getList();
      },
      // 编辑
      handleEdit(row){
        console.log(row);
        this.buttonOnOff = false;
        if (this.$refs['addLocForm']) {
          this.$refs['addLocForm'].resetFields();
        }
        this.addLocForm.id = row.id_;
        this.addLocForm.version = row.version;
        this.addLocForm.site_title = row.siteTitle;
        this.addLocForm.site_sort_id = row.sortId;
        this.picArray = [{name: 'addressPic', url:this.baseHost+row.image}];
        this.addLocForm.image = row.image;
        //地区
        //省市
        for (let argument of this.areaOption) {
          for(let item of argument.list){
            if(item.code == row.area){
              this.addAreaArr.push(argument.code)
              this.addAreaArr.push(row.area)
            }
          }
        }

        this.addLocForm.area = row.area;
        this.addLocForm.address = row.address;
        this.addLocForm.siteX = row.siteX;
        this.addLocForm.siteY = row.siteY;
        this.addLocForm.remark = row.remark;
        this.dialogVisible1 = true;
        var self = this;
        var siteObj = {
          lng:self.addLocForm.siteX,
          lat:self.addLocForm.siteY,
        }
             setTimeout(function(){
                self.$refs['bmap'].moveToPla(siteObj, false)
             },1200)
        },
           // 删除
      handleDelete(row) {

        this.$http.post('/site/beforeDel',{site_no:row.siteNo}).then((response) => {
            // 响应成功回调
            const res = response.body
            console.log(res);
            if (res.code==200) {
             if(res.data.success){
                this.$confirm('确认删除')
                  .then(_ => {
                    this.$http.post('/site/site/delete',{id:row.id_,version:row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body
                        console.log(res);
                        if (res.code==200) {
                         if(res.data.success){
                           this.$message('删除成功');
                           this.getList();
                         }else{
                           this.$message(res.data.message);
                         }

                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        this.$message.error('出错了:' + response);
                    });

                  })
                  .catch(_ => {});
             }else{
               this.$notify.error({
                         title: '错误',
                         message: res.data.message
                       });
             }
            } else {
                this.$message.error(res.msg);
            }
        }, (response) => {
            this.$message.error('出错了:' + response);
        });









           },
           // 分页
       getPageSize (val) {
           this.pageSize = val;
           console.log(val)
       },
       getPageNum (val) {
           this.pageNum = val;
           console.log(val);
       },
           // 初始表单
       getList(){
           this.$http.post('/site/site/list', {pageNum: this.pageNum,pageSize: this.pageSize,site_title:this.queryS.site_title,site_sort_id:this.queryS.site_sort_id,area:this.queryS.area}).then((response) => {
               // 响应成功回调
               const res = response.body;
               if (res.code==200) {
                this.tableData = res.data.siteList.records;
                this.total = res.data.siteList.total;
                this.areaOption = res.data.areaList;

                console.log(this.areaOption)

               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
           console.log('this is getList');
       },   // 初始表单
       getSortList(){
           this.$http.post('/site/siteSort/list').then((response) => {
               // 响应成功回调
               const res = response.body;
               console.log(res);
               if (res.code==200) {
                this.siteOption = res.data.siteSortList_nopage;
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });
       },
       // 重置查询条件的d
       reset(form){
        this.$refs[form].resetFields();
        var _this = this;
        _this.isSearch = true;
        setTimeout(function () {
            _this.isSearch = false;
        },1500);
        this.areaSelectedOptions=[]; //省市联动
        this.pageNum = 1;
        this.getList();
       },
       beforeRouteUpdate (to, from, next) {
           var pageCur = to.params.pageNum;
           console.log(pageCur);
           this.pageNum = pageCur;
           next();
       }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
.input-new-tag{
  margin-top: 20px;
}


</style>
<style type="text/css">
#tieshi .el-dialog--small{
  width: auto;
}
    #mapId .el-dialog__body{
   padding-bottom: 0;
  }
    #mapId .el-form-item{
   margin-bottom: 16px;
  }
    #mapId .el-dialog__header{
   padding: 10px 10px  0;
  }
  #mapId .el-dialog--small{
   top: 8%!important;
  }

</style>
