<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>会员等级管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	       
	      <el-button type="success" @click="handleAddUserRank"><i class="fa fa-plus" aria-hidden="true"></i> 添加等级</el-button>
	          
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="rankName"
                  label="会员等级名称">
          </el-table-column>
          <el-table-column
                  prop="minEmp"
                  label="会员积分">
          </el-table-column>
          <el-table-column
                  prop="status"
                  label="状态"
                  :formatter="statusFormat">
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="250">
	              <template slot-scope="scope">
	              	<el-button @click="handleUserRank(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i>编辑</el-button>
                  <el-button v-if="scope.row.status == 'BAN'||scope.row.status == 'EXP'" @click="handleDisable1(scope.row)" type="success" size="small">启用</el-button>
                  <el-button v-if="scope.row.status == 'NORMAL'" @click="handleDisable2(scope.row)" type="danger" size="small">停用</el-button>
                  <el-button @click="removeUserRank(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i>删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="编辑会员等级" :visible.sync="dialogVisible" :before-close="handleClose">
      <el-form ref="changeUserRank" :model="changeUserRank" :rules="changeUserRankRule" >
        <el-form-item label="会员等级名称" prop="rankName">
          <el-input v-model="changeUserRank.rankName"></el-input>
        </el-form-item>
        <el-form-item label="会员积分" prop="minEmp">
          <el-input v-model="changeUserRank.minEmp"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="isEdit" @click="submitUserRank('changeUserRank')">保存并修改</el-button>
        <el-button @click="dialogVisible = false">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog title="添加会员等级" :visible.sync="dialogVisible2" :before-close="handleClose">
      <el-form ref="addUserRank" :model="addUserRank" :rules="changeUserRankRule">
        <el-form-item label="会员等级名称" prop="rankName">
          <el-input v-model="addUserRank.rankName"></el-input>
        </el-form-item>
        <el-form-item label="会员积分" prop="minEmp">
          <el-input v-model="addUserRank.minEmp"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="isEdit" @click="submitAdd('addUserRank')">添加</el-button>
        <el-button @click="dialogVisible2 = false">取 消</el-button>
      </div>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'preference',
  components: {
      Page
  },
  data () {
    return {
      isAdd:false,
      isEdit:false,
      statusOption:[],
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
      dialogVisible:false,
      changeUserRank:{
        rankName:'',
        minEmp:''
      },
      addUserRank: {},
      dialogVisible2: false,
      changeUserRankRule: {
        rankName: [
          { required: true, message: '请输入会员等级名称', trigger: 'blur' }
        ],
        minEmp: [
          { required: true, message: '请输入会员积分', trigger: 'blur' }
        ]
      }
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
	  },
    getPageSize (val) {
        this.pageSize = val;
    },
    getPageNum (val) {
        this.pageNum = val;
    },
    getList(){
      this.$http.post('/userRank/queryAllUserRank', {pageNum: this.pageNum,pageSize: this.pageSize}).then((response) => {
        const res = response.body;
        console.log(response)
          if (res.code==200) {
              this.tableData = res.data.userRanks.records;
              this.total = res.data.userRanks.total;
              this.statusOption = res.data.userRankStatus;
          } else {
              this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
    statusFormat(row, column){
      let arr = this.statusOption;
      for(var i = 0; i <arr.length; i++){
        if(row.status == arr[i].name){
            return arr[i].desc
        }
      }
    },
    handleDisable1(row) {
      this.$confirm('确认启用该会员等级?')
        .then(_ => {
          this.$http.post('/userRank/startUserRank', {rankId:row.id_, version:row.version}).then((response) => {
              // 响应成功回调
              const res = response.body
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                    this.$message('操作成功');
                    this.getList();
                }else{
                  this.$message(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        })
        .catch(_ => {});
    },
    handleDisable2(row) {
      this.$confirm('确认停用该会员等级?')
        .then(_ => {
          this.$http.post('/userRank/disableUserRank', {rankId:row.id_, version:row.version}).then((response) => {
              // 响应成功回调
              const res = response.body
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                    this.$message('操作成功');
                    this.getList();
                }else{
                  this.$message(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        })
        .catch(_ => {});
    },
    handleUserRank(row) {
      this.dialogVisible = true
      this.$http.post('/userRank/updateUI',{rankId:row.id_}).then((response) => {
        const res = response.body
        if (res.code == 200) {
          this.changeUserRank = res.data.userRank
        } else {
            this.$message.error(res.msg);
        }
      }, (response) => {
            this.$message.error('出错了:' + response);
      }).catch(_ => {})
    },
    submitUserRank(form) {
      this.isEdit = true
      this.$refs[form].validate((valid) => {
        if (valid) {
        this.$http.post('/userRank/updateUserRank',{rankId: this.changeUserRank.id_,version: this.changeUserRank.version,rankName:this.changeUserRank.rankName,minEmp:this.changeUserRank.minEmp}).then((response) => {
            const res = response.body
            console.log(res);
            if (res.code==200) {
              if(res.data.success){
                this.dialogVisible = false;
                this.$message('修改成功');
                this.getList();
              }else{
                this.$message(res.data.message);
              }
            } else {
                this.$message.error(res.msg);
            }
            this.isEdit = false;
        }, (response) => {
            this.$message.error('出错了:' + response);
            this.isEdit = false;
        });

        } else {
        this.isEdit = false;
          return false;
        }

      });
    },
    handleAddUserRank() {
      this.dialogVisible2 = true
    },
    submitAdd(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.$http.post('/userRank/saveUserRank',{rankName:this.addUserRank.rankName,minEmp:this.addUserRank.minEmp}).then((response) => {
              const res = response.body
              console.log(res);
              if (res.code==200) {
                if(res.data.success){
                  this.dialogVisible2 = false;
                  this.$message('添加成功');
                  this.getList();
                  this.addUserRank = {};
                }else{
                  this.$message(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
              this.isEdit = false;
          }, (response) => {
              this.$message.error('出错了:' + response);
              this.isEdit = false;
          });
        }
      })
    },
    removeUserRank(row) {
      this.$confirm('确认删除该会员等级?').then(_ => {
        this.$http.post('/userRank/deleteUserRankById',{rankId: row.id_}).then((response) => {
          const res = response.body
          if (res.code == 200) {
            if(res.data.success){
              this.$message('删除成功');
              this.getList();
            }else{
              this.$message(res.msg);
            }
          }else{
            this.$message.error(res.msg);
          }
        }, (response) => {
          this.$message.error('出错了:' + response);
        })
      })
      .catch(_ => {});
    }
  }
}
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
