<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>支付订单管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form v-model="queryS" :inline="true" ref="search">
            <el-form-item label="玩法标题：" label-width="90px">
              <el-input v-model="queryS.tripTitle"></el-input>
            </el-form-item>
	          <el-form-item label="订单编号：" label-width="90px">
	            <el-input v-model="queryS.payNo"></el-input>
	          </el-form-item>
	          <el-form-item label="订单状态：" label-width="90px">
	            <el-select v-model="queryS.orderStatus">
	              <el-option
	              v-for="item in payOrderOption"
	              :value="item.name"
	              :key="item.name"
	              :label="item.desc">
	              </el-option>
	            </el-select>
	          </el-form-item>
	          <el-form-item label="支付状态：" label-width="90px">
	            <el-select v-model="queryS.payStatus">
	              <el-option
	              v-for="item in payStatusOption"
	              :value="item.name"
	              :key="item.name"
	              :label="item.desc">
	              </el-option>
	            </el-select>
	          </el-form-item>
            <el-form-item label="下单时间：" label-width="90px">
                <el-date-picker
                  v-model="daterange"
                  format="yyyy/MM/dd HH:mm:ss"
                  type="datetimerange"
                  value-format="yyyy/MM/dd HH:mm:ss"
                  @change="spliceTime"
                  :picker-options="pickerOptions"
                  placeholder="选择下单时间范围">
                </el-date-picker>
            </el-form-item>
              <el-form-item label="下单用户：" label-width="90px">
                <el-input v-model="queryS.name"></el-input>
              </el-form-item>
              <el-form-item label="联系电话：" label-width="90px">
                <el-input v-model="queryS.phone"></el-input>
              </el-form-item>
              <el-row>
                  <el-form-item>
                    <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                      <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
                  </el-form-item>
              </el-row>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="payNo"
                  width="180"
                  label="订单编号">
          </el-table-column>
          <el-table-column
                  prop="tripTitleMax"
                  width="198"
                  label="玩法标题">
          </el-table-column>
          <el-table-column
                  prop="contact"
                  label="联系人">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  width="136"
                  label="联系电话">
          </el-table-column>
          <el-table-column
                  prop="userName"
                  label="下单用户">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  width="176"
                  label="下单时间">
          </el-table-column>
          <el-table-column
                  prop="adultNum"
                  label="成人">
          </el-table-column>
          <el-table-column
                  prop="childNum"
                  label="儿童">
          </el-table-column>
          <el-table-column
                  prop="money"
                  label="支付金额">
          </el-table-column>
          <el-table-column
                  prop="shouldMoney"
                  label="应付金额">
          </el-table-column>
          <el-table-column
                  prop="startTime"
                  :formatter ="formatterTime"
                  label="出发时间">
          </el-table-column>
          <el-table-column
                  label="行程">
                      <template slot-scope="scope">
                        <el-button type="text" @click="openTipRoute(scope.row)">详情</el-button>
                      </template>
          </el-table-column>
          <el-table-column
                  label="关联的产品订单">
          <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="default"
                              @click="showTest(scope.row)">查看
                      </el-button>
                  </template>
                </el-table-column>
          <el-table-column
                  prop="payStatus"
                  label="支付状态"
                  :formatter="formatterPay">
          </el-table-column>
          <el-table-column
                  prop="orderStatus"
                  label="订单状态"
                  :formatter="formatterOrder">
          </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
      <el-dialog v-if="showTestDia"
          :title="diaTitle"
          :visible.sync="showTestDia"
          size="large"
          :before-close="closeTest">
         <paysLinkPro :data-id="routerId"></paysLinkPro>
      </el-dialog>
     <el-dialog size="tiny" title="行程信息" :visible.sync="dialogVisible1">
       <el-form label-position="left">
           <el-form-item label="行程标题 : ">
             <span>{{routeMsg.routeTitle}}</span>
           </el-form-item>
           <el-form-item label="简要路程 : ">
             <span>{{routeMsg.routeDesc}}</span>
           </el-form-item>
           <el-form-item label="出发时间 : ">
             <span>{{routeMsg.playTime}}</span>
           </el-form-item>
           <el-form-item label="耗时 : ">
             <span>{{routeMsg.takesTime}}</span>
           </el-form-item>
           <el-form-item label="行程状态 : ">
             <span>{{routeMsg.routeStatus | filterA}}</span>
           </el-form-item>
            <h4>行程详情：</h4>

          <el-collapse class="k-w">
            <el-collapse-item v-if="routeMsg.siteView" v-for="(item, index) in routeMsg.siteView" :name="index" :key="index" :title="'第'+item.day+'天 --> '+item.siteName">
              <div v-for="o in item.routeItem" :key="o" class="text item">
              <h3 class="route-k-title">{{o.itemTitle}}({{o.time}}分钟)</h3>
               <h4 v-html="o.suggestions"></h4>
              </div>
            </el-collapse-item>
          </el-collapse>
         </el-form>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import paysLinkPro from './paysLinkPro.vue';
import moment from 'moment';
export default {
  name: 'productorders',
  components: {
      Page, paysLinkPro
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      daterange:'',
    	//页码类
    	pageNum:parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
      routerId:'',
      diaTitle:'',
      showTestDia:false,
    	//表格类
    	tableData:[
    	],
        formLabelWidth: '120px',
     	// 查询条件
        queryS:{
        	payNo:'',
        	orderStatus:'',
        	payStatus:'',
          start:'',
          end:'',
          name:'',
          phone:'',
          tripTitle:''
        },
        payOrderOption:[],
        payStatusOption:[],
        dialogVisible1:false,
        dialogVisible2:false,
        routeMsg:{
          playTime:'',
          routeContent:'',
          routeDesc:'',
          routeStatus:'',
          routeTitle:'',
          takesTime:''
        },
        routeMsgOption:[],
        pickerOptions: {
                  shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                      picker.$emit('pick', [start, end]);
                    }
                  }, {
                    text: '最近一个月',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                      picker.$emit('pick', [start, end]);
                    }
                  }, {
                    text: '最近三个月',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                      picker.$emit('pick', [start, end]);
                    }
                  }]
                }
    };
  },
  created(){
  	this.getList();
  },
  filters: {
      filterA: function (value) {
        if (!value) return ''
        var orderObj = {
            WAIT_DEPART:'待出发',
            TURN_OUT:'正在生成',
            COMPLETED:'已完成'
            };
        return orderObj[value]

      }
    },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    showTest(row){
      this.routerId = row.payNo;
      this.diaTitle = row.tripTitleMax;
      this.showTestDia = true;
    },
    closeTest(){
      this.showTestDia = false;
    },
    trimSpace(val){
      return val.replace(/(^\s*)|(\s*$)/g, "");
    },
    spliceTime(time){
      console.log(time)
      if(Array.isArray(time)){
       this.queryS.start =time[0];
       this.queryS.end =time[1];

      }else{
        
       this.queryS.start =''
       this.queryS.end =''
      }
     },
     formatterTime(row, column){
       return moment(row.startTime).format("YYYY.MM.DD")
     },
    openTipRoute(row){
      this.$http.post('/userPayOrder/read/getRouteInfo',{routeId:row.strRouteId}).then((response) => {
         const res = response.body;
          if (res.code==200) {
            this.dialogVisible1 = true;
            this.routeMsgOption = res.data.routeStatusList;
            this.routeMsg = res.data.route;
          } else {
              this.$message.error(res.msg);
          }
      }, (response) => {
          this.$message.error('出错了:' + response);
      });
    },
    formatterOrder(row, column){
          let arr = this.payOrderOption;
          for(var i = 0; i <arr.length; i++){
            if(row.orderStatus == arr[i].name){
                return arr[i].desc
            }
          }
    },
    formatterPay(row, column){
       let arr = this.payStatusOption;
       for(var i = 0; i <arr.length; i++){
         if(row.payStatus == arr[i].name){
             return arr[i].desc
         }
       }
    },
    reset(form){
        this.queryS.payNo='';
        this.queryS.orderStatus='';
        this.queryS.payStatus='';
        this.queryS.tripTitle='';
        this.queryS.name='';
        this.queryS.phone='';
        this.queryS.start='';
        this.queryS.end='';
        this.daterange='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
  	 handleClose(done) {
	    this.$confirm('确认关闭？')
	      .then(_ => {
	        done();
	      })
	      .catch(_ => {});
	  },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
     getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
     // 初始表单
     getList(){
         this.$http.post('/userPayOrder/read/list',{
          payNo:this.queryS.payNo,
          orderStatus:this.queryS.orderStatus,
          payStatus:this.queryS.payStatus,
          pageNum:this.pageNum,
          pageSize:this.pageSize,
          tripTitle:this.queryS.tripTitle,
          start:this.queryS.start,
          end:this.queryS.end,
          name:this.queryS.name,
          phone:this.queryS.phone
        }).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.payOrderOption = res.data.payOrderStatusList;
                 this.payStatusOption = res.data.payStatus;
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     }
  }
};
</script>

<style type="text/css">
  .route-k-title{
    color: #8492A6;
  }
  .k-w .el-collapse-item__header{
    background-color: #C0CCDA;
  }
</style>
