<template>
<div>
  <div class="table-list">
      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="orderNo"
                  width="180"
                  label="订单编号">
          </el-table-column>
          <el-table-column
                  prop="productTitle"
                  width="188"
                  label="产品名称">
          </el-table-column>
          <el-table-column
                  prop="contact"
                  label="联系人">
          </el-table-column>
          <el-table-column
                  prop="userNickname"
                  label="下单用户">
          </el-table-column>
          <el-table-column
                prop="isCode"
                :formatter ="formatterSend"
                label="是否发过">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  width="146"
                  label="联系电话">
          </el-table-column>
          <el-table-column
                  prop="money"
                  label="金额">
          </el-table-column>
          <el-table-column
                  prop="adultNum"
                  label="成人数量">
          </el-table-column>
          <el-table-column
                  prop="childNum"
                  label="儿童数量">
          </el-table-column>
          <el-table-column
                  prop="adultPrice"
                  label="成人采购价">
          </el-table-column>
          <el-table-column
                  prop="adultSellPrice"
                  label="成人销售价">
          </el-table-column>
          <el-table-column
                  prop="childPrice"
                  label="儿童采购价">
          </el-table-column>
          <el-table-column
                  prop="childSellPrice"
                  label="儿童销售价">
          </el-table-column>
          <el-table-column
                  prop="sum"
                  label="总数">
          </el-table-column>
          <el-table-column
                  prop="usable"
                  label="可使用">
          </el-table-column>
          <el-table-column
                  prop="used"
                  label="已使用">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  width="176"
                  label="下单时间">
          </el-table-column>
          <el-table-column
                  prop="supName"
                  width="168"
                  label="供应商">
          </el-table-column>
          <el-table-column
                  prop="playTime"
                  :formatter ="formatterTime"
                  label="出发时间">
          </el-table-column>
          <el-table-column
                  prop="buyerStatus"
                  label="采购状态"
                  :formatter="formatterPay">
          </el-table-column>
          <el-table-column
                  prop="orderStatus"
                  label="订单状态"
                  :formatter="formatterOrder">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="139"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button @click="checkCode(scope.row)" type="danger" 
                    :disabled="scope.row.buyerStatus!=='SETOUT'||scope.row.orderStatus=='REFUND'"
                     size="small"> 操作</el-button>
                     <el-button :disabled="scope.row.orderStatus!=='WAIT_USE'" @click="verifyBtn(scope.row)"
                      size="small"> 核销</el-button>
                  </template>
          </el-table-column>
      </el-table>
      <el-pagination
          layout="total, prev, pager, next"
          @current-change="changePageNum"
          :page-size="20"
          :total="total">
      </el-pagination>

      <el-dialog title="采购" :visible.sync="dialogFormVisible">
        <el-form :model="codeForm" :rules="codeFormR" ref="codeForm">
          <el-radio-group v-model="codeForm.isSucceed" @change="controlRadio">
              <el-radio :label="true">采购成功</el-radio>
              <el-radio :label="false">采购失败</el-radio>
            </el-radio-group>
          <el-form-item v-if="onOff1" label="是否第三方采购：" label-width="140px" prop="isThirdParty">
            <el-select v-model="codeForm.isThirdParty" placeholder="请选择是否第三方采购" @change="controlInput">
              <el-option label="是" value="true"></el-option>
              <el-option label="否" value="false"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="onOff2" label="采购验证码：" label-width="140px" prop="code">
            <el-input v-model="codeForm.code"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible=false">取 消</el-button>
          <el-button type="primary" @click="commandBtn('codeForm')" :loading="isAdd">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog  title="核销" :visible.sync="dialogFormVisible2">
        <el-form :model="verifyForm" :rules="verifyRule" ref="verifyForm">
          <el-form-item label="订单编号：" label-width="120px">
            <el-input :disabled="true" v-model="verifyForm.orderNo"></el-input>
          </el-form-item>
          <el-form-item label="手机号：" label-width="120px" prop="phone">
            <el-input v-model="verifyForm.phone"></el-input>
          </el-form-item>
          <el-form-item label="订单券码：" label-width="120px" prop="code">
            <el-input v-model="verifyForm.code"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible2=false">取 消</el-button>
          <el-button  type="primary" @click="handleVerify('verifyForm')" :loading="isCheck">确 定</el-button>
        </div>
      </el-dialog>

  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import moment from 'moment';
export default {
  name: 'paysLinkPro',
  components: {
      Page
  },
  props:['dataId'],
  data () {
    var validateTel = (rule, value, callback) => {
          var patternExp  =  this.$store.state.phoneReg;
          setTimeout(() => {
                if (!patternExp.test(value)) {
                  callback(new Error('手机号码格式不正确'));
                } else {
                  callback();
                }
            }, 1000);      
        };
    return {
      //页码类
      total: 0,
      pageNum:1,
      pageSize:20,
      //表格类
      tableData:[
      ],
        formLabelWidth: '120px',
        buyerOption:[],
        orderOption:[],
        isSucceed:'',
        isAdd:false,
        isCheck:false,
        onOff1:false,
        onOff2:false,
        rowData:null,
        dialogFormVisible:false,
        dialogFormVisible2:false,
        codeForm:{
          isSucceed:'',
          isThirdParty:'',
          code:''
        },
        verifyForm:{
          orderNo:'',
          phone:'',
          code:'',
          version:''
        },
        codeFormR:{
            code:[{ required: true, message: '请输入第三方验证码', trigger: 'blur' }],
            isThirdParty:[{ required: true, message: '是否是第三方采购'}]
            
            },
            verifyRule:{
                phone:[{ required: true, message: '请输入手机号', trigger: 'blur' },
                { validator: validateTel, trigger: 'blur' }],
                code:[{ required: true, message: '请输入第三方验证码', trigger: 'blur' }]
                },  
    };
  },
  watch:{
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      dataId: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  created(){
    this.getList();
  },
  methods: {
    verifyBtn(row){
      if (this.$refs['verifyForm']) {
          this.$refs['verifyForm'].resetFields();  
        }
      this.dialogFormVisible2=true;
      this.verifyForm.orderNo=row.orderNo;
      this.verifyForm.version=row.version;
    },
    checkCode(row){
      this.rowData='';
      this.rowData=row;
      this.dialogFormVisible=true;
      this.onOff1=false;
      this.onOff2=false;
      this.codeForm.isSucceed='';
      this.codeForm.isThirdParty='';
      this.codeForm.code='';
    },
    controlRadio(val){
      if(val){
        this.onOff1=true;
        this.codeForm.isThirdParty='';
        this.codeForm.code='';
      }else if(val==false){
        this.onOff1=false;
        this.onOff2=false;
        this.codeForm.isThirdParty='';
        this.codeForm.code='';
      }
    },
    controlInput(val){
     if(val=='true'){
      this.onOff2=true;
      this.codeForm.code='';
     }else if(val=='false'){
      this.onOff2=false;
      this.codeForm.code='';
     }
    },
   commandBtn(form){
    if(this.codeForm.isSucceed===''){
      this.$message.error('请选择采购状态');
      return
    }
     this.isAdd = true; 
    this.$refs[form].validate((valid) => {
     if (valid) {
       this.$http.post('/productOrder/updateProcurement',{orderNo:this.rowData.orderNo,version:this.rowData.version, isThirdParty:this.codeForm.isThirdParty, code:this.codeForm.code, isSucceed:this.codeForm.isSucceed}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);                 
                 if (res.code==200) {
                  if(res.data.success){
                    this.$message('操作成功');
                    this.dialogFormVisible=false;
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  } 
                 } else {
                     this.$message.error(res.msg);
                 }
                 this.isAdd = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isAdd = false;
             });
     }else {
         this.isAdd = false;
          return false;
        }
     });
   },
   handleVerify(form){
     this.isCheck = true; 
    this.$refs[form].validate((valid) => {
     if (valid) {
       this.$http.post('/productOrder/verificationProductOrder',this.verifyForm).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);                 
                 if (res.code==200) {
                  if(res.data.success){
                    this.$message('操作成功');
                    this.dialogFormVisible2=false;
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  } 
                 } else {
                     this.$message.error(res.msg);
                 }
                 this.isCheck = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isCheck = false;
             });
     }else {
         this.isCheck = false;
          return false;
        }
     });
   },
    formatterTime(row, column){
      return moment(row.playTime).format("YYYY.MM.DD")
    },
    formatterSend(row, column){
      if(row.isCoed=='1'){
        return '已发'
      }else if(row.isCoed=='0'){
        return '未发'
      }
    },
    changePageNum(curPage){
      this.pageNum = curPage
    },
    formatterOrder(row, column){
      let arr = this.orderOption;
      for(var i = 0; i <arr.length; i++){
        if(row.orderStatus == arr[i].name){
            return arr[i].desc
        }
      }
    },
    formatterPay(row, column){
      let arr = this.buyerOption;
      for(var i = 0; i <arr.length; i++){
        if(row.buyerStatus == arr[i].name){
            return arr[i].desc
        }
      }
    },
     handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
     // 初始表单
     getList(){
         this.$http.post('/userPayOrder/read/getProductOreder',{payNo:this.dataId,pageNum:this.pageNum,pageSize:this.pageSize}).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
                 this.buyerOption = res.data.buyerStatus;
                 this.orderOption = res.data.orderStatusList;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {  
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     },
     operat(row){
         this.$confirm('修改采购状态', '提示', {
           confirmButtonText: '采购成功',
           cancelButtonText: '采购失败',
           type: 'warning'
         }).then(() => {

           this.$http.post('/productOrder/updateProcurement',{orderNo:row.orderNo,version:row.version, isSucceed:true}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);                 
               if (res.code==200) {
                if(res.data.success){
                  this.$message('操作成功');
                  this.getList();
                }else{
                  this.$message(res.data.message);
                } 
                 
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           });

         }).catch(() => {

           this.$http.post('/productOrder/updateProcurement',{orderNo:row.orderNo,version:row.version, isSucceed:false}).then((response) => {
               // 响应成功回调
               const res = response.body
               console.log(res);                 
               if (res.code==200) {
                if(res.data.success){
                  this.$message('操作成功');
                  this.getList();
                }else{
                  this.$message(res.data.message);
                } 
                 
               } else {
                   this.$message.error(res.msg);
               }
           }, (response) => {
               this.$message.error('出错了:' + response);
           }); 

         });
     }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>