<template> <!-- 需要增加下拉框  支付类型 -->
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dudu/product' }">产品管理</el-breadcrumb-item>
                <el-breadcrumb-item>新增</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="dd-form">
            <el-form ref="add" :rules="rules" :model="add" label-width="140px">
                <el-form-item label="名称" prop="productTitle">
                    <el-input v-model="add.productTitle"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="供应商" class="control__full" prop="supNo">
                            <el-select v-model="add.supNo" filterable placeholder="请选择供应商" @change="setPurType">
                                <el-option v-for="item in supArray" :key="item.supNo"  :label="item.supName" :value="item.supNo"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="分类" class="control__full" prop="sortId">
                            <el-select v-model="add.sortId" filterable placeholder="请选择分类">
                                <el-option v-for="item in sortArray" :key="item.id_" :label="item.sortName" :value="item.id_"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="产品类型" class="control__full" prop="typeId">
                            <el-select v-model="add.typeId" filterable placeholder="请选择产品类型">
                                <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="地区" class="control__full" prop="area">
                          <el-cascader
                            :options="areaArray"
                            v-model="addAreaArr"
                            :props="{
                              value :'code',
                              label:'area',
                               children:'list'
                            }"
                            filterable
                            @change="getAddArea"
                            :clearable = true
                          >
                          </el-cascader>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="身份证必填" prop="isIdcard">
                            <el-radio-group v-model="add.isIdcard">
                                <el-radio class="radio" :label="1">是</el-radio>
                                <el-radio class="radio" :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="是否为录单产品" prop="isRecord">
                            <el-radio-group v-model="add.isRecord">
                                <el-radio class="radio" :label="1">是</el-radio>
                                <el-radio class="radio" :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="建议人数" prop="useNumber">
                            <el-input type="number" v-model.number="add.useNumber"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="每日库存" prop="store">
                            <el-input type="number" v-model.number="add.store"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="成人采购价" prop="purAdultPrice">
                            <el-input type="number" v-model.number="add.purAdultPrice"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="儿童采购价" prop="purChildPrice">
                            <el-input type="number" v-model.number="add.purChildPrice"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="成人价" prop="adultPrice">
                            <el-input type="number" v-model.number="add.adultPrice"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="儿童价" prop="childPrice">
                            <el-input type="number" v-model.number="add.childPrice"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="限售价" prop="limitPrice">
                            <el-input v-model.number="add.limitPrice"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="门市价" prop="retailPrice">
                            <el-input v-model.number="add.retailPrice"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="生效时间(分钟)" prop="validityTime">
                            <el-input type="number" v-model.number="add.validityTime"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="截止下单时间" prop="latestTime">
                            <el-time-select
                                    :editable="false"
                                    v-model="stopHour"
                                    @change="setHourNumber"
                                    :picker-options="{
                                        start: '00:00',
                                        step: '01:00',
                                        end: '24:00'
                                      }"
                                    placeholder="选择时间">
                            </el-time-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-form-item label="价格有效时间" prop="daterangeDate">
                            <el-date-picker
                                    :editable="false"
                                    v-model="daterangeDate"
                                    type="daterange"
                                    placeholder="选择日期范围"
                                    :picker-options="pickerOptions0">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                    <el-row>
                    <el-col :span="12">
                        <el-form-item label="退单类型" prop="chargeback">
                            <el-select v-model="add.chargeback" filterable placeholder="请选择退单类型">
                                <el-option v-for="item in chargeBackArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                        <el-col :span="12">
                            <el-form-item label="固定退款金额" prop="refundFixed">
                                <el-row>
                                    <el-col :span="12">
                                        <el-input type="number" v-model.number="add.refundFixed"></el-input>
                                    </el-col>
                                    <el-col :span="12">元</el-col>
                                </el-row>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24">
                            <el-form-item label="退单手续费" prop="refundPercent">
                            <el-row>
                                <el-col :span="24">
                                  <el-input-number v-model.number="refundPercent" :min="0" :max="100" :step="1"></el-input-number>
                                    请输入1-100的整数（输入小数无效）                                  
                                </el-col>
                                <el-col :span="24" style="color:#f60;">结果：{{refundPercent}}%</el-col>
                            </el-row>
                            </el-form-item>
                        </el-col>
                    </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="支付类型" prop="pay_type">
                            <el-select v-model="add.pay_type" filterable placeholder="请选择支付类型">
                                <el-option v-for="item in payArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" v-if="add.pay_type=='DEPOSIT_PAY'">
                        <el-form-item label="定金" prop="deposit">
                            <el-input v-model.number="add.deposit"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-form-item label="购买须知" prop="buyNotice">
                    <v-editor
                            :content="content.buyNotice"
                            :path="uploadUrl"
                            v-model="add.buyNotice">
                    </v-editor>
                </el-form-item>
                <el-form-item label="费用包含" prop="expenseInclude">
                    <v-editor
                            :content="content.expenseInclude"
                            :path="uploadUrl"
                            v-model="add.expenseInclude">
                    </v-editor>
                </el-form-item>
                <el-form-item label="退款说明" prop="refundExplain">
                    <v-editor
                            :content="content.refundExplain"
                            :path="uploadUrl"
                            v-model="add.refundExplain">
                    </v-editor>
                </el-form-item>
                <el-form-item label="产品详情" prop="productDetails">
                    <v-editor
                            :content="content.productDetails"
                            :path="uploadUrl"
                            v-model="add.productDetails">
                    </v-editor>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" :loading="addBtnFlag" @click.prevent="submitForm('add', 'addBtnFlag', 'addNew')">立即添加</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

</template>
<script>
    import Editor from '../../components/Editor'
    import api from '../../api/product';
    export default {
        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                var reg = this.phoneReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的手机号码'));
                }
            };
            var checkEmail = (rule, value, callback) => {  //邮箱校验
                var reg = this.emailReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的邮箱地址'));
                }
            };

            var checkPrice = (rule, value, callback) => {  //邮箱校验
                var reg = this.priceReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
                }
            };

            //数字 1-11位 ，并且是正整数
            var checkNumLong = (rule, value, callback) => {  //数字 1-11位
                var reg = /^[0-9]*[1-9][0-9]*$/;
                if(reg.test(value)){
                    console.log('是整数')
                    if(value.toString().length>=1 && value.toString().length<=11){
                        callback();
                    }else{
                        callback(new Error('请输入1-11位长度的整数'));
                    }
                }else{
                    callback(new Error('请输入正整数'));
                }
                console.log(value.toString().length);

            };
            return {
                addAreaArr:[],
                editDialog: false,
                addDialog:false,
                //下面是编辑或者新增的弹窗数据
                areaArray: [], //地区
                chargeBackArray: [],    //退单类型
                supArray: [],  //供货商
                sortArray: [], //  //分类
                typeArray: [],    //类型
                payArray: [],     //支付类型
                daterangeDate: [],  //时间范围
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                stopHour:'23:00',
                content: {
                  expenseInclude:'',
                  buyNotice:'',
                  refundExplain: '',
                  productDetails: ''
                },
              refundPercent:0,
                add: {
                    productTitle: '',  //产品名称
                    supNo: '', //供货商no.
                    purType: '', //供货商类型
                    sortId: '', //分类
                    typeId: '', //类型id
                    area: '',   //地区
                    isIdcard: 0,     //身份证是否必填（1为是，0为否）
                    isRecord: 0,  //是否为录单产品(1为是，0为否)
                    useNumber: '', //建议人数
                    chargeback: '', //退单类型
                    refundPercent: 0, //退单百分比
                    refundFixed: 0,   //固定退款金额
                    validityTime: '',   //生效时间
                    validtimeStart: '',   //有效开始时间
                    validtimeEnd: '',   //有效结束时间
                    latestTime: '23',   //最晚下单时间
                    pay_type: '',   //支付类型
                    deposit: '', //定金(支付类型为定金支付的时候才传)
                    adultPrice: '', //成人价
                    childPrice: '', //儿童价
                    purAdultPrice: '', //成人采购价
                    purChildPrice: '', //儿童采购价
                    limitPrice: '', //限售价
                    retailPrice: '', //门市价
                    store: '', //库存
                    buyNotice: '', //购买须知
                    expenseInclude: '', //费用包含
                    refundExplain: '', //退款说明
                    productDetails: '', //产品详情
                },

                rules: {
                    productTitle: [
                        { required: true, message: '请输入产品名称', trigger: 'blur' },
                        { min: 2, max: 50, message: '长度在 2 到 100 个字符', trigger: 'blur' }
                    ],
                    supNo: [
                        { required: true, message: '请选择供应商', trigger: 'change' },
                    ],
                    purType: [
                        { required: true, message: '请选择采购类型', trigger: 'change' },
                    ],
                    sortId: [
                        { required: true, message: '请选择分类', trigger: 'change' },
                    ],
                    typeId: [
                        { required: true, message: '请选择产品类型', trigger: 'change' },
                    ],
                    isIdcard:  [
                        { type: 'number', required: true, message: '请选择身份证是否必须项', trigger: 'change' },
                    ],
                    isRecord:  [
                        {type: 'number', required: true, message: '请选择是否录单产品', trigger: 'change' },
                    ],
                    area: [
                        { required: true, message: '请选择地区', trigger: 'change' },
                    ],
                    useNumber:[
                        {type: 'number', required: true, message: '请输入建议人数', trigger: 'change' },
                        { validator: checkNumLong}
                    ],
                    refundPercent:[
                        { required: true,type: 'number', message: '请输入退单百分比（数字）' },
                        { validator: checkPrice}
                    ],
                    refundFixed:[
                        {type: 'number', required: true, message: '请输入固定退款金额', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    chargeback: [
                        { required: true, message: '请选择退单类型', trigger: 'change' },
                    ],
                    validityTime: [
                        { type: 'number',required: true, message: '生效时间,单位(分钟)', trigger: 'change' },
                        { validator: checkNumLong}
                    ],
                    validtimeStart: [
                        { required: true, message: '请选择有效时间范围', trigger: 'change' },
                    ],
                    validtimeEnd: [
                        { required: true, message: '请选择有效时间范围', trigger: 'change' },
                    ],
                    pay_type: [
                        { required: true, message: '请选择支付类型', trigger: 'change' },
                    ],
                    deposit: [
                        { type: 'number', message: '退款金额必须填数字'},
                        { validator: checkPrice}
                    ],
                    adultPrice: [
                        {type: 'number', required: true, message: '请输入成人价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    childPrice: [
                        {type: 'number', required: true, message: '请输入儿童价', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    purAdultPrice: [
                        {type: 'number', required: true, message: '请输入成人采购价', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    purChildPrice: [
                        {type: 'number', required: true, message: '请输入儿童采购价', trigger: 'change' },
                        { validator: checkPrice}
                    ],

                    limitPrice: [
                        {type: 'number', required: true, message: '请输入限售价', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    retailPrice: [
                        {type: 'number', required: true, message: '请输入门市价', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    store: [
                        {type: 'number', required: true, message: '库存不能为空', trigger: 'change' },
                        { validator: checkNumLong}
                    ],
                    buyNotice: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    expenseInclude: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    refundExplain: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    productDetails: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],

                },

                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                    shortcuts (text, onClick) {

                    }
                },                               // 编辑器的内容
                outputContent: '',
                'uploadUrl': '/product/getPolicy',
                editFlag: false,

            }
        },
        created () {
            this.queryById(this.$route.query.id);
        },
        components: {
            'v-editor': Editor
        },
        watch: {
            daterangeDate: {
                handler: function (val, oldVal) {
                    this.add.validtimeStart = new Date(val[0]).getFullYear()+'/'+(new Date(val[0]).getMonth()+1)+'/'+new Date(val[0]).getDate();
                    this.add.validtimeEnd = new Date(val[1]).getFullYear()+'/'+(new Date(val[1]).getMonth()+1)+'/'+new Date(val[1]).getDate();
                    console.log(this.add.validtimeStart)
                },
                deep: true
            },
         refundPercent: {
              handler: function (val, oldVal) {
                  let newVal = val;
                  if(val){
                  if(val.toString().indexOf('.')!=-1){
                      newVal = Number(val.toString().split('.')[0])
                      this.$set(this.$data,'refundPercent', newVal) ;
                  }

                this.add.refundPercent = newVal/100;

                  }else{
                      this.$set(this.$data,'refundPercent', 0) ;                      
                  }
                console.log(newVal);
                console.log(this.add.refundPercent);
              },
              deep: true
            },
            add:{
                handler: function (val, oldVal) {
                    if(val.pay_type != 'DEPOSIT_PAY') {
                        //将定金置空
                        val.deposit = ''
                    }
                },
                deep: true
            }
        },
        computed: {
            emailReg () {
                return this.$store.state.emailReg;
            },
            phoneReg () {
                return this.$store.state.phoneReg;
            },
            priceReg () {
                return this.$store.state.priceReg;
            }
        },
        methods: {
          getAddArea (val){

            console.log(val);
            let checkAreaArr = val[val.length-1]
            if(checkAreaArr){//只要最后  不要省
              this.add.area = checkAreaArr;
            }else{
              this.add.area = '';
            }
            console.log(this.add.area)
          },

            setPurType (val){
                var self = this;
                var arr = self.supArray;
                for(var i=0; i<arr.length; i++){
                    if(arr[i].supNo==val){
                        self.add.purType = arr[i].purType;
                    }
                }
            },


            setHourNumber (value) {
                console.log(value)
                var timeArr =value.split(':');
                var hour = timeArr[0];
                if(hour.slice(0,1)==0){
                    hour = hour.slice(1,2)
                }
                console.log(hour);
                this.add.latestTime = hour
            },



            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },



          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },



            addNew () {  //添加
                this.addBtnFlag = true;
                this.$http.post('/product/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message.success(res.msg);
                            this.$router.go(-1);
                        }else{
                            this.$message.warning(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.addBtnFlag = false;
                    this.$message.error('出错了:' + response);
                });
            },

            queryById(id) {
                var _id=id || '';
                this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            console.log(res.data.area)
                            this.areaArray = res.data.area;
                            this.chargeBackArray = res.data.chargeBack;
                            this.supArray = res.data.sup;
                            this.sortArray = res.data.sort;
                            this.typeArray = res.data.type;
                            this.payArray = res.data.pay;
                            this.purArray = res.data.sup;
                            console.log(this.supArray)
                        }else{
                            // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
