<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/dudu/itemSort'}">项目产品分类</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="70px">
                    <el-form-item label="分类" prop="sortName">
                        <el-input v-model="search.sortName"></el-input>
                    </el-form-item>
                    <el-form-item label="启用状态" prop="status">
                        <el-select  :clearable="true" v-model="search.status" placeholder="请选择状态">
                            <el-option
                                    v-for="item in statusArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" :loading="searchBtnFlag" @click="searchList('search')">查询</el-button>
                        <el-button type="default" :loading="searchBtnFlag" @click="reset">重置条件</el-button>
                    </el-form-item>

                    <el-button v-on:click="addDialog=true" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加产品分类</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="sortName"
                    label="分类">
            </el-table-column>
            <el-table-column
                    prop="sortDetail"
                    label="描述">
            </el-table-column>
            <el-table-column
                    label="状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.status==1">已启用</span>
                    <span v-else>已禁用</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    width="250">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEdit( scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                      v-if="scope.row.status==1"
                      size="small"
                      type="warning"
                      @click="setStatus( scope.row, 0)">停用
                    </el-button>
                    <el-button
                      v-else
                      size="small"
                      type="success"
                      @click="setStatus( scope.row, 1)">启用
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>


        <!-- 修改 -->

        <el-dialog title="修改产品分类" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">

            <div class="dd-form">
                <el-form ref="edit" :model="edit" label-width="120px">
                    <el-input type="hidden" v-model="edit.id"></el-input>
                    <el-input type="hidden" v-model="edit.version"></el-input>
                    <el-form-item label="分类名称" prop="sortName">
                        <el-input v-model="edit.sortName"></el-input>
                    </el-form-item>
                    <el-form-item label="分类说明"  prop="sortDetail">
                        <el-input v-model="edit.sortDetail"></el-input>
                    </el-form-item>
                </el-form>
            </div> <div slot="footer" class="dialog-footer">
            <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'update')">确 定</el-button>
            <el-button @click="closeEditDialog">取 消</el-button>
        </div>
        </el-dialog>

        <!-- 添加 -->
        <el-dialog title="添加产品分类" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :rules="rules" :model="add" label-width="100px">
                <el-form-item label="分类名称" prop="sortName">
                    <el-input v-model="add.sortName"></el-input>
                </el-form-item>
                <el-form-item label="分类说明"  prop="sortDetail">
                    <el-input v-model="add.sortDetail"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add', 'addBtnFlag', 'addNew')">确 定</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import api from '../../api/proclassify.js';
    export default {
        data (){
            var checkSpace = (rule, value, callback) => {
                var reg =  this.spaceReg;
                if(reg.test(value)){
                    callback(new Error('请不要输入空格'));
                }else{
                    callback();
                }
            };
            return {
                tableLoading:true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                editDialog: false,
                dialogMenuVisible: false,
                perDialogVisible: false,
                statusArray:[{label:'启用', value:1},{label:'禁用', value:0}],
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                defaultProps: {
                    children: 'childs',
                    label: 'label'
                },
                add: {
                    sortName:'',
                    sortDetail: ''
                },
                edit:{
                    sortName:'',
                    sortDetail: '',
                    version:'',
                    id:''
                },
                search: {
                    sortName: '',
                    status:'',
                },
                addDialog: false,
                searchRules: {
           /*         sortName: [
                        { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
                    ],*/
                },
                rules: {
                    sortName: [
                        { required: true, message: '请输入分类名称', trigger: 'blur' },
                        { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' },
                        { validator: checkSpace, trigger: 'blur' }
                    ],
                    sortDetail: [
                        { min: 0, max: 100, message: '长度在 0 到 100 个字符', trigger: 'blur' }
                    ],
                }
            }
        },
        created () {
            this.getList();
        },
        components: {
            Page
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
        },

        computed: {
          spaceReg () {
              return this.$store.state.spaceReg;
          }
        },

        methods: {

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },


            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            setStatus (row,state) {  //启用或者禁用
                var postData={};
                postData = {id:row.id_, version: row.version, status:state};

                let url =''
                if(state==1){
                  url = '/itemSort/start'
                }else{
                  url = '/itemSort/disable'
                }



              this.$http.post(url, postData).then((response) => {
                // 响应成功回调
                const res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$message(res.msg);
                    this.getList();

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });

          /*      api.state(postData, (response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });*/
            },

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            closeAddDialog (done){  //关闭新增表单弹窗
                this.addDialog = false;
                this.resetForm('add')
            },

            closeEditDialog (done){ //关闭编辑表单弹窗
                this.editDialog = false;
            },

            addNew () {  //添加

                this.addBtnFlag = true;
                api.add(this.add, (response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑
                this.updateBtnFlag = true;
                api.update(this.edit, (response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });
            },


            deleteItem (row){ //删除
                console.log(111)
                this.$confirm('确定删除当前行数据吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                        api.del({version:row.version, id:row.id_ }, (response) => {
                            // 响应成功回调
                            const res = response.body;
                            if (res.code==200) {
                                if(res.data.success){
                                    this.$message(res.msg);
                                    this.getList();

                                }else{
                                    this.$message(res.data.message);
                                }
                            } else {
                                this.$message.error(res.msg);
                            }

                        }, (response) => {
                            // 响应错误回调
                            this.$message('出错了:' + response);
                        });

                })
            },
            openEdit (row) {  //打开编辑角色表单弹窗
                console.log(row)
                this.edit.version = row.version;
                this.edit.id = row.id_;
                this.edit.sortName = row.sortName;
                this.edit.sortDetail = row.sortDetail? row.sortDetail:'';
                this.editDialog = true;
            },

            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },
            getList () {  //获取分页
              this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    sortName: this.search.sortName,
                    status: this.search.status
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                    this.tableLoading = false;

                });
            }
        },
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        }
    }
</script>
