<template>
    <div class="container__main">
      <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/dudu/product'}">产品管理</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="list-todo__top">
          <div class="todo-btn">
            <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="80px">
              <el-form-item label="产品名称" prop="productTitle">
                <el-input v-model="search.productTitle"></el-input>
              </el-form-item>
              <el-form-item label="供应商" prop="supNo">
                <el-select  v-model="search.supNo" :clearable="true" filterable placeholder="请选择供应商">
                  <el-option v-for="item in supArray" :key="item.supNo"  :label="item.supName" :value="item.supNo"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="产品类型" prop="typeId">
                <el-select v-model="search.typeId" :clearable="true" filterable placeholder="请选择产品类型">
                  <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="地区" prop="area">
                <el-cascader
                  :options="areaArray"
                  v-model="areaSelectedOptions"
                  :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                  filterable
                  @change="handlerArea"
                  :clearable = true
                >
                </el-cascader>


              </el-form-item>
              <el-form-item label="产品分类" prop="sortId">
                <el-select v-model="search.sortId" :clearable="true" filterable placeholder="请选择分类">
                  <el-option v-for="item in sortArray" :key="item.id" :label="item.sortName" :value="item.id"></el-option>
                </el-select>
              </el-form-item>
              <div>
                <el-form-item>
                  <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                  <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                </el-form-item>
                <router-link :to="{ path: '/dudu/add/product'}"><el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加产品</el-button></router-link>
                <el-button @click="updateTSTC" :loading="loginFalg" type="danger"><i class="fa fa-chain" aria-hidden="true"></i> 同步更新天时同城产品</el-button>
              </div>

            </el-form>
          </div>
        </div>
        <el-table
          max-height="600"
          row-key
          v-loading="tableLoading"
          element-loading-text="拼命加载中"
          :data="tableData"
          stripe
          style="width: 100%">
          <el-table-column
            type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="商品名称">
                  <span>{{ props.row.productTitle }}</span>
                </el-form-item>
                <el-form-item label="供应商名称">
                  <span>{{ props.row.supName }}</span>
                </el-form-item>
                <el-form-item label="产品编号">
                  <span>{{ props.row.productNo }}</span>
                </el-form-item>
                <el-form-item label="产品类型">
                  <span>{{ props.row.typeName }}</span>
                </el-form-item>
                <el-form-item label="产品分类">
                  <span>{{ props.row.sortName }}</span>
                </el-form-item>
                <el-form-item label="状态">
                  <span v-if="props.row.productStatus=='EDITING'">编辑中</span>
                  <span v-if="props.row.productStatus=='AUTO_OUT'">自动下架</span>
                  <span v-if="props.row.productStatus=='EXPIRE_OUT'">过期下架</span>
                  <span v-if="props.row.productStatus=='PUNISH_OUT'">处罚下架</span>
                  <span v-if="props.row.productStatus=='OUTAGE'">过期下架</span>
                  <span v-if="props.row.productStatus=='OUT'">已停用</span>
                  <span v-if="props.row.productStatus=='NORMAL'">正常</span>
                </el-form-item>
                <el-form-item label="限售价">
                  <span class="price">{{ props.row.limitPrice }}</span>
                </el-form-item>
                <el-form-item label="门市价">
                  <span class="price">{{ props.row.retailPrice }}</span>
                </el-form-item>
                <el-form-item label="成人采购价">
                  <span class="price">{{ props.row.purAdultPrice }}</span>
                </el-form-item>
                <el-form-item label="儿童采购价">
                  <span class="price">{{ props.row.purChildPrice }}</span>
                </el-form-item>
                <el-form-item label="成人价">
                  <span class="price">{{ props.row.adultPrice }}</span>
                </el-form-item>
                <el-form-item label="儿童价">
                  <span class="price">{{ props.row.childPrice }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            type="index"
            width="80">
          </el-table-column>
          <el-table-column
            label="产品名称"
            width="240">
            <template slot-scope="scope">
              <router-link :to="{ path: '/dudu/preview/product', query: { id: scope.row.id_ } }" title="点击可预览" target="_blank">{{scope.row.productTitle}}</router-link>
            </template>
          </el-table-column>
          <el-table-column
            prop="productNo"
            label="产品编号">
          </el-table-column>
          <el-table-column
            prop="sortName"
            label="分类">
          </el-table-column>
          <el-table-column
            prop="typeName"
            label="产品类型">
          </el-table-column>
          <el-table-column
            prop="purType"
            :formatter="formatPurType"
            label="产品来源">
          </el-table-column>
          <el-table-column
            label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.productStatus=='EDITING'">编辑中</span>
              <span v-if="scope.row.productStatus=='AUTO_OUT'">自动下架</span>
              <span v-if="scope.row.productStatus=='EXPIRE_OUT'">过期下架</span>
              <span v-if="scope.row.productStatus=='PUNISH_OUT'">处罚下架</span>
              <span v-if="scope.row.productStatus=='OUTAGE'">过期下架</span>
              <span v-if="scope.row.productStatus=='OUT'">已停用</span>
              <span v-if="scope.row.productStatus=='NORMAL'">正常</span>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            label="操作"
            width="320">
            <template slot-scope="scope">
              <el-button
                size="small"
                v-if="scope.row.productStatus=='NORMAL'"
                :disabled="true"
                type="primary">修改价格
              </el-button>
              <router-link v-if="scope.row.productStatus!='NORMAL'" :to="{ path: '/dudu/price/product', query: { productNo: scope.row.productNo } }">
                <el-button
                  size="small"
                  type="primary">修改价格
                </el-button>
              </router-link>
              <el-button
                size="small"
                v-if="scope.row.productStatus=='NORMAL'"
                :disabled="true"
                type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
              </el-button>
              <router-link v-if="scope.row.productStatus!='NORMAL'" :to="{ path: '/dudu/update/product', query: { id: scope.row.id_ } }">
                <el-button
                  size="small"
                  type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                </el-button>
              </router-link>
              <el-button
                size="small"
                type="danger"
                v-if="scope.row.productStatus=='NORMAL'"
                :disabled="true"
                @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
              </el-button>
              <el-button
                size="small"
                type="danger"
                v-if="scope.row.productStatus!='NORMAL'"
                @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
              </el-button>
              <el-button
                v-if="scope.row.productStatus=='EDITING'"
                size="small"
                type="success"
                @click="upDownPro(scope.row,'up')">上架
              </el-button>
              <el-button
                v-if="scope.row.productStatus=='NORMAL'"
                size="small"
                type="warning"
                @click="upDownPro(scope.row,'down')">下架
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <el-dialog
          title="价格范围"
          :visible.sync="showDateFlag"
          size="tiny"
          :before-close="closeDateShow">
          <div class="">
            <p>限售价：{{showPrice.limitPrice}}</p>
            <p>门市价：{{showPrice.retailPrice}}</p>
            <p>成人采购价	：{{showPrice.purAdultPrice}}</p>
            <p>儿童采购价：{{showPrice.purChildPrice}}</p>
            <p>成人销售价：{{showPrice.adultPrice}}</p>
            <p>儿童销售价：{{showPrice.childPrice}}</p>
          </div>
        </el-dialog>


      </div>
      <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
    </div>
</template>
<script>
    import Editor from '../../components/Editor'
    import Page from '../Page.vue';
    import api from '../../api/product';
    import upload from '../Upload.vue';
    export default {

        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                var reg = this.phoneReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的手机号码'));
                }
            };
            var checkEmail = (rule, value, callback) => {  //邮箱校验
                var reg = this.emailReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的邮箱地址'));
                }
            };
            return {
              areaSelectedOptions:[],

                loginFalg:false,
                indexNumber:0,
                tableLoading:true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                showPrice: {
                    limitPrice: 0,
                    retailPrice: 0,
                    purChildPrice: 0,
                    purAdultPrice: 0,
                    adultPrice: 0,
                    childPrice: 0,
                },
                showDateFlag: false,
                editDialog: false,
                addDialog:false,
              purTypeArr:[],
                //下面是编辑或者新增的弹窗数据
                areaArray: [], //地区
                chargeBackArray: [],    //退单类型
                supArray: [],  //供货商
                sortArray: [], //  //分类
                typeArray: [],    //类型
                payArray: [],     //支付类型
                daterangeDate: [],  //时间范围
                isAdd: true,
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                stopHour:'23:00',
                search: {
                    productTitle:'',
                    typeId:'',
                    supNo:'',
                    area:'',
                    sortId:''
                },

                searchRules:{
                },



            }
        },
        created () {
            this.getList();
            this.queryById();
        },
        components: {
            Page,
            upload,
            'v-editor': Editor
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
        },
        computed: {
            emailReg () {
                return this.$store.state.emailReg;
            },
            phoneReg () {
                return this.$store.state.phoneReg;
            }
        },
        methods: {

          formatPurType (row, column){
            for(let i of this.purTypeArr){
              if(row.purType===i.name){
                return i.desc;
                break;
              }
            }
          },

          handlerArea (val){
            console.log(val);
            let checkAreaArr = val[val.length-1]
            if(checkAreaArr){//只要最后  不要省
              this.search.area = checkAreaArr;
            }else{
              this.search.area = '';
            }
            console.log(this.search.area)
          },


            showDate (row) {
                this.showDateFlag = true;
                this.showPrice.limitPrice = row.limitPrice;
                this.showPrice.retailPrice = row.retailPrice;
                this.showPrice.purChildPrice = row.purChildPrice;
                this.showPrice.purAdultPrice =  row.purAdultPrice;
                this.showPrice.adultPrice =  row.adultPrice;
                this.showPrice.childPrice =  row.childPrice;
            },
            closeDateShow () {
                this.showDateFlag = false;
            },

            updateTSTC(){//同步天时同城的产品
                    this.loginFalg = true;
                      this.$http.post('/product/insert/tstcProduct').then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        this.getList();   
                        this.$message.success(res.msg);
                                                 
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.loginFalg = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.loginFalg = false;                    
                });
            },

            upProduct (row) {
                this.$http.post('/product/upProduct', {id:row.id_, version: row.version, productNo: row.productNo}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            downProduct (row,tripjson) {
                this.$http.post('/product/downProduct', {id:row.id_, version: row.version, productNo: row.productNo, tripString:tripjson}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            upDownPro (row,type) { //获取能否上下架

                this.$http.post('/product/upOrDownInfo', {
                    id: row.id_,
                    version: row.version,
                    supNo: row.supNo,
                    productNo: row.productNo,
                    productStatus: row.productStatus,

                }).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            if(res.data.success==true){ //可以上下架

                              this.$confirm(res.data.message, '提示', {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                                type: 'warning'
                              }).then(() => {
                                if(type=='up'){
                                  this.upProduct(row);
                                }else if(type=='down'){
                                  var  tripjson = '';
                                  try
                                  {
                                      if(res.data.obj.trip){
                                        tripjson =  res.data.obj.trip;
                                        tripjson = JSON.stringify(tripjson)
                                      }
                                  }
                                  catch(err)
                                  {
                                    //在此处理错误
                                  }

                                  this.downProduct(row,tripjson);

                                }
                              }).catch(() => {
                                this.$message({
                                  type: 'info',
                                  message: '已取消操作'
                                });
                              });


                            }else{
                                this.$message(res.data.message);
                            }
                        }else{
                            // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });

            },


            setHourNumber (value) {
                console.log(value)
                var timeArr =value.split(':');
                var hour = timeArr[0];
                if(hour.slice(0,1)==0){
                    hour = hour.slice(1,2)
                }
                console.log(hour);
                this.add.latestTime = hour
            },


            deleteItem (row){ //删除


              this.$http.post('/product/deleteInfo', {productStatus:row.productStatus, productNo: row.productNo}).then((response) => {
                // 响应成功回调
                let res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$confirm(res.data.message, '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      this.$http.post('/product/delete', {id:row.id_, version: row.version, productNo: row.productNo}).then((response) => {
                        // 响应成功回调
                        let res = response.body;
                        if (res.code==200) {
                          if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                          }else{
                            this.$message(res.data.message);
                          }
                        } else {
                          this.$message.error(res.msg);
                        }
                      }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                      });
                    })

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            },

            openAddDialog (){
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.addBtnFlag = false;
            },

            closeEditDialog (done){ //关闭编辑表单弹窗

                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
            },

            setStatus (row,state) {  //启用或者禁用
                var postData={};
                if(state){
                    postData = {id:row.id_, version: row.version, status: state};
                }else{
                    postData = {id:row.id_, version: row.version};
                }
                this.$http.post('/supplier/supplier/updateStatus', postData).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.areaSelectedOptions=[];
                this.pageNum = 1;
                this.getList();
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openEdit (row) {
                this.editDialog = true;
                //将属性赋值到编辑数据对象
                console.log(row)
                for(var x in this.edit){
                    //console.log(x)
                    var data = this.edit;
                    for(var y in row){
                        if(x==y){
                            data[x]=row[y]
                        }
                    }
                }

            },
            closeDialog (done) {
                this.editFlag = false;
                this.updateBtnFlag = false;
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },


          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },


            queryById(id) {
                var _id=id || '';
                this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            console.log(res.data.area)
                            this.areaArray = res.data.area;
                            this.chargeBackArray = res.data.chargeBack;
                            this.supArray = res.data.sup;
                            this.sortArray = res.data.sort;
                            this.typeArray = res.data.type;
                            this.payArray = res.data.pay;
                            this.purArray = res.data.sup;
                            console.log(this.supArray)
                        }else{
                           // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            getList () {  //获取分页
              this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    productTitle: this.search.productTitle,
                    typeId: this.search.typeId,
                    supNo: this.search.supNo,
                    area: this.search.area,
                    sortId: this.search.sortId,
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.page.records;
                        this.total = res.data.page.total;
                        this.purTypeArr = res.data.purTypeEnum;
                    } else {
                      if(res){
                        this.$message.error(res.data.message);
                      }
                    }
                    this.tableLoading = false;
                });
            },
            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
