<template> <!-- 需要增加下拉框  支付类型 -->
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dudu/product' }">产品管理</el-breadcrumb-item>
                <el-breadcrumb-item>修改价格</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="pro-price" v-if="update.productNo" style="padding-top:50px;">

          <h3>设置价格</h3>
          <p>有价格的日期将会有个红点标识 <el-badge is-dot class="item"></el-badge></p>
          <p>可以对<el-badge is-dot class="item"></el-badge>的日期点击单独修改价格</p>
          <el-button type="success" @click="openLongTimePriceSet">新增价格</el-button>


          <!--:on-day-click="onDayClick3" :change-pane="changePane"-->
          <h3>价格日历</h3>
          <div class="setPrice-calendar"  v-loading="calendarLoading">
          <calendar class="event-calendar" :value="calendar.value" :disabled-days-of-week="calendar.disabled" :on-day-click="openPriceSet" :format="calendar.format" :clear-button="calendar.clear" :pane="1" :has-input="false" >

            <div class="event" v-for="evt in calendar.events" :slot="evt.date">
              <el-tooltip placement="top">
                <div slot="content">
                  <p>成人采购价：&yen; {{evt.content.purAdultPrice}}</p>
                  <p>儿童采购价：&yen; {{evt.content.purChildPrice}}</p>
                  <p>成人价：&yen; {{evt.content.adultPrice}}</p>
                  <p>儿童价：&yen; {{evt.content.childPrice}}</p>
                  <p>限购价：&yen; {{evt.content.limitPrice}}</p>
                  <p>门市价：&yen; {{evt.content.retailPrice}}</p>
                  <p>库存：{{evt.content.store}}</p>
                </div>
                <el-badge is-dot class="item"></el-badge>
              </el-tooltip>
            </div>
          </calendar>
          </div>

        </div>

      <el-row v-if="!update.productNo" type="flex" class="row-bg" justify="center">
        <el-col :span="12">
          <el-alert
            title="暂无价格，请选择日期设置价格"
            type="warning"
            :closable="false"
            show-icon>
          </el-alert>
        </el-col>
      </el-row>


      <!-- 修改价格 -->
      <el-dialog title="设置价格" :visible.sync="priceSetFlag" :before-close="closePriceSetDialog"  :close-on-click-modal="false">
        <el-alert
          v-if="!longTime && price.date"
          class="day-bar__now"
          type="info"
          title=""
          :closable="false">
         当前设置的日期时：{{price.date}}
        </el-alert>
        <el-form :model="price" ref="calendarPrice" label-width="120px">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-form-item prop="purAdultPrice" label="成人采购价">
                <el-input-number v-model="price.purAdultPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="purChildPrice" label="儿童采购价">
                  <el-input-number v-model="price.purChildPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="adultPrice" label="成人价">
                <el-input-number v-model="price.adultPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="childPrice" label="儿童价">
                <el-input-number v-model="price.childPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="limitPrice" label="限售价">
                <el-input-number v-model="price.limitPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="retailPrice" label="门市价">
                <el-input-number v-model="price.retailPrice" :step="0.01" :debounce="1000" :min="0" :max="999999"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="store" label="库存">
                <el-input-number v-model="price.store" :debounce="1000" :min="0" :max="99999"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- -->
          <h3>设置时间段的价格：</h3>
          <el-form-item label="设置时间段">
            <el-switch
              v-model="longTime"
              on-color="#13ce66"
              on-text="启用"
              off-text="禁用"
              off-color="#ff4949">
            </el-switch>
            (如果启用本项，将会设置以下时间段的价格)
          </el-form-item>
          <div v-if="longTime">
            <el-form-item label="时间范围">
              <el-date-picker
                v-model="priceDateRange"
                :editable="false"
                type="daterange"
                placeholder="选择日期范围"
                format="yyyy/MM/dd HH:mm:ss"
                :picker-options="pickerOptions0">
              </el-date-picker>
              <el-button type="success" v-if="pickTime.length==0 && priceDateRange.length>0 && priceDateRange[0]" @click="clickPicker">添加</el-button>
              <el-button type="default" :disabled="true" v-if="pickTime.length>0" >添加</el-button>
            </el-form-item>
          </div>
        </el-form>
        <div v-if="longTime">
          <h4><el-badge is-dot class="item">已经选定的日期</el-badge></h4>
          <ul class="select-price">
            <li v-for="(item, index) in pickTime">
              <div class="tit">
                <h4>{{item.rangDate[0]}} 至 {{item.rangDate[1]}}</h4>
                <i class="el-icon-delete" @click="delDate(index)"></i>
              </div>
              <div>
                成人采购价: {{item.content.purAdultPrice}}
                儿童采购价: {{item.content.purChildPrice}}
                成人价: {{item.content.adultPrice}}
                儿童价: {{item.content.childPrice}}
                门市价: {{item.content.retailPrice}}
                限售价: {{item.content.limitPrice}}
                库存: {{item.content.store}}
              </div>
            </li>
          </ul>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closePriceSetDialog">取 消</el-button>
          <el-button v-if="longTime && pickTime.length>0" type="primary" @click="addNewPrice">确定提交</el-button>
          <el-button v-if="longTime && pickTime.length==0" :disabled="true" type="default">请先选择日期</el-button>
          <el-button type="success"  icon="edit" v-if="!longTime && price.date" @click="singlePrice">立即设置</el-button>
        </div>
      </el-dialog>



    </div>

</template>
<script>
    import moment from 'moment';
    import Calendar from '../common/Calendar.vue'

    Date.prototype.format = function() {
        var s = '';
        var mouth = (this.getMonth() + 1)>=10?(this.getMonth() + 1):('0'+(this.getMonth() + 1));
        var day = this.getDate()>=10?this.getDate():('0'+this.getDate());
        s += this.getFullYear() + '-'; // 获取年份。
        s += mouth + "-"; // 获取月份。
        s += day; // 获取日。
        return (s); // 返回日期。
    };

    export default {
        data (){
            var checkPrice = (rule, value, callback) => {  //价格校验
                var reg = this.priceReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
                }
            };

            //数字 1-11位 ，并且是正整数
            var checkNumLong = (rule, value, callback) => {  //数字 1-11位
                var reg = /^[0-9]*[1-9][0-9]*$/;
                if(reg.test(value)){
                    console.log('是整数')
                    if(value.toString().length>=1 && value.toString().length<=11){
                        callback();
                    }else{
                        callback(new Error('请输入1-11位长度的整数'));
                    }
                }else{
                    callback(new Error('请输入正整数'));
                }
                console.log(value.toString().length);

            };
            return {
              calendarLoading: true,
              activeNames:[],
              longTime: false,
              priceDateRange:[],
              priceSetFlag: false,
              price: {
                purAdultPrice:'',
                adultPrice:'',
                limitPrice:'',
                store:'',
                purChildPrice:'',
                childPrice:'',
                retailPrice:'',
                date:'',   //单个日期
              },
                pickTime: [], //存储每次增加的日期和对应的各种价格库存.
                calendar: {
                  events: [],
                  disabled: [],
                  value: '',// moment(new Date()).format('YYYY/MM/DD'),
                  format: 'yyyy/MM/dd',
                  clear: true,
                },


                edit: {
                    priceString:'',
                    productNo:'',
                    isDateChange: false,
                    validtimeStart:moment(new Date()).format('YYYY/MM/DD'),
                    validtimeEnd:moment(new Date()).format('YYYY/MM/DD'),
                },
                priceArray:[],
                oldPrice:[],
                priceItem:{
                    adultPrice:'',
                    childPrice:'',
                    id:'',
                    limitPrice:'',
                    productNo:'',
                    purAdultPrice:'',
                    purChildPrice:'',
                    retailPrice:'',
                    store:'',
                    version:'',
                },
                daterangeDate: [],  //时间范围
                addBtnFlag: false,
                updateBtnFlag: false,
                stopHour:'23:00',

                //校验基准
                adultPrice:[
                    {type: 'number', required: true, message: '请输入成人价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                childPrice:[
                    {type: 'number', required: true, message: '请输入儿童价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                limitPrice:[
                    {type: 'number', required: true, message: '请输入限售价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                purAdultPrice:[
                    {type: 'number',message: '请输入成人采购价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                purChildPrice:[
                    {type: 'number', required: true, message: '请输入儿童采购价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                retailPrice:[
                    {type: 'number', required: true, message: '请输入门市价', trigger: 'change' },
                    { validator: checkPrice, trigger: 'change' }
                ],
                store: [
                    {type: 'number', required: true, message: '库存不能为空', trigger: 'change' },
                    { validator: checkNumLong}
                ],

                rules: {

                    adultPrice:[
                        {type: 'number', required: true, message: '请输入成人价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    childPrice:[
                        {type: 'number', required: true, message: '请输入儿童价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    limitPrice:[
                        {type: 'number', required: true, message: '请输入限售价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    purAdultPrice:[
                        {type: 'number', required: true, message: '请输入成人采购价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    purChildPrice:[
                        {type: 'number', required: true, message: '请输入儿童采购价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    retailPrice:[
                        {type: 'number', required: true, message: '请输入门市价', trigger: 'change' },
                        { validator: checkPrice, trigger: 'change' }
                    ],
                    store: [
                        {type: 'number', required: true, message: '库存不能为空', trigger: 'change' },
                        { validator: checkNumLong}
                    ],
                },

               /* pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                },*/

            }
        },
        created () {
            this.queryPrice(this.$route.query.productNo);
        },
        components: {
          Calendar
        },
        watch: {
/*            priceArray:{
                handler: function (val, oldVal) {
                    this.edit.priceString=JSON.stringify(val);
                    console.log(val);
       /!*             if(val.length>0){ //日期显示
                        var startDay = new Date(val[0].priceDate);
                        var endDay = new Date(val[val.length-1].priceDate);
                        this.daterangeDate = [moment(startDay).format('YYYY-MM-DD'),moment(endDay).format('YYYY-MM-DD')];
                        console.log(this.daterangeDate)
                    }*!/
                   // console.log(typeof(this.update.priceString))
                },
                deep: true

            },*/

            daterangeDate: {
                handler: function (val, oldVal) {
                    console.log('时间有变动')
                    var self = this;
                    if(this.daterangeDate[0] && this.daterangeDate[1]){
                        var dates = this.getAllDate(moment(this.daterangeDate[0]).format('YYYY-MM-DD'), moment(this.daterangeDate[1]).format('YYYY-MM-DD'));

                        //置空对象
                        self.priceArray=[];
                        for(var i=0; i<dates.length; i++){
                            (function (arg) {
                                //priceItem['priceDate'] = dates[arg];



                                //生成校验规则
                     /*           self.$set(self.rules, 'adultPrice'+arg, self.adultPrice)
                                self.$set(self.rules, 'childPrice'+arg, self.childPrice)
                                self.$set(self.rules, 'limitPrice'+arg, self.limitPrice)
                                self.$set(self.rules, 'purAdultPrice'+arg, self.purAdultPrice)
                                self.$set(self.rules, 'purChildPrice'+arg, self.purChildPrice)
                                self.$set(self.rules, 'retailPrice'+arg, self.retailPrice)
                                self.$set(self.rules, 'store'+arg, self.store)
                                console.log(self.rules)*/

                                self.priceArray.push({
                                    id:self.priceItem.id_,
                                    adultPrice:self.priceItem.adultPrice,
                                    childPrice:self.priceItem.childPrice,
                                    priceDate:dates[arg],
                                    limitPrice:self.priceItem.limitPrice,
                                    productNo:self.priceItem.productNo,
                                    purAdultPrice:self.priceItem.purAdultPrice ,
                                    purChildPrice:self.priceItem.purChildPrice,
                                    retailPrice:self.priceItem.retailPrice,
                                    store:self.priceItem.store,
                                    version:self.priceItem.version,
                                });
                                //console.log(self.priceArray);

                            })(i);
                        }


                        //改变了日期
                        self.edit.isDateChange = true;

                    }

                },
                deep: true
            },

  /*          edit:{
                handler: function (val, oldVal) {
                    if(val.isDateChange == true){
                        var stime = moment(this.daterangeDate[0]).format('YYYY/MM/DD');
                        var endtime = moment(this.daterangeDate[1]).format('YYYY/MM/DD');
                        console.log(stime)
                        console.log(endtime)
                        this.$set(this.edit, 'validtimeStart', stime);
                        this.$set(this.edit, 'validtimeEnd', endtime);
                    }else{
                        delete this.edit.validtimeStart;
                        delete this.edit.validtimeEnd;
                    }
                },
                deep: true

            },*/

        },
        computed: {
            priceReg () {
                return this.$store.state.priceReg;
            },
          pickerOptions0: function () {
            return {
              disabledDate(time) {
                return time.getTime() < Date.now() - 8.64e7;
              }
            }

          }
        },
        methods: {

            //收集价格的数据
            collectInput () {

            },

          addNewPrice (){  //新增新的时间，这里需要做的是保证和旧时间融合，并不能有缺漏的天数，有缺漏的价格和库存都用null标示
            let oldBeginDate = '';
            let oldLastDate ='';
            let newBeginDate = new Date(this.pickTime[0].rangDate[0]).getTime();
            let newLastDate = new Date(this.pickTime[0].rangDate[1]).getTime();
            if(this.priceArray.length>0){
              oldBeginDate = new Date(this.priceArray[0].priceDate).getTime();
              oldLastDate = new Date(this.priceArray[this.priceArray.length-1].priceDate).getTime();
              this.edit.validtimeStart = moment(this.priceArray[0].priceDate).format('YYYY/MM/DD')
              this.edit.validtimeEnd = moment(this.priceArray[this.priceArray.length-1].priceDate).format('YYYY/MM/DD')
            }

            //判断2个时间段是否有交集，1.无，（计算2个时间点之间的天数，补充空漏时间 ） 2.有交集，后面设置的价格覆盖之前的。。。

            if(oldLastDate<(newBeginDate-24*60*60*1000)){
              let diffTime = Math.ceil((newBeginDate-oldLastDate)/(24*60*60*1000))-1
              console.log('存在间隙值,相距：'+diffTime+'天')
            }

            for (let i = 0; i<this.pickTime.length; i++){
              let item=this.pickTime[i];

              //this.priceArray=[]

              console.log(moment(item.rangDate[0]).format('x'))
              console.log(new Date(this.edit.validtimeStart).getTime())


              if(new Date(this.edit.validtimeStart).getTime()<moment(item.rangDate[0]).format('x')){
              }else{
                this.edit.validtimeStart =moment(item.rangDate[0]).format('YYYY/MM/DD')
              }
              if(new Date(this.edit.validtimeEnd).getTime()>moment(item.rangDate[1]).format('x')){
              }else{
                this.edit.validtimeEnd =moment(item.rangDate[1]).format('YYYY/MM/DD')
              }

              for(var i=Date.parse(item.rangDate[0]);i<Date.parse(item.rangDate[1])+86400000;i+=86400000){
                console.log(moment(new Date(i)).format('YYYY-MM-DD HH:mm:ss'))

                //查看原有的有沒有日期
                let hasDate = false;
                for(let k = 0; k<this.priceArray.length; k++){
                  //也仅仅需要价格和库存之类的  其他的去除
                  for(let j in this.priceArray[k]){
                    if(j!='adultPrice' &&j!='childPrice' &&j!='purAdultPrice' &&j!='purChildPrice' &&j!='retailPrice' &&j!='limitPrice' &&j!='store' && j!='priceDate'){
                      delete this.priceArray[k][j]
                    }
                  }


                  if(moment(new Date(i)).format('YYYY-MM-DD') == moment(this.priceArray[k].priceDate).format('YYYY-MM-DD')){
                    this.priceArray[k].adultPrice = item.content.adultPrice
                    this.priceArray[k].childPrice = item.content.childPrice
                    this.priceArray[k].purAdultPrice = item.content.purAdultPrice
                    this.priceArray[k].purChildPrice = item.content.purChildPrice
                    this.priceArray[k].retailPrice = item.content.retailPrice
                    this.priceArray[k].limitPrice = item.content.limitPrice
                    this.priceArray[k].store = item.content.store
                    hasDate = true;
                  }
                }

                if(!hasDate){
                  this.priceArray.push({
                    productNo:this.priceItem.productNo,
                    adultPrice:item.content.adultPrice,
                    childPrice:item.content.childPrice,
                    priceDate:moment(new Date(i)).format('YYYY/MM/DD'),
                    limitPrice:item.content.limitPrice,
                    purAdultPrice:item.content.purAdultPrice ,
                    purChildPrice:item.content.purChildPrice,
                    retailPrice:item.content.retailPrice,
                    store:item.content.store,
                  })

                }
              }
            }


            console.log(this.priceArray)
            this.edit.isDateChange = true;
            this.update()

          },

          singlePrice (){  //修改单个日期的价格
              for(let i =0; i< this.priceArray.length; i++){
                if(moment(this.price.date).format('YYYY-MM-DD HH:mm:ss')==this.priceArray[i].priceDate){
                  this.priceArray[i].adultPrice = this.price.adultPrice
                  this.priceArray[i].childPrice = this.price.childPrice
                  this.priceArray[i].purAdultPrice = this.price.purAdultPrice
                  this.priceArray[i].purChildPrice = this.price.purChildPrice
                  this.priceArray[i].retailPrice = this.price.retailPrice
                  this.priceArray[i].limitPrice = this.price.limitPrice
                  this.priceArray[i].store = this.price.store;
                  break;
                }
              }
              this.update();
          },

          delDate (index) {
            this.pickTime.splice(index,1)
          },

          //for(var i=Date.parse('2013-02-25');i<Date.parse('2013-03-03');i+=86400000)console.info(new Date(i))
          clickPicker () {
            console.log(this.priceDateRange);
            if(this.priceDateRange[0] &&　this.priceDateRange[1]){
              this.pickTime.push({
                rangDate: [moment(this.priceDateRange[0]).format('YYYY-MM-DD HH:mm:ss'),moment(this.priceDateRange[1]).format('YYYY-MM-DD HH:mm:ss')],
                content: {
                  purAdultPrice:this.price.purAdultPrice,
                  adultPrice:this.price.adultPrice,
                  limitPrice:this.price.limitPrice,
                  store:this.price.store,
                  purChildPrice:this.price.purChildPrice,
                  childPrice:this.price.childPrice,
                  retailPrice:this.price.retailPrice,
                }
              });
            }


            this.priceDateRange=[];

                console.log(this.pickTime)
          },

            openLongTimePriceSet (){
              this.priceSetFlag = true;
              this.longTime = true;
            },

            openPriceSet (date, str) { //点击日历上时间进行设置
              console.log(this.calendar.events)
              console.log(str)
              this.edit.isDateChange = false;

              for(let i =0; i<this.priceArray.length; i++){
                if(moment(str).format('YYYY-MM-DD HH:mm:ss')==this.priceArray[i].priceDate){
                  this.priceSetFlag = true;
                  this.price.date = moment(str).format('YYYY-MM-DD HH:mm:ss');
                  this.longTime = false;
                  //将当天价格的原价和原库存也加载到修改框
                  this.price.adultPrice= this.priceArray[i].adultPrice
                  this.price.childPrice= this.priceArray[i].childPrice
                  this.price.purAdultPrice= this.priceArray[i].purAdultPrice
                  this.price.purChildPrice= this.priceArray[i].purChildPrice
                  this.price.retailPrice= this.priceArray[i].retailPrice
                  this.price.limitPrice= this.priceArray[i].limitPrice
                  this.price.store= this.priceArray[i].store ;


                  break;

                }
              }
            },

            goBack () {
              this.$router.go(-1)
            },
            getAllDate (startTime,endTime) {
                var ab = startTime.split("-");
                var ae = endTime.split("-");
                var db = new Date();
                db.setUTCFullYear(ab[0], ab[1] - 1, ab[2]);
                var de = new Date();
                de.setUTCFullYear(ae[0], ae[1] - 1, ae[2]);
                var unixDb = db.getTime();
                var unixDe = de.getTime();
                var dates=[];
                for (var k = unixDb; k <= unixDe;) {
                    dates.push((new Date(parseInt(k))).format());
                    k = k + 24 * 60 * 60 * 1000;
                }
                return dates;
            },

            getTheTime (maxDate, minDate ) {
                console.log(maxDate)
                var newDateRange = [minDate,maxDate];
                console.log(this.newDateRange.toString())
                console.log(this.oldDateRange.toString())
                if(newDateRange.toString() != this.oldDateRange.toString()) {
                    this.$confirm('重新选择日期将丢失之前的价格信息, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '最新时间'+val
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消选择时间'
                        });
                    });

                }
            },

            setPurType (val){
                var self = this;
                var arr = self.supArray;
                for(var i=0; i<arr.length; i++){
                    if(arr[i].supNo==val){
                        self.edit.purType = arr[i].purType;
                        console.log(self.edit.purType)
                    }
                }
            },
            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },




          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

          closePriceSetDialog () {
            //将价格和库存的输入全部恢复为0
            this.price.adultPrice = 0;
            this.price.childPrice = 0;
            this.price.purAdultPrice = 0;
            this.price.purChildPrice = 0;
            this.price.retailPrice = 0;
            this.price.limitPrice = 0;
            this.price.store = 0;
            this.priceDateRange=[];
            this.pickTime=[];
            this.priceSetFlag =false;
          },

            update () {  //编辑

                let postData = {
                  priceString:JSON.stringify(this.priceArray),
                  productNo: this.edit.productNo,
                  isDateChange: this.edit.isDateChange
                }

                if(this.edit.isDateChange){
                  postData = {
                    priceString:JSON.stringify(this.priceArray),
                    productNo: this.edit.productNo,
                    isDateChange: this.edit.isDateChange,
                    validtimeStart: this.edit.validtimeStart,
                    validtimeEnd: this.edit.validtimeEnd,
                  }
                }

                this.updateBtnFlag = true;
                this.$http.post('/product/updatePrice',postData).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                          this.queryPrice(this.$route.query.productNo);
                          this.closePriceSetDialog();
                            //this.$router.go(-1);
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                   this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.updateBtnFlag = false;
                    this.$message('出错了:' + response);
                });
            },

            queryPrice(num) {
              this.calendarLoading = true;
                if(num){
                    this.update.productNo = num
                    this.$http.post('/product/read/queryPrice', {productNo: num}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data){
                              this.calendarLoading = false;
                              
                                this.edit.productNo = res.data[0].productNo;
                                this.priceArray = res.data;
                                this.oldPrice = res.data;
                                var _item = res.data[0];
                             /*   this.calendar.events = [{
                                  date: '2017/07/05',
                                  content: {
                                    purAdultPrice: 10,
                                    purChildPrice: 5,
                                    adultPrice: 13,
                                    childPrice: 35,
                                    limitPrice: 46,
                                    retailPrice: 20,
                                    store: 999,
                                  }
                                }];*/

                              this.calendar.events = [];

                                for(let i = 0; i<res.data.length; i++){
                                    let _data = res.data[i];
                                  this.calendar.events.push({
                                    date:moment(_data.priceDate).format('YYYY/MM/DD'),
                                    content: _data
                                  })
                                }


                                console.log(this.calendar.events)


                                //设置基准日期价格对象，后期用于选择日期后生成多个
                                //this.priceItem.adultPrice = _item.adultPrice;
                                //this.priceItem.childPrice = _item.childPrice;
                                this.priceItem.id = _item.id_;
                                //this.priceItem.limitPrice = _item.priceDate;
                                this.priceItem.productNo = _item.productNo;
                                //this.priceItem.purAdultPrice = _item.purAdultPrice;
                                //this.priceItem.purChildPrice = _item.purChildPrice;
                                //this.priceItem.retailPrice = _item.retailPrice;
                                //this.priceItem.store = _item.store;
                                this.priceItem.version = _item.version;
                            }else{
                                // this.$message(res.data.message);
                            }
                        } else {
                            //this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });

                }else{
                    this.$message.error('缺少商品编号，无法继续');
                }
            },

            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";

    .select-price{
      list-style: none;
      .tit{
        overflow: hidden;
        h4{
          float: left;
          font-weight: normal;
          color: $success;
        }
        i{
          float:right;
          padding:10px;
          margin-top:5px;
          color: $danger;
          cursor: pointer;
        }
      }
      li{
        margin-bottom: 10px;
      }
    }

    .pro-price{
        .block{
            padding: 30px 0;
            text-align: center;
            border-right: 1px solid #eff2f6;
            -ms-flex: 1;
            flex: 1;
        }
        .el-col{
            margin: 5px 0;
        }
        .demonstration{
            display: block;
            color: #8492a6;
            font-size: 14px;
            margin-bottom: 20px
        }
    }

  .setPrice-calendar{
    padding-bottom: 30px;
    .datepicker{
      display: block;
      width:800px;
      margin:0 auto;
      .datepicker-popup{
        width: 100% !important;
      }
    }
  }

  .day-cell{
    position: relative;
  }

  .event{
    .events-pop{
      position: absolute;
      left:0;
      top:100%;
      display: none;
      width: 280px;
      height:280px;
      padding:10px;
      background: #fff;
      border:1px dotted #ddd;
    }
    &:hover{
      .events-pop{
        display: block;
      }
    }
    p{
      font-size: 12px;
      color: $light-blue;
    }
  }

  .day-bar__now{
    margin-bottom: 20px;
  }

</style>
