<template> <!-- 需要增加下拉框  支付类型 -->
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dudu/product' }">产品管理</el-breadcrumb-item>
                <el-breadcrumb-item>编辑</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="dd-form" v-loading.fullscreen.lock="!editFlag">
            <el-form v-if="proId" ref="edit" :rules="rules" :model="edit" label-width="140px">
                <el-form-item label="名称" prop="productTitle">
                    <el-input v-model="edit.productTitle"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="供应商" class="control__full" prop="supNo">
                            <el-select v-model="edit.supNo" filterable placeholder="请选择供应商" @change="setPurType">
                                <el-option v-for="item in supArray" :key="item.supNo"  :label="item.supName" :value="item.supNo"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="分类" class="control__full" prop="sortId">
                            <el-select v-model="edit.sortId" filterable placeholder="请选择分类">
                                <el-option v-for="item in sortArray" :key="item.id_" :label="item.sortName" :value="item.id_"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="产品类型" class="control__full" prop="typeId">
                            <el-select v-model="edit.typeId" filterable placeholder="请选择产品类型">
                                <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="地区" class="control__full" prop="area">
                          <el-cascader
                            :options="areaArray"
                            v-model="editCheckArea"
                            :props="{
                              value :'code',
                              label:'area',
                               children:'list'
                            }"
                            filterable
                            @change="getEditArea"
                            :clearable = true
                          >
                          </el-cascader>


                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="身份证必填" prop="isIdcard">
                            <el-radio-group v-model="edit.isIdcard">
                                <el-radio class="radio" :label="1">是</el-radio>
                                <el-radio class="radio" :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="是否为录单产品" prop="isRecord">
                            <el-radio-group v-model="edit.isRecord">
                                <el-radio class="radio" :label="1">是</el-radio>
                                <el-radio class="radio" :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-form-item label="价格有效时间" prop="daterangeDate">
                    <el-date-picker
                            v-model="daterangeDate"
                            type="daterange"
                            :disabled="true"
                            :editable="false"
                            placeholder="选择日期范围"
                            :picker-options="pickerOptions0">
                    </el-date-picker>
                    <span style="color:#999;">此时不能修改价格，请到价格编辑页面修改</span>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="生效时间(分钟)" prop="validityTime">
                            <el-input type="number"  step="1" v-model.number="edit.validityTime"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="截止下单时间" prop="latestTime">
                            <el-time-select
                                    :editable="false"
                                    v-model="stopHour"
                                    @change="setHourNumber"
                                    :picker-options="{
                                        start: '00:00',
                                        step: '01:00',
                                        end: '24:00'
                                      }"
                                    placeholder="选择时间">
                            </el-time-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="建议人数" prop="useNumber">
                            <el-input type="number" step="1" v-model.number="edit.useNumber"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="退单类型" prop="chargeback">
                            <el-select v-model="edit.chargeback" filterable placeholder="请选择退单类型">
                                <el-option v-for="item in chargeBackArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                    <el-row>
                        <el-col :span="24">
                            <el-form-item label="退单手续费" prop="refundPercent">
                            <el-row>
                                <el-col :span="24">
                                    <el-input-number v-model.number="refundPercent" :min="0" :max="100" :step="1"></el-input-number>
                                    请输入1-100的整数（输入小数无效）
                                </el-col>
                                <el-col :span="24" style="color:#f60;">结果：{{refundPercent}}%</el-col>

                            </el-row>
                            </el-form-item>
                        </el-col>
                        <el-col :span="16">
                            <el-form-item label="固定退款金额" prop="refundFixed">
                            <el-row>
                                <el-col :span="12">
                                    <el-input type="number" v-model.number="edit.refundFixed"></el-input>
                                </el-col>
                                <el-col :span="12">元</el-col>
                            </el-row>
                            </el-form-item>
                        </el-col>
                    </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="支付类型" prop="pay_type">
                            <el-select v-model="edit.pay_type" filterable placeholder="请选择支付类型">
                                <el-option v-for="item in payArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" v-if="edit.pay_type=='DEPOSIT_PAY'">
                        <el-form-item label="定金" prop="deposit">
                            <el-input type="number" v-model.number="edit.deposit"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-form-item label="购买须知" prop="buyNotice">
                    <v-editor
                            :path="uploadUrl"
                            :content="content.buyNotice"
                            v-model="edit.buyNotice">
                    </v-editor>
                </el-form-item>
                <el-form-item label="费用包含" prop="expenseInclude">
                    <v-editor
                            :path="uploadUrl"
                            :content="content.expenseInclude"
                            v-model="edit.expenseInclude">
                    </v-editor>
                </el-form-item>
                <el-form-item label="退款说明" prop="refundExplain">
                    <v-editor
                            :path="uploadUrl"
                            :content="content.refundExplain"
                            v-model="edit.refundExplain">
                    </v-editor>
                </el-form-item>
                <el-form-item label="产品详情" prop="productDetails">
                    <v-editor
                            :path="uploadUrl"
                            :content="content.productDetails"
                            v-model="edit.productDetails">
                    </v-editor>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" :loading="updateBtnFlag" @click.prevent="submitForm('edit', 'updateBtnFlag', 'update')">提交修改</el-button>
                </el-form-item>
            </el-form>
            <div v-else class="tips__error">
              <el-alert
                title="缺少产品编号，无法继续。"
                type="info"
                :closable="false">
              </el-alert>
            </div>
        </div>
    </div>

</template>
<script>
    import Editor from '../../components/Editor'
    import api from '../../api/product';
    export default {
        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                var reg = this.phoneReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的手机号码'));
                }
            };
            var checkEmail = (rule, value, callback) => {  //邮箱校验
                var reg = this.emailReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的邮箱地址'));
                }
            };
            var checkPrice = (rule, value, callback) => {  //邮箱校验
                var reg = this.priceReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
                }
            };

            //数字 1-11位 ，并且是正整数
            var checkNumLong = (rule, value, callback) => {  //数字 1-11位
                //var reg = /^(0|\+?[1-9][0-9]*)$/;
                var reg = /^[0-9]*[1-9][0-9]*$/;
                if(reg.test(value)){
                    console.log('是整数')
                    if(value.toString().length>=1 && value.toString().length<=11){
                        callback();
                    }else{
                        callback(new Error('请输入1-11位长度的整数'));
                    }
                }else{
                    callback(new Error('请输入正整数'));
                }
                console.log(value.toString().length);

            };

            return {
                editFlag: false,
              editCheckArea:[],

                editDialog: false,
                addDialog:false,
                //下面是编辑或者新增的弹窗数据
                areaArray: [], //地区
                chargeBackArray: [],    //退单类型
                supArray: [],  //供货商
                sortArray: [], //  //分类
                typeArray: [],    //类型
                payArray: [],     //支付类型
                daterangeDate: [],  //时间范围
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                stopHour:'23:00',
                proId: this.$route.query.id,
                content: {
                  expenseInclude:'',
                  buyNotice:'',
                  refundExplain: '',
                  productDetails: ''
                },
              refundPercent:0,
                edit: {
                    version:'',
                    id:'',
                    productNo:'',
                    productTitle: '',  //产品名称
                    supNo: '', //供货商no.
                    purType: '', //供货商类型
                    sortId: '', //分类
                    typeId: '', //类型id
                    area: '',   //地区
                    isIdcard: 0,     //身份证是否必填（1为是，0为否）
                    isRecord: 0,  //是否为录单产品(1为是，0为否)
                    useNumber: 0, //建议人数
                    chargeback: '', //退单类型
                    refundPercent: 0, //退单百分比
                    refundFixed: 0,   //固定退款金额
                    validityTime: 10,   //生效时间
                    validtimeStart: '',   //有效开始时间
                    validtimeEnd: '',   //有效结束时间
                    latestTime: '23',   //最晚下单时间
                    pay_type: '',   //支付类型
                    deposit: '', //定金(支付类型为定金支付的时候才传)
                    buyNotice: '', //购买须知
                    expenseInclude: '', //费用包含
                    refundExplain: '', //退款说明
                    productDetails: '', //产品详情
                },

                rules: {
                    productTitle: [
                        { required: true, message: '请输入产品名称', trigger: 'blur' },
                        { min: 2, max: 50, message: '长度在 2 到 100 个字符', trigger: 'blur' }
                    ],
                    supNo: [
                        { required: true, message: '请选择供应商', trigger: 'change' },
                    ],
                    purType: [
                        { required: true, message: '请选择采购类型', trigger: 'change' },
                    ],
                    sortId: [
                        { required: true, message: '请选择分类', trigger: 'change' },
                    ],
                    typeId: [
                        { required: true, message: '请选择产品类型', trigger: 'change' },
                    ],
                    isIdcard:  [
                        { type: 'number', required: true, message: '请选择身份证是否必须项', trigger: 'change' },
                    ],
                    isRecord:  [
                        {type: 'number', required: true, message: '请选择是否录单产品', trigger: 'change' },
                    ],
                    area: [
                        { required: true, message: '请选择地区', trigger: 'change' },
                    ],
                    useNumber:[
                        { type: 'number', required: true, message: '请输入建议人数', trigger: 'change' },
                        { validator: checkNumLong}
                    ],
                    refundPercent:[
                        { required: true,type: 'number', message: '请输入退单百分比（数字）' },
                        { validator: checkPrice}
                    ],
                    refundFixed:[
                        {type: 'number', required: true, message: '请输入固定退款金额', trigger: 'change' },
                        { validator: checkPrice}
                    ],
                    chargeback: [
                        { required: true, message: '请选择退单类型', trigger: 'change' },
                    ],
                    validityTime: [
                        { type: 'number',required: true, message: '生效时间,单位(分钟)', trigger: 'blur' },
                        { validator: checkNumLong }
                    ],
                  //去除开始和结束时间的校验，因为修改的时候不支持在此页面修改时间
                  /*  validtimeStart: [
                        { required: true, message: '请选择有效时间范围', trigger: 'blur' },
                    ],
                    validtimeEnd: [
                        { required: true, message: '请选择有效时间范围', trigger: 'blur' },
                    ],*/
                    pay_type: [
                        { required: true, message: '请选择支付类型', trigger: 'change' },
                    ],
                    deposit: [
                        { type: 'number', message: '退款金额必须填数字'},
                        { validator: checkPrice }
                    ],

                    buyNotice: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    expenseInclude: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    refundExplain: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],
                    productDetails: [
                        { required: true, message: '必填项', trigger: 'blur' },
                    ],

                },

                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                    shortcuts (text, onClick) {

                    }
                },                               // 编辑器的内容
                outputContent: '',
                'uploadUrl':  '/product/getPolicy',
                editFlag: false,

            }
        },
        created () {
            this.queryById(this.proId);
        },
        components: {
            'v-editor': Editor
        },
        watch: {
            daterangeDate: {
                handler: function (val, oldVal) {
                    this.edit.validtimeStart = new Date(val[0]).getFullYear()+'/'+(new Date(val[0]).getMonth()+1)+'/'+new Date(val[0]).getDate();
                    this.edit.validtimeEnd = new Date(val[1]).getFullYear()+'/'+(new Date(val[1]).getMonth()+1)+'/'+new Date(val[1]).getDate();
                    console.log(this.edit.validtimeStart)
                },
                deep: true
            },
            refundPercent: {
              handler: function (val, oldVal) {
                  let newVal = val;
                  if(val){
                  if(val.toString().indexOf('.')!=-1){
                      newVal = Number(val.toString().split('.')[0])
                      this.$set(this.$data,'refundPercent', newVal) ;
                  }

                this.edit.refundPercent = newVal/100;

                  }else{
                      this.$set(this.$data,'refundPercent', 0) ;

                  }
                console.log(newVal);
                console.log(this.edit.refundPercent);
              },
              deep: true
            },
            edit:{
                handler: function (val, oldVal) {
                    if(val.pay_type != 'DEPOSIT_PAY') {
                        //将定金置空
                        val.deposit = ''
                    }
                 /*   if(val.latestTime != oldVal.latestTime){
                        console.log(val.latestTime)
                        //this.stopHour = val.latestTime+':'+'00';
                    }*/
                },
                deep: true
            }
        },
        computed: {
            emailReg () {
                return this.$store.state.emailReg;
            },
            phoneReg () {
                return this.$store.state.phoneReg;
            },
            priceReg () {
                return this.$store.state.priceReg;
            }
        },
        methods: {


          getEditArea (val){
            console.log(val);
            let checkAreaArr = val[val.length-1]
            if(checkAreaArr){//只要最后  不要省
              this.edit.area = checkAreaArr;
            }else{
              this.edit.area = '';
            }
            console.log(this.edit.area)
          },

            setPurType (val){
                var self = this;
                var arr = self.supArray;
                for(var i=0; i<arr.length; i++){
                    if(arr[i].supNo==val){
                        self.edit.purType = arr[i].purType;
                        console.log(self.edit.purType)
                    }
                }
            },


            setHourNumber (value) {
                console.log(value)
                var timeArr =value.split(':');
                var hour = timeArr[0];
                if(hour.slice(0,1)==0){
                    hour = hour.slice(1,2)
                }
                console.log(hour);
                this.edit.latestTime = hour
            },



            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },



          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            update () {  //编辑
                this.updateBtnFlag = true;
                this.$http.post('/product/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message.success(res.msg);
                            this.$router.go(-1);
                        }else{
                            this.$message.warning(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.updateBtnFlag = false;
                    this.$message.error('出错了:' + response);
                });
            },

            queryById(id) {
                this.editFlag = false;              

                var _id=id || '';
                this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            this.editFlag = true; 
                            console.log(res.data.area)
                            this.areaArray = res.data.area;
                            this.chargeBackArray = res.data.chargeBack;
                            this.supArray = res.data.sup;
                            this.sortArray = res.data.sort;
                            this.typeArray = res.data.type;
                            this.payArray = res.data.pay;
                            this.purArray = res.data.sup;

                            //设置编辑表单的值
                            this.edit.productNo = res.data.product.productNo;
                            this.edit.version = res.data.product.version;
                            this.edit.id = res.data.product.id_;
                            this.edit.version = res.data.product.version;
                            this.edit.productTitle = res.data.product.productTitle ;  //产品名称
                            this.edit.supNo = res.data.product.supNo ; //供货商no.
                            this.edit.purType = res.data.product.purType;//供货商类型
                            this.edit.sortId = res.data.product.strSortId ; //分类
                            this.edit.typeId = res.data.product.strTypeId ; //类型id
                            this.edit.area = res.data.product.area ;   //地区
                          //地区
                          //省市
                          for (let argument of this.areaArray) {
                            //this.editCheckArea=[];
                            for(let item of argument.list){
                              if(item.code == this.edit.area){
                                this.$set(this.$data,'editCheckArea',[argument.code,this.edit.area])
                                console.log(this.editCheckArea)
                              }
                            }
                          }


                            this.edit.isIdcard = res.data.product.isIdcard;     //身份证是否必填（1为是，0为否）
                            this.edit.isRecord = res.data.product.isRecord;  //是否为录单产品(1为是，0为否)
                            this.edit.useNumber = res.data.product.useNumber ; //建议人数
                            this.edit.chargeback = res.data.product.chargeback ; //退单类型
                            this.edit.refundPercent = res.data.product.refundPercent; //退单百分比
                            this.edit.refundFixed = res.data.product.refundFixed;   //固定退款金额
                            this.edit.validityTime = res.data.product.validityTime ;   //生效时间
                            this.edit.validtimeStart = res.data.product.validtimeStart ;   //有效开始时间
                            this.edit.validtimeEnd = res.data.product.validtimeEnd ;   //有效结束时间
                            this.refundPercent = res.data.product.refundPercent*100; //

                          if(res.data.product.latestTime===0){
                            this.stopHour ='0' + res.data.product.latestTime+':00' ;
                          }else{
                            this.stopHour = res.data.product.latestTime+':00' ;
                          }
                            this.edit.latestTime = res.data.product.latestTime; //最晚下单时间
                            this.edit.pay_type = res.data.product.payType ;   //支付类型
                            this.edit.deposit = res.data.product.deposit ; //定金(支付类型为定金支付的时候才传)
                            this.content.buyNotice = res.data.detail.buyNotice ; //购买须知输入编辑器
                            this.content.expenseInclude = res.data.detail.expenseInclude ; //费用包含输入编辑器
                            this.content.refundExplain = res.data.detail.refundExplain ; //退款说明输入编辑器
                            this.content.productDetails = res.data.detail.productDetails ; //产品详情输入编辑器
                            this.edit.buyNotice = res.data.detail.buyNotice ; //购买须知
                            this.edit.expenseInclude = res.data.detail.expenseInclude ; //费用包含
                            this.edit.refundExplain = res.data.detail.refundExplain ; //退款说明
                            this.edit.productDetails = res.data.detail.productDetails ; //产品详情
                            this.daterangeDate.push(res.data.product.validtimeStart);
                            this.daterangeDate.push(res.data.product.validtimeEnd);
                            //this.daterangeDate = sTime.getFullYear()+'-'+(sTime.getMonth()+1)+'-'+sTime.getDate()+' - '+eTime.getFullYear()+'-'+(eTime.getMonth()+1)+'-'+eTime.getDate();

                            console.log(this.daterangeDate)
                        }else{
                            // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
