<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>地点分类</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" ref="search">
            <el-form-item label="名称" label-width="50px">
              <el-input v-model="queryId"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
	            <el-button type="success"  @click="handleAddForm('addForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加地点分类</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
	        <el-table-column
	                prop="sortName"
	                label="名称">
	        </el-table-column>
	        <el-table-column
	                prop="sortDetail"
	                label="说明">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="170">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>

	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

	    <el-dialog title="添加地点分类" :visible.sync="dialogVisible1" :before-close="handleClose">
	   	     <el-form :model="addForm" ref="addForm" :rules="addRules">
	   	       <el-form-item label="分类名称：" prop="sort_name" :label-width="formLabelWidth">
	   	         <el-input v-model="addForm.sort_name" auto-complete="off"></el-input>
	   	       </el-form-item>
	   	       <el-form-item label="说明：" prop="sort_detail" :label-width="formLabelWidth">
	   	         <el-input v-model="addForm.sort_detail" auto-complete="off"></el-input>
	   	       </el-form-item>
	   	     </el-form>
	   	     <div slot="footer" class="dialog-footer">
	   	       <el-button type="primary" :loading="isAdd" @click="submitForm('addForm')">保存</el-button>
             <el-button @click="dialogVisible1 = false">取 消</el-button>
	   	     </div>
	   	   </el-dialog>

	    <el-dialog title="编辑地点分类" :visible.sync="dialogVisible2" :before-close="handleClose">
	   	     <el-form :model="editForm" ref="editForm" :rules="addRules">
	   	       <el-form-item label="分类名称：" prop="sort_name" :label-width="formLabelWidth">
	   	         <el-input v-model="editForm.sort_name" auto-complete="off"></el-input>
	   	       </el-form-item>
	   	       <el-form-item label="说明：" prop="sort_detail" :label-width="formLabelWidth">
	   	         <el-input v-model="editForm.sort_detail" auto-complete="off"></el-input>
	   	       </el-form-item>
	   	     </el-form>
	   	     <div slot="footer" class="dialog-footer">
	   	       <el-button type="primary" :loading="isEdit" @click="updateForm('editForm')">保存</el-button>
             <el-button @click="dialogVisible2 = false">取 消</el-button>
	   	     </div>
	   	   </el-dialog>
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'preference',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
    	//表单类
    	dialogVisible1:false,
    	dialogVisible2:false,
    	addForm: {
    		sort_name:'',
    		sort_detail:''
    	 },
    	 editForm: {
    	        id:'',
    	        version:'',
    	        sort_name:'',
    	        sort_detail:''
    	       },
  	       formLabelWidth: '120px',
           // 查询条件
  	        queryId:'',
          // 规则
        addRules:{
    		sort_name:[{ required: true, message: '请输入标签', trigger: 'blur' },
	           { min:2, max: 20,message: '长度在 2 到 20 个字符', trigger: 'blur' }],
	         sort_detail:[{ min:0, max: 100,message: '长度不超过 100 个字符', trigger: 'blur'}]
    		}
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
  	 handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
    // 添加分类
  	submitForm(form){
        this.isAdd = true;
        this.$refs[form].validate((valid) => {
               if (valid) {
  		         	this.$http.post('/site/siteSort/insert',this.addForm).then((response) => {
  		         	    // 响应成功回调
  		         	    const res = response.body;
  		         	    console.log(res);
  		         	    if (res.code==200) {
                      if(res.data.success){
                          this.dialogVisible1 = false;
                          this.$message('添加成功');
                          this.getList()
                      }else{
                        this.$message(res.data.message);
                      }
  		         	    } else {
  		         	        this.$message.error(res.msg);
  		         	    }
                     this.isAdd = false;
  		         	}, (response) => {
  		         	    this.$message.error('出错了:' + response);
                     this.isAdd = false;
  		         	});
  		         } else {
                 this.isAdd = false;
  		           return false;
  		         }
  		       });
  	},
  	// 修改地点
  	updateForm(form){
       this.isEdit = true;
       this.$refs[form].validate((valid) => {
           if (valid) {
	         	this.$http.post('/site/siteSort/update',this.editForm).then((response) => {
	         	    // 响应成功回调
	         	    const res = response.body
	         	    console.log(res);
	         	    if (res.code==200) {
                  if(res.data.success){
                     this.dialogVisible2 = false;
                     this.$message('修改成功');
                     this.getList()
                  }else{
                    this.$message(res.data.message);
                  }
	         	    } else {
	         	        this.$message.error(res.msg);
	         	    }
                this.isEdit = false;
	         	}, (response) => {
	         	    this.$message.error('出错了:' + response);
                this.isEdit = false;
	         	});
	         } else {
             this.isEdit = false;
	           return false;
	         }
	       });
  	},
  	handleAddForm(form){
		this.dialogVisible1 = true;
		if (this.$refs[form]) {
     	 this.$refs[form].resetFields();
    	}
  	},
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum = 1;
      this.getList();
    },
    reset(form){
     this.queryId ='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 编辑
    handleEdit(row){
    	console.log(row);
        if (this.$refs['editForm']) {
          this.$refs['editForm'].resetFields();
        }
        this.editForm.id = row.id_;
        this.editForm.version = row.version;
        this.editForm.sort_name = row.sortName;
        this.editForm.sort_detail = row.sortDetail;
        this.dialogVisible2 = true;
         },
         // 删除
    handleDelete(row) {
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/site/siteSort/delete', {id:row.id_,version:row.version}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                if(res.data.success){
                   this.$message('删除成功');
                   this.getList();
                }else{
                  this.$message(res.data.message);
                }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
             console.log(val)
         },
         getPageNum (val) {
             this.pageNum = val;
             console.log(val)
         },
         // 初始表单
         getList(){
             this.$http.post('/site/siteSort/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize,sort_name:this.queryId}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                     this.tableData = res.data.siteSortList.records;
                     this.total = res.data.siteSortList.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>




