<template> <!-- 需要增加下拉框  支付类型 -->
  <div class="white-bg padding-box">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/dudu/trip' }">玩法管理</el-breadcrumb-item>
        <el-breadcrumb-item>站点项目</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div v-if="tripNo" class="site-mod__add">
      <div class="bar">
        <span>共{{sites}}个站点，耗时{{days}}天</span>
        <el-button type="success" v-on:click="openAddDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加站点</el-button>
      </div>

      <div class="all-site">
        <div class="wkq-site-item" v-for="item in allSite">
          <div class="bar">
            <span class="date">第<span class="day">{{item.day}}</span>天  <i class="fa fa-clock-o" aria-hidden="true"></i>{{item.startTime | getHMS}}</span>
            <span><i class="fa fa-map-o" aria-hidden="true"></i> 地点：{{item.siteName}}</span>
            <span>
            <el-button type="success" v-on:click="updateTripSiteUI(item.id_)" size="mini">编辑</el-button>
            <el-button type="danger" v-on:click="deleteSite(item.id_, item.version)" size="mini">删除</el-button>

          </span>
          </div>
          <div class="site-item-body">
            <div class="site-project-item" v-for="subItem in item.itemList">
              <el-row :gutter="20">
                <el-col :span="12"><div class="grid-content">项目：{{subItem.itemName}}</div></el-col>
                <el-col :span="4"><div class="grid-content text-right"><span v-if="subItem.isMain == 1">必选</span><span v-if="subItem.isMain == 0">可选</span></div></el-col>
                <el-col :span="4"><div class="grid-content text-right">
                  <el-button :plain="true" :disabled="true"  size="mini" v-if="subItem.itemStatus=='EDITING'">下架</el-button>
                  <el-button :plain="true" :disabled="true"  size="mini" v-if="subItem.itemStatus=='WAIT_CONFIRM'">待审核</el-button>
                  <el-button :plain="true" :disabled="true"  size="mini" v-if="subItem.itemStatus=='CANCEL'">审核不通过</el-button>
                  <el-button :plain="true" :disabled="true"  size="mini" v-if="subItem.itemStatus=='NORMAL'">正常</el-button>
                </div></el-col>
                <el-col :span="4"><div class="grid-content text-right"><el-button type="danger" v-on:click="deleteItem(subItem.id_, subItem.version, item.id_)" size="mini">删除</el-button></div></el-col>
              </el-row>
            </div>
            <p class="add-project-item">
              <el-button type="success" size="mini" v-on:click="addItemUI(item.startTime,item.siteNo,item.id_)">添加项目</el-button>
            </p>
          </div>
        </div>

      </div>
    </div>
    <div v-else class="tips__error">
      <el-alert
        title="缺少玩法编号，无法继续。"
        type="info"
        :closable="false">
      </el-alert>
    </div>


    <!-- 添加站点 -->
    <el-dialog title="添加站点" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
      <el-form ref="addSite" :rules="rules" :model="addForm" label-width="100px">
        <el-form-item label="地点" class="control__full" prop="siteNo">
          <el-select filterable v-model="addForm.siteNo" placeholder="请选择地点">
            <el-option v-for="item in siteArray" :key="item.siteNo"  :label="item.siteTitle" :value="item.siteNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="天数" prop="day">
          第
          <el-select filterable style="width:60px;" v-model.number="addForm.day" placeholder="请选择">
            <el-option
              v-for="item in 50"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          天
        </el-form-item>
        <el-form-item label="出发时间" prop="startTime">
          <el-time-picker
            v-model="addDateVal"
            :editable="false"
            value-format="HH:mm:ss"
            placeholder="选择时间点">
          </el-time-picker>
        </el-form-item>
        <el-form-item label="排序" prop="sort">
          <el-input type="number" v-model.number="addForm.sort"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="addBtnFlag" @click="submitForm('addSite', 'addBtnFlag')">确 定</el-button>
        <el-button @click="closeAddDialog">取 消</el-button>
      </div>
    </el-dialog>


    <!-- 修改站点 -->
    <el-dialog title="修改站点" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">
      <el-form ref="editSite" :rules="rules" :model="editForm" label-width="100px">
        <el-form-item label="站点" class="control__full" prop="siteNo">
          <el-select filterable v-model="editForm.siteNo" placeholder="请选择站点">
            <el-option v-for="item in siteArray" :key="item.siteNo"  :label="item.siteTitle" :value="item.siteNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="天数" prop="day">
          第
          <el-select filterable style="width:60px;" v-model.number="editForm.day" placeholder="请选择">
            <el-option
              v-for="item in 50"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          天
        </el-form-item>
        <el-form-item label="出发时间" prop="startTime">
          <el-time-picker
            v-model="updateDateVal"
            value-format="HH:mm:ss"
            :editable="false"
            placeholder="选择时间点">
          </el-time-picker>
        </el-form-item>
        <el-form-item label="排序" prop="sort">
          <el-input type="number" v-model.number="editForm.sort"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('editSite', 'updateBtnFlag')">确 定</el-button>
        <el-button @click="closeEditDialog">取 消</el-button>
      </div>
    </el-dialog>



    <!-- 增加站点项目 -->
    <el-dialog title="增加站点项目" :close-on-click-modal="false" :visible.sync="itemDialog" :before-close="closeItemDialog">
      <el-form ref="addItem" :rules="rules" :model="addItemForm" label-width="100px">
        <el-form-item label="项目" class="control__full" prop="itemNo">
          <el-select filterable v-model="addItemForm.itemNo" :clearable="true" placeholder="请选择项目">
            <el-option v-for="item in itemArray" :key="item.itemNo"  :label="item.itemTitle" :value="item.itemNo"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="是否为主项目" prop="isMain">
          <el-radio-group v-model="addItemForm.isMain">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="排序" prop="sort">
          <el-input type="number" v-model.number="addItemForm.sort"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="itemBtnFlag" @click="submitForm('addItem', 'itemBtnFlag')">确 定</el-button>
        <el-button @click="closeItemDialog">取 消</el-button>
      </div>
    </el-dialog>


  </div>

</template>
<script>
  import Editor from '../../components/Editor'
  import api from '../../api/product';
  import moment from 'moment'
  export default {
    data (){

      //数字 1-11位 ，并且是正整数
      var checkNumLong = (rule, value, callback) => {  //数字 1-11位
        var reg = /^[0-9]*[1-9][0-9]*$/;
        if(reg.test(value)){
          console.log('是整数')
          if(value.toString().length>=1 && value.toString().length<=11){
            callback();
          }else{
            callback(new Error('请输入1-11位长度的整数'));
          }
        }else{
          callback(new Error('请输入正整数'));
        }
        console.log(value.toString().length);

      };
      //数字 1-11位 ，并且是正整数（包括0）
      var checkSortNumber = (rule, value, callback) => {  //数字 1-11位
        var reg = /^[0-9]*[0-9][0-9]*$/;
        if(reg.test(value)){
          if(value.toString().length>=1 && value.toString().length<=11){
            callback();
          }else{
            callback(new Error('请输入1-11位长度的整数'));
          }
        }else{
          callback(new Error('请输入正整数'));
        }

      };
      return {
        sites:0,
        days:0,
        tripNo: this.$route.query.tripNo,
        editDialog: false,
        addDialog:false,
        itemDialog: false,
        //下面是编辑或者新增的弹窗数据
        siteArray: [],  //地点集合
        itemArray: [], //返回的项目数组
        addDateVal:'',
        updateDateVal:'',  //存储编辑时时间
        daterange: [],  //时间范围
        addBtnFlag: false,
        updateBtnFlag: false,
        itemBtnFlag: false,
        stopHour:'23:00',
        endDate:'',
        startDate:'',
        content: {
          expenseInclude:'',
          buyNotice:'',
          refundExplain: '',
          productDetails: ''
        },
        addForm: {
          tripNo: this.$route.query.tripNo,
          siteNo: '',
          day: 1,
          startTime:'',
          sort: ''
        },
        editForm: {
          id: '',
          version:'',
          siteNo:'',
          day: '',
          startTime:'',
          sort: ''
        },

        addItemForm: {
          siteId: '',
          itemNo: '',
          isMain: 0,
          sort: ''
        },

        allSite:[

        ],


        rules: {
          tripNo: [
            { required: true, message: '缺少玩法类型', trigger: 'blur' }
          ],
          siteNo: [
            { required: true, message: '请选择地点', trigger: 'blur' }
          ],
          day: [
            {type:'number', required: true, message: '第几天不可缺少', trigger: 'blur' },
            {validator:checkNumLong}
          ],
          startTime: [
            { required: true, message: '出发时间必选', trigger: 'blur' }
          ],
          sort: [
            { type:'number', required: true, message: '排序号不能为空', trigger: 'blur' },
            {validator:checkSortNumber}
          ],

        },

        pickerOptions0: {
          disabledDate: (time) => {
            return  (time.getTime() <  new Date(this.startDate).getTime() || time.getTime() >  new Date(this.endDate).getTime());

          },
          shortcuts (text, onClick) {

          }
        },

      }
    },
    created () {
      this.getList();
      this.addTripSiteUI(); //新增站点之前的查询
    },
    computed: {
    },

    watch: {
      allSite: function (val, olaval) {
        if(val.length > 0){
          this.sites = val.length;
        }
        for(var i=0; i<val.length; i++){
            if(val[i].day>this.days){
                this.days = val[i].day
            }
        }

      },
      addForm: {
          deep: true,
          handler: function (val,oldval) {
              console.log(val.day)
            var day = Number(val.day)-1;
            console.log(day)
            var times = 60*60*24*1000*day;
            var startDate = moment(this.startDate).format('YYYY/MM/DD')
            val.startTime =startDate+' '+this.addDateVal
            val.startTime = moment(times+startTimeStr).format('YYYY/MM/DD HH:mm:ss');
          }
      },
      editForm: {
        deep: true,
        handler: function (val,oldval) {
          var day = Number(val.day)-1;
          var times = 60*60*24*1000*day;
          console.log(day)
          var startDate = moment(this.startDate).format('YYYY/MM/DD');
          console.log(this.updateDateVal)
          console.log(startDate);
          val.startTime =startDate+' '+this.updateDateVal
        }
      },
      addDateVal: {
        deep: true,
        handler: function (val,oldval) {
          var day = Number(this.addForm.day)-1;
          var times = 60*60*24*1000*day;
          var startDate = moment(this.startDate).format('YYYY/MM/DD');
          var clock = moment(val).format('HH:mm:ss');
          var startTimeStr = new Date(startDate+' '+clock).getTime();
          this.addForm.startTime = moment(times+startTimeStr).format('YYYY/MM/DD HH:mm:ss');
        }

      },
      updateDateVal: {
        deep: true,
        handler: function (val,oldval) {
          var day = Number(this.editForm.day)-1;
          var times = 60*60*24*1000*day;
          var startDate = moment(this.startDate).format('YYYY/MM/DD');
          var clock = moment(val).format('HH:mm:ss');
          var startTimeStr = new Date(startDate+' '+clock).getTime();
          this.editForm.startTime = moment(times+startTimeStr).format('YYYY/MM/DD HH:mm:ss');
        }

      }
    },

    filters: {
        getHMS (val) { //从返回的startTime中取时分秒
            var arr = val.split(' ')
            return arr[1];
        }
    },

    methods: {


      addItem () {
        this.$http.post('/tripSite/addItem', this.addItemForm).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getList();
              this.closeItemDialog()
            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },



      addItemUI (d,n,id) {
        this.$http.post('/tripSite/addItemUI', {date: moment(d).format('YYYY/MM/DD HH:mm:ss'), siteNo: n}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data){
                if(res.data.length == 0){
                  console.log(this)
                  this.$message.warning('无相关项目');
                }else{
                    this.itemArray =  res.data;

                    this.addItemForm.siteId = id;
                    this.itemDialog = true;
                }
            }else{
              // this.$message(res.data.message);
            }
          } else {
            //this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },



      addTripSiteUI () {
        this.$http.post('/tripSite/addTripSiteUI', {tripNo: this.tripNo}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data){
              this.siteArray = res.data.site;
              this.startDate = res.data.startDate;
              this.endDate = res.data.endDate;
              this.addDateVal = moment(res.data.startDate).format('HH:mm:ss');

            }else{
              // this.$message(res.data.message);
            }
          } else {
            //this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },



      updateTripSiteUI (siteid) {
        this.$http.post('/tripSite/updateTripSiteUI', {tripNo: this.tripNo, id:siteid}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data){
              this.siteArray = res.data.site;
              this.startDate = res.data.startDate;
              this.endDate = res.data.endDate;
              this.editForm.id = res.data.tripSite.id_;
              this.editForm.siteNo = res.data.tripSite.siteNo;
              this.editForm.startTime = moment(res.data.tripSite.startTime).format('YYYY/MM/DD HH:mm:ss');
              this.editForm.day = res.data.tripSite.day;
              this.day = res.data.tripSite.day;
              this.updateDateVal = moment(res.data.tripSite.startTime).format('HH:mm:ss');
              console.log(this.updateDateVal)
              this.editForm.version = res.data.tripSite.version;
              this.editForm.sort = res.data.tripSite.sort;
              this.editDialog = true; //打开编辑框
            }else{
               this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },

      addSite () {
        this.$http.post('/tripSite/add', this.addForm).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.addDateVal=0;
              this.getList();
              this.closeAddDialog()
            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },

      editSite () {
        this.$http.post('/tripSite/update', this.editForm).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.updateDateVal =0;
              this.getList();
              this.closeEditDialog()
            }else{
              this.$message.error(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });

      },



      getList () {  //获取本玩法下所有站点
        this.$http.post('/tripSite/read/list',{tripNo: this.tripNo}).then((response) => {
          const res = response.body;
          if (res.code == 200) {
            this.allSite = res.data;

          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
        });
      },



      openAddDialog (){
        this.addDialog = true;
      },
      closeAddDialog (done){  //关闭新增表单弹窗

        this.addDialog = false;
        this.resetForm('addSite');
        this.addBtnFlag = false;

      },

      //删除站点项目
      deleteItem (id,v,siteid) {
        this.$confirm('确定删除当前项目吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http.post('/tripSite/deleteItem', {id:id, tripNo:this.tripNo, version:v, siteId:siteid}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code==200) {
              if(res.data.success){
                this.$message(res.msg);
                this.getList();
              }else{
                this.$message(res.data.message);
              }
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });

      },



      //删除站点
      deleteSite (id,v){
        this.$confirm('此操作将删除附带的项目, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http.post('/tripSite/delete', {id:id, tripNo:this.tripNo, version:v}).then((response) => {
            // 响应成功回调
            const res = response.body;
            if (res.code==200) {
              if(res.data.success){
                this.$message(res.msg);
                this.getList();
              }else{
                this.$message(res.data.message);
              }
            } else {
              this.$message.error(res.msg);
            }
          }, (response) => {
            // 响应错误回调
            this.$message('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });


      },



      closeEditDialog (done){ //关闭编辑表单弹窗

        this.editDialog = false;
        this.resetForm('editSite');
        this.updateBtnFlag = false;
      },

      closeItemDialog (done){ //关闭增加项目表单弹窗

        this.itemDialog = false;
        this.resetForm('addItem');
        this.itemBtnFlag = false;
      },


        //上面是站点的方法



      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },




      submitForm(formName, validBtn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this[formName]()
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },


      addNew () {  //添加
        this.$http.post('/product/add', this.add).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message.success(res.msg);
              this.$router.go(-1);
            }else{
              this.$message.warning(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message.error('出错了:' + response);
        });
      },

      queryById(id) {
        var _id=id || '';
        this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data){
              console.log(res.data.area)
              this.areaArray = res.data.area;
              this.chargeBackArray = res.data.chargeBack;
              this.supArray = res.data.sup;
              this.sortArray = res.data.sort;
              this.typeArray = res.data.type;
              this.payArray = res.data.pay;
              this.purArray = res.data.sup;
              console.log(this.supArray)
            }else{
              // this.$message(res.data.message);
            }
          } else {
            //this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },

      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      }
    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";

  .wkq-site-item{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    .bar{
      position: relative;
      padding:10px;
      border-bottom:1px solid #ddd;
      span{
        .day{
         /* position: absolute;
          left:-20px;
          top:10px;*/
          display: inline-block;
          width:20px;
          height:20px;
          margin: 0 5px;
          line-height:20px;
          text-align: center;
          color: #fff;
          background:#f60;
          -webkit-border-radius:50%;
          -moz-border-radius:50%;
          border-radius:50%;
          vertical-align: middle;
        }
        margin-right:10px;
        overflow: hidden;
        &:last-child{
          margin-right:0;
          float: right;
        }
      }
    }

    .add-project-item{
      padding:10px;
      text-align:right;
    }

  }

  .site-mod__add{
    width:600px;
    min-height:600px;
    margin:0 auto;
    margin-bottom:10px;
    .bar{
      padding:10px;
    }
  }

  .site-project-item{
    .el-row{
      padding:10px 0;
    }
    padding:10px;
    .text-right{
      text-align: right;
    }
  }

</style>
