<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sys/operator'}">操作员管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="90px">
                    <el-form-item label="操作员名称" prop="operatorName">
                        <el-input v-model="search.operatorName"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                        <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                    </el-form-item>

                    <el-button v-on:click="openAddDialog" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加操作员</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="account"
                    label="账号">
            </el-table-column>
            <el-table-column
                    prop="operatorName"
                    label="操作员名称">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="联系方式">
            </el-table-column>
            <el-table-column
                    prop="createAccount"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="updateAccount"
                    label="修改人">
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label="修改时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="当前状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.status==1">启用</span>
                    <span v-else>停用</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    width="320">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="warning"
                            @click="resetPSW( scope.row)">重置密码
                    </el-button>
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEdit( scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteRole(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                            v-if="scope.row.status==1"
                            size="small"
                            type="warning"
                            @click="setStatus(scope.row, 0)">禁用
                    </el-button>
                    <el-button
                            v-else
                            size="small"
                            type="success"
                            @click="setStatus(scope.row, 1)">启用
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>

        <!-- 添加操作员 -->
        <el-dialog title="添加操作员" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :rules="rules" :model="add" label-width="100px">
                <el-form-item label="登陆帐号" prop="account">
                    <el-input v-model="add.account"></el-input>
                </el-form-item>
                <el-form-item label="密码"  prop="password">
                    <el-input type="password" v-model="add.password"></el-input>
                </el-form-item>
                <el-form-item label="手机号码" prop="phone">
                    <el-input type="tel" v-model="add.phone"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio class="radio" v-model="add.sex" :label="1">男</el-radio>
                    <el-radio class="radio" v-model="add.sex" :label="2">女</el-radio>
                </el-form-item>
                <el-form-item label="操作员名称" prop="operatorName">
                    <el-input v-model="add.operatorName"></el-input>
                </el-form-item>
                <el-form-item label="选择角色" prop="roleList">
                    <el-checkbox-group v-model="add.roleList">
                        <el-checkbox v-for="(item, key) in roles" :key="key" :label="item.id_">{{item.roleName}}</el-checkbox>
                    </el-checkbox-group>


                </el-form-item>
                <el-form-item label="头像" prop="avatar">
                    <upload :fileList="avatarArray" :isSingle="true" v-on:change="getUploadAdd" :getPolicyUrl="'/operator/getPolicy'"></upload>
                </el-form-item>


            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add', 'addBtnFlag', 'addNew')">确 定</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>

        <!-- 修改 -->
        <el-dialog title="修改操作员" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">
                <el-form ref="edit" :rules="rules" :model="edit" label-width="120px">
                    <el-input type="hidden" v-model="edit.id"></el-input>
                    <el-input type="hidden" v-model="edit.version"></el-input>
                    <el-form-item label="操作员名称" prop="operatorName">
                        <el-input v-model="edit.operatorName"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号码" prop="phone">
                        <el-input type="tel" v-model="edit.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="sex">
                        <el-radio-group v-model="edit.sex">
                            <el-radio class="radio" name="sex" :label="1">男</el-radio>
                            <el-radio class="radio" name="sex" :label="2">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-radio-group v-model="edit.status">
                            <el-radio class="radio" name="status" :label="1">启用</el-radio>
                            <el-radio class="radio" name="status" :label="0">禁用</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="选择角色" prop="roleList">
                        <el-checkbox-group v-model="edit.roleList">
                            <el-checkbox v-for="(item, key) in roles" :key="key" :label="item.id_">{{item.roleName}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="头像" prop="avatar">
                        <upload v-on:change="getUploadEdit" :fileList="avatarArray" :isSingle="true" :getPolicyUrl="'/operator/getPolicy'"></upload>
                    </el-form-item>
                </el-form>
             <div slot="footer" class="dialog-footer">
                 <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'update')">确 定</el-button>
            <el-button @click="closeEditDialog">取 消</el-button>
        </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import Upload from '../Upload.vue';
    import operatorApi from '../../api/operator';
    export default {
        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                if (!value) {
                    return callback(new Error('手机号码不能为空'));
                }
                setTimeout(() => {
                    var reg = this.phoneReg;
                    if(reg.test(value)){
                        callback();
                    }else{
                      return callback(new Error('请输入正确的手机号码'));
                    }
                }, 1000);
            };
            var checkSpace = (rule, value, callback) => {
                var reg =  this.spaceReg;
                if(reg.test(value)){
                  return callback(new Error('请不要输入空格'));
                }else{
                    callback();
                }
            };
            return {
                tableLoading:true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                editDialog: false,
                roles:[],
                avatarArray:[],
                addBtnFlag:false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                add: {
                    account:'',
                    password: '',
                    phone: '',
                    sex: 1,
                    password: '',
                    roleList:[],
                    operatorName:'',
                    avatar:''
                },
                edit:{
                    version:'',
                    id:'',
                    status: '',
                    phone:'',
                    sex: '1',
                    roleList: [],
                    operatorName:'',
                    avatar:''
                },
                search: {
                    operatorName:''
                },
                del: {
                    version:'',
                    id:''
                },
                addDialog: false,
                searchRules: {
                  /*  operatorName: [
                        { min: 2, max: 16, message: '长度在 2 到 16 个字符', trigger: 'blur' }
                    ],*/
                },
                rules: {
                    account: [
                        { required: true, message: '请输入登录账号', trigger: 'blur' },
                        { min: 6, max: 16, message: '长度在 6 到 16 个字符', trigger: 'blur' },
                        { validator: checkSpace}
                    ],
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 0, max: 100, message: '长度在 0 到 100 个字符', trigger: 'blur' },
                        { validator: checkSpace}
                    ],
                    phone: [
                        { required: true, message: '手机号码不能为空', trigger: 'blur' },
                        { validator: checkPhone}
                    ],
                    roleList: [
                        { type: 'array', required: true, message: '至少选择一个角色', trigger: 'change' },
                    ],
                    sex: [
                        {type: 'number',required: true, message: '请选择性别', trigger: 'change' },
                    ],
                    status: [
                        {type: 'number', required: true, message: '请选择账号状态', trigger: 'change' },
                    ],
                    operatorName: [
                        { required: true, message: '请输入名称', trigger: 'blur' },
                        { min: 2, max: 16, message: '长度在 2 到 16 个字符', trigger: 'blur' },
                        { validator: checkSpace}
                    ],
                }
            }
        },
        created () {
            this.getList();
        },
        components: {
            Page,
            Upload
        },
        filters: {
            menuShow: function (value) {
                return value == true ? '已启用' : '已禁用'
            }
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
        },
        computed: {
          baseHost () {
              return this.$store.state.host;
          },
            phoneReg () {
                return this.$store.state.phoneReg;
            },
            spaceReg () {
                return this.$store.state.spaceReg;
            }
        },
        methods: {
            //上传成功回调自定义事件，一般用于返回图片URL等
            getUploadAdd (val) {
                this.add.avatar = val;
            },
            getUploadEdit (val) {
                this.edit.avatar = val;
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('操作员名称长度不合适');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.search.operatorName = '';
                this.pageNum = 1;
                this.getList();
            },

            resetPSW (row) {
                this.$confirm('是否将用户密码重置为6个1?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/operator/resetPassword', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message.error('出错了:' + response);
                    });
                })

            },
            getThisRole (val) {
                this.$http.post('/operator/updateUI', {id: val})
                    .then(function (response) {
                        const data = response.data;
                        if (data.code == 200) {
                            this.edit.roleList = data.data.checkedList;
                            this.roles = data.data.roleList;
                            console.log(this.edit.roleList)
                            console.log(this.roles)
                        }else{

                        }
                    })
                    .catch(function (response) {
                        const data = response.data;
                    });
            },
            getRoles: function () {
                this.$http.post('/operator/addUI')
                    .then(function (response) {
                        const data = response.data;
                        if (data.code == 200) {
                            this.roles = data.data;
                            console.log(this.roles)
                        }else{

                        }
                    })
                    .catch(function (response) {
                        const data = response.data;
                    });
            },
            closeMenuDialog (done){
                this.dialogMenuVisible = false;
            },
            getMuneSelect (val) {  //根据角色id编码进行查询菜单
                this.menus = [];
                this.menuList = [];
                this.$http.post('/role/read/menu', {id: val}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                            let data = res.data;
                            this.menus = data.menu;
                            this.menuList = data.checkedList;

                    } else {
                        console.log(res);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },
            updateMenu () {
                this.menuList = this.$refs.menu.getCheckedKeys();
                this.$http.post('/role/update/roleMenu', {roleId: this.roleId,menuList: this.menuList}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeMenuDialog()
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message.error('出错了:' + response);
                });
            },


            submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
              if(validBtn){
                this[validBtn] = true;
              }
              this.$refs[formName].validate((valid) => {
                if (valid) {
                    this[fn]();
                } else {
                  if(validBtn){
                    this[validBtn] = false;
                  }
                  this.$message.error('请按照提示填写表单');
                  return false;
                }
              });
            },


            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openAddDialog (){
                this.getRoles();
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增角色表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.addBtnFlag = false;
            },

            openEdit (row) {  //打开编辑角色表单弹窗
                console.log(row)
                this.getThisRole(row.id_);  //获取当前操作员的角色列表+
                this.edit.version = row.version;
                this.edit.id = row.id_;
                this.edit.status = row.status;
                this.edit.phone = row.phone;
                if(row.sex!=1 && row.sex!=2){
                    this.edit.sex = 1;
                }else{
                    this.edit.sex = row.sex;
                }
                this.edit.roleList = row.roleList;
                this.edit.operatorName = row.operatorName;
                if(row.avatar){
                    this.edit.avatar= row.avatar;
                    this.avatarArray=[{name:"avatar", url:this.baseHost+this.edit.avatar}];
                }else{
                    this.avatarArray=[];
                }
                console.log(row.avatar);
                this.$set(this.edit, 'status', row.status);
                this.editDialog = true;

            },

            closeEditDialog (done){ //关闭编辑角色表单弹窗
                this.editDialog = false;
                this.updateBtnFlag = false;
            },

            addNew () {  //添加操作员
                this.addBtnFlag = true;
                this.$http.post('/operator/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑操作员
                this.updateBtnFlag = true;
                this.$http.post('/operator/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });
            },

            setStatus (row, state) {  //启用或者禁用
                this.$http.post('/operator/disable', {id:row.id_, version: row.version, status: state}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            deleteRole (row){ //删除操作员
                this.$confirm('此操作将永久删除当前操作员, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/operator/delete', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });
                })
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },
            getList () {  //获取分页
                this.tableLoading = true;
                operatorApi.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    operatorName: this.search.operatorName
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                    this.tableLoading = false;
                });
            }
        },
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        }
    }
</script>
