<template>
  <div class="table-list">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/supplierAccount/supplierAccount/list'}">供应商账户</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
<!--    <div class="list-todo__top">
      <div class="todo-btn">
        <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="100px">
          <el-form-item label="选择时间范围" prop="date">
            <el-date-picker
              v-model="daterange"
              format="yyyy/MM/dd HH:mm:ss"
              type="datetimerange"
              @change="spliceTime"
              :picker-options="pickerOptions"
              placeholder="选择日期范围">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :loading="searchBtnFlag" @click="searchList('search')">查询</el-button>
            <el-button type="default" :loading="searchBtnFlag" @click="reset">重置条件</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>-->
    <el-table
      :data="tableData"
      v-loading="tableLoading"
      element-loading-text="拼命加载中"
      stripe
      style="width: 100%">
      <el-table-column
        prop="supNo"
        label="供应商编号">
      </el-table-column>
      <el-table-column
        prop="supAccountNo"
        label="供应商账户编号">
      </el-table-column>
      <el-table-column
        prop="settAmount"
        label="保证金">
      </el-table-column>
      <el-table-column
        prop="todayIncome"
        label="今日收入">
      </el-table-column>
      <el-table-column
        prop="todayExpend"
        label="今日支出">
      </el-table-column>
      <el-table-column
        prop="totalIncome"
        label="总收入">
      </el-table-column>
      <el-table-column
        prop="totalExpend"
        label="总支出">
      </el-table-column>
      <el-table-column
        prop="settAmount"
        label="可结算金额">
      </el-table-column>
      <el-table-column
        prop="balance"
        label="余额">
      </el-table-column>
      <el-table-column
        prop="unbalance"
        label="不可用余额">
      </el-table-column>
      <el-table-column
        label="状态">
        <template slot-scope="scope">
          <span v-if="scope.row.status==1">正常</span>
          <span v-if="scope.row.status==0">禁用</span>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="150">
        <template slot-scope="scope">
          <el-button
            size="small"
            type="warning"
            :loading="statusBtnFlag"
            @click="setStatus(scope.row)">更改状态
          </el-button>
        </template>
      </el-table-column>
    </el-table>


    <page :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>

  </div>
</template>
<script>
  import Page from '../Page.vue';
  import api from '../../api/supaccount';
  export default {
    data (){
      return {
        tableLoading: true,
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        showDataFlag: false,
        searchBtnFlag: false,
        statusBtnFlag: false,
        daterange: '',
        doVal: '',
        search: {
        },
        searchRules: {},
        rules: {
        },
        pickerOptions: {  //时间范围限制
          disabledDate(time) {
            return time.getTime() >= Date.now();
          }
        },
      }
    },
    created () {
      this.getList();
    },
    components: {
      Page
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      }
    },
    methods: {
      spliceTime (val) {
        console.log(val);
        let timeArray = val.split('-');
        this.search.startDate = timeArray[0];
        this.search.endDate = timeArray[1];
      },

      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.daterange = '';
        this.search.startDate = '';
        this.search.endDate = '';
        this.pageNum = 1;
        this.getList();
      },

      setStatus (row,state) {  //启用或者禁用
        this.statusBtnFlag = true;
        var self = this;

        setTimeout(function () {  //重置按钮，避免出错后按钮一直不可点
          self.statusBtnFlag = false;
        },2000);

        var postData={};
        if(state){
          postData = {id:row.id_, version: row.version, status: state};
        }else{
          postData = {id:row.id_, version: row.version, sup_account_no: row.supAccountNo};
        }
        this.$http.post('/supplierAccount/updateStatus', postData).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getList();

            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.statusBtnFlag = false;

        }, (response) => {
          // 响应错误回调
          this.statusBtnFlag = false;
          this.$message.error('出错了:' + response);
        });
      },


      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },
      getList () {  //获取分页
        this.tableLoading = true;
        api.getList({
          pageNum: this.pageNum,
          pageSize: this.pageSize
        }, (response) => {
          const res = response.body;
          if (res.code == 200) {
            this.tableData = res.data.supAccountList.records;
            this.total = res.data.supAccountList.total;
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
          this.tableLoading = false;
        });
      }
    },
    beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
      // 在当前路由改变，但是改组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
    }
  }
</script>
