<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/supplier/select/list/'}">供应商管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="100px">
                    <el-form-item label="供应商名字" prop="sup_name">
                        <el-input v-model="search.sup_name"></el-input>
                    </el-form-item>
                    <el-form-item label="固话号码" prop="phone">
                        <el-input v-model="search.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="传真号码" prop="fax">
                        <el-input v-model="search.fax"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                        <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                    </el-form-item>
                    <el-button type="success" v-on:click.native="openAddDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加供应商</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="supName"
                    label="供应商名称"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="contact"
                    label="联系人">
            </el-table-column>
            <el-table-column
                    prop="telephone"
                    label="联系手机">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="固话">
            </el-table-column>
            <el-table-column
                    prop="typeName"
                    label="类型">
            </el-table-column>
            <el-table-column
                    prop="fax"
                    label="传真号码">
            </el-table-column>
            <el-table-column
                    :formatter="setLabelpurType"
                    prop="purType"
                    label="采购方式">
            </el-table-column>
            <el-table-column
                    :formatter="setLabelsettType"
                    prop="settType"
                    label="结算方式">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="地址">
            </el-table-column>
            <el-table-column
                    label="供应商状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.supStatus == 'BAN'">停用</span>
                    <span v-if="scope.row.supStatus == 'NORMAL'">正常</span>
                    <span v-if="scope.row.supStatus == 'WAIT_CONFIRM'">待审核</span>
                    <span v-if="scope.row.supStatus == 'CANCEL'">审核不通过</span>
                </template>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="350">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEditDialog(scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteBefore(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                      v-if="scope.row.supStatus == 'BAN'"
                      size="small"
                      type="success"
                      @click="setStatus(scope.row, '/supplier/supplier/updateStatus1')">立即启用
                    </el-button>
                    <el-button
                      v-if="scope.row.supStatus == 'NORMAL'"
                      size="small"
                      type="warning"
                      @click="banBefore(scope.row, '/supplier/supplier/updateStatus0')">立即停用
                    </el-button>
                    <el-button
                      v-if="scope.row.supStatus == 'WAIT_CONFIRM'"
                      size="small"
                      type="success"
                      @click="setStatus(scope.row, '/supplier/supplier/updateStatus1')">立即通过
                    </el-button>
                    <el-button
                      v-if="scope.row.supStatus == 'WAIT_CONFIRM'"
                      size="small"
                      type="danger"
                      @click="setStatus(scope.row, '/supplier/supplier/updateStatus3')">不通过
                    </el-button>
                    <el-button
                      v-if="scope.row.supStatus == 'CANCEL'"
                      size="small"
                      type="success"
                      @click="setStatus(scope.row, '/supplier/supplier/updateStatus2')">重新审核
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <page :pageSize="pageSize" :total="total" :close-on-click-modal="false" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

        <!--新增编辑弹窗-->
        <el-dialog title="新增" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :model="add" :rules="rules" label-width="100px">
                <el-form-item label="供应商名称" prop="sup_name">
                    <el-input v-model="add.sup_name"></el-input>
                </el-form-item>
                <el-form-item label="登录账号" prop="sup_login">
                    <el-input v-model="add.sup_login"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="联系人" prop="contact">
                            <el-input v-model="add.contact"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="手机号码" prop="telephone">
                            <el-input v-model="add.telephone"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="传真" prop="fax">
                            <el-input v-model="add.fax"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="电话号码" prop="phone">
                            <el-input v-model="add.phone" placeholder="固话，例如：0898-66666666"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item class="control__full" label="区域" prop="area">
                  <el-cascader
                    :options="areaArray"
                    v-model="addCheckArea"
                    :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                    filterable
                    @change="getAddArea"
                    :clearable = true
                  >
                  </el-cascader>


                </el-form-item>
                <el-form-item label="详细地址" prop="address">
                    <el-input v-model="add.address"></el-input>
                </el-form-item>
                <el-form-item label="email" prop="email">
                    <el-input v-model="add.email"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="供应商类型"  prop="sup_type_id">
                            <el-select v-model="add.sup_type_id" placeholder="请选择类型">
                                <el-option v-for="item in supTypeList_array" :key="item.value"  :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="采购类型" prop="pur_type">
                            <el-select v-model="add.pur_type" placeholder="请选择采购类型">
                                <el-option v-for="item in purType_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="结算方式" prop="sett_type">
                            <el-select v-model="add.sett_type" placeholder="请选择结算方式">
                                <el-option v-for="item in sett_type_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="状态" prop="sup_status">
                            <el-select v-model="add.sup_status" placeholder="请选择">
                                <el-option v-for="item in sup_status_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click.prevent="submitForm('add', 'addBtnFlag', 'addNew')">添加</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>
        <!--编辑弹窗-->
        <el-dialog title="编辑" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">
            <el-form ref="edit" :model="edit" :rules="rules" label-width="100px">
                <el-form-item label="供应商名称" prop="sup_name">
                    <el-input v-model="edit.sup_name"></el-input>
                </el-form-item>
                <el-form-item label="登录账号" prop="sup_login">
                    <el-input v-model="edit.sup_login"  :disabled="true"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="联系人" prop="contact">
                            <el-input v-model="edit.contact"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="手机号码" prop="telephone">
                            <el-input v-model="edit.telephone"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="传真" prop="fax">
                            <el-input v-model="edit.fax"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="电话号码" prop="phone">
                            <el-input v-model="edit.phone" placeholder="固话，例如：0898-66666666"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item class="control__full" label="区域" prop="area">
                  <el-cascader
                    :options="areaArray"
                    v-model="editCheckArea"
                    :props="{
                  value :'code',
                  label:'area',
                   children:'list'
                }"
                    filterable
                    @change="getEditArea"
                    :clearable = true
                  >
                  </el-cascader>

                </el-form-item>
                <el-form-item label="详细地址" prop="address">
                    <el-input v-model="edit.address"></el-input>
                </el-form-item>
                <el-form-item label="email" prop="email">
                    <el-input v-model="edit.email"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="供应商类型"  prop="sup_type_id">
                            <el-select v-model="edit.sup_type_id" placeholder="请选择类型">
                                <el-option v-for="item in supTypeList_array" :key="item.value"  :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="采购类型" prop="pur_type">
                            <el-select v-model="edit.pur_type" placeholder="请选择采购类型">
                                <el-option v-for="item in purType_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="结算方式" prop="sett_type">
                            <el-select v-model="edit.sett_type" placeholder="请选择结算方式">
                                <el-option v-for="item in sett_type_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="状态" prop="sup_status">
                            <el-select v-model="edit.sup_status" placeholder="请选择">
                                <el-option v-for="item in sup_status_array" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="updateBtnFlag" @click.prevent="submitForm('edit', 'updateBtnFlag', 'update')">更新</el-button>
                <el-button @click="closeEditDialog">取 消</el-button>
            </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import api from '../../api/supplier';
    export default {
        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                if (!value) {
                    callback();
                }else{
                    var reg = this.phoneReg;
                    if(reg.test(value)){
                        callback();
                    }else{
                        callback(new Error('请输入正确的手机号码'));
                    }
                }
            };
            var checkEmail = (rule, value, callback) => {  //邮箱校验
                var reg = this.emailReg;
                if(value){
                  if(reg.test(value)){
                    callback();
                  }else{
                    callback(new Error('请输入正确的邮箱地址'));
                  }
                }else{
                  callback();
                }
            };
            var checkTel = (rule, value, callback) => {
                var reg = this.telReg;

                if (!value) {
                    callback();
                }else{
                    if(reg.test(value)){
                        callback();
                    }else{
                        callback(new Error('请输入正确的电话号码,区号用-分开'));
                    }
                }
            };
            var checkAbcAndNumber = (rule, value, callback) => {
                var reg =  this.abcNumReg;

                if (!value) {
                    callback();
                }else{
                    if(reg.test(value)){
                        callback();
                    }else{
                        callback(new Error('只能输入字母和数字，并且开头只能是字母'));
                    }
                }
            }
            return {
              addCheckArea:[],
              editCheckArea:[],


                tableLoading: true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                addBtnFlag: false,
                updateBtnFlag: false,
                addDialog:false,
                editDialog:false,
                searchBtnFlag: false,
                //下面是编辑或者新增的弹窗数据
                areaArray: [],
                supTypeList_array: [],    //供应商类型id
                purType_array: [],  //采购类型
                sup_status_array: [], //状态
                sett_type_array: [],    //结算方式
                isAdd: true,
                add: {
                    sup_name: '',  //名称
                    sup_login: '', //账号
                    contact: '', //联系人
                    telephone: '', //联系人手机号码
                    phone: '',  //电话号码
                    area: '', //省份
                    address: '',   //详细地址
                    fax: '',     //传真
                    email: '',  //email
                    sup_type_id: '', //供应商类型
                    pur_type: '', //采购类型
                    sett_type: '', //结算类型
                    sup_status: ''   //状态
                },
                edit: {
                    sup_name: '',  //名称
                    sup_login: '', //账号
                    contact: '', //联系人
                    telephone: '', //联系人手机号码
                    phone: '',  //电话号码
                    area: '', //省份
                    address: '',   //详细地址
                    fax: '',     //传真
                    email: '',  //email
                    sup_type_id: '', //供应商类型
                    pur_type: '', //采购类型
                    sett_type: '', //结算类型
                    sup_status: ''   //状态
                },
                search: {
                    sup_name:'',
                    phone:'',
                    fax: ''
                },

                searchRules:{
                },

                rules: {
                    sup_name: [
                        { required: true, message: '请输入供应商名称', trigger: 'blur' },
                        { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }
                    ],
                    sup_login: [
                        { required: true, message: '请输入新账号', trigger: 'blur' },
                        { min: 6, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur' },
                        { validator: checkAbcAndNumber, trigger: 'blur' }

                    ],
                    contact: [
                        { required: true, message: '请输入联系人', trigger: 'blur' },
                        { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
                    ],
                    telephone: [
                        { required: true, message: '手机号码不能为空', trigger: 'blur' },
                        { validator: checkPhone, trigger: 'blur' }
                    ],
                    phone: [
                        { validator: checkTel}
                    ],
                    area: [
                        { required: true, message: '地区不能为空', trigger: 'change' },
                    ],
                    address: [
                        { required: true, message: '请输入详细地址', trigger: 'change' },
                        { min: 3, max: 100, message: '长度在 3 到 100 个字符', trigger: 'blur' }
                    ],
                    fax: [
                      //{ required: true, message: '请输入传真号', trigger: 'change' },
                        { validator: checkTel}
                    ],
                    email: [
                        //{ required: true, message: '邮箱必填', trigger: 'change' },
                        { min: 5, max: 200, message: '长度在 8 到 200 个字符', trigger: 'blur' },
                        { validator: checkEmail}
                    ],
                    sup_type_id: [
                        { required: true, message: '请选择供应商类型', trigger: 'change' },
                    ],
                    pur_type: [
                        { required: true, message: '请选择采购类型', trigger: 'change' },
                    ],
                    sett_type: [
                        { required: true, message: '结算方式不能为空', trigger: 'change' },
                    ],
                    sup_status: [
                        { required: true, message: '请选择供应商状态', trigger: 'change' },
                    ],
                },

                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                    shortcuts (text, onClick) {

                    }
                },                               // 编辑器的内容
                outputContent: '',
                'uploadUrl': '',
                editFlag: false,

            }
        },
        created () {
            this.getList();
            this.getSupId();
        },
        components: {
            Page
        },
        filters: {
            menuShow: function (value) {
                return value == true ? '已启用' : '已禁用'
            }
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
        },

        computed: {
            phoneReg () {
                return this.$store.state.phoneReg;
            },
            telReg () {
                return this.$store.state.telReg;
            },
            emailReg () {
                return this.$store.state.emailReg;
            },

            abcNumReg () {
                return this.$store.state.abcNumReg;
            }
        },

        methods: {
          getAddArea (val){
            console.log(val);
            let checkAreaArr = val[val.length-1]
            if(checkAreaArr){//只要最后  不要省
              this.add.area = checkAreaArr;
            }else{
              this.add.area = '';
            }
            console.log(this.add.area)
          },

          getEditArea (val){
            console.log(val);
            let checkAreaArr = val[val.length-1]
            if(checkAreaArr){//只要最后  不要省
              this.edit.area = checkAreaArr;
            }else{
              this.edit.area = '';
            }
            console.log(this.edit.area)
          },


          getSupId () {
                this.$http.post('/supplier/supplierType/getIdList', {pageNum:1,pageSize:10000}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    var self = this;
                    if (res.code==200) {
                        var arr = res.data.supTypeList.records;
                        for (var i = 0; i<arr.length; i++) {
                            self.supTypeList_array.push({value: arr[i].id_, label: arr[i].typeName});
                        }
                        console.log(self.supTypeList_array)
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });

            },


            deleteBefore (row) { //删除前查询
              this.$http.post('/supplier/beforeDel', {sup_tatus:row.supStatus, sup_no: row.supNo}).then((response) => {
                // 响应成功回调
                let res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$confirm(res.data.message, '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      this.deleteItem(row)
                    })

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });

            },

            deleteItem (row){ //删除
                  this.$http.post('/supplier/supplier/delete', {id:row.id_, version: row.version}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                      if(res.data.success){
                        this.$message(res.msg);
                        this.getList();

                      }else{
                        this.$message(res.data.message);
                      }
                    } else {
                      this.$message.error(res.msg);
                    }
                  }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                  });






  /*
                this.$confirm('此操作将永久删除数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/supplier/supplier/delete', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });
                })*/
            },


            banBefore (row, state) { //停用前查询
              this.$http.post('/supplier/beforeBan', {sup_no: row.supNo}).then((response) => {
                // 响应成功回调
                let res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$confirm(res.data.message, '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      this.setStatus (row,state)
                    })

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });

            },

            openAddDialog (){
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.addBtnFlag = false;
                this.addCheckArea = [];
            },



            openEditDialog (row) {
                this.editDialog = true;

                this.edit.version = row.version;
                this.edit.id = row.id_;

                this.edit.sup_name = row.supName; //名称
                this.edit.sup_login = row.supLogin; //账号
                this.edit.contact = row.contact; //联系人
                this.edit.telephone = row.telephone; //联系人手机号码
                this.edit.phone = row.phone;  //电话号码
                this.edit.area = row.area; //省份
              //地区
              //省市
              for (let argument of this.areaArray) {
                //this.editCheckArea=[];
                for(let item of argument.list){
                  if(item.code == row.area){
                    this.$set(this.$data,'editCheckArea',[argument.code,row.area])
                    console.log(this.editCheckArea)
                  }
                }
              }


                this.edit.address = row.address;   //详细地址
                this.edit.fax = row.fax;     //传真
                this.edit.email = row.email;  //email
                this.edit.sup_type_id = row.supplierTypeId; //供应商类型
                this.edit.pur_type = row.purType; //采购类型
                this.edit.sett_type = row.settType; //结算类型
                this.edit.sup_status = row.supStatus   //状态
            },
            closeEditDialog (done) {
                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
              this.editCheckArea = [];
            },

            setStatus (row,state) {  //启用或者禁用
                var postData={};
                postData = {id:row.id_, version: row.version};
                this.$http.post(state, postData).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        //if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        //}else{
                         //   this.$message(res.data.message);
                       // }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },


            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },
            onSubmit () {

            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            addNew () {  //添加
                this.addBtnFlag = true;
                console.log(this.add)
                this.$http.post('/supplier/supplier/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑
                this.updateBtnFlag = true;
                this.$http.post('/supplier/supplier/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    var res = response? response : '请不要操作太快';
                    this.$message('出错了:' + res);
                    this.updateBtnFlag = false;
                });
            },
            getList () {  //获取分页
              this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    sup_name: this.search.sup_name,
                    phone: this.search.phone,
                    fax: this.search.fax,
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.supList.records;
                        this.total = res.data.supList.total;
                        this.sett_type_array = res.data.settType; //结算方式
                        this.purType_array = res.data.purType; //采购类型
                        this.sup_status_array = res.data.supListEnum; //状态
                        this.areaArray = res.data.areaEnum; //区域
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                    this.tableLoading = false;

                });
            },
            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            },
            setLabelsettType (row, column) { //结算方式
                var arr = this.sett_type_array;
                for(var i = 0; i < arr.length; i++){
                    if(arr[i].name == row.settType){
                        return arr[i].desc
                    }
                }
            },
            setLabelsettType (row, column) { //结算方式
                var arr = this.sett_type_array;
                for(var i = 0; i < arr.length; i++){
                    if(arr[i].name == row.settType){
                        return arr[i].desc
                    }
                }
            },
            setLabelpurType (row, column) { //采购方式
                var arr = this.purType_array;
                for(var i = 0; i < arr.length; i++){
                    if(arr[i].name == row.purType){
                        return arr[i].desc
                    }
                }
            },
        }
    }
</script>
