<template>
  <div class="m-upload">
    <el-upload
      class="upload-demo"
      :multiple="true"
      :action="upload.action"
      :data="upload.data"
      :before-upload="getPolicy"
      :on-success="uploadSuccess"
      :on-remove="handleRemove"
      :on-error="uploadFail"
      :file-list="upload.imgList">
      <el-button size="small" type="primary">插入图片<i class="fa fa-cloud-upload" aria-hidden="true"></i></el-button>
      <div slot="tip" class="el-upload__tip">上传的图片文件尽量不要超过2M</div> <!-- 2M这里目前是虚的，没有限制。。 -->
    </el-upload>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        upload: {
          policyUrl:'',
          action: '', //,
          multiple: false,  //是否单选
          imgList:  [],
          auto: true,
          data: { //这里是需要传给oss的参数
            'key': '',
            'policy': '',
            'OSSAccessKeyId': '',
            'success_action_status': 200,
            'callback': '',
            'signature': '',
          },
          backFileName: '',
        },
        dialogImageUrl: '',
        dialogVisible: false,
        uploadStatus: true,
        loading: false
      }
    },
    computed: {
        baseHosr (){
            return this.$store.state.host;
        }
    },
    watch: {
      isSingle: {
        immediate: true,
        handler: function (val) {
          this.upload.multiple = !val;
          console.log(val)
        }
      },
      fileList: {
        immediate: true,
        handler: function (val) {
          this.upload.imgList = val;
          console.log(val)
        }
      },
      getPolicyUrl: {
        immediate: true,
        handler: function (val) {
          this.policyUrl = val;
        }
      }
    },
    props: {
      isSingle: {  //是否只允许一张（用于头像）
        type: Boolean,
        default: true
      },
      fileList: {  //已有图片列表数组
        type: Array,
        default: function () {
          return []
        }
      },
      getPolicyUrl: {
        type: String,
        default: function () {
          return '/getPolicy'
        }
      }


    },
    methods: {
      uploadFail (response){
        console.log(response)
        this.$alert(response,'上传失败', {
          confirmButtonText: '确定',
          callback: action => {
            this.loading = false;
          }
        });
      },

      uploadSuccess(response, file, fileList) {  //上传成功的回调函数,根据后端要求，这里需要把OSS返回的签名串反馈到表单页面，最后在表单提交给后端。
        this.upload.imgList = fileList;
        //其他操作
        if(response.code==200){
          if(response.data == 'yes'){
            this.$emit('change','<img src="'+this.baseHosr+response.url+'" />');
            this.uploadStatus = true;
          }else{
            this.uploadStatus = false;
          }
          this.loading = false;
        }else{
          this.$message.error('上传失败');

          //移除filelist里面的先图片
          for(var i=0; i<fileList.length; i++){
              if(fileList[i].uid === file.uid){
                fileList.splice(i,1)
              }
          }
          this.uploadStatus = false;
          this.$emit('change','');
          this.loading = false;
        }


      },
      submitUpload() {
        this.$refs.upload.submit();
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview (file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      getPolicy (file) {
        this.loading = true;

        //请求上传签名并设置
        return new Promise((resolve, reject) => {

          this.$http.post(this.policyUrl)
            .then(function (res) {
              const params = res.body.data;
              this.upload.action = params.host;
              this.upload.data.policy = params.policy;
              this.upload.data.OSSAccessKeyId = params.accessid;
              this.upload.data.callback = params.callbackbody;
              this.upload.data.signature = params.signature;
              this.backFileName = params.name;

              const suffix = this.get_suffix(file.name);
              this.upload.data.key = params.dir + params.name + suffix;
              console.log(this.$refs.upload);
              resolve(true);
            })
            .catch();

        });
      },
      get_suffix (filename){
        const pos = filename.lastIndexOf('.');
        let suffix = '';
        if (pos != -1) {
          suffix = filename.substring(pos)
        }
        return suffix;
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .el-upload{
    position: relative;
  }

  .loading{
    &.dd-loading-mask{
      position: absolute;
      left:0;
      top:0;
      .dd-loading-spinner{
        top:0;
        margin-top:0;
      }
    }
  }
</style>
