<template>
  <div>
    <div :id="randomId" @change="result" @input="result" class="wang-editor"></div>
    <editor-upload v-if="url" :getPolicyUrl="url" @change="addImg"></editor-upload>
  </div>
</template>

<script>
  import WangEditor from 'wangeditor'
  import EditorUpload from './EditorUpload.vue';
  export default {
    props: ['content', 'path'],
    data() {
      return {
        url:this.path,
        randomId:'editor_' + (Math.ceil(Math.random()*10000)),
        editor: '',
      }
    },
    components: {
      EditorUpload
    },
    watch: {
      content: {
        deep: true,
        handler: function (val, oldVal) {
          console.log( this.editor)
          this.editor.txt.html(val)
          console.log('触发编辑器变动'+val)
        }
      }
    },
    mounted() {
        this.createEditor();
    },
    methods: {
      createEditor (){
        var vm = this;
          const editor = new WangEditor('#'+vm.randomId);
          editor.customConfig.uploadImgTimeout = 300000;
        // 自定义菜单配置
        editor.customConfig.menus = [
          'head',  // 标题
          'bold',  // 粗体
          'italic',  // 斜体
          'underline',  // 下划线
          'strikeThrough',  // 删除线
          'foreColor',  // 文字颜色
          'backColor',  // 背景颜色
          'link',  // 插入链接
          'list',  // 列表
          'justify',  // 对齐方式
          'quote',  // 引用
          'image',  // 插入图片
          'table',  // 表格
          'code',  // 插入代码
          'undo',  // 撤销
          'redo'  // 重复
        ]
          //editor.customConfig.zIndex = 10
          editor.create()
          vm.editor = editor
      },

      addImg (val) { //上传成功后，将图片加入内容区域
        var oldHtml = this.editor.txt.html();
        this.editor.txt.html(oldHtml+val);
        this.$emit('input', this.editor.txt.html())
      },

      result() {
          console.log(this.editor.txt.html())
        this.$emit('input', this.editor.txt.html())
        this.$emit('change', this.editor.txt.html())
      },
    }
  }
</script>



<style lang="scss">
  .w-e-toolbar{
    position: relative;
    z-index:10;  //已经通过JS配置Z-index
  }

  .wang-editor{
    z-index: 0;
    margin-bottom:2px;
    .w-e-text-container{
      z-index: 9 !important;
      height:200px !important;
    }
    .w-e-toolbar .w-e-menu{
      z-index:1;
    }
  }
  .wangEditor-container{
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #CCC;
  }
</style>


