<template>
  <div class="home-wrap vm-home" v-cloak>

    <div class="logo">
      <img src="../assets/logo.png" />嘟嘟自驾
    </div>
    <div v-bind:class="screenClass">
      <!--<el-button :plain="true" type="info" v-on:click.native="setMini"><i class="fa fa-bars"></i></el-button>-->
      <ul class="header-tools">
        <template v-if="!needLogin">
          <li class="header-bell" title="信息">
            <el-badge :value="bell" :max="99" class="item">
              <i class="fa fa-bell-o"></i>
            </el-badge>
          </li>
          <li title="修改密码">
            <el-dropdown>
            <span class="el-dropdown-link">
              <i class="fa fa-cog fa-fw"></i>
            </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="editDialog = true">修改密码</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </li>
          <li v-on:click="logout" title="退出登录"><i class="fa fa-sign-out"></i></li>
        </template>
        <template v-if="needLogin">
          <li v-if="needLogin" title="立即登录" v-on:click="loginPop=true">
            <el-tooltip class="item" effect="dark" content="点此登录" placement="right-end" >
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </el-tooltip>
          </li>
        </template>
      </ul>

      <div class="home-user-mods" v-if="!needLogin">
        <img class="avatar" v-bind:src="avatar" />
        {{admin.operatorName}}
      </div>
      <a href="http://sys.17dd.com/openwx/authorize" class="fr auto-btn"><el-button size="small" type="warning">第三方授权</el-button></a>
    </div>
    <div class="home-sidebar">
      <v-bar wrapper="menu-wrapper"
             vBar=""
             vBarInternal=""
             hBar=""
             hBarInternal="">
        <div class="sider-menu">
          <el-menu :default-active="$route.path"  :default-openeds="sideMenu.opens"          
          background-color="#324057"
          text-color="#fff"
          active-text-color="#f60"
           class="el-menu-vertical-side" @open="handleOpen" @close="handleClose" :router="true">
            <el-menu-item :index="'/'"><i class="fa fa-home" aria-hidden="true"></i> 首页</el-menu-item>
            <el-submenu :index="menu.label" v-for="(menu, key) in menu.data" :key="key">
              <template slot="title"><i class="fa fa-folder-o" aria-hidden="true"></i> {{menu.label}}</template>
              <el-menu-item :index="submenu.url" v-for="(submenu, subkey) in menu.childs" :key="subkey">
                {{submenu.label}}
              </el-menu-item>
            </el-submenu>
            <el-menu-item :index="'/changelog'"><i class="fa fa-book" aria-hidden="true"></i> 更新日志</el-menu-item>
            <el-menu-item :index="'/help'"><i class="fa fa-question-circle-o" aria-hidden="true"></i> 帮助</el-menu-item>
          </el-menu>
        </div>
      </v-bar>
    </div>
    <div class="home-main">
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </div>


    <!-- 登录浮层 -->
    <el-dialog class="login-mod" title="" width="350px" :show-close="false" :visible.sync="loginPop">
      <login-form></login-form>
    </el-dialog>


    <el-dialog title="修改当前用户密码" :visible.sync="editDialog" :before-close="closeEditDialog">
      <el-form ref="edit" :rules="rules" :model="edit" label-width="100px">
        <el-form-item label="原密码" prop="oldPwd">
          <el-input v-model="edit.oldPwd"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newPwd">
          <el-input v-model="edit.newPwd"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :loading="editBtnFlag" @click="submitForm('edit')">确 定</el-button>
        <el-button @click="closeEditDialog">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
  import VBar from 'v-bar'
  import LoginForm from './common/LoginForm.vue'
  export default {
    name: 'home',
    data () {
        var checkSpace = (rule, value, callback) => {
            var reg =  new RegExp("\\s");  ;
            if(reg.test(value)){
                callback(new Error('请不要输入空格'));
            }else{
                callback();
            }
        };
      return {
          fullscreen: false,
          editDialog: false,
          editBtnFlag: false,
          loginPop: this.$store.state.needLogin,
          menu: {
          },
          admin: {
              roleName:'暂时没有获取用户信息的接口'
          },
          avatar:'../static/man.png',
          sideMenu: {
            nowRouter:this.$router.name,
            menuRouter: true,
            opens: []

          },
          edit: {
              oldPwd:'',
              newPwd: '',
          },
          rules:{
              oldPwd: [
                  {required: true, message: '请输入原密码', trigger: 'blur' },
                  { min: 0, max: 16, message: '密码长度不符合', trigger: 'blur' },
                  { validator: checkSpace, trigger: 'blur' }
              ],
              newPwd: [
                  {required: true, message: '请输入新密码', trigger: 'blur' },
                  { min: 6, max: 216, message: '密码长度在 6 到 16 个字符', trigger: 'blur' },
                  { validator: checkSpace, trigger: 'blur' }
              ],
          }

      }
    },
    components: {
      VBar,
      LoginForm
    },
    computed: {
        baseHost () {
          return this.$store.state.host;
        },
      needLogin () {
        return this.$store.state.needLogin;
      },
      bell () {
          return this.$store.state.bell;
      },
      isLogin () {
        return this.$store.state.isLogin;
      },
      screenClass: function () {
          console.log(this.fullscreen);
          return {
              'home-header': true,
              'clearfix': true,
              'mini-side': this.fullscreen
          }
      }


    },
    watch: {
      needLogin: {
          deep: true,
          handler: function (val, oldVal) {
            this.loginPop = val;
            if(!val){ //登陆后重新获取用户和左边菜单
              this.getMenu();
              this.getInfo();
            }
          }
      }
    },

    created: function() {
      this.getMenu();  //应该是在watch用户状态变成登录后再进行请求，这里需要vuex
      this.getInfo();  //应该是在watch用户状态变成登录后再进行请求，这里需要vuex
    },
    filters: {
      path: function (val) {
          var val = val.replace('.', '/');
        val = '/'+val;
        return val
      }
    },
    methods: {

        closeEditDialog (done) {
            this.editDialog = false;
            this.resetForm('edit');
        },

        resetForm(formName) { //重置表单
            this.$refs[formName].resetFields();
        },

        submitForm(formName) { //提交表单
            this.$refs[formName].validate((valid) => {
                if (valid) {
                  this.editPSW();
                } else {
                    this.$message.error('请按照提示填写表单');
                    return false;
                }
            });
        },
        editPSW () {
            this.updateBtnFlag = true;
            this.$http.post('/operator/updatePassword', this.edit).then((response) => {
                // 响应成功回调
                const res = response.body;
                if (res.code==200) {
                    if(res.data.success){
                        this.$message('修改成功，请使用新密码重新登录');
                        this.closeEditDialog();
                        setTimeout(function () {
                            this.autoLogout();
                        },1500);
                    }else{
                        this.$message.error(res.data.message);
                    }
                } else {
                    this.$message.error(res.msg);
                }
                this.updateBtnFlag = false;
            }, (response) => {
                // 响应错误回调
                var res = response? response : '请不要操作太快';
                this.$message('出错了:' + res);
                this.updateBtnFlag = false;
            });

        },

      getMenu: function () {
        const _this = this;

        this.$http.post('/operator/getMenu')
          .then(function (response) {
            const data = response.data;
            if (data.code == 200) {
              _this.menu = data;
              console.log(_this.menu)
            }else{

            }
          })
          .catch(function (response) {
            const data = response.data;
          });
      },

        getInfo: function () {
            const _this = this;

            this.$http.post('/operator/getInfo')
                .then(function (response) {
                    const data = response.data;
                    if (data.code == 200) {
                        _this.admin = data.data;
                        _this.avatar = _this.baseHost+ _this.admin.avatar
                        console.log(_this.admin)
                    }else{

                    }
                })
                .catch(function (response) {
                    const data = response.data;
                });
        },
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },

        autoLogout: function () {
            const _this = this;
            _this.$http.post('/logout')
                .then(function (response) {
                    const data = response.data;
                    if(data.code == 200){
                        _this.$router.push('/login');
                        _this.$store.commit('logout');
                        window.sessionStorage.removeItem('loginToken');
                    }
                })
                .catch(function(response) {
                    console.log(response)
                });

        },
      logout: function () {
        const _this = this;
        this.$confirm('确定退出登录吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          _this.$http.post('/logout')
            .then(function (response) {
              const data = response.data;
              if(data.code == 200){
                _this.$router.push('/login');
                _this.$store.commit('logout');
                window.sessionStorage.removeItem('loginToken');
              }
            })
            .catch(function(response) {
              console.log(response)
            });
        }).catch(() => {
            //取消
        });

      },
        setMini () {
            this.fullScreen = !this.fullScreen;
            console.log(this.fullScreen)
        }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../assets/sass/common";

  .fr{
    float: right;
  }

  .auto-btn{
    margin:5px 10px 0;
  }

  .home-sidebar{
    position: fixed;
    left:0;
    top:0;
    z-index: 10;
    width:220px;
    height:100%;
    padding-top:60px;
    background:$light-black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .logo{
    position: fixed;
    left:0;
    top:0;
    z-index:20;
    width:230px;
    height:60px;
    font-size:20px;
    overflow: hidden;
    line-height: 60px;
    text-align: center;
    color:#fff;
    background: $light-blue;
    img{
      width:40px;
      height: 40px;
      margin-right:10px;
      @include radius(50%);
      vertical-align: middle;
    }
  }

  .home-user-mods{
    float: right;
    margin-top:15px;
    padding:2px;
    text-align: center;
    color:$light-silver;
    background:#eee;
    @include radius(30px);
    .avatar{
      width: 26px;
      height: 26px;
    }
    a{
      color: $black;
    }
  }

  .el-menu-vertical-side{
    a{
      color:#fff;
      text-decoration: none;
    }
  }
  .home-header{
    position: fixed;
    left:0;
    top:0;
    z-index: 11;
    width:100%;
    height:60px;
    padding:0 15px 0 240px;
    color:#fff;
    background:$light-blue;
    @include box_border;
    button{
      margin-top: 10px;
    }
  }

  .header-bell{
    position: relative;
    span{
      position: absolute;
      left:80%;
      top:-10px;
    }
  }

  .home-wrap{
    padding:70px 10px 0 230px;
    &.mini-side{
      padding:70px 10px 0 20px;
    }
  }

  .header-tools{
    float: right;
    padding-left: 10px;
    li{
      display: inline-block;
      width:30px;
      height:30px;
      text-align: center;
      line-height: 30px;
      color:$light-silver;
      background:#eee;
      @include radius(50%);
      &:hover{
        color: #fff;
        background: $warning;
      }
      .el-dropdown{
        color: inherit;
      }
    }
  }

  .sider-menu{
    height: 100%;
    .el-menu{
      padding:20px 0;
      border:none;
    }
 
  }


  .menu-wrapper{
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

</style>
