<template>
  <div class="dd-loading-mask" v-show="show">
    <div class="dd-loading-spinner">
      <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
    </div>
  </div>
</template>
<script>
  export default {
    //props: ['show']
    computed: {
        show () {
            return this.$store.state.loading;
        }
    },
    /*  watch: {
        show: {
            deep: true,
            handler: function () {
               // let h = document.c
            }
        }
      }*/
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .dd-loading-mask{
    position: fixed;
    z-index: 10000;
    background-color: hsla(0,0%,100%,.9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dd-loading-spinner{
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    position: absolute;
  .circular{
    width: 42px;
    animation: rotate 2s linear infinite;
  }
  .path{
    animation: dash 1.5s ease-in-out infinite;
    stroke-dasharray: 1,100;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #20a0ff;
    stroke-linecap: round
  }
  }
</style>
