<template>
  <div class="vm-login mask">
    <div class="login-form">
      <div class="logo"><img src="../assets/logo.png" /></div>
      <el-card class="box-card">
        <login-form></login-form>
      </el-card>
    </div>
  </div>
</template>

<script>
  import LoginForm from './common/LoginForm.vue'
  export default {
    name: 'login',
    data () {
        var checkSpace = (rule, value, callback) => {
            var reg =  new RegExp("\\s");  ;
            if(reg.test(value)){
                callback(new Error('请不要输入空格'));
            }else{
                callback();
            }
        };
      return {
      }
    },
      created: function () {
      },
      components: {
          LoginForm
      },
    watch: {
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import "../assets/sass/_common.scss";
  .mask{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background:#324057;
  }

  .box-card{
    width:400px;
    margin:0 auto;
  }

  .login-form{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    .logo{
      margin-bottom: -30px;
      img{
        display: block;
        width:60px;
        height:60px;
        margin:0 auto;
        background:#fff;
        border:3px solid #fff;
        @include radius(50%);
      }
    }
  }

  .box-title{
    fot-size: 14px;
    text-align: center;
  }

</style>
