<template>
    <div id="map">   
    </div>
</template>
<script>
import BMap from 'BMap'
    export default {
        name: 'dudu-map',
        data(){
            return {
                counter:0,
                _map:null
            }
        },
        methods:{
          increment(e){
            this.counter += 1;
                          console.log(e)
            this.$emit('increment',e);
          },
          moveToPla(val,onOff){
            var self = this;
                    
                    if(onOff){
                      var myGeo = new BMap.Geocoder();
                      // 将地址解析结果显示在地图上,并调整地图视野
                      myGeo.getPoint(val, function(point){
                        if (point) {
                          self._map.centerAndZoom(point, 16);
                         var eObj = {
                           point:{
                            lat:point.lat,
                            lng: point.lng
                           }
                         }
                         self.increment(eObj)
                        }else{
                          alert("您选择地址没有解析到结果!");
                        }
                      }, "海南省");
                    }else{
                      self._map.panTo(new BMap.Point(val.lng,val.lat));
                      self._map.centerAndZoom(new BMap.Point(val.lng,val.lat), 16);
                    }
          }
        },
        mounted: function (){
            var self = this;
            this.$nextTick(function(){
                self._map = new BMap.Map("map",  {enableMapClick:false});    // 创建Map实例
                self._map.centerAndZoom(new BMap.Point(110.194, 20.046), 11);  // 初始化地图,设置中心点坐标和地图级别
                self._map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                self._map.setCurrentCity("海口");          // 设置地图显示的城市 此项是必须设置的
                self._map.enableScrollWheelZoom();     //开启鼠标滚轮缩放
                self._map.setDefaultCursor("crosshair");
                self._map.addEventListener("click",function(e){
                          self.increment(e);
                  });
            })
        }
    }
</script>
<style>
    #map{
        width: 100%;
        height: 380px;
    }
</style>