<template>
  <div class="block">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pNum"
      :page-sizes="[10, 20, 30, 50, 100]"
      :page-size="pSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pageTotal">
    </el-pagination>
  </div>
</template>
<script>
  export default {
    methods: {
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.$emit('handleSizeChange', val);
          if(this.querys){
          this.$router.push({ name: this.routerName, params: { pageNum: this.pNum, pageSize: val}, query:JSON.parse(this.querys)}); //路由相应跳转

        }else{
          this.$router.push({ name: this.routerName, params: { pageNum: this.pNum, pageSize: val }}); //路由相应跳转
        
          
        }
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        console.log(`当前页: ${val}`);
        this.$emit('handleCurrentChange',val);
        if(this.querys){
        this.$router.push({ name: this.routerName, params: { pageNum: val}, query:JSON.parse(this.querys)}); //路由相应跳转

        }else{
        this.$router.push({ name: this.routerName, params: { pageNum: val}}); //路由相应跳转
          
        }
      }
    },
    props: ['total','routerName','pageSize','pageNumber','querys'],  //2018-4-10 增加querys 存储原有的参数
    watch: {
      total: function (newVal) {
        this.pageTotal = newVal
      },

      pageSize: function (newVal) {
        this.pSize = newVal;
      },

      pageNumber: function (newVal) {
        this.pNum = newVal;
        this.handleCurrentChange(newVal)
      }

    },
    data() {
      return {
          pSize:parseInt(this.$route.params.pageSize),
          pageTotal:0,
          pNum: parseInt(this.$route.params.pageNum)
      };
    }
  }
</script>
