<template>
    <div class="m-upload">
        <el-upload
                :action="upload.action"
                :multiple="upload.multiple"
                :auto-upload="upload.auto"
                :data="upload.data"
                :list-type="showType"
                :before-upload="getPolicy"
                :on-preview="handlePictureCardPreview"
                :on-success="handleAvatarSuccess"
                :on-remove="handleRemove"
                :on-error="uploadFail"
                :show-file-list="upload.multiple"
                :file-list="upload.imgList"
                ref="upload">
          <template v-if="showType=='text'">
            <el-button size="small" type="primary">点击上传</el-button>
          </template>



          <template v-else>
            <template v-if="upload.multiple">
                <i class="el-icon-plus"></i>
            </template>
            <template  v-if="!upload.multiple">
              <div v-for="(item, key) in upload.imgList" v-if="key==upload.imgList.length-1 && upload.imgList.length>0" class="avatar-uploader">
                <img  :src="item.url" class="avatar-uploader">
                <div v-if="!uploadStatus" class="pic-mask">上传失败</div>
              </div>
                <i v-if="upload.imgList.length == 0" class="el-icon-plus"></i>

              <div v-if="loading" class="loading dd-loading-mask">
                <div class="dd-loading-spinner">
                  <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                </div>
              </div>
            </template>
          </template>
        </el-upload>

      <el-dialog v-model="dialogVisible" size="tiny">
        <img width="100%" :src="dialogImageUrl" alt="">
      </el-dialog>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                upload: {
                    policyUrl:'',
                    action: '', //'jsonplaceholder.typicode.com/posts/',
                    multiple: false,  //是否单选
                    imgList:  [],
                    auto: true,
                    data: { //这里是需要传给oss的参数
                        'key': '',
                        'policy': '',
                        'OSSAccessKeyId': '',
                        'success_action_status': 200,
                        'callback': '',
                        'signature': '',
                    },
                    backFileName: '',
                },
                dialogImageUrl: '',
                dialogVisible: false,
                uploadStatus: true,
                loading: false
            }
        },
        computed: {
        },
        watch: {
            isSingle: {
                immediate: true,
                handler: function (val) {
                    this.upload.multiple = !val;
                    console.log(val)
                }
            },
            fileList: {
                immediate: true,
                handler: function (val) {
                    this.upload.imgList = val;
                    console.log(val)
                }
            },
            getPolicyUrl: {
                immediate: true,
                handler: function (val) {
                    this.policyUrl = val;
                }
            }
        },
        props: {
            showType: {  //是否只允许一张（用于头像）
              type: String,
              default: 'picture-card'
            },
            isSingle: {  //是否只允许一张（用于头像）
                type: Boolean,
                default: true
            },
            fileList: {  //已有图片列表数组
                type: Array,
                default: function () {
                    return []
                }
            },
            getPolicyUrl: {
                type: String,
                default: function () {
                    return '/getPolicy'
                }
            }


        },
        methods: {

          uploadFail (response){
              console.log(response)
            this.$alert(response,'上传失败', {
              confirmButtonText: '确定',
              callback: action => {
                this.loading = false;
              }
            });
          },
            handleAvatarSuccess(response, file, fileList) {  //上传成功的回调函数,根据后端要求，这里需要把OSS返回的签名串反馈到表单页面，最后在表单提交给后端。
                this.upload.imgList = fileList;
                //其他操作
                if(response.code==200){
                    if(response.data == 'yes'){
                      this.$emit('change',response.url);
                      this.uploadStatus = true;
                    }else{
                      this.uploadStatus = false;
                    }
                    this.loading = false;
                }else{
                    this.$message.error('上传失败');
                    this.uploadStatus = false;
                    this.$emit('change','');
                    this.loading = false;
                }


            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview (file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            getPolicy (file) {
                this.loading = true;

                //请求上传签名并设置
                return new Promise((resolve, reject) => {

                    this.$http.post(this.policyUrl)
                        .then(function (res) {
                            const params = res.body.data;
                            this.upload.action = params.host;
                            this.upload.data.policy = params.policy;
                            this.upload.data.OSSAccessKeyId = params.accessid;
                            this.upload.data.callback = params.callbackbody;
                            this.upload.data.signature = params.signature;
                            this.backFileName = params.name;

                            const suffix = this.get_suffix(file.name);
                            this.upload.data.key = params.dir + params.name + suffix;
                            console.log(this.$refs.upload);
                            resolve(true);
                        })
                        .catch();

                });
            },
            get_suffix (filename){
                const pos = filename.lastIndexOf('.');
                let suffix = '';
                if (pos != -1) {
                    suffix = filename.substring(pos)
                }
                return suffix;
            }
        }
    }
</script>
<style lang="scss" rel="stylesheet/scss">
  .el-upload{
    position: relative;
  }

  .loading{
    &.dd-loading-mask{
      position: absolute;
      left:0;
      top:0;
      .dd-loading-spinner{
        top:0;
        margin-top:0;
      }
     }
  }
</style>
