<template>
<div>
	<div class="table-list">
	    <div class="list-todo__top">       
	        <el-form :inline="true" ref="search">
            <el-form-item label="名称" label-width="50px">
              <el-input v-model="query_tag_name"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="danger" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" @click="reset('search')">重置条件</el-button>
	            <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 发起结算</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
	        <el-table-column
	                prop="tag_name"
	                label="供应商">
	        </el-table-column>
	        <el-table-column
	                prop="tag_detail"
	                label="金额">
	        </el-table-column>
	        <el-table-column
	        		prop="state" 
	                label="结算方式">
	        </el-table-column>
	        <el-table-column
	        		prop="state" 
	                label="备注">
	        </el-table-column>
	        <el-table-column
	        		prop="state" 
	                label="状态">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"  
	              width="178">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small">编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small">删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

	   <el-dialog title="发起结算" :visible.sync="dialogVisible" :before-close="handleClose">
	     <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm">
	       <el-form-item label="供应商" :label-width="formLabelWidth">
	         <el-input v-model="addLocForm.tag_name"></el-input>
	       </el-form-item>
	       <el-form-item label="结算方式" :label-width="formLabelWidth">
	           <el-select v-model="addLocForm.tag_name" placeholder="请选择活动区域">
	             <el-option label="区域一" value="shanghai"></el-option>
	             <el-option label="区域二" value="beijing"></el-option>
	           </el-select>
	         </el-form-item>
	         <el-form-item label="待结算金额" :label-width="formLabelWidth">
	             <label>2</label>
	           </el-form-item>
			<el-form-item label="结算金额" :label-width="formLabelWidth">
			    <el-input v-model="addLocForm.tag_name"></el-input>
			  </el-form-item>
	 	</el-form>  
		 <div slot="footer" class="dialog-footer">
		   <el-button type="primary" @click="submitForm('addLocForm')">添加投诉</el-button>
       <el-button @click="dialogVisible = false">取 消</el-button>
		 </div>
	  </el-dialog> 
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
export default {
  name: 'preference',
  components: {
      Page
  },
  data () {
    return {
      
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:20,
    	//表格类
    	tableData:[
    		{
    			ID:'',
    			tag_name:'',
    			tag_detail:'',
    			state:''
    		}
    	],
    	//表单类
    	dialogVisible:false,
    	addLocForm: {
    	         tag_name:'',
    	         tag_detail:''
    	       },
    	       formLabelWidth: '120px',
             // 查询条件
    	        query_tag_name:'',
            // 规则
        addFormRules:{
    		tag_name:[{ required: true, message: '请输入标签', trigger: 'blur' },
	           { min: 2,  message: '长度在大于2', trigger: 'blur' }],
	         tag_detail:[{ required: true, message: '请输入说明', trigger: 'change'}]
    		}        		
    };
  },
  created(){
  	// this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
  	// 封装请求
  	getAjax(url, data, cb){
  		this.$http.post(url,data).then(response => {
  			const res = response.body
  			if (res.code==200) {
  			    cb(res);
  			} else {
  			    console.log(res);
  			}
  		}, (response) =>{
  			
  		})
  	},
  	 handleClose(done) {
            this.$confirm('确认关闭？')
              .then(_ => {
                done();
              })
              .catch(_ => {});
          },
    // 添加地点和修改地点的，注意区分
  	submitForm(form){
  		this.$refs[form].validate((valid) => {
  		         if (valid) {	
  		         	this.$http.post('/tag/tag/add',this.addLocForm).then((response) => {
  		         	    // 响应成功回调
  		         	    const res = response.body
  		         	    console.log(res);                 
  		         	    if (res.code==200) {
  		         	        this.dialogVisible = false;
  		         	    } else {
  		         	        console.log(res);
  		         	    }
  		         	}, (response) => {
  		         	    // 响应错误回调
  		         	});

  		         } else {
  		           return false;
  		         }

  		       });
  	},
  	handleAddForm(form){
		this.dialogVisible = true;
		if (this.$refs[form]) {
      this.$refs[form].resetFields();  
    }
  	},
    // 查询
   queryList(){
     this.pageNum = 1;
     this.getList();
   },
    reset(form){
     this.query_tag_name = '';
     this.pageNum = 1;
     this.getList()
    },
    // 编辑
    handleEdit(row){
    	this.dialogVisible = true;
    	console.log(row);    	
      if (this.$refs['addLocForm']) {
        this.$refs['addLocForm'].resetFields();
      }
         },
         // 删除
    handleDelete(row) {
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/tag/tag/delete', {pageNum: this.pageNum,
	             pageSize: this.pageSize}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);                 
	             if (res.code==200) {
	                 this.tableData = res.data.supList.records;
	                 this.total = res.data.supList.total;
	             } else {
	                 console.log(res);
	             }
	         }, (response) => {
	             // 响应错误回调
	         });
	       })
	       .catch(_ => {});
         },
         getPageSize (val) {
             this.pageSize = val;
             console.log(val)
         },
         getPageNum (val) {
             this.pageNum = val;
             console.log(val)
         },
         // 初始表单
         getList(){
             this.$http.post('/tag/tag/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);                 
                 if (res.code==200) {
                 	console.log('请求陈宫')
                     this.tableData = '';
                     this.total = 0;
                 } else {
                     console.log(res);
                 }
             }, (response) => {
                 // 响应错误回调
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>