<template>
<div id="theLinkPlay">
	<div class="table-list">
	    <div class="list-todo__top">
          <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加玩法</el-button>
	    </div> 
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
              <el-table-column
                    prop="tripTitleMax"
                    label="玩法标题">
              </el-table-column>
          <el-table-column
                  prop="tripNo"
                  label="玩法编号">
          </el-table-column>
          <el-table-column
                  prop="sort"
                  label="排序">
          </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"  
	              width="160">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small">编辑</el-button>
                  <el-button @click="handleDelete(scope.row)" type="danger" size="small">删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
      <el-pagination
          layout="total, prev, pager, next"
          @current-change="changePageNum"
          :page-size="20"
          :total="total">
      </el-pagination>
     <el-dialog title="添加推荐玩法" :visible.sync="dialogVisible1" :before-close="handleClose">
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm" label-width="120px">
         <el-form-item label="标题" prop="trip_no">
              <el-select v-model="addLocForm.trip_no">
                 <el-option
                 v-for="item in attrOption"
                 :value="item.tripNo"
                 :key="item.tripNo"
                 :label="item.tripTitleMax">
                 </el-option>
              </el-select>
         </el-form-item>
         <el-form-item label="排序" prop="sort">
           <el-input type="number" v-model="addLocForm.sort"></el-input>
         </el-form-item>       
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button :loading="isAdd" type="primary" @click="submitForm('addLocForm')">保存并添加</el-button>
       <el-button @click="dialogVisible1 = false">取 消</el-button>
     </div>
    </el-dialog>
     <el-dialog title="编辑推荐玩法" :visible.sync="dialogVisible2" :before-close="handleClose">
       <el-form :model="editLoc" :rules="addFormRules" ref="editLoc" label-width="120px">
         <el-form-item label="标题" prop="trip_no">
              <el-select disabled v-model="editLoc.trip_no">
                 <el-option
                 v-for="item in attrOption"
                 :value="item.tripNo"
                 :key="item.tripNo"
                 :label="item.tripTitleMax">
                 </el-option>
              </el-select>
         </el-form-item>
         <el-form-item label="排序" prop="sort">
           <el-input type="number" v-model="editLoc.sort"></el-input>
         </el-form-item>       
    </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button :loading="isEdit" type="primary" @click="editForm('editLoc')">保存并添加</el-button>
       <el-button @click="dialogVisible2 = false">取 消</el-button>
     </div>
    </el-dialog>
	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'theLinkPlay',
  props:['dataId'],
  data () {

    var validateSort = (rule, value, callback) => {
          setTimeout(() => {
              if (value > 2147483647) {
                callback(new Error('排序输入过大'));
              }
                else if(value < 0){
                  callback(new Error('不能为负数'));
                }
               else {
                callback();
              }
          }, 1000);                    
        };

    return {
      // 提交频率控制按钮
      isAdd:false,
      isEdit:false,
    	//页码类
      pageNum: 1,
      total: 0,
      pageSize:20,
      attrOption:[
      ],
    	//表格类
    	tableData:[
    	],
    	//表单类
      dialogVisible1:false,
      dialogVisible2:false,
      addLocForm:{
           trip_no:'',
           sort:''
         },
      editLoc:{
           id:'',
           version:'',
           sort:'',
           trip_no:''
         },
        // 规则
        addFormRules:{
        trip_no:[{ required: true, message: '请选择标题', trigger: 'blur' }],
        sort:[{required:true,message:'请输入排序'},
        {validator: validateSort}],
        },
    };
  },
  created(){
    this.getList();
  	
  },
  watch:{
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      dataId: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    changePageNum(curPage){
      this.pageNum = curPage
    },
  	 handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
    // 添加 
    submitForm(form){
      this.isAdd = true; 
      this.$refs[form].validate((valid) => {
               if (valid) { 
                 this.$http.post('/tripTopicShare/add', {topic_id:this.dataId,trip_no:this.addLocForm.trip_no,sort:this.addLocForm.sort}).then((response) => {
                    // 响应成功回调
                    const res = response.body
                    console.log(res);                 
                    if (res.code==200) {
                      if(res.data.success){
                         this.dialogVisible1 = false;
                         this.$message('添加成功');
                         this.getList();
                      }else{
                        this.$message(res.data.message);
                      } 
                    } else {
                        this.$message.error(res.msg);
                    }
                     this.isAdd = false; 
                }, (response) => {
                    this.$message.error('出错了:' + response);
                    this.isAdd = false; 
                });

               } else {
                 this.isAdd = false; 
                 return false;
               }

             });
    }, 
    //修改
        editForm(form){
          this.isEdit = true;
          this.$refs[form].validate((valid) => {
               if (valid) { 
                this.$http.post('/tripTopicShare/update',{id:this.editLoc.id, version:this.editLoc.version, sort:this.editLoc.sort}).then((response) => {
                    // 响应成功回调                   
                    const res = response.body
                    console.log(res);                 
                    if (res.code==200) {
                      if(res.data.success){
                         this.dialogVisible2 = false;
                         this.$message('修改成功');
                         this.getList();
                      }else{
                        this.$message(res.data.message);
                      } 
                    } else {
                       this.$message.error(res.msg);
                    }
                    this.isEdit = false;
                }, (response) => {
                    this.$message.error('出错了:' + response);
                    this.isEdit = false;
                });

               } else {
                 this.isEdit = false;
                 return false;
               }

             });
        },
  	handleAddForm(form){
      this.dialogVisible1 = false;
  		this.dialogVisible1 = true;
  		if (this.$refs[form]) {
        this.$refs[form].resetFields();  
      }
      this.getOptionList();
  	},
    // 编辑
    handleEdit(row){
          console.log(row);
        if (this.$refs['editLoc']) {
          this.$refs['editLoc'].resetFields();
        } 
         this.dialogVisible2 = true;
         this.editLoc.id = row.id_;
         this.editLoc.version = row.version;
         this.editLoc.sort = row.sort;
         this.editLoc.trip_no = row.tripNo;
         },
         // 删除
    handleDelete(row) {
	     this.$confirm('确认删除')
	       .then(_ => {
	         this.$http.post('/tripTopicShare/delete', {id:row.id_,version:row.version}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);                 
	             if (res.code==200) {
                if(res.data.success){
                   this.$message('删除成功');
                    this.getList();
                }else{
                  this.$message(res.data.message);
                }  
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
         // 初始表单
         getList(){
             this.$http.post('/tripTopicShare/list', {pageNum: this.pageNum,
             pageSize: this.pageSize,topic_id:this.dataId}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                  console.log(res)
                     this.tableData = res.data.tripTopicList.records;
                     this.total = res.data.tripTopicList.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         }, 
         getOptionList(){
             this.$http.post('/tripTopicShare/topic/list',{topic_id:this.dataId}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.attrOption =[];
                     this.attrOption = res.data.tripList;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
  }
};
</script>
