<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>主题管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" ref="search">
            <el-form-item label="名称" label-width="50px">
              <el-input v-model="topic_name"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
	            <el-button type="success"  @click="handleAddForm('addLocForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加主题</el-button>
	          </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
	        <el-table-column
	                prop="topicName"
	                label="名称">
	        </el-table-column>
	        <el-table-column
	                prop="sort"
	                label="排序">
	        </el-table-column>
	        <el-table-column
    	        		prop="bannerUrl"
	                label="主题图片地址">
                  <template slot-scope="scope">
                      <el-button
                        v-if="scope.row.bannerUrl"
                              size="small"
                              type="warning"
                              @click="showPic(scope.row)">查看图片
                      </el-button>
                    <span v-else>尚未设置图片</span>
                  </template>
	        </el-table-column>
          <el-table-column
                  label="推荐玩法">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="default"
                              @click="showTest(scope.row)">推荐玩法
                      </el-button>
                  </template>
          </el-table-column>
          <el-table-column
                  prop="remark"
                  label="备注">
          </el-table-column>
	        <el-table-column
    	        		prop="status"
                  :formatter="formatterStatus"
	                label="状态">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="180">
	              <template slot-scope="scope">
	              	<el-button @click="handleEdit(scope.row)" type="primary" size="small"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
	              	<el-button @click="handleDelete(scope.row)" type="danger" size="small"><i class="fa fa-trash-o fa-lg"></i> 删除</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

     <el-dialog title="添加主题" :visible.sync="dialogVisible1" :before-close="handleClose">
       <el-form :model="addLocForm" :rules="addFormRules" ref="addLocForm" label-width="120px">
         <el-form-item label="名称" prop="topic_name">
           <el-input v-model="addLocForm.topic_name"></el-input>
         </el-form-item>


         <el-form-item label="主题图片上传" prop="banner_url">
            <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/tripTopic/getPolicy'" @change="getUploadAdd"></upload>
         </el-form-item>
         <el-form-item label="排序" prop="sort">
              <el-input type="number" v-model="addLocForm.sort"></el-input>
           </el-form-item>
         <el-form-item label="备注" prop="remark">
             <el-input type="textarea" v-model="addLocForm.remark"></el-input>
           </el-form-item>
        </el-form>
     <div slot="footer" class="dialog-footer">
       <el-button type="primary" :loading="isAdd" @click="submitForm('addLocForm')">保存</el-button>
       <el-button @click="dialogVisible1 = false">取 消</el-button>
     </div>
    </el-dialog>

	   <el-dialog title="编辑主题" :visible.sync="dialogVisible2" :before-close="handleClose">
	     <el-form :model="editForm" :rules="addFormRules" ref="editForm" label-width="120px">
            <el-form-item label="名称" prop="topic_name">
              <el-input v-model="editForm.topic_name"></el-input>
            </el-form-item>

            <el-form-item label="主题图片上传" prop="banner_url">
              <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/tripTopic/getPolicy'" @change="getUploadEdit"></upload>
            </el-form-item>
            <el-form-item label="排序" prop="sort">
                <el-input type="number" v-model="editForm.sort"></el-input>
              </el-form-item>
            <el-form-item label="备注" prop="remark">
                <el-input type="textarea" v-model="editForm.remark"></el-input>
              </el-form-item>
         </el-form>
		 <div slot="footer" class="dialog-footer">
		   <el-button type="primary" :loading="isEdit" @click="updateForm('editForm')">保存</el-button>
       <el-button @click="dialogVisible2 = false">取 消</el-button>
		 </div>
	  </el-dialog>
         <el-dialog
             title="查看banner图片"
             :visible.sync="showPicFlag"
             size="tiny"
             :before-close="closePicShow">
         <img :src="bigPic" />
         </el-dialog>
         <el-dialog
             :title="diaTitle"
             :visible.sync="showTestDia"
             size="large"
             :before-close="closeTest">
            <theLinkPlay v-if="showTestDia" :data-id="routerId"></theLinkPlay>
         </el-dialog>
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import Upload from '../Upload.vue';
import theLinkPlay from './theLinkPlay.vue';

export default {
  name: 'preference',
  components: {
      Page, Upload, theLinkPlay
  },
  data () {
    var validateSort = (rule, value, callback) => {
          setTimeout(() => {
              if (value > 2147483647) {
                callback(new Error('排序输入过大'));
              }
                else if(value < 0){
                  callback(new Error('不能为负数'));
                }
               else {
                callback();
              }
          }, 1000);
        };
    return {
      // 提交频率控制按钮
      isSearch:false,
      isAdd:false,
      isEdit:false,
      routerId:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
      navArray:[],
      picArray:[],
      bigPic:'',
      diaTitle:'',
    	//表单类
      dialogVisible1:false,
    	dialogVisible2:false,
      showPicFlag:false,
      showTestDia:false,
      addLocForm: {
           topic_name:'',
           banner_url:'',
           sort:'',
           remark:'',
         },
    	editForm: {
           id:'',
           version:'',
	         topic_name:'',
	         banner_url:'',
	         sort:'',
	         remark:'',
	       },
         // 查询条件
	        topic_name:'',
        // 规则
        addFormRules:{
    		  topic_name:[{required:true, message:'请输入主题名称',trigger:'blur'},
          {min:2, max:20, message:'长度在 2 到 20 个字符',trigger:'blur'},],
          banner_url:[{message:'请输入', trigger:'blur'},
          {max:100, message:'地址长度不超过100', trigger:'blur'}],
          sort:[{required:true,message:'请输入排序'},
          {validator: validateSort}],
          remark:[{required:true,message:'请输入主题描述',trigger:'blur'},
            {min:0,max:100, message:'长度不超过 100 个字符',trigger:'blur'},
          ]
    		}
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  computed: {
      baseHost () {
          return this.$store.state.host;
      }
  },
  methods: {
    formatterStatus(row, column){
      return row.status == 0 ?'停用':'正常'
    },
    showPic(row){
      this.showPicFlag = true;
      this.bigPic = this.baseHost + row.bannerUrl;
    },
    showTest(row){
      this.routerId = row.id_;
      this.diaTitle = row.topicName;
      this.showTestDia = true;
    },
    closePicShow(){
      this.showPicFlag = false;
    },
    closeTest(){
      this.showTestDia = false;
    },
    //上传成功回调自定义事件，一般用于返回图片URL
    getUploadAdd (val) {
        this.addLocForm.banner_url = val;
        console.log(this.addLocForm)
    },
    getUploadEdit (val) {
        this.editForm.banner_url = val;
    },
  	 handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
    // 添加主题
    submitForm(form){
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
         if (valid) {
            this.$http.post('/tripTopic/tripTopic/add',this.addLocForm).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                   this.dialogVisible1 = false;
                   this.$message('添加成功')
                   this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                    this.$message.error(res.msg);
                }
                 this.isAdd = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                 this.isAdd = false;
            });

           } else {
             this.isAdd = false;
             return false;
           }

         });
    },// 修改主题
  	updateForm(form){
      this.isEdit = true;
      this.$refs[form].validate((valid) => {
           if (valid) {
	         	this.$http.post('/tripTopic/tripTopic/update',this.editForm).then((response) => {
	         	    // 响应成功回调
	         	    const res = response.body
	         	    console.log(res);
	         	    if (res.code==200) {
                  if(res.data.success){
                    this.dialogVisible2 = false;
                     this.$message('修改成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	         	    } else {
	         	        this.$message.error(res.msg);
	         	    }
                this.isEdit = false;
	         	}, (response) => {
	         	    this.$message.error('出错了:' + response);
                this.isEdit = false;
	         	});
	         } else {
             this.isEdit = false;
	           return false;
	         }
	       });
  	},
  	handleAddForm(form){
  		this.dialogVisible1 = true;
      if (this.$refs[form]) {
            this.$refs[form].resetFields();
          }
          this.picArray = [];
    	},
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum = 1;
      this.getList();
    },
    reset(form){
     this.topic_name='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList();
    },
    // 编辑
    handleEdit(row){
    	this.dialogVisible2 = true;
      if (this.$refs['editForm']) {
          this.$refs['editForm'].resetFields();
        }
         this.editForm.id= row.id_;
         this.editForm.version= row.version;
         this.editForm.topic_name= row.topicName;
         this.editForm.sort= row.sort;
         this.editForm.remark= row.remark;
         if(row.url){
          this.editForm.banner_url= row.bannerUrl;
          this.picArray = [{name:'banner',url:this.baseHost + row.bannerUrl}]
         }else{
          this.picArray  = [];
         }

         },



         // 删除
    handleDelete(row) {

                 this.$http.post('/tripTopic/beforeDel', {topic_id:row.id_}).then((response) => {
                     // 响应成功回调
                     const res = response.body
                     console.log(res);
                     if (res.code==200) {
                      if(res.data.success){
                               this.$confirm('确认删除')
                                 .then(_ => {
                                   this.$http.post('/tripTopic/tripTopic/delete', {id:row.id_,version:row.version}).then((response) => {
                                       // 响应成功回调
                                       const res = response.body
                                       console.log(res);
                                       if (res.code==200) {
                                        if(res.data.success){
                                           this.$message('删除成功');
                                           this.getList();
                                        }else{
                                          this.$message(res.data.message);
                                        }
                                       } else {
                                           this.$message.error(res.msg);
                                       }
                                   }, (response) => {
                                       this.$message.error('出错了:' + response);
                                   });
                                 })
                                 .catch(_ => {});

                      }else{
                        this.$notify.error({
                                  title: '错误',
                                  message: res.data.message
                                });
                      }
                     } else {
                         this.$message.error(res.msg);
                     }
                 }, (response) => {
                     this.$message.error('出错了:' + response);
                 });
         },
     getPageSize (val) {
         this.pageSize = val;
         console.log(val)
     },
     getPageNum (val) {
         this.pageNum = val;
         console.log(val)
     },
     // 初始表单
     getList(){
         this.$http.post('/tripTopic/tripTopic/list', {pageNum: this.pageNum,
             pageSize: this.pageSize,topic_name:this.topic_name}).then((response) => {
             // 响应成功回调
             const res = response.body;
             console.log(res);
             if (res.code==200) {
                 this.tableData = res.data.topicList.records;
                 this.total = res.data.topicList.total;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>




