<template>
  <div>
    <h3 class="box-title">登录系统</h3>
    <el-form ref="login" :model="user" :rules="rules" v-on:submit.native.prevent="submitForm('login')" label-width="0">
      <el-form-item prop="account">
        <el-input v-model="user.account" autocomplete="off" placeholder="用户名" required></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="user.password" autocomplete="off" placeholder="密码" type="password" required></el-input>
      </el-form-item>
      <!--          <el-form-item prop="captcha">
                  <el-row>
                    <el-col :span="16">
                      <el-input v-model="user.captcha" placeholder="验证码" required></el-input>
                    </el-col>
                    <el-col :span="8">
                      <img v-on:click="getCaptcha" :src="captcha" />
                    </el-col>
                  </el-row>
                </el-form-item>-->
      <!--<el-form-item>
        <el-checkbox v-model="checked">是否保存密码</el-checkbox>
      </el-form-item>-->
      <el-form-item>
        <el-button class="full-control" :loading="loginFalg" type="primary"  native-type="submit">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  export default {
    name: 'loginform',
    data () {
      var checkSpace = (rule, value, callback) => {
        var reg =  new RegExp("\\s");  ;
        if(reg.test(value)){
          callback(new Error('请不要输入空格'));
        }else{
          callback();
        }
      };
      return {
        loginFalg:false,
        user: {
          account: '',
          password:  '',
          // captcha: ''
        },
        captcha: '',
        checked: false,
        rules: {
          account: [
            {required: true, message: '请输入登录账号', trigger: 'blur' },
            { validator: checkSpace, trigger: 'blur' }
          ],
          password: [
            {required: true, message: '密码不能为空', trigger: 'blur' },
            { validator: checkSpace, trigger: 'blur' }
          ],
          captcha: [
            {required: true, message: '请输入验证码', trigger: 'blur' }
          ],
        }
      }
    },
    created: function () {
      this.getCaptcha();
    },
    watch: {
      'checked': { //是否保存账户密码
        handler: function (val) {
          if(val){
            this.save();
          }else{
            this.clearSave();
          }
        },
        deep: true
      }
    },
    methods: {

      submitForm(formName) { //提交表单
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.login();
          } else {
            this.$message.error('请正确填写登录账户和密码');
            return false;
          }
        });
      },
      getCaptcha () {
        this.captcha ='/getCaptcha?v='+Math.random();
      },
      login: function (e) {
        this.loginFalg = true;
        var _this=this;
        console.log(_this.user);

        this.$http.post('/login',_this.user)
          .then(function (response) {
            var data = response.body;
            console.log( data.code);
            this.loginFalg = false;            
            if(data.code==200) {
              if(data.data.success == false){
                _this.$message({
                  message: data.data.message,
                  type: 'error'
                });
              }else{
                _this.$message({
                  message: '登陆成功',
                  type: 'success'
                });
                this.save('test');  //记录一个登录账户信息状态
                console.log(_this.$store);
                _this.$store.dispatch('login');
                /*这里做个判断，如果当前路由是登录页，那么跳转首页。其他页面就询问是否要刷新。
                 *其他的保持路由不跳转
                 *
                */
                if(this.$router.currentRoute.fullPath == '/login'){
                  _this.$router.replace('/index');
                }else{
                  _this.$confirm('需要刷新页面吗', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                  }).then(() => {
                    window.location.reload()
                  }).catch(() => {
                  });
                }
                console.log(_this.$store.state.isLogin)
              }
            }else{
              _this.$message({
                message: data.msg,
                type: 'error'
              });
            }
          })
          .catch(function(response) {
            console.log(response)
            this.loginFalg = false;                        
          });
      },
      save: function (token) { //记住密码
        var _this = this;
        window.sessionStorage.setItem('loginToken',token);
      },
      clearSave: function () {
        var _this = this;
        window.sessionStorage.removeItem('loginToken');
      }
    }
  }
</script>
