<template>
    <div class="container__main">
      <div class="table-list">
        <div class="breadcrumb">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/yj/product'}">易捷产品管理</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="list-todo__top">
          <div class="todo-btn">
            <el-form :inline="true" ref="search" :model="search" label-width="80px">
              <el-form-item label="产品名称" prop="productTitle">
                <el-input v-model="search.productTitle"></el-input>
              </el-form-item>
              <el-form-item label="产品状态" prop="status">
                <el-select  v-model="search.status" :clearable="true" filterable placeholder="请选择">
                  <el-option label="停用" :value="0"></el-option>
                  <el-option label="可用" :value="1"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="产品类型" prop="typeId">
                <el-select v-model="search.typeId" :clearable="true" filterable placeholder="请选择产品类型">
                  <el-option v-for="item in typeArray" :key="item.id_" :label="item.typeName" :value="item.id_"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
              </el-form-item>
              <div>
                <el-button type="success" @click="openProDialog"><i class="fa fa-plus" aria-hidden="true"></i> 添加产品</el-button>
                <el-dropdown split-button  trigger="click" type="danger">
                  批量操作
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="batchDisable">停用</el-dropdown-item>
                    <!--<el-dropdown-item>删除</el-dropdown-item>-->
                  </el-dropdown-menu>
                </el-dropdown>
                <el-button type="success" @click="addCoupon('productForm')"><i class="fa fa-plus" aria-hidden="true"></i> 添加自驾游代金券</el-button>
              </div>

            </el-form>
          </div>
        </div>
        <el-table
          max-height="600"
          row-key
          v-loading="tableLoading"
          element-loading-text="拼命加载中"
          @select="getRows"
          @select-all="getRows"
          :data="tableData"
          stripe
          style="width: 100%">
          <el-table-column
            type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="产品名称">
                  <span>{{ props.row.productTitle }}</span>
                </el-form-item>
                <el-form-item label="产品类型">
                  <span>{{ props.row.typeName }}</span>
                </el-form-item>
                <el-form-item label="状态">
                  <span v-if="props.row.status=='0'">已停用</span>
                  <span v-if="props.row.status=='1'">正常</span>
                </el-form-item>
                <el-form-item label="库存">
                  <span v-if="props.row.productCount=='-1'">无限</span>
                  <span v-else>{{ props.row.productCount }}</span>
                </el-form-item>
                <el-form-item label="退款类型">
                  <span>{{ props.row.checkBackText }}</span>
                </el-form-item>
                <el-form-item label="成人成本价">
                  <span class="price">&yen; {{ props.row.adultPrice }}</span>
                </el-form-item>
                <el-form-item label="儿童成本价">
                  <span class="price">&yen; {{ props.row.childPrice }}</span>
                </el-form-item>
                <el-form-item label="出票量">
                  <span>{{ props.row.cardCount }}</span>
                </el-form-item>
                <el-form-item label="销售量">
                  <span>{{ props.row.sellCount }}</span>
                </el-form-item>
                <el-form-item label="销售总额">
                  <span class="price">{{ props.row.sellPriceCount }}</span>
                </el-form-item>
                <el-form-item label="订单确认金额">
                  <span class="price">{{ props.row.confirmOrderPrice }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            prop="typeName"
            label="产品类型">
          </el-table-column>
          <el-table-column
            label="产品名称"
            width="240">
            <template slot-scope="scope">
              {{scope.row.productTitle}}
            </template>
          </el-table-column>
          <el-table-column
            label="库存">
            <template slot-scope="scope">
              <span v-if="scope.row.productCount=='-1'">无限</span>
              <span v-else>{{scope.row.productCount}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.status=='1'">已启用</span>
              <span v-if="scope.row.status=='0'">已禁用</span>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            label="操作"
            width="320">
            <template slot-scope="scope">

                <el-button
                  size="small"
                  type="primary"
                  :disabled="scope.row.status=='0'||scope.row.typeName==='自驾游'"
                @click="getProInfo(scope.row.id_, 0)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                </el-button>
              <el-button
                size="small"
                :plain="true"
                :disabled="scope.row.typeName==='自驾游'"
                @click="getProInfo(scope.row.id_, 1)"
                type="success">复制
              </el-button>


              <el-button
                size="small"
                :plain="true"
                :disabled="scope.row.status=='0'"
                v-if="scope.row.typeName=='自驾游'"
                @click="initCouponCard(scope.row.id_,scope.row.version, scope.row.adultPrice)">
                创建实体卡
              </el-button>


              <el-button
                v-if="scope.row.typeName&&scope.row.typeName!=='自驾游'"
                size="small"
                :plain="true"
                :disabled="scope.row.status=='0'"
                @click="getBeforeCard(scope.row.id_,scope.row.version)"
                type="success">创建实体卡
              </el-button>

<!--              <el-button
                size="small"
                type="danger"
                v-if="scope.row.productStatus=='NORMAL'"
                :disabled="true"
                @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
              </el-button>
              <el-button
                size="small"
                type="danger"
                v-if="scope.row.productStatus!='NORMAL'"
                @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
              </el-button>-->
              <el-button
                v-if="scope.row.status=='1'"
                size="small"
                type="warning"
                @click="setStatus(scope.row,1)">停用
              </el-button>
              <el-button
                v-else
                size="small"
                :disabled="true"
                @click="canDo"
                type="default">启用
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <!-- 添加产品 -->
        <el-dialog :title="isAdd? '添加产品':'编辑产品'" :close-on-click-modal="false" :before-close="closeProDialog" :visible.sync="proDialogVisible">
          <el-form :model="proForm" :rules="proRules" ref="proForm" label-width="120px">
            <el-form-item label="产品名称" prop="productTitle">
              <el-input v-model="proForm.productTitle" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="产品类型" prop="typeId">
              <el-select v-model="proForm.typeId" placeholder="请选择产品类型">
                <el-option
                  v-for="item in typeArray"
                :key="item.id_"
                :label="item.typeName"
                :value="item.id_"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="产品简介" prop="productIntro">
              <el-input type="textarea" :rows="3" v-model="proForm.productIntro"></el-input>
            </el-form-item>
            <el-form-item label="产品详情" prop="productDetail">
              <v-editor
                :content="content.productDetail"
                :path="uploadUrl"
                v-model="proForm.productDetail">
              </v-editor>
            </el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="成人单价" prop="adultPrice">
                  <el-input :maxlength="16" v-model.number="proForm.adultPrice" auto-complete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="儿童单价" prop="childPrice">
                  <el-input :maxlength="16" v-model.number="proForm.childPrice" auto-complete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="是否需要身份证" prop="isIdcard">
                  <el-radio-group v-model="proForm.isIdcard">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="使用人数" prop="useNumber">
                  <el-input-number v-model.number="proForm.useNumber" :debounce="1000" :min="1" :max="999" :step="1"></el-input-number>
                </el-form-item>
              </el-col>
            </el-row>

            <el-form-item label="产品库存">
              <el-input-number v-model="proForm.productCount" :debounce="1000" :min="-1" :max="9999" :step="1"></el-input-number>
              <span class="price">输入值为-1代表无限库存</span>
            </el-form-item>
            <el-form-item label="退单类型" prop="chargeback">
              <el-select v-model="proForm.chargeback" placeholder="请选择退单类型">
                <el-option
                  v-for="item in chargeBackArray"
                  :key="item.name"
                  :label="item.desc"
                  :value="item.name"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="退单说明" prop="chargebackIntro">
              <el-input type="textarea" :rows="3" v-model="proForm.chargebackIntro"></el-input>
            </el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="提前预约时间" prop="bookingLimitTime">
                  <el-input-number v-model="proForm.bookingLimitTime" :debounce="1000" :min="0" :max="200" :step="1"></el-input-number>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="单位：小时"></el-form-item></el-col>
            </el-row>
            <el-form-item label="预约规则" prop="bookingIntro">
              <el-input type="textarea" :rows="3" v-model="proForm.bookingIntro"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="closeProDialog">取 消</el-button>
            <el-button type="primary" :loading="addBtnFlag" @click.prevent="submitForm('proForm', 'addBtnFlag', 'addPro')">确 定</el-button>
          </div>
        </el-dialog>

        <!-- 添加实体卡 -->
        <el-dialog title="添加实体卡" :close-on-click-modal="false" :visible.sync="cardDialogVisible" :before-close="closeCardDialog">
          <el-form :model="cardForm" :rules="cardRules" ref="cardForm" label-width="120px">
            <el-form-item label="产品名称">
              <el-input v-model="product.name" :disabled="true" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="退款类型">
              <el-select v-model="product.chargeback" :disabled="true" placeholder="请选择退款类型">
                <el-option
                  v-for="item in chargeBackArray"
                  :key="item.name"
                  :label="item.desc"
                  :value="item.name"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="退单说明">
              <el-input type="textarea" :disabled="true" :rows="3" v-model="product.refuninfo"></el-input>
            </el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="提前预约时间" prop="bookingLimitTime">
                  <el-input-number v-model.number="cardForm.bookingLimitTime" :debounce="1000" :min="addCardValid.lastTime" :max="200" :step="1"></el-input-number>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label-width="0">单位：小时(<span class="price">不能少于{{addCardValid.lastTime}}小时</span>)</el-form-item>
              </el-col>
            </el-row>
            <el-form-item label="预约规则" prop="bookingIntro">
              <el-input type="textarea" :rows="3" v-model="cardForm.bookingIntro"></el-input>
            </el-form-item>

            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="开始日期" prop="productStartTime">
                  <div style="display:none;"><el-input v-model="cardForm.productStartTime" type="hidden" auto-complete="off"></el-input></div>
                  <el-date-picker
                    v-model="time1"
                    type="date"
                    :editable="false"
                    format="yyyy/MM/dd"
                    placeholder="选择开始日期"
                    @change="getBeforeTime"
                    :picker-options="pickerOptionsStart">
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="截止日期" prop="productEndTime">
                  <div style="display:none;"><el-input v-model="cardForm.productEndTime" type="hidden" auto-complete="off"></el-input></div>
                  <el-date-picker
                    v-model="time2"
                    type="date"
                    :editable="false"
                    format="yyyy/MM/dd"
                    placeholder="选择截止日期"
                    @change="getEndTime"
                    :picker-options="pickerOptionsEnd">
                  </el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>
            <el-form-item label="创建数量" prop="batchCount">
              <el-input-number v-model.number="cardForm.batchCount" :debounce="1000" :min="1" :max="addCardValid.maxCard" :step="1"></el-input-number>
              <span v-if="addCardValid.maxCard==Infinity"></span>
              <span v-else>
                <span v-if="addCardValid.maxCard > 0">
                不能超过{{addCardValid.maxCard}}张
                </span>
                <span v-if="addCardValid.maxCard <= 0">
                  库存已不足
                </span>
              </span>
            </el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="使用人数" prop="persionCount">
                  <el-input-number v-model="cardForm.persionCount" :debounce="1000" :min="1" :max="9999" :step="1"></el-input-number>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="销售价格" prop="sellPrice">
                  <el-input type="number" v-model.number="cardForm.sellPrice" auto-complete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="成人成本价">
                  <span class="price">&yen; {{addCardValid.adultPrice}}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="儿童成本价">
                  <span class="price">&yen; {{addCardValid.childPrice}}</span>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="closeCardDialog">取 消</el-button>
            <el-button v-if="addCardValid.maxCard>0" type="primary" :loading="addBtnFlag" @click="submitForm('cardForm', 'addBtnFlag', 'createCard')">确 定</el-button>
            <el-button v-else :disabled="true">库存不足</el-button>
          </div>
        </el-dialog>


<!--kws-->
<!-- 添加自驾游实体卡 -->
        <el-dialog title="添加自驾游实体卡" size="tiny"  :visible.sync="addCardDia">
          <el-form :model="addCardForm" :rules="addCardRules" ref="addCardForm" label-width="100px">
            <el-form-item label="销售价格" prop="sellPrice">
                  <el-input type="number" v-model.number="addCardForm.sellPrice" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="实体卡数量" prop="batchCount">
                  <el-input type="number" v-model.number="addCardForm.batchCount" auto-complete="off"></el-input>
            </el-form-item>
                <el-form-item label="开始日期" prop="productStartTime">
                  <div style="display:none;"><el-input v-model="addCardForm.productStartTime" type="hidden" auto-complete="off"></el-input></div>
                  <el-date-picker
                    v-model="start_time"
                    type="date"
                    :editable="false"
                    format="yyyy/MM/dd"
                    placeholder="选择开始日期"
                    @change="getStartTime"
                    :picker-options="pickerOptionsStart">
                  </el-date-picker>
                </el-form-item>
                <el-form-item label="截止日期" prop="productEndTime">
                  <div style="display:none;"><el-input v-model="addCardForm.productEndTime" type="hidden" auto-complete="off"></el-input></div>
                  <el-date-picker
                    v-model="end_time"
                    type="date"
                    :editable="false"
                    format="yyyy/MM/dd"
                    placeholder="选择截止日期"
                    @change="getEndTimeK"
                    :picker-options="pickerOptionsEnd">
                  </el-date-picker>
                </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="addCardDia = false">取 消</el-button>
            <el-button type="primary" :loading="addCouponCardFlag" @click="handleSubCouponCard('addCardForm')">确 定</el-button>
          </div>
        </el-dialog>


  <el-dialog title="添加自驾游产品代金券" size="tiny" :visible.sync="addCouponDia">
       <el-form :model="productForm" :rules="couponRules" ref="productForm"  label-width="140px">
          <el-form-item label="产品名称：">
             <el-input :disabled="true" placeholder="自驾游产品代金券"></el-input>
          </el-form-item>
           <el-form-item label="单价(每人)：" prop="couponAdultPrice">
             <el-input  v-model.number="productForm.couponAdultPrice"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addCouponDia = false">取 消</el-button>
          <el-button :loading="isAddCoupon" @click="handleAddCoupon('productForm')" type="primary">确 定</el-button>
        </div>
    </el-dialog>


      </div>
      <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
    </div>
</template>
<script>
    import Editor from '../../../components/Editor'
    import Page from '../../Page.vue';
    import api from '../../../api/product';
    import upload from '../../Upload.vue';
    import moment from 'moment'
    export default {

        data (){

          var checkPrice = (rule, value, callback) => {  //价格
            var reg = this.priceReg;
            if(reg.test(value)){
              callback();
            }else{
              callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
            }
          };

          //数字 1-11位 ，并且是正整数
          var checkNumLong = (rule, value, callback) => {  //数字 1-11位
            var reg = /^[0-9]*[1-9][0-9]*$/;
            if(reg.test(value)){
              console.log('是整数')
              if(value.toString().length>=1 && value.toString().length<=11){
                callback();
              }else{
                callback(new Error('请输入1-11位长度的整数'));
              }
            }else{
              callback(new Error('请输入正整数'));
            }
            console.log(value.toString().length);

          };
            return {
                // kws
                addCouponDia:false,
                addCardDia:false,
                isAddCoupon:false,
                addCouponCardFlag:false,
                start_time:'',
                end_time:'',
                productForm:{
                  couponAdultPrice:''
                },
               addCardForm:{
                  id:'',
                  version:'',
                  batchCount:'',
                  sellPrice:'',
                  productStartTime:'',
                  productEndTime:''
                },

              // wkq
                indexNumber:0,
                tableLoading:true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                uploadUrl: '/product/getPolicy',
                content: {
                  productDetail:''
                },
                checkTable:[],
                productJson:[],
                product: {
                  name:'',
                  chargeback:'',
                  refuninfo:'',
                },
                addCardValid: {
                  maxCard:9999,
                  lastTime:1,
                  adultPrice:'',
                  childPrice:'',


                },
                time1:'',
                time2:'',
                cardForm: {
                  id:'',
                  version:'',
                  bookingIntro:'',
                  bookingLimitTime:'',
                  batchCount:100,
                  persionCount:1,
                  sellPrice:0.01,
                  productStartTime:'',
                  productEndTime:''
                },
                time:'2017-08-18',
                proDialogVisible: false,
                cardDialogVisible: false,

              pickerOptionsStart: {
                disabledDate(time) {
                  return time.getTime() < Date.now() - 8.64e7
                }
              },

              pickerOptionsEnd: {
                disabledDate :(time) =>  {
                  return time.getTime() <= this.time1 || time.getTime() < Date.now() - 8.64e7;
                }
              },

                //下面是编辑或者新增的弹窗数据
                chargeBackArray: [],    //退单类型
                typeArray: [],    //类型
                isAdd: true,
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                proForm: {
                  typeId:'',
                  productTitle:'',
                  productIntro:'',
                  productDetail:'',
                  useNumber:'',
                  isIdcard: 0,
                  chargeback:'',
                  chargebackIntro:'',
                  bookingIntro:'',
                  bookingLimitTime:'',
                  adultPrice:'',
                  childPrice:'',
                  productCount: '-1',

                },
                search: {
                  productTitle:'',
                  typeId:'',
                  status:'',
                },
              couponRules:{
                  couponAdultPrice:[{type: 'number', required: true, message: '单价(每人)', trigger: 'change'  },
                  { validator: checkPrice }]
              },
              proRules: {
                productTitle: [
                  { required: true, message: '请输入产品名称', trigger: 'blur' },
                  { min: 1, max: 50, message: '长度在 1 到 100 个字符', trigger: 'blur' }
                ],
                typeId: [
                  { required: true, message: '请选择类型', trigger: 'change' },
                ],
                productIntro: [
                  { required: true, message: '请输入产品简介', trigger: 'blur' },
                  { min: 1, max: 300, message: '长度在 1 到 300 个字符', trigger: 'blur' }
                ],
                productDetail: [
                  { required: true, message: '请输入产品详情', trigger: 'blur' },
                ],
                useNumber:[
                  {type: 'number', required: true, message: '请输入建议人数', trigger: 'change' },
                  { validator: checkNumLong}
                ],
                isIdcard:  [
                  { type: 'number', required: true, message: '请选择身份证是否必须项', trigger: 'change' },
                ],
                chargeback:  [
                  { required: true, message: '请选择退单类型', trigger: 'change' },
                ],
                chargebackIntro: [
                  { required: true, message: '缺少退单规则说明', trigger: 'blur' },
                  { min: 1, max: 400, message: '长度在 1 到 400 个字符', trigger: 'blur' }
                ],
                bookingIntro:[
                  { required: true, message: '缺少预约规则', trigger: 'blur' },
                  { min: 1, max: 400, message: '长度在 1 到 400 个字符', trigger: 'blur' }

                ],
                bookingLimitTime: [
                  { type: 'number',required: true, message: '提前预约时间,单位(小时)', trigger: 'change' },
                  { validator: checkNumLong}
                ],
                adultPrice: [
                  { type: 'number',required: true, message: '成人成本价格', trigger: 'change' },
                  { validator: checkPrice}
                ],
                childPrice: [
                  {type: 'number', required: true, message: '儿童成本价格', trigger: 'change'  },
                  { validator: checkPrice }
                ],
                productCount: [
                  {type: 'number', required: true, message: '库存不能为空', trigger: 'change' },
                ],

              },

              cardRules: {
                id: [
                  { required: true, message: '缺少产品ID'},
                ],
                version: [
                  { required: true, message: '缺少产品版本号'},
                ],
                bookingLimitTime: [
                  { required: true, message: '缺少提前预约时间'},
                  { validator: checkNumLong}
                ],
                bookingIntro:[
                  { required: true, message: '缺少预约规则', trigger: 'blur' },
                  { min: 1, max: 400, message: '长度在 1 到 400 个字符', trigger: 'blur' }

                ],
                batchCount: [
                  {type: 'number',  required: true, message: '缺少卡数量'},
                  { validator: checkNumLong}
                ],
                sellPrice: [
                  {type: 'number', required: true, message: '缺少销售价'},
                  {validator: checkPrice}
                ],
                productStartTime: [
                  { required: true, message: '缺少开始日期' },
                ],
                productEndTime: [
                  { required: true, message: '缺少截止时间' },
                ]
              },

               addCardRules: {
                sellPrice: [
                  {type: 'number', required: true, message: '缺少销售价'},
                  {validator: checkPrice}
                ],
                batchCount: [
                  {type: 'number',  required: true, message: '缺少卡数量'},
                  { validator: checkNumLong}
                ],
                productStartTime: [
                  { required: true, message: '缺少开始日期' },
                ],
                productEndTime: [
                  { required: true, message: '缺少截止时间' },
                ]
              },



            }
        },
        created () {
            this.getList();
        },
        components: {
            Page,
            upload,
            'v-editor': Editor
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
          isAdd: {
              deep: true,
              handler: function (val, oldVal) {
                if(val){
                  try {

                    delete this.proForm.id;
                    delete this.proForm.version;
                  }catch (err){

                  }
                }
              }
          },
          checkTable: {
              deep: true,
              handler: function (val, oldVal) {
                this.productJson=[];
                for(let i = 0; i<val.length; i++){
                  this.productJson.push({"id": val[i].id_, "version": val[i].version})
                }
                console.log(this.productJson)
              }
          }
        },
          computed: {
            emailReg () {
              return this.$store.state.emailReg;
            },
            phoneReg () {
              return this.$store.state.phoneReg;
            },
            priceReg () {
              return this.$store.state.priceReg;
            }
          },
        methods: {

          getBeforeTime (val){
            this.cardForm.productStartTime = moment(val).format('YYYY/MM/DD')
            console.log(val)
            console.log(this.cardForm)
          },

          getEndTime (val){
            this.cardForm.productEndTime = moment(val).format('YYYY/MM/DD')
            console.log(val)
            console.log(this.cardForm)
          },

          createCard (){

            this.$confirm('创建之后将不能再次修改, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {

              this.addBtnFlag = true;
              console.log(this.cardForm)

              this.$http.post('/yjProduct/addCard', this.cardForm).then((response) => {
                // 响应成功回调
                const res = response.body;
                console.log(res);
                if (res.code==200) {
                  if(res.data.success){
                    this.closeCardDialog();
                    this.$message({
                      message: '创建成功',
                      type: 'success'
                    });
                  }else{
                    this.$message({
                      message: res.data.message,
                      type: 'error'
                    });

                  }
                } else {
                  this.$message.error(res.msg);
                }
                this.addBtnFlag = false;
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
                this.addBtnFlag = false;
              });
            }).catch(() => {
              this.addBtnFlag = false;
              this.$message({
                type: 'info',
                message: '已取消创建',
              });
            });


          },

          getBeforeCard (id,v){
            this.$http.post('/yjProduct/addCardInfo', {productId: id,version: v}).then((response) => {
              // 响应成功回调
              const res = response.body;
              console.log(res);
              if (res.code==200) {
                  this.product.name = res.data.productTitle
                  this.product.chargeback = res.data.chargeback
                  this.product.refuninfo = res.data.chargebackIntro;

                  this.addCardValid.lastTime = res.data.bookingLimitTime
                  this.addCardValid.maxCard = res.data.productCount;
                this.cardForm.batchCount = res.data.productCount;
                  if(res.data.productCount=='-1'){
                    this.addCardValid.maxCard=Infinity;
                    this.cardForm.batchCount = 100;
                  }

                  this.addCardValid.adultPrice = res.data.adultPrice
                  this.addCardValid.childPrice = res.data.childPrice

                  this.cardForm.id = res.data.id_;
                  this.cardForm.version = res.data.version;
                  this.cardForm.bookingLimitTime = res.data.bookingLimitTime;
                  this.cardFormpersionCount = res.data.persionCount;
                  this.cardForm.sellPrice = res.data.adultPrice
                this.cardForm.bookingIntro = res.data.bookingIntro;


        /*          id:'',
                  version:'',
                  bookingIntro:'',
                  bookingLimitTime:'',
                  batchCount:100,
                  persionCount:2,
                  sellPrice:0.01,
                  productStartTime:'',
                  productEndTime:''*/


                  this.openCardDialog();
              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });

          },

          getRows (selection, row){
            this.checkTable = selection;
          },

          batchDisable (){

            if(this.productJson.length>0){


              this.$confirm('确定将勾选的产品批量停用吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {

                this.$http.post('/yjProduct/batchDisable', {productJson: JSON.stringify(this.productJson)}).then((response) => {
                  // 响应成功回调
                  const res = response.body;
                  console.log(res);
                  if (res.code==200) {
                    if(res.data.success){
                      this.$message(res.msg);
                      this.getList();
                      this.productJson =[]

                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                    this.$message.error(res.msg);
                  }
                }, (response) => {
                  // 响应错误回调
                  this.$message('出错了:' + response);
                });
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消操作'
                });
              });

            }else{
              this.$message.error('请先选择产品');
            }

          },

          setStatus (row, state) {  //启用或者禁用
            let url =''
            if(state==1){
              url = '/yjProduct/disable'
            }else{
              url = '/yjProduct/disable'
            }

            this.$confirm('确定进行此操作吗', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {

              this.$http.post(url, {id:row.id_, version: row.version}).then((response) => {
                // 响应成功回调
                const res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$message(res.msg);
                    this.getList();

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              });
            });
          },

          canDo (){
            this.$message('不可启用，只能通过复制重新生产');
          },


            showDate (row) {
                this.showDateFlag = true;
                this.showPrice.limitPrice = row.limitPrice;
                this.showPrice.retailPrice = row.retailPrice;
                this.showPrice.purChildPrice = row.purChildPrice;
                this.showPrice.purAdultPrice =  row.purAdultPrice;
                this.showPrice.adultPrice =  row.adultPrice;
                this.showPrice.childPrice =  row.childPrice;
            },
            closeDateShow () {
                this.showDateFlag = false;
            },





          copyPro (row) {

          },


          getProInfo (id,isCopy) {
            var _id=id || '';

            if(isCopy==1){

              this.$confirm('确定复制当前产品吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {

                this.$http.post('/yjProduct/productInfo', {productId: _id, isCopy: isCopy}).then((response) => {
                  // 响应成功回调
                  const res = response.body;
                  if (res.code==200) {
                    if(res.data){
                      if(isCopy==1){  //复制，打开添加窗口 将值赋值到formPro
                        this.isAdd = true;
                        this.proForm.typeId = res.data.strTypeId;
                        this.proForm.productTitle=res.data.productTitle;
                        this.proForm.productIntro=res.data.productIntro;
                        this.proForm.productDetail=res.data.productDetail;
                        let _this= this;
                        setTimeout(function () {
                          console.log(111);
                          _this.$set(_this.content,'productDetail',res.data.productDetail);
                        },0)
                        this.proForm.useNumber=res.data.persionCount;
                        this.proForm.isIdcard= res.data.isIdcard;
                        this.proForm.chargeback=res.data.chargeback;
                        this.proForm.chargebackIntro=res.data.chargebackIntro;
                        this.proForm.bookingIntro=res.data.bookingIntro;
                        this.proForm.bookingLimitTime=res.data.bookingLimitTime;
                        this.proForm.adultPrice=res.data.adultPrice;
                        this.proForm.childPrice=res.data.childPrice;
                        this.proForm.productCount= res.data.productCount;

                        this.proDialogVisible = true;
                      }
                    }else{
                      // this.$message(res.data.message);
                    }
                  } else {
                    //this.$message.error(res.msg);
                  }
                }, (response) => {
                  // 响应错误回调
                  this.$message('出错了:' + response);
                });
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消复制'
                });
              });


            }else{

              this.$http.post('/yjProduct/productInfo', {productId: _id, isCopy: isCopy}).then((response) => {
                // 响应成功回调
                const res = response.body;
                if (res.code==200) {
                  if(res.data){
                      this.isAdd = false;
                      this.proForm.typeId = res.data.strTypeId;
                      this.proForm.productTitle=res.data.productTitle;
                      this.proForm.productIntro=res.data.productIntro;
                      this.proForm.productDetail=res.data.productDetail;
                   放
                      this.proForm.useNumber=res.data.persionCount;
                      this.proForm.isIdcard= res.data.isIdcard;
                      this.proForm.chargeback=res.data.chargeback;
                      this.proForm.chargebackIntro=res.data.chargebackIntro;
                      this.proForm.bookingIntro=res.data.bookingIntro;
                      this.proForm.bookingLimitTime=res.data.bookingLimitTime;
                      this.proForm.adultPrice=res.data.adultPrice;
                      this.proForm.childPrice=res.data.childPrice;
                      this.proForm.productCount= res.data.productCount;
                    console.log(this.content.productDetail)
                      //版本号+id
                      this.$set(this.proForm,'id',res.data.id_);
                      this.$set(this.proForm,'version',res.data.version);
                    this.proDialogVisible = true;

                  }else{
                    // this.$message(res.data.message);
                  }
                } else {
                  //this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });

            }

          },



          addPro () {
            this.addBtnFlag = true;
            let url='';
            if(this.isAdd){
              url = '/yjProduct/add'
            }else{
              url = '/yjProduct/update'
            }
                this.$http.post(url, this.proForm).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeProDialog();
                            this.getList();



                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                  this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                  this.addBtnFlag = false;
                });
            },



            deleteItem (row){ //删除


              this.$http.post('/product/deleteInfo', {productStatus:row.productStatus, productNo: row.productNo}).then((response) => {
                // 响应成功回调
                let res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$confirm(res.data.message, '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                      this.$http.post('/product/delete', {id:row.id_, version: row.version, productNo: row.productNo}).then((response) => {
                        // 响应成功回调
                        let res = response.body;
                        if (res.code==200) {
                          if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                          }else{
                            this.$message(res.data.message);
                          }
                        } else {
                          this.$message.error(res.msg);
                        }
                      }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                      });
                    })

                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            },

            openProDialog (){
                this.proDialogVisible = true;
            },
            closeProDialog (done){  //关闭新增表单弹窗
                  this.proDialogVisible = false;
                  this.proForm.typeId =''
                  this.proForm.typeId=''
                  this.proForm.productTitle=''
                  this.proForm.productIntro=''
                  //this.proForm.productDetail=''
                  this.proForm.useNumber=''
                  this.proForm.isIdcard= 0
                  this.proForm.chargeback=''
                  this.proForm.chargebackIntro=''
                  this.proForm.bookingIntro=''
                  this.proForm.bookingLimitTime=''
                  this.proForm.adultPrice=''
                  this.proForm.childPrice=''
                  this.proForm.productCount ='-1'
                //this.resetForm('proForm');
                console.log(this.proForm)
                this.addBtnFlag = false;
                this.isAdd = true;
            },

          openCardDialog (){
            this.cardDialogVisible = true;
          },
          closeCardDialog (done){  //关闭新增表单弹窗
                this.time1=''
                this.time2=''
                this.cardForm.id = ''
                this.cardForm.version = ''
                this.cardForm.bookingIntro = ''
                this.cardForm.bookingLimitTime = ''
                this.cardForm.batchCount = 100
                this.cardForm.persionCount = 1
                this.cardForm.sellPrice = 0.01
                this.cardForm.productStartTime = ''
                this.cardForm.productEndTime =''
              //this.resetForm('cardForm');
              this.addBtnFlag = false;
              this.cardDialogVisible = false;
              console.log(this.cardDialogVisible)
          },



            closeEditDialog (done){ //关闭编辑表单弹窗

                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openEdit (row) {
                this.editDialog = true;
                //将属性赋值到编辑数据对象
                console.log(row)
                for(var x in this.edit){
                    //console.log(x)
                    var data = this.edit;
                    for(var y in row){
                        if(x==y){
                            data[x]=row[y]
                        }
                    }
                }

            },
            closeDialog (done) {
                this.editFlag = false;
                this.updateBtnFlag = false;
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },


          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            getList () {  //获取分页
              this.tableLoading = true;
              this.$http.post('/yjProduct/read/list', {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                productTitle: this.search.productTitle,
                typeId: this.search.typeId,
                status: this.search.status,
              }).then((response) => {
                    const res = response.body;
                this.chargeBackArray = res.data.chargebackType;
                this.typeArray = res.data.productType;
                    if (res.code == 200) {
                      for(let i = 0; i< res.data.page.records.length; i++){
                        var _check = res.data.page.records[i].chargeback;
                        for(let k = 0; k<this.chargeBackArray.length; k++){
                          if(_check = this.chargeBackArray[k].name){
                            res.data.page.records[i].checkBackText = this.chargeBackArray[k].desc;
                            break;
                          }
                        }
                      }
                        this.tableData = res.data.page.records;
                        this.total = res.data.page.total;
                    } else {
                      if(res){
                        this.$message.error(res.data.message);
                      }
                    }
                    this.tableLoading = false;
                });
            },
            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            },

            // wks
            addCoupon(form){
                  if (this.$refs[form]) {
                    this.$refs[form].resetFields();
                   }
                this.addCouponDia = true;
            },

            handleAddCoupon(form){
               this.isAddCoupon = true;
      this.$refs[form].validate((valid) => {
            if (valid) {
             this.$http.post('/yjProduct/addTicket',{adultPrice:this.productForm.couponAdultPrice}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                   if(res.data.success){
                      this.diaProduct = false;
                      this.$message('操作成功');
                      this.addCouponDia=false;
                      this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                 } else {
                    this.$message.error(res.msg);
                 }
                 this.isAddCoupon = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isAddCoupon = false;
             });

             } else {
              this.isAddCoupon = false;
               return false;
             }

           });
            },

               initCouponCard(id, version, price){
                if (this.$refs['addCardForm']) {
                  this.$refs['addCardForm'].resetFields();
                  }
                this.addCardForm.id=id;
                this.addCardForm.version=version;
                this.addCardForm.sellPrice = price;
                this.start_time='';
                this.end_time='';
                this.addCardDia=true;
              },

            getStartTime(val){
            this.addCardForm.productStartTime = moment(val).format('YYYY/MM/DD')
          },

          getEndTimeK(val){
            this.addCardForm.productEndTime = moment(val).format('YYYY/MM/DD')

          },
          handleSubCouponCard(){

          this.$refs['addCardForm'].validate((valid) => {
            this.addCouponCardFlag = true;
            if (valid) {
             this.$http.post('/yjProduct/addTravelCard',this.addCardForm).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                   if(res.data.success){
                      this.addCardDia = false;
                      this.addCardForm.id='';
                      this.addCardForm.version='';
                      this.$message('操作成功');
                      this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                 } else {
                    this.$message.error(res.msg);
                 }
                 this.addCouponCardFlag = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.addCouponCardFlag = false;
             });

             } else {
              this.addCouponCardFlag = false;
               return false;
             }

           });
          }

        }
    }
</script>
