<template>
  <router-view></router-view>
</template>
<script>
  export default {

    data (){
      return{

      }
    },
    created () {
    },
    components: {
    },
    watch: {
    },
    computed: {
    },
    methods: {

    }
  }
</script>
