<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sys/role'}">角色管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="90px">
                    <el-form-item label="角色名称" prop="roleName">
                        <el-input v-model="search.roleName"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                        <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                    </el-form-item>

                    <el-button v-on:click="addDialog=true" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加角色</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="roleName"
                    label="角色名称">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label="修改时间">
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    width="350">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="success"
                            @click="openMenuDialog(scope.row.id_)">分配菜单
                    </el-button>
                    <el-button
                            size="small"
                            type="warning"
                            @click="openPermissionDialog(scope.row.id_)">分配权限
                    </el-button>
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEdit( scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteRole(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>
        <!-- 分配菜单 -->
        <el-dialog title="分配菜单" :visible.sync="dialogMenuVisible" :before-close="closeMenuDialog">
            <el-tree
                    :data="menus"
                    show-checkbox
                    default-expand-all
                    node-key="id"
                    ref="menu"
                    highlight-current
                    :default-checked-keys="menuList"
                    :props="defaultProps">
            </el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="menuBtnFlag"  @click="updateMenu">确 定</el-button>
                <el-button @click="closeMenuDialog">取 消</el-button>
            </div>
        </el-dialog>

        <!-- 分配权限 -->
        <el-dialog title="分配权限" :center="true" :lock-scroll="true" :visible.sync="perDialogVisible" :before-close="closePermissionDialog">
            <el-tree
                    :data="permission"
                    show-checkbox
                    default-expand-all
                    node-key="id"
                    ref="permission"
                    highlight-current
                    :default-checked-keys="checkedPermission"
                    :props="defaultProps">
            </el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="roleBtnFlag"  @click="updatePermission">确 定</el-button>
                <el-button @click="closePermissionDialog">取 消</el-button>
            </div>
        </el-dialog>
        <!-- 修改 -->

        <el-dialog title="修改角色" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">

            <div class="dd-form">
                <el-form ref="edit" :model="edit" label-width="120px">
                    <el-input type="hidden" v-model="edit.id"></el-input>
                    <el-input type="hidden" v-model="edit.version"></el-input>
                    <el-form-item label="角色名称" prop="roleName">
                        <el-input v-model="edit.roleName"></el-input>
                    </el-form-item>
                    <el-form-item label="备注"  prop="remark">
                        <el-input v-model="edit.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div> <div slot="footer" class="dialog-footer">
            <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'updateRole')">确 定</el-button>
            <el-button @click="closeEditDialog">取 消</el-button>
        </div>
        </el-dialog>

        <!-- 添加角色 -->
        <el-dialog title="添加角色" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :rules="rules" :model="add" label-width="100px">
                <el-form-item label="角色名称" prop="roleName">
                    <el-input v-model="add.roleName"></el-input>
                </el-form-item>
                <el-form-item label="备注"  prop="remark">
                    <el-input v-model="add.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add', 'addBtnFlag', 'addRole')">确 定</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import roleApi from '../../api/role';
    export default {
        data (){
          var dose = function(rule, value, callback) {
            if(value == '') {
              callback(new Error('请输入剂量'));
            } else if(value < 0.01) {
              callback(new Error('请输入最小为0.01的值'));
            } else {
              callback()
            }
          }
            var checkSpace = (rule, value, callback) => {
                if(this.spaceReg.test(value)){
                    return callback(new Error('请不要输入空格'));
                }else{
                    callback();
                }
            };
            return {
                tableLoading: true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                editDialog: false,
                dialogMenuVisible: false,
                perDialogVisible: false,
                menus: [],
                menuList:[],
                checkedPermission: [],
                permission: [],
                roleId: '',
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                menuBtnFlag: false,
                roleBtnFlag: false,
                defaultProps: {
                    children: 'childs',
                    label: 'label'
                },
                add: {
                    roleName:'',
                    remark: ''
                },
                edit:{
                    roleName:'',
                    remark: '',
                    version:'',
                    id:''
                },
                search: {
                    roleName: '',
                },
                del: {
                    version:'',
                    id:''
                },
                addDialog: false,
                searchRules: {
                  /*  roleName: [
                        { min: 2, max: 16, message: '长度在 2 到 16 个字符', trigger: 'blur' }
                    ],*/
                },
                rules: {
                    roleName: [
                        { required: true, min: 2, max: 20, message: '长度在 2 到 20 个字符',  trigger: 'blur' },
                        { validator: checkSpace}
                    ],
                    remark: [
                        { min: 0, max: 100, message: '长度在 0 到 100 个字符', trigger: 'blur' }
                    ],
                }
            }
        },
        created () {
            this.getList();
        },
        components: {
            Page
        },
        filters: {
            menuShow: function (value) {
                return value == true ? '已启用' : '已禁用'
            }
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
        },
        computed: {
            spaceReg () {
                return this.$store.state.spaceReg;
            }
        },
        methods: {

            getCheckStatus (item,obj){
                console.log(item)
                console.log(obj)
            },

            getChange (a,b,c){
                if(b){
                    this.menuList.push(a.id)
                }else{
                    for(var i=0; i<this.menuList.length; i++) {
                        if(this.menuList[i] == val) {
                        this.menuList.splice(i, 1);
                        break;
                        }
                    }
                }
                console.log(a)
                console.log(b)
                console.log(c)
            },

          checkFather (data, checked, indeterminate) {
            console.log(data, checked, indeterminate);
            if (checked) {
              this.$refs.menu.setChecked(data.pid,true,false)
            }
          },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.search.roleName = '';
                this.pageNum = 1;
                this.getList();
            },

            openMenuDialog (val) {
                this.dialogMenuVisible = true;
                this.getMuneSelect(val);
                this.roleId = val;
            },
            closeMenuDialog (done){
                this.dialogMenuVisible = false;
                this.menus=[];
                this.menuBtnFlag = false
            },

            removeFatherId (checkarr,arr){  //如果checkarr存在父子id，剔除父id，保留最终子id
                for(let i=0; i<arr.length; i++){
                    
                    try{
                        if(arr[i].childs.length>0){         
                            for(let j=0; j<arr[i].childs.length; j++){
                                                            
                                    for(let o = 0; o<checkarr.length; o++){
                                        
                                        console.log(checkarr[o]+'~~~~~~~'+arr[i].childs[j].id)
                                        if(checkarr[o]==arr[i].id){ 
                                            for(let k=0; k<checkarr.length; k++){

                                                if(checkarr[k]==arr[i].childs[j].id){ //存在子项id，下面要删除父id
                                                    checkarr.splice(o,1,'')
                                                    console.log(checkarr)
                                                }
                                                
                                            try{
                                                if(arr[i].childs[j].childs.length>0){
                                                    console.log('多级')
                                                    removeFatherId(checkarr,arr)
                                                }

                                            }catch(e){

                                            }
                                            }
                                        }
                                    }
                                    }
                        }
                    }catch(err){

                    }
                }


                // for(let i =0; i<checkarr.length; i++){
                //     for(let k =0; k<arr.length; k++){
                //         if(checkarr[i]==arr[k].id){
                //             try{
                //                 if(arr[k].childs.length>0){
                //                     let childsIdArr = arr[k].childs;
                //                     for(let j =0; j<childsIdArr.length; j++){
                                        
                //                     }
                //                 }

                //             }catch(err){
                //                 console.log('没有子项了')
                //             }

                //         }
                //     }
                // }

            },

            getMuneSelect (val) {  //根据角色id编码进行查询菜单
                this.menus = [];
                this.menuList = [];
                this.$http.post('/role/read/menu', {id: val}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                            let data = res.data;
                            this.menus = data.menu;
                            this.menuList = data.checkedList;

                            this.removeFatherId(this.menuList,this.menus)

                        this.$refs.menu.setCheckedKeys(this.menuList)

                    } else {
                        console.log(res);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },
            updateMenu () {
                this.menuList = [];
                this.menuBtnFlag = true;
                //let naiveMenuId =  this.$refs.menu.getCheckedKeys();
                this.menuList = this.$refs.menu.getCheckedKeys().concat(this.$refs.menu.getHalfCheckedKeys());
                console.log(this.menuList)
                console.log(this.$refs.menu.data)

              /* let node = this.$refs.menu.data;
              let ok = false
              let result // 包含你说的那个子节点的父节点
              while (!ok) {
                let item = node.shift()
                if (item.id == id) {
                  result = item
                  ok = true
                } else if (item.children && item.children.length > 0) {
                  node = node.concat(item.children)
                }
              } */

                this.$http.post('/role/update/roleMenu', {roleId: this.roleId,menuList: this.menuList}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeMenuDialog()
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.menuBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message.error('出错了:' + response);
                    this.menuBtnFlag = false;
                });
            },

            openPermissionDialog (val) {//打开权限分配的弹窗
                this.perDialogVisible = true;
                this.getPermission(val);
                this.roleId = val;
            },
            closePermissionDialog (done){  //关闭权限分配的弹窗
                this.perDialogVisible = false;
                this.permission = [];
                this.roleBtnFlag = false;
            },

            getPermission (val) {  //根据角色id编码进行查询权限
                this.$http.post('/role/read/permission', {id: val}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        let data = res.data;
                        this.permission = data.permission;
                        //this.checkedPermission = data.checkedList;
                        this.$refs.permission.setCheckedKeys(data.checkedList)

                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message.error('出错了:' + response);
                });
            },
            updatePermission () {  //编辑权限
                this.menuList = [];
                this.roleBtnFlag = true;
                this.menuList = this.$refs.permission.getCheckedKeys()//.concat(this.$refs.permission.getHalfCheckedKeys());
                this.$http.post('/role/update/rolePermission', {roleId: this.roleId,permissionList: this.menuList}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closePermissionDialog();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }

                    this.roleBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message.error('出错了:' + response);
                    this.roleBtnFlag = false;
                });
            },


          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            closeAddDialog (done){  //关闭新增角色表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.addBtnFlag = false;
            },

            closeEditDialog (done){ //关闭编辑角色表单弹窗
                this.editDialog = false;
                this.updateBtnFlag = false;
            },

            addRole () {  //添加角色

                this.addBtnFlag = true;
                this.$http.post('/role/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            updateRole () {  //编辑角色
                this.updateBtnFlag = true;
                this.$http.post('/role/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });
            },


            deleteRole (row){ //删除角色
                this.$confirm('此操作将永久删除当前角色, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/role/delete', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });
                })
            },
            openEdit (row) {  //打开编辑角色表单弹窗
                console.log(row)
                this.edit.version = row.version;
                this.edit.id = row.id_;
                this.edit.roleName = row.roleName;
                this.edit.remark = row.remark;
                this.editDialog = true;
            },

            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },
            getList () {  //获取分页
              this.tableLoading = true;
                roleApi.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    roleName: this.search.roleName
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                  this.tableLoading = false;

                });
            }
        },
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        }
    }
</script>
