<template>
  <div class="container__main">
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/goddessActivity/read/list'}">3.8女神活动管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="list-todo__top">
        <div class="todo-btn">
          <el-form :inline="true" ref="search" :model="search" label-width="90px">
            <el-form-item label="联系电话" prop="phone">
              <el-input v-model="search.phone"></el-input>
            </el-form-item>
            <el-form-item label="银行账号" prop="bank">
              <el-input v-model="search.bank"></el-input>
            </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
              </el-form-item>

          </el-form>
        </div>
      </div>
      <el-table
        max-height="600"
        row-key
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          prop="contact"
          label="联系人">
        </el-table-column>
        <el-table-column
          prop="phone"
          width="150"
          label="手机号码">
        </el-table-column>
        <el-table-column
          prop="bank"
          width="200"
          label="银行账号">
        </el-table-column>
        <el-table-column
          label="查看凭证">
          <template slot-scope="scope">
              <el-button
                    size="small"
                    type="warning"
                    @click="showPic(scope.row)">查看
            </el-button>

          </template>          
        </el-table-column>
        <el-table-column
           prop="status"
          :formatter="formatStatus"
          label="状态">
        </el-table-column>
        <el-table-column
          prop="createTime"
          label="创建时间">
        </el-table-column>
        <el-table-column
          prop="remark"
          label="备注">
        </el-table-column>
        <el-table-column
          label="操作"
          fixed="right"
          width="80">
          <template slot-scope="scope">
              <el-button
                v-if="scope.row.status==-1"
                size="small"
                @click="openSetStatus(scope.row)"
                type="primary">发放
              </el-button>
          </template>
        </el-table-column>

      </el-table>
    </div>
    <page class="pagination__bar" :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
    
    <el-dialog title="更新发放状态" :visible.sync="statusDialog" :before-close="closeSetStatus">
        手机号码:{{updataData.phone}}
        <el-form :model="updataData">
            <el-form-item label="发放状态:" label-width="80px" prop="status">
             <el-radio-group v-model="updataData.status">
                <el-radio :label="1">已发放</el-radio>
                <el-radio :label="-1">未发放</el-radio>
                <el-radio :label="0">发放失败</el-radio>
            </el-radio-group>
            </el-form-item>
            <el-form-item label="备注:" v-if="updataData.status==0" label-width="80px" prop="remark">
             <el-input type="textarea" v-model="updataData.remark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeSetStatus">取 消</el-button>
            <el-button type="primary" @click="updateStatue">确 定</el-button>
        </div>
    </el-dialog>



        <el-dialog
                title="查看凭证"
                :visible.sync="showPicFlag"
                size="tiny"
                :before-close="closePicShow">
            <img :src="bigPic" />
        </el-dialog>

  </div>
</template>
<script>
  import Page from '../../Page.vue';
  import moment from 'moment'
  export default {

    data (){

      return {
          showPicFlag:false,
          bigPic:'',
          statusDialog:false,
          updataData:{
             id:'',
            status:-1,
            remark:'',
            phone:''
          },
        exportLoad:false,
        fileList: [],
        purStatusArray:[],
        payStatusArray:[],

        indexNumber:0,
        tableLoading:true,
        tableData: [],
        remarkData:[],
        batchData:[],
        ticketData:[],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name,
        uploadUrl: '/product/getPolicy',
        content: {
          productDetail:''
        },
        checkTable:[],
        productJson:[],
        repealObj:[],
        ticketObj:[],
        cardObj:[],
        product: {
          name:'',
          chargeback:'',
          refuninfo:'',
        },
        proDialogVisible: false,
        batchDataVisible: false,
        ticketVisible:false,
        pickerOptionsStart: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },

        pickerOptionsEnd: {
          disabledDate :(time) =>  {
            return time.getTime() < this.cardForm.productStartTime || time.getTime() < Date.now() - 8.64e7;;
          }
        },

        //下面是编辑或者新增的弹窗数据
        orderStatusArray: [],  //订单状态数组
        typeArray: [],    //定制游类型
        isAdd: true,
        addBtnFlag: false,
        updateBtnFlag: false,
        searchBtnFlag: false,
        remark: {
          oprtResume:'',
          orderId:'',
        },
        search: {
          phone:'',
          bank:'',
        },



      }
    },
    created () {
      this.getList();
    },
    components: {
      Page,
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
    },
    computed: {
        baseHost () {
              return this.$store.state.host;
          }
    },
    methods: {

        showPic (row) {
                this.showPicFlag = true;
                this.bigPic = this.baseHost+row.img;
            },
            closePicShow () {
                this.showPicFlag = false;
                this.bigPic = '';
            },

        openSetStatus (row){
            this.statusDialog = true;
            this.updataData.id=row.id_;
            this.updataData.status=row.status;
            this.updataData.remark=row.remark;
            this.updataData.phone=row.phone;
        },

        closeSetStatus (){
            this.statusDialog = false;
            this.updataData.id='';
            this.updataData.status='';
            this.updataData.remark='';
            this.updataData.phone='';

        },

      updateStatue(row){
          var postData =null;
          if(this.updataData.status==0){
              postData = {
                id: this.updataData.id,
                status: this.updataData.status,
                remark: this.updataData.remark,
              }
          }else{
              postData = {
                id: this.updataData.id,
                status: this.updataData.status,
              }
          }

        this.$http.post('/goddessActivity/updateStatus', postData).then((response) => {
          let res = response.body;
          if(res.code==200){
              this.closeSetStatus()
            this.getList();
            this.$message(res.data.message)
          }else{

            this.$message(res.msg);
          }

        }, (response) => {
          // 响应错误回调
          this.tableLoading = false;

          this.$message('出错了:' + response);
        });
      },

      formatStatus(row, column){
        if(row.status==-1){
            return '未发放'
        }else if(row.status==1){
            return '已发放'
        }else{
            return '发放失败'            
        }
      },

      formatPay(row, column){
        for(let item of this.payStatusArray){
          if(item.name === row.payStatus){
            return item.desc
          }
        }
      },

      handleSuccess(res, file, fileList){
        if (res.code==200) {
          if(res.data.success){

          }else{
            this.$message(res.data.message);

          }
        } else {
          this.$message.error(res.msg);

        }
      },
      handleFail(err, file, fileList){
      },
      changePageNum(curPage){
        this.pageNum = curPage;
      },
      submitUpload() {
        this.$refs.upload.submit();
      },



      setStatus (row, state) {  //启用或者禁用
        let url =''
        if(state==1){
          url = '/yjProduct/disable'
        }else{
          url = '/yjProduct/disable'
        }


        this.$http.post(url, {id:row.id_, version: row.version}).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){
              this.$message(res.msg);
              this.getList();

            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },




      searchList (formName) {  //搜索
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.pageNum = 1;
            this.getList();
          } else {
            this.$message.error('请根据提示选择筛选条件');
            return false;
          }
        });
      },

      reset () {  //查询reset
        var self = this;
        self.searchBtnFlag = true;
        setTimeout(function () {
          self.searchBtnFlag = false;
        },1500);
        this.resetForm('search');
        this.pageNum = 1;
        this.getList();
      },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },
      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },

      getList () {  //获取分页
        this.tableLoading = true;
        this.$http.post('/goddessActivity/read/list', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          phone: this.search.phone,
          bank: this.search.bank,
        }).then((response) => {
          const res = response.body;
          /* this.purStatusArray = res.data.purStatusList;
          this.payStatusArray = res.data.payStatusList; */
          if (res.code == 200) {
            this.tableData = res.data.records;
            this.total = res.data.total;
          } else {
            if(res){
              this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
            }
          }
          this.tableLoading = false;
        });
      },
      beforeRouteUpdate (to, from, next) {
        var pageCur = to.params.pageNum;
        console.log(pageCur);
        this.pageNum = pageCur;
        next();
        // 在当前路由改变，但是改组件被复用时调用
        // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
        // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
        // 可以访问组件实例 `this`
      }
    }
  }
</script>
<style>
  .batch-box{
    padding:5px;
    margin:5px;
    border: 1px dashed #ddd;
    color: #fff;
    background: #FF4949;
  }
</style>
