<template>
  <div id="app" v-cloak>
    <!-- 路由匹配到的组件将渲染在这里 -->
    <transition name="fade">
      <router-view></router-view>
    </transition>
    <div class="help">
      <loading></loading>
    </div>
  </div>
</template>

<script>

  import loading from './components/loading.vue'
  export default {
    name: 'app',
    components: {
      loading
    }
  }
</script>


<style lang="scss" rel="stylesheet/scss">
  @import "assets/sass/common";
</style>
