<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>组队管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
	        <el-form :inline="true" :model="queryStr" ref="search">
            <el-form-item label="队伍名称：" prop="groupTitle" label-width="90px">
              <el-input v-model="queryStr.groupTitle"></el-input>
            </el-form-item>
            <el-form-item label="队伍状态：" prop="status">
              <el-select v-model="queryStr.status">
                <el-option
                v-for="item in statusOption"
                :value="item.name"
                :key="item.name"
                :label="item.desc">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="是否推荐：" prop="recommend">
              <el-select v-model="queryStr.recommend" placeholder="全部">
                 <el-option label="是" value="1"></el-option>
                 <el-option label="否" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
              <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
            </el-form-item>
	        </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
	        <el-table-column
	                prop="teamTitle"
	                width="168"
	                label="队伍名称">
	        </el-table-column>
	        <el-table-column
	                prop="orgName"
	                label="发起人">
	        </el-table-column>
	        <el-table-column
	                prop="playersNum"
	                label="队员数量">
	        </el-table-column>
	        <el-table-column
	                label="组队封面">
                  <template slot-scope="scope">
                      <el-button
                              size="small"
                              type="warning"
                              @click="showPic(scope.row)">查看图片
                      </el-button>
                  </template>
	        </el-table-column>
	        <el-table-column
	                prop="playTime"
	                width="188"
	                label="出发时间">
	        </el-table-column>
	        <el-table-column
	                prop="teamInfo"
	                label="队伍信息">
							     <template slot-scope="scope">
                     <el-button type="text" @click="openTipRoute(scope.row)">详情</el-button>
                   </template>
	        </el-table-column>
          <el-table-column
                  prop="recommend"
                    :formatter="formatterRec"
                  label="是否被推荐">
          </el-table-column>
          <el-table-column
                  prop="recSort"
                  label="排序">
          </el-table-column>
	        <el-table-column
	                prop="teamStatus"
                  	:formatter="formatterStatus"
	                label="队伍状态">
	        </el-table-column>
	        <el-table-column
	              fixed="right"
	              label="操作"
	              width="320">
	              <template slot-scope="scope">
                  <el-button :disabled="!(scope.row.teamStatus=='WAIT_CONFIRM'||scope.row.teamStatus=='CANCEL')" @click="handleCheck(scope.row)" type="success" size="small">审核</el-button>
                  <!-- 启用和停用的状态issue -->
                  <el-button v-if="scope.row.teamStatus=='WAITING'" @click="handleDisable(scope.row)" type="danger" size="small">停用</el-button>
                  <el-button v-if="scope.row.teamStatus=='BAN'" @click="handleStart(scope.row)" type="danger" size="small">启用</el-button>


                  <el-button v-if="!(scope.row.teamStatus=='END'&&scope.row.recommend=='1')" :disabled="scope.row.teamStatus!=='WAITING'||scope.row.recommend=='0'" @click="handleCancel(scope.row)" type="primary" size="small">取消推荐</el-button>
                  <el-button v-if="scope.row.teamStatus=='END'&&scope.row.recommend=='1'" @click="handleCancel(scope.row)" type="primary" size="small">取消推荐</el-button>


                  <el-button :disabled="scope.row.teamStatus!=='WAITING'||scope.row.recommend=='1'" @click="handleIntro(scope.row)" type="success" size="small">推荐队伍</el-button>
	              </template>
	        </el-table-column>
	    </el-table>
  	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
  	     <el-dialog
                 title="查看banner图片"
                 :visible.sync="showPicFlag"
                 size="tiny"
                 :before-close="closePicShow">
             <img :src="bigPic" />
         </el-dialog>
          <el-dialog size="tiny" title="详情" :visible.sync="infoDiag">
                 <h4>队伍信息：</h4>
                 <h5>{{teamInfo}}</h5>
                 <h4>集合地点：</h4>
                 <h5>{{tripLoc}}</h5>
         </el-dialog>
         <el-dialog title="审核队伍"  size="tiny" :visible.sync="checkDiag" :before-close="handleClose">
           <el-form>
             <el-form-item>
                 <el-radio  v-model="checkRadio" label="WAITING">审核通过</el-radio>
                 <el-radio  v-model="checkRadio" label="CANCEL">审核不通过</el-radio>
            </el-form-item>
          </el-form>
         <div slot="footer" class="dialog-footer">
           <el-button type="primary" @click="doCheck()">确定</el-button>
           <el-button @click="checkDiag = false">取 消</el-button>
         </div>
        </el-dialog>
         <el-dialog title="推荐队伍"  size="tiny" :visible.sync="introDiag" :before-close="handleClose">
           <el-form>
             <el-form-item label="推荐队伍的排序">
                 <el-select v-model="sortNum">
                   <el-option
                        v-for="n in sortArr"
                        :key="n"
                        :label="n"
                        :value="n">
                      </el-option>
                 </el-select>
            </el-form-item>
          </el-form>
         <div slot="footer" class="dialog-footer">
           <el-button type="primary" @click="doIntro()">确定</el-button>
           <el-button @click="introDiag = false">取 消</el-button>
         </div>
        </el-dialog>
	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import Upload from '../Upload.vue';
export default {
  name: 'grouplist',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      showPicFlag:false,
      infoDiag:false,
      checkDiag:false,
      introDiag:false,
      teamInfo:'',
      tripLoc:'',
      bigPic:'',
      checkRadio:'',
      sortNum:'',
      rowData:'',
      rowData2:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
    	pathName: this.$route.name,
    	pageSize: parseInt(this.$route.params.pageSize),
    	statusOption:[],
    	//表格类
    	tableData:[
    	],
        picArray:[],
        sortArr:[],
    	//表单类
    	 formLabelWidth: '120px',
        // 查询条件
    	 queryStr: {
          groupTitle:'',
          status:'',
          recommend:''
       		 },
            // 规则
        addRules:{
           groupTitle:[{message: '请输入客服名', trigger: 'blur'}],
           status:[{message: '请输入客服名', trigger: 'blur'}],
           recommend:[{message: '请输入客服名', trigger: 'blur'}]

    		}
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
    computed: {
        baseHost () {
            return this.$store.state.host;
        }
    },
    methods: {
      handleDisable(row){
           this.$confirm('确认停用？')
             .then(_ => {
               this.$http.post('/team/disable', {id: row.id_,
                   version:row.version}).then((response) => {
                   // 响应成功回调
                   const res = response.body
                   console.log(res);
                   if (res.code==200) {
                    if(res.data.success){
                      this.$message('停用成功');
                      this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                   } else {
                       this.$message.error(res.msg);
                   }
               }, (response) => {
                   this.$message.error('出错了:' + response);
               });
             })
             .catch(_ => {});
      },
      handleStart(row){
           this.$confirm('确认启用？')
             .then(_ => {
               this.$http.post('/team/start', {id: row.id_,
                   version:row.version}).then((response) => {
                   // 响应成功回调
                   const res = response.body
                   console.log(res);
                   if (res.code==200) {
                    if(res.data.success){
                      this.$message('启用成功');
                      this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                   } else {
                       this.$message.error(res.msg);
                   }
               }, (response) => {
                   this.$message.error('出错了:' + response);
               });
             })
             .catch(_ => {});
      },
      handleCheck(row){
        this.checkDiag = true;
        this.rowData = row;
      },
      handleIntro(row){
        this.sortNum='';
        this.rowData2=row;
        this.$http.post('/team/recommendInfo').then((response) => {
            // 响应成功回调
            const res = response.body
            console.log(res);
            if (res.code==200) {
              if(res.data.length==0){
                this.$notify.error({
                      title: '不能推荐了',
                      message: '推荐组队数量已满'
                    });
              }else{
                this.introDiag = true;
                this.sortArr=[];
                this.sortArr=res.data;
              }
            } else {
                this.$message.error(res.msg);
            }
        }, (response) => {
            this.$message.error('出错了:' + response);
            this.checkDiag=false;
        });
      },
      doCheck(){
            this.$http.post('/team/audit', {id: this.rowData.id_,status:this.checkRadio,
                version:this.rowData.version}).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                 if(res.data.success){
                  this.checkDiag=false;
                   this.$message('操作成功');
                   this.checkRadio='';
                   this.getList();
                 }else{
                   this.$message(res.data.message);
                   this.checkDiag=false;
                 }
                } else {
                    this.$message.error(res.msg);
                    this.checkDiag=false;
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.checkDiag=false;
            });
      },
      doIntro(){
            this.$confirm('确认推荐？')
              .then(_ => {
                this.$http.post('/team/recommend', {id: this.rowData2.id_,recSort:this.sortNum,
                    version:this.rowData2.version}).then((response) => {
                    // 响应成功回调
                    const res = response.body
                    console.log(res);
                    if (res.code==200) {
                     if(res.data.success){
                       this.$message('确认推荐成功');
                       this.introDiag = false;
                       this.getList();
                     }else{
                       this.$message(res.data.message);
                     }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    this.$message.error('出错了:' + response);
                });
              })
              .catch(_ => {});
      },
      handleCancel(row){
           this.$confirm('取消推荐？')
             .then(_ => {
               this.$http.post('/team/notRecommend', {id: row.id_,
                   version:row.version}).then((response) => {
                   // 响应成功回调
                   const res = response.body
                   console.log(res);
                   if (res.code==200) {
                    if(res.data.success){
                      this.$message('取消推荐成功');
                      this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                   } else {
                       this.$message.error(res.msg);
                   }
               }, (response) => {
                   this.$message.error('出错了:' + response);
               });
             })
             .catch(_ => {});
      },
      openTipRoute(row){
        this.infoDiag = true;
        this.teamInfo = row.info.teamInfo;
        this.tripLoc = row.info.tripLoc;

      },
      formatterStatus(row, column){
          let arr = this.statusOption;
          for(var i = 0; i <arr.length; i++){
            if(row.teamStatus == arr[i].name){
                return arr[i].desc
            }
          }
      },
      formatterRec(row, column){
      	  if(row.recommend=='1'){
            return '是'
          }else if(row.recommend=='0'){
            return '否'
          }
      },
      showPic(row){
        this.showPicFlag = true;
        this.bigPic = this.baseHost + row.coverBig;
      },
      closePicShow(){
        this.showPicFlag = false;
      },
  	 handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum = 1;
      this.getList();
    },
    reset(form){
     this.$refs[form].resetFields();
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },

         getPageSize (val) {
             this.pageSize = val;
             console.log(val)
         },
         getPageNum (val) {
             this.pageNum = val;
             console.log(val)
         },
         // 初始表单
         getList(){
             this.$http.post('/team/read/list', {pageNum: this.pageNum,
                 pageSize: this.pageSize,title:this.queryStr.groupTitle,status:this.queryStr.status,recommend:this.queryStr.recommend}).then((response) => {
                 // 响应成功回调
                 const res =  response.body;
                 if (res.code==200) {
                  this.tableData = res.data.page.records;
                  this.total = res.data.page.total;
                  this.statusOption = res.data.teamStatus;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>




