<template>
    <div class="white-bg padding-box">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dudu/trip' }">玩法管理</el-breadcrumb-item>
                <el-breadcrumb-item>新增</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="dd-form">
            <el-form ref="add" :rules="rules" :model="add" label-width="120px">
                <el-form-item label="玩法标题(长)" prop="tripTitleMax">
                    <el-input v-model="add.tripTitleMax"></el-input>
                </el-form-item>
                <el-form-item label="玩法标题(短)" prop="tripTitleMin">
                    <el-input v-model="add.tripTitleMin"></el-input>
                </el-form-item>

                <el-form-item class="control__full" label="简要行程" prop="routeDesc">
                    <el-input v-model="add.routeDesc" placeholder="例如：海口-三亚-万宁"></el-input>
                </el-form-item>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="玩法主题" prop="topicId">
                            <el-select v-model="add.topicId" placeholder="请选择玩法主题">
                                <el-option v-for="item in topicArray" :key="item.id_"  :label="item.topicName" :value="item.id_"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="项目类型" prop="tripType">
                            <el-select v-model="add.tripType" placeholder="请选择项目类型">
                                <el-option v-for="item in tripTypeArray" :key="item.name" :label="item.desc" :value="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="路程" prop="mileage">
                            <el-col :span="20">
                                <el-input type="number" v-model.number="add.mileage"></el-input>
                            </el-col>
                            <el-col class="line" :span="4">KM</el-col>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item class="control__full" label="耗时" prop="takesTime">
                            <el-col :span="20">
                                <el-input type="number" v-model.number="add.takesTime"></el-input>
                            </el-col>
                            <el-col class="line" :span="4">小时</el-col>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-form-item label="有效时间">
                    <el-date-picker
                            v-model="daterange"
                            type="daterange"
                            format="yyyy/MM/dd"
                            value-format="yyyy/MM/dd"
                            placeholder="选择日期范围"
                            :picker-options="pickerOptions0">
                    </el-date-picker>
                </el-form-item>
<!-- 选择标签弹窗 -->
                <el-popover
                        ref="popover4"
                        placement="right"
                        width="400"
                        trigger="click">
                    <el-checkbox-group
                            v-model="add.tagId"
                            :indeterminate="true"
                            :min="1"
                            :max="5">
                        <el-col class="text-cut" v-for="(item,key) in tagArray" :key="key"  :span="8">
                            <el-checkbox :label="item.id_" :key="item.id_">{{item.tagName}}</el-checkbox>
                        </el-col>
                    </el-checkbox-group>
                </el-popover>
                <el-form-item label="封面图(大)" prop="coverBig">
                    <el-input type="hidden" v-model="add.coverBig"></el-input>
                    <upload @change="setBigImg" :fileList="bigPicArray" :isSingle="true" :getPolicyUrl="'/trip/getPolicy'"></upload>
                </el-form-item>
                <el-form-item label="封面图(小)" prop="coverSmall">
                    <el-input type="hidden" v-model="add.coverSmall"></el-input>
                    <upload  @change="setSmallImg" :fileList="smallPicArray" :isSingle="true" :getPolicyUrl="'/trip/getPolicy'"></upload>
                </el-form-item>
                <el-form-item class="control__full" label="标签" prop="tagId">
                    <el-col :span="21">
                        <el-input v-model="checkTag" :disabled="true" placeholder="请选择标签"></el-input>
                    </el-col>
                    <el-col class="line" :span="3">
                        <el-button :plain="true" type="success" v-popover:popover4>点击选择</el-button>
                    </el-col>
                </el-form-item>
                <el-form-item label="玩法简介" prop="tripBrief">
                    <v-editor
                            :path="'/trip/getPolicy'"
                            :content="content.tripBrief"
                            v-model="add.tripBrief">
                    </v-editor>
                </el-form-item>
                <el-form-item label="玩法须知" prop="tripNotice">
                    <v-editor
                            :path="'/trip/getPolicy'"
                            :content="content.tripNotice"
                            v-model="add.tripNotice">
                    </v-editor>
                </el-form-item>
                <el-form-item label="分享标题" prop="shareTitle">
                  <el-input v-model="add.shareTitle"></el-input>
                </el-form-item>
                <el-form-item label="分享描述" prop="shareDesc">
                  <el-input type="textarea" :rows="3" v-model="add.shareDesc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add', 'addBtnFlag', 'addNew')">立即添加</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

</template>
<script>
    import api from '../../api/trip.js';
    import Editor from '../../components/Editor'
    import upload from '../Upload.vue';
    export default {
        data () {

            //数字 1-12位 ，并且是正整数
            var checkNumLong = (rule, value, callback) => {  //数字 1-11位
                var reg = /^[0-9]*[1-9][0-9]*$/;
                if(reg.test(value)){
                    console.log('是整数')
                    if(value.toString().length>=1 && value.toString().length<=11){
                        callback();
                    }else{
                        callback(new Error('请输入1-11位长度的整数'));
                    }
                }else{
                    callback(new Error('请输入正整数'));
                }
                console.log(value.toString().length);

            };

            var positiveNum = (rule, value, callback) => {  //正数、小数(小数点后只能是2位)
              var reg = /^[0-9]+\.?[0-9]{0,2}$/;
              if(reg.test(value)){
                if(value.toString().length>=1 && value.toString().length<=11){
                  callback();
                }else{
                  callback(new Error('数字过长，最多不能超过11位'));
                }
              }else{
                callback(new Error('请输入正数，小数点后不能超过2位'));
              }
              console.log(value.toString().length);

            };
            return {
                tagArray: [], //玩法标签
                topicArray: [],  //主题
                tripTypeArray: [], //类型
                daterange:[], //存储选中的时间范围
                bigPicArray:[], //大图
                smallPicArray:[], //小图
                addBtnFlag:false,
                content: {
                  tripBrief: '',
                  tripNotice: '',
                },
                add: {
                    tripTitleMax: '',  //长标题(min:2 ,max:100)
                    tripTitleMin: '',  //短标题(min:2 ,max:50)
                    topicId: '', //主题id
                    tripType: '', //玩法类型
                    mileage: '', //里程KM(min ：1 max：20)
                    takesTime: '', //耗时(Double类型，小数点保留2位，最大长度为3，单位为小时)
                    routeDesc: '', //简要行程(min:10,max:100)
                    validtimeStart: '', //有效开始时间(yyyy/MM/dd)
                    validtimeEnd: '', //有效结束时间(yyyy/MM/dd)
                    tripBrief: '请输入玩法简介',  //玩法简介
                    tripNotice: '请输入玩法须知',  //玩法须知
                    tagId: [],  //玩法标签ID
                    coverBig: '', //封面图(大)
                    coverSmall: '', //封面图(小)
                    shareTitle: '', //分享标题
                    shareDesc: '', //分享描述
                },
                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    }
                },

                rules:{
                    tripTitleMax: [
                        { required: true, message: '请输入玩法标题(长)', trigger: 'blur' },
                        { min: 2, max: 100, message: '长度在 2 到 100 个字符', trigger: 'blur' }
                    ],
                    tripTitleMin: [
                        { required: true, message: '请输入玩法标题（短）', trigger: 'blur' },
                        { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }
                    ],
                    routeDesc: [
                        { required: true, message: '请输入简要行程', trigger: 'blur' },
                        { min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'change' }
                    ],
                    takesTime: [
                        { type: 'number', required: true, message: '请输入耗时,小时为单位（数字）', trigger: 'blur' },
                        {validator:positiveNum}
                    ],
                    topicId: [
                        {required: true, message: '请选择玩法主题', trigger: 'change' },
                    ],
                    validtimeStart: [
                        {required: true, message: '请选择日期'},
                    ],
                    tripType: [
                        { required: true, message: '请选择玩法类型', trigger: 'change' },
                    ],
                    mileage: [
                        {type: 'number', required: true, message: '请输入里程数（数字）', trigger: 'change' },
                        {validator:checkNumLong}
                    ],
                    coverBig: [
                        { required: true, message: '请上传大缩略图'},
                    ],
                    coverSmall: [
                        { required: true, message: '请上传小缩略图'},
                    ],
                    tripBrief: [
                        { required: true, message: '请输入玩法简介', trigger: 'blur' },
                    ],
                    tripNotice: [
                        { required: true, message: '请输入玩法须知', trigger: 'blur' },
                    ],
                    shareTitle: [
                      { min: 0, max: 100, message: '长度在 0 到 100 个字符', trigger: 'blur' }
                    ],
                    shareDesc: [
                      { min: 0, max: 500, message: '长度在 0 到 500 个字符', trigger: 'blur' }
                    ]
                }

            }
        },
        created () {
          this.addUI();
        },
        watch: {
            daterange :{
                deep:true,
                handler:function(val,oldval){
                    console.log(val)
                    if(Array.isArray(val) ){
                        if(val.length>0){
                            
                    this.add.validtimeStart = val[0];
                    this.add.validtimeEnd = val[1];

                        }else{
                    this.add.validtimeStart = '';
                    this.add.validtimeEnd = '';
                        }

                    }else{
                    this.add.validtimeStart = '';
                    this.add.validtimeEnd = '';

                    }



                    console.log(this.add)
                }
            }
        },
        computed: {
            checkTag: function () {
                var cnName=[];
                console.log(this.tagArray)
                for(var i = 0; i<this.tagArray.length; i++){
                  for(var x=0; x<this.add.tagId.length; x++){
                      if(this.add.tagId[x] == this.tagArray[i].id_){
                        cnName.push(this.tagArray[i].tagName);
                      }
                  }
                }
                console.log(cnName);
               return  cnName.toString();
            }
        },
        components: {
            upload,
            'v-editor': Editor
        },
        methods: {

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },
                addUI () { //新增玩法之前查询，获取一些下拉选框的数组
                api.getAddUI({},(response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.topicArray = res.data.topic; //玩法主题
                        this.tagArray = res.data.tag; //玩法标签
                        this.tripTypeArray = res.data.tripType //玩法类型
                    } else {
                        console.log(res);
                    }
                });

            },

            addNew () {  //添加

                this.addBtnFlag = true;
                api.add(this.add, (response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.$router.go(-1);
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑
                this.updateBtnFlag = true;
                api.update(this.edit, (response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    console.log(response)
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });
            },



            getTime (val){ //获取时间范围的值，拆分到开始和结束
                
              console.log(this.add.validtimeStart);
            },

            setBigImg (val) {  //得到upload返回的图片数据后设置图片
              console.log(val);
                this.add.coverBig = val
            },

            setSmallImg (val) {  //得到upload返回的图片数据后设置图片
                this.add.coverSmall = val
                console.log(this.add.coverSmall)
            },

            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    }
</script>
