<template>
  <div class="container__main">
    <div class="breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/dudu/trip'}">玩法管理</el-breadcrumb-item>
        <el-breadcrumb-item >创建玩法</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="wkq-custom-mod">
      <el-row :gutter="20">
      <el-col :span="12" :offset="6">
 <el-card class="box-card custom-box__short" v-loading="loading">

          <h3 class="bar-title__center">创建玩法</h3>

          <div  class="city-mod">
            <el-form ref="form" :rules="rules"  :model="postData" label-width="100px">
               <el-form-item label="玩法长标题" prop="tripTitleMax">
                <el-input clearable v-model="postData.tripTitleMax"></el-input>
              </el-form-item>
              <el-form-item label="玩法短标题" prop="tripTitleMin">
                <el-input clearable v-model="postData.tripTitleMin"></el-input>
              </el-form-item>
              <el-form-item label="玩法类型" prop="tripType">
                <el-select clearable v-model="postData.tripType" placeholder="请选择玩法类型">
                  <el-option v-for="(item,index) in tripTypeArr" :key="index" :label="item.desc" :value="item.name"></el-option>
                </el-select>
              </el-form-item>

            </el-form>
          </div>
          <el-button type="primary" @click="nextSubmit" style="width:100%;">下一步</el-button>

        </el-card>
      </el-col>
    </el-row>
       


      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  export default {

    data (){
      return {
        loading: true,
        tripTypeArr:[],
        postData:{
          tripTitleMax:'',
          tripTitleMin:'',
          tripType:''
        },
        rules: {
          tripTitleMax: [
            {required: true, message: '缺少长标题'},
          ],

          tripTitleMin: [
            {required: true, message: '缺少短标题'},
          ],

          tripType: [
            {required: true, message: '请选择玩法类型'},
          ],
        },

      }
    },
    created () {
      this.getTripOption(); 
    },
    components: {
    },
    watch: {

    },
    computed: {
    },
    methods: {

     
      nextSubmit (){//下一步

        this.$refs['form'].validate((valid) => {
          if (valid) {




            this.$http.post('/trip/add',this.postData).then((response) => {
              // 响应成功回调
              const res = response.body;
              console.log(res);
              if (res.code==200) {
                this.$router.push({'name':'tripperfect', query:{'tripNo':res.data.obj}})

              } else {
                this.$message.error(res.msg);
              }
            }, (response) => {
              // 响应错误回调
              this.$message('出错了:' + response);
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });


      },

     

    

      getTripOption (){

        this.$http.post('/trip/addUI', {}).then((response) => {
          // 响应成功回调
          const res = response.body;
          console.log(res);
          if (res.code==200) {
            this.loading = false;
            this.tripTypeArr = res.data.tripType
          } else {

            this.$message.error(res.msg);
          }
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
        });
      },
     

    }
  }
</script>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../../assets/sass/common";

  .wkq-custom-mod{
    margin-top:30px;
    overflow: hidden;
    .wkq-city-list{
      float: left;
      margin-right: 20px;
    }
    .box-card{
      width: 450px;
      float: left;
    }
  }

  .wkq-city-list__item{
    .bar{
      color:#5D84B3;
      &:after{
        content:"";
        width:100%;
        height: 1px;
        background:#5d84b3;
      }
    }
    ul{
      padding:10px;
      margin:0 0 20px;
      overflow:hidden;
      li{
        list-style:none;
        float: left;
        padding:0 5px ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        button{
          margin:10px 0 0 0;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .city__hot{
    li{
      width: auto;
      max-width: 50%;
    }
  }

  .city__all{
    li{
      width:auto;
      height: 28px;
      margin-top:10px;
      line-height: 28px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      span{
        cursor:pointer;
        display: block;
        width:100%;
        height: 100%;
      }
    }
  }




  .bar-title__center{
    margin:0 0 10px;
    font-size: 14px;
    text-align: center;
  }

  .wkq-city-list{
    width: 300px;
    background: #fff;
    padding:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .city-mod{
    height:500px;
    padding:10px 0;
    overflow-y: auto;
  }

  .custom-box__short{

  }

</style>
