<template>
<div>
	<div class="list-todo__top">   
	      <el-form :inline="true" ref="search">
  			<el-form-item label="审核状态：">
  			  <el-select v-model="optionVal">
  			  <el-option
  			  v-for="item in enumOption"
  			  :value="item.name"
  			  :key="item.name"              
  			  :label="item.desc">
  			  </el-option>
  			  </el-select>
  			</el-form-item>	
	          <el-form-item>
	            <el-button type="primary" @click="queryList" :loading="isSearch" ><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
	              <el-button type="default" @click="reset()" :loading="isSearch" >重置条件</el-button>
	          </el-form-item>
	      </el-form>
	</div> 

	<div class="table-list">
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="userId"
                  label="用户ID">
          </el-table-column>
          <el-table-column
                  prop="nickname"
                  label="用户昵称">
          </el-table-column>
          <el-table-column
                  prop="score"
                  label="评分">
          </el-table-column>
          <el-table-column
                  prop="content"
                  label="评论内容">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  label="创建时间">
          </el-table-column>
          <el-table-column
                  prop="appraiseStatus"
                  :formatter="formatterStatus"
                  label="状态">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="156"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button @click="checkCode(scope.row)" :disabled="scope.row.appraiseStatus=='NORMAL'||scope.row.appraiseStatus=='CANCEL'" type="success" size="small"> 操作</el-button>
                    <el-button @click="handleDelete(scope.row)" type="danger" size="small">删除</el-button>
                  </template>
          </el-table-column>
	    </el-table>
	 <el-pagination
             layout="total, prev, pager, next"
             @current-change="changePageNum"
             :page-size="20"
             :total="total">
     </el-pagination>
	<el-dialog title="审核" :visible.sync="dialogFormVisible">
	  <el-form v-model="queryS">
	        <el-radio-group v-model="queryS.appraise_status">
		        <el-radio label="NORMAL">通过</el-radio>
		        <el-radio label="CANCEL">不通过</el-radio>
	     	 </el-radio-group>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	    <el-button @click="dialogFormVisible=false">取 消</el-button>
	    <el-button type="primary" @click="commandBtn()" :loading="isAdd">确 定</el-button>
	  </div>
	</el-dialog>
	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'comment',
  props:['dataId'],
  data () {
    return {
    	//页码类
    	pageNum: 1,
    	total: 0,
    	isSearch:false,
    	isAdd:false,
    	pathName: this.$route.name,
    	dialogFormVisible:false,
    	pageSize:20,
    	//表格类
    	tableData:[
    	],
    	//表单类
	       formLabelWidth: '120px',
	       enumOption:[],
	       optionVal:'',
	       queryS:{
	       	id:'',
	       	version:'',
	       	appraise_status:''
	       }
    };
  },
  created(){
  	this.getList();
  },
 watch:{
     pageNum: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
     dataId: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     }
 },
  methods: {
    commandBtn(){
      this.isAdd = true; 
      if(this.queryS.appraise_status===''){
          this.$notify.error({
                   title: '错误',
                   message: '请审核是否通过'
                 });
          this.isAdd = false;
      }else{
        this.$http.post('/tripAppraise/update/appraiseStatus',this.queryS).then((response) => {
                  // 响应成功回调
                  const res = response.body
                  console.log(res);                 
                  if (res.code==200) {
                   if(res.data.success){
                     this.$message('操作成功');
                     this.dialogFormVisible=false;
                     this.getList();
                   }else{
                     this.$message(res.data.message);
                   } 
                  } else {
                      this.$message.error(res.msg);
                  }
                  this.isAdd = false;
              }, (response) => {
                  this.$message.error('出错了:' + response);
                  this.isAdd = false;
              });
      }      
    },
  	    handleDelete(row) {
           this.$confirm('确认删除') 
             .then(_ => {
               this.$http.post('/tripAppraise/delete/appraise', {id:row.id_,version:row.version}).then((response) => {
                   // 响应成功回调
                   const res = response.body
                   console.log(res);                 
                   if (res.code==200) {
                    if(res.data.success){
                       this.$message('删除成功');
                       this.getList();
                    }else{
                      this.$message(res.data.message);
                    } 
                   } else {
                       this.$message.error(res.msg);
                   }
               }, (response) => {
                   this.$message.error('出错了:' + response);
               });
             })
             .catch(_ => {});
             },
  	checkCode(row){
  		this.dialogFormVisible=true,  		
  		this.queryS.id='';
  		this.queryS.version='';
  		this.queryS.appraise_status='';
  		this.queryS.id=row.id_;
  		this.queryS.version=row.version;
  	},
  	queryList(){
  	  var _this = this;
  	  _this.isSearch = true;
  	  setTimeout(function () {
  	      _this.isSearch = false;
  	  },1500);
  	  this.pageNum=1;
  	  this.getList();
  	},
  	reset(){
  	    this.optionVal ='';
  	   var _this = this;
  	   _this.isSearch = true;
  	   setTimeout(function () {
  	       _this.isSearch = false;
  	   },1500);
  	   this.pageNum = 1;
  	   this.getList()
  	},

    changePageNum(curPage){
      this.pageNum = curPage
    },
    formatterStatus(row, column){
        let arr = this.enumOption;
        for(var i = 0; i <arr.length; i++){
          if(row.appraiseStatus == arr[i].name){
              return arr[i].desc
          }
        }
    },
         // 初始表单
         getList(){
             this.$http.post('/tripAppraise/read/list',{trip_id:this.dataId,appraise_status:this.optionVal,pageNum:this.pageNum, pageSize:this.pageSize}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.enumOption = res.data.AppraiseStatusEnum;
                     this.tableData = res.data.tripAppraiseInfo.records;
                     this.total = res.data.tripAppraiseInfo.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
</style>
