<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/dudu/trip' }">玩法管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="80px">
                    <el-form-item label="玩法名称" prop="title">
                        <el-input v-model="search.title"></el-input>
                    </el-form-item>
                    <el-form-item label="玩法主题" prop="topicId">
                        <el-select filterable  v-model="search.topicId" :clearable="true" placeholder="请选择主题">
                            <el-option v-for="item in topicArray" :key="item.id_"  :label="item.topicName" :value="item.id_"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="地点" prop="siteNo">
                        <el-select filterable v-model="search.siteNo" :clearable="true" placeholder="请选择地点">
                            <el-option v-for="item in siteArray" :key="item.siteNo" :label="item.siteTitle" :value="item.siteNo"></el-option>
                        </el-select>
                    </el-form-item>
                    <div>
                        <el-form-item>
                            <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                            <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                        </el-form-item>
                        <router-link :to="{ path: '/dudu/add/trip'}"><el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加玩法</el-button></router-link>
                    </div>

                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    label="玩法长标题"
                    width="240">
              <template slot-scope="scope">
                <router-link :to="{ path: '/dudu/preview/trip', query: {tripNo: scope.row.tripNo } }" title="点击可预览" target="_blank">
                  {{scope.row.tripTitleMax}}
                </router-link>
              </template>
            </el-table-column>
          <el-table-column
            prop="tripNo"
            label="玩法编号"
            width="100">
          </el-table-column>
            <el-table-column
                    prop="topicName"
                    label="主题">
            </el-table-column>
            <el-table-column
                    prop="createName"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    :formatter="setLabelProjectType"
                    prop="typeName"
                    label="产品类型">
            </el-table-column>
          <el-table-column
            prop="click"
            label="点击数量">
          </el-table-column>
          <el-table-column
            prop="collect"
            label="收藏数量">
          </el-table-column>
          <el-table-column
            prop="sales"
            label="购买数量">
          </el-table-column>
          <el-table-column
            prop="score"
            label="玩法分数">
          </el-table-column>
            <el-table-column
                    label="有效时间"

                    width="200">
                <template slot-scope="scope">
                    {{scope.row.validtimeStart}} 至 {{scope.row.validtimeEnd}}
                </template>
            </el-table-column>
          <el-table-column
            width="120"
            label="评论管理">
            <template slot-scope="scope">
                <el-button
                        size="small"
                        type="default"
                        @click="showTest(scope.row)">详情
                </el-button>
            </template>
          </el-table-column>
            <el-table-column
              width="100"
              label="添加站点">
              <template slot-scope="scope">
                <router-link :to="{ path: '/dudu/add/tripsite', query: {tripNo: scope.row.tripNo} }">
                  <el-button type="success"><i class="fa fa-plus" aria-hidden="true"></i> 站点</el-button>
                </router-link>
              </template>
            </el-table-column>
            <el-table-column
                    label="状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.tripStatus=='NORMAL'">正常</span>
                    <span v-if="scope.row.tripStatus=='OUT'">下架</span>
                    <span v-if="scope.row.tripStatus=='EDITING'">编辑中</span>
                </template>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="260">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            v-if="scope.row.tripStatus=='NORMAL'"
                            :disabled="true"
                            type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <router-link v-if="scope.row.tripStatus!='NORMAL'" :to="{ path: '/dudu/update/trip', query: { tripNo: scope.row.tripNo } }">
                      <el-button
                        size="small"
                        type="primary"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                      </el-button>
                    </router-link>
                    <el-button
                            size="small"
                            type="danger"
                            v-if="scope.row.tripStatus=='NORMAL'"
                            :disabled="true"
                            @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                      size="small"
                      type="danger"
                      v-if="scope.row.tripStatus!='NORMAL'"
                      @click="deleteItem(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                            v-if="scope.row.tripStatus=='EDITING'"
                            size="small"
                            type="success"
                            @click="canUpDown(scope.row,'up')">上架
                    </el-button>
                    <el-button
                            v-if="scope.row.tripStatus=='NORMAL'"
                            size="small"
                            type="warning"
                            @click="canUpDown(scope.row,'down')">下架
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
        <el-dialog
                title="价格范围"
                :visible.sync="showDateFlag"
                size="tiny"
                :before-close="closeDateShow">
            <div class="">
                <p>限售价：{{showPrice.limitPrice}}</p>
                <p>门市价：{{showPrice.retailPrice}}</p>
                <p>成人采购价	：{{showPrice.purAdultPrice}}</p>
                <p>儿童采购价：{{showPrice.purChildPrice}}</p>
            </div>
        </el-dialog>
      <el-dialog v-if="showTestDia"
          :title="diaTitle"
          :visible.sync="showTestDia"
          size="large"
          :before-close="closeTest">
         <comment :data-id="tripId"></comment>
      </el-dialog>
    </div>
</template>
<script>
    import Editor from '../../components/Editor'
    import Page from '../Page.vue';
    import api from '../../api/trip.js';
    import upload from '../Upload.vue';
    import comment from './Comment.vue';
    export default {

        data (){
            var checkPhone = (rule, value, callback) => {  //手机号码校验
                var reg = this.phoneReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的手机号码'));
                }
            };
            var checkEmail = (rule, value, callback) => {  //邮箱校验
                var reg = this.emailReg;
                if(reg.test(value)){
                    callback();
                }else{
                    callback(new Error('请输入正确的邮箱地址'));
                }
            };
            return {
                tableLoading: true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                showPrice: {
                    limitPrice: 0,
                    retailPrice: 0,
                    purChildPrice: 0,
                    purAdultPrice: 0,
                },
                showDateFlag: false,
                editDialog: false,
                addDialog:false,
                showTestDia:false,
                diaTitle:'',
                //下面是编辑或者新增的弹窗数据
                siteArray: [], //地区
                typeArray: [],    //类型
                topicArray: [],  //主题
                isAdd: true,
                addBtnFlag: false,
                updateBtnFlag: false,
                searchBtnFlag: false,
                stopHour:'23:00',
                search: {
                    title:'',
                    topicId:'',
                    siteNo:'',
                },

                searchRules:{
                },
                tripId:'',


            }
        },
        created () {
            this.getList();
        },
        components: {
            Page,
            comment,
            upload,
            'v-editor': Editor
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
        },
        computed: {
            emailReg () {
                return this.$store.state.emailReg;
            },
            phoneReg () {
                return this.$store.state.phoneReg;
            }
        },
        methods: {
                closeTest(){
                  this.showTestDia = false;
                },
                showTest(row){
                  this.tripId = row.id_;
                  this.diaTitle = '玩法标题：'+row.tripTitleMax;
                  this.showTestDia = true;
                },



            showDate (row) {
                this.showDateFlag = true;
                this.showPrice.limitPrice = row.limitPrice;
                this.showPrice.retailPrice = row.retailPrice;
                this.showPrice.purChildPrice = row.purChildPrice;
                this.showPrice.purAdultPrice =  row.purAdultPrice;
            },
            closeDateShow () {
                this.showDateFlag = false;
            },


            canUpDown (row,type) { //获取能否上下架

                this.$http.post('/trip/upOrDownUI', {
                    tripNo: row.tripNo,

                }).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            if(res.data.success==true){ //可以上下架


                              this.$confirm(res.data.message, '提示', {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                                type: 'warning'
                              }).then(() => {
                                if(type=='up'){
                                  this.upTrip(row);
                                }else if(type=='down'){
                                  this.downTrip(row);

                                }
                          /*      if(type=='up'){
                                  this.upProduct(row);
                                }else if(type=='down'){
                                  var  tripjson = '';
                                  try
                                  {
                                    if(res.data.obj.trip){
                                      tripjson =  res.data.obj.trip;
                                      tripjson = JSON.stringify(tripjson)
                                    }
                                  }
                                  catch(err)
                                  {
                                    //在此处理错误
                                  }

                                  this.downProduct(row,tripjson);

                                }*/
                              }).catch(() => {
                                this.$message({
                                  type: 'info',
                                  message: '已取消操作'
                                });
                              });
                            }else{
                                this.$message(res.data.message);
                            }
                        }else{
                            // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });

            },


            upTrip (row) {
                this.$http.post('/trip/upTrip', {id:row.id_, version: row.version}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            downTrip (row) {
                this.$http.post('/trip/downTrip', {id:row.id_, version: row.version}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },
            setHourNumber (value) {
                console.log(value)
                var timeArr =value.split(':');
                var hour = timeArr[0];
                if(hour.slice(0,1)==0){
                    hour = hour.slice(1,2)
                }
                console.log(hour);
                this.add.latestTime = hour
            },


            deleteItem (row){ //删除
                this.$confirm('此操作将永久删除数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/trip/delete', {id:row.id_, version: row.version, tripNo: row.tripNo}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });
                })
            },

            openAddDialog (){
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.addBtnFlag = false;
            },

            closeEditDialog (done){ //关闭编辑表单弹窗

                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
            },

            setStatus (row,state) {  //启用或者禁用
                var postData={};
                if(state){
                    postData = {id:row.id_, version: row.version, status: state};
                }else{
                    postData = {id:row.id_, version: row.version};
                }
                this.$http.post('/supplier/supplier/updateStatus', postData).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            setLabelProjectType (row, column) { //项目类型
                var arr = this.typeArray;
                for(var i = 0; i < arr.length; i++){
                    if(arr[i].name == row.tripType){
                        return arr[i].desc
                    }
                }
            },


            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openEdit (row) {
                this.editDialog = true;
                //将属性赋值到编辑数据对象
                console.log(row)
                for(var x in this.edit){
                    //console.log(x)
                    var data = this.edit;
                    for(var y in row){
                        if(x==y){
                            data[x]=row[y]
                        }
                    }
                }

            },
            closeDialog (done) {
                this.editFlag = false;
                this.updateBtnFlag = false;
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },


       /*     queryById(id) {
                var _id=id || '';
                this.$http.post('/product/read/queryById', {id: _id}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data){
                            console.log(res.data.area)
                            this.areaArray = res.data.area;
                            this.chargeBackArray = res.data.chargeBack;
                            this.supArray = res.data.sup;
                            this.sortArray = res.data.sort;
                            this.typeArray = res.data.type;
                            this.payArray = res.data.pay;
                            this.purArray = res.data.sup;
                            console.log(this.supArray)
                        }else{
                            // this.$message(res.data.message);
                        }
                    } else {
                        //this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },*/

            getList () {  //获取分页
              this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    title: this.search.title,
                    topicId: this.search.topicId,
                    siteNo: this.search.siteNo,
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.page.records;
                        this.total = res.data.page.total;
                         this.topicArray = res.data.topic; //玩法主题
                         this.siteArray = res.data.site; //地点
                         this.typeArray = res.data.type; //类型
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                    this.tableLoading = false;

                });
            },
            beforeRouteUpdate (to, from, next) {
                var pageCur = to.params.pageNum;
                console.log(pageCur);
                this.pageNum = pageCur;
                next();
                // 在当前路由改变，但是改组件被复用时调用
                // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
                // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
                // 可以访问组件实例 `this`
            }
        }
    }
</script>
