<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>易捷自驾游产品管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
        <div class="list-todo__top">
            <el-form :inline="true" ref="search" :model="queryS" label-width="100px">
              <el-form-item label="产品名称:">
                <el-input v-model="queryS.productTitle"></el-input>
              </el-form-item>
              <el-form-item label="产品状态:">
                <el-select  v-model="queryS.status" :clearable="true" placeholder="请选择">
                  <el-option label="停用" :value="0"></el-option>
                  <el-option label="可用" :value="1"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
              </el-form-item>
              <div>
                <el-button type="success" @click="addProduct"><i class="fa fa-plus" aria-hidden="true"></i> 添加产品</el-button>
                <el-dropdown split-button  trigger="click" type="danger">
                  批量操作
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="batchDisable">停用</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </el-form>
        </div>

      <el-table
              :data="tableData"
              @selection-change="handleSelectionChange"
              ref="multipleTable"
              stripe
              style="width: 100%">
          <el-table-column
              type="selection"
              width="55">
          </el-table-column>
          <el-table-column
                  prop="productTitle"
                  label="产品名称">
          </el-table-column>
          <el-table-column
                  prop="adultPrice"
                  label="价格(每人)">
          </el-table-column>
          <el-table-column
                  prop="chargeback"
                  :formatter="chargeFormat"
                  label="退款类型">
          </el-table-column>
          <el-table-column
                  prop="status"
                  :formatter="statusFormat"
                  label="状态">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="300"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="primary" :disabled="scope.row.status=='0'" size="small" @click="handleEdit(scope.row, 0)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</el-button>
                    <el-button type="primary" size="small" @click="handleEdit(scope.row, 1)">复制</el-button>
                    <el-button type="primary" :disabled="scope.row.status=='0'" size="small" @click="timeSetting(scope.row)">时间设置</el-button>
                    <el-button type="danger" v-if="scope.row.status=='1'" size="small" @click="handleDis(scope.row)">停用</el-button>
                    <el-button type="default" v-else :disabled="true" size="small" @click="handleDis(scope.row)">启用</el-button>
                  </template>
          </el-table-column>
      </el-table>
   <page class="pagination__bar" :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

 <!-- 添加产品 -->

    <el-dialog  :title="isTitle?'添加自驾游产品':'编辑自驾游产品'" :visible.sync="diaProduct">
       <el-form :model="productForm" ref="refundR" :rules="refundRule" label-width="140px">
       <el-form-item label="产品名称：" prop="productTitle">
            <el-input  v-model="productForm.productTitle"></el-input>
         </el-form-item>
         <el-form-item label="产品简介：" prop="productIntro">
              <el-input type="textarea" :rows="3" v-model="productForm.productIntro"></el-input>
            </el-form-item>
                <el-form-item label="是否需要身份证：" prop="isIdcard">
                  <el-radio-group v-model="productForm.isIdcard">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-form-item>
               <el-form-item label="单价：" prop="adultPrice">
                 <el-col :span="9">
                  <el-input :maxlength="16"  v-model.number="productForm.adultPrice" auto-complete="off"></el-input>
                  </el-col>
                </el-form-item>
                 <el-form-item label="提前预约时间" prop="bookingLimitTime">
                  <el-input-number v-model="productForm.bookingLimitTime" :debounce="1000" :min="0" :max="200" :step="1"></el-input-number>
                </el-form-item>
            <el-form-item label="退单类型：" prop="chargeback">
              <el-select v-model="productForm.chargeback" placeholder="请选择退单类型">
                <el-option
                  v-for="item in chargeBackArray"
                  :key="item.name"
                  :label="item.desc"
                  :value="item.name"></el-option>
              </el-select>
            </el-form-item>
              <el-form-item label="退单说明：" prop="chargebackIntro">
              <el-input type="textarea" :rows="3" v-model="productForm.chargebackIntro"></el-input>
            </el-form-item>
             <el-form-item label="预约规则：" prop="bookingIntro">
              <el-input type="textarea" :rows="3" v-model="productForm.bookingIntro"></el-input>
            </el-form-item>
             </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="diaProduct = false">取 消</el-button>
          <el-button :loading="isAdd" type="primary" @click="addForm('refundR')">确 定</el-button>
     </div>
    </el-dialog>

  <el-dialog
      :title="diaTitle"
      v-if="diaMark"
      :visible.sync="diaMark"
      size="small"
      :before-close="closeTest">
     <mark-list :data-id="routerId"></mark-list>
  </el-dialog>
  </div>
</div>
</template>
<script>
import Page from '../../Page.vue';
import MarkList from './timeSet.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
export default {
  name: 'seldrive',
  components: {
      Page, MarkList
  },
  data () {
        var checkPrice = (rule, value, callback) => {  //价格
            var reg = this.priceReg;
            if(reg.test(value)){
              callback();
            }else{
              callback(new Error('请正确输入数字，不超过20位，小数点保留2位'));
            }
          };

     //数字 1-11位 ，并且是正整数
          var checkNumLong = (rule, value, callback) => {  //数字 1-11位
            var reg = /^[0-9]*[1-9][0-9]*$/;
            if(reg.test(value)){
              console.log('是整数')
              if(value.toString().length>=1 && value.toString().length<=11){
                callback();
              }else{
                callback(new Error('请输入1-11位长度的整数'));
              }
            }else{
              callback(new Error('请输入正整数'));
            }
            console.log(value.toString().length);

          };

    return {
      // 提交频率控制按钮
      diaTitle:'',
      routerId:'',
      isSearch:false,
      isAdd:false,
      isEdit:false,
      isTitle:true,
      isCopy:0,
      diaMark:false,
      diaProduct:false,
      chargeBackArray:[],
      multipleSelection:[],
      formatSelection:[],
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      //表单类
        formLabelWidth: '120px',
      // 查询条件
        queryS:{
          productTitle:'',
          status:''
        },
        productForm:{
            productTitle:'',
            productIntro:'',
            isIdcard:'',
            chargeback:'',
            chargebackIntro:'',
            bookingIntro:'',
            bookingLimitTime:'',
            adultPrice:'',
          },
          refundRule: {
                productTitle: [
                  { required: true, message: '请输入产品名称', trigger: 'blur' },
                  { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
                ],
                productIntro: [
                  { required: true, message: '请输入产品简介', trigger: 'blur' },
                  { min: 1, max: 300, message: '长度在 1 到 300 个字符', trigger: 'blur' }
                ],
                isIdcard:  [
                  { type: 'number', required: true, message: '请选择身份证是否必须项', trigger: 'change' },
                ],
                chargeback:  [
                  { required: true, message: '请选择退单类型', trigger: 'change' },
                ],
                chargebackIntro: [
                  { required: true, message: '缺少退单规则说明', trigger: 'blur' },
                  { min: 1, max: 400, message: '长度在 1 到 400 个字符', trigger: 'blur' }
                ],
                bookingIntro:[
                  { required: true, message: '缺少预约规则', trigger: 'blur' },
                  { min: 1, max: 400, message: '长度在 1 到 400 个字符', trigger: 'blur' }
                ],
                bookingLimitTime: [
                  { type: 'number',required: true, message: '提前预约时间,单位(小时)', trigger: 'change' },
                  { validator: checkNumLong}
                ],
                adultPrice: [
                  { type: 'number',required: true, message: '单价', trigger: 'blur' },
                  { validator: checkPrice}
                ]
              },
    };
  },
  created(){
    this.getList();
  },
  computed:{
    priceReg () {
              return this.$store.state.priceReg;
            }
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
       multipleSelection: {
          deep: true,
          handler: function (val, oldVal) {
            this.formatSelection=[];
            val.forEach( (val, index) =>{
              this.formatSelection.push({id:val.id_,version:val.version})
            })
            console.log(this.formatSelection)
          }
      },
       isTitle: {
              deep: true,
              handler: function (val, oldVal) {
                if(val){
                  try {
                    delete this.productForm.id;
                    delete this.productForm.version;
                  }catch (err){

                  }
                }

              }
          },
  },
  methods: {
    formatterTime(row, column){
      return row.appointTime.split(' ')[0]
    },
    timeSetting(row){
      this.routerId = row.id_;
      this.diaTitle = row.productTitle;
      this.diaMark = true;
    },
    closeTest(){
      this.diaMark = false;
    },
    addProduct(){
      this.resetForm('refundR');
      this.diaProduct=true;
      this.isTitle=true;
    },
    resetForm(form) { //重置表单
         if (this.$refs[form]) {
          this.$refs[form].resetFields();
        }
    },
    handleDis(row){
       this.$confirm('确定进行此操作吗', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$http.post('/yjTravelProduct/disable', {id:row.id_, version: row.version}).then((response) => {
                // 响应成功回调
                const res = response.body;
                if (res.code==200) {
                  if(res.data.success){
                    this.$message(res.msg);
                    this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
                } else {
                  this.$message.error(res.msg);
                }
              }, (response) => {
                // 响应错误回调
                this.$message('出错了:' + response);
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              });
            });
    },
    handleEdit(row, status){
        if(status){
            this.$confirm('确定要复制吗', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
                this.dataFill(row.id_, 1)
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              });
            });
        }else{
          this.dataFill(row.id_, 0);
        }
    },
     dataFill(id, status){
        this.$http.post('/yjTravelProduct/productInfo', {productId:id, isCopy:status}).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                   if(res.data){
                      status?this.isTitle = true:this.isTitle = false;
                      this.productForm.productTitle = res.data.productTitle;
                      this.productForm.productIntro = res.data.productIntro;
                      this.productForm.isIdcard = res.data.isIdcard;
                      this.productForm.chargeback = res.data.chargeback;
                      this.productForm.chargebackIntro = res.data.chargebackIntro;
                      this.productForm.bookingIntro = res.data.bookingIntro;
                      this.productForm.bookingLimitTime = res.data.bookingLimitTime;
                      this.productForm.adultPrice = res.data.adultPrice;
                          if(!status){
                           this.$set(this.productForm,'id',res.data.id_);
                           this.$set(this.productForm,'version',res.data.version);
                          }
                      this.diaProduct = true;
                   }else{
                     this.$message(res.data.message);
                   }
                 } else {
                    this.$message.error(res.msg);
                 }
                 this.isAdd = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isAdd = false;
             });
     } ,

    handleSelectionChange(val){
      this.multipleSelection = val;
      console.log(this.multipleSelection);
    },
      batchDisable(){
            if(this.formatSelection.length>0){
              this.$confirm('确定将勾选的产品批量停用吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {

                this.$http.post('/yjTravelProduct/batchDisable', {productJson: JSON.stringify(this.formatSelection)}).then((response) => {
                  // 响应成功回调
                  const res = response.body;
                  console.log(res);
                  if (res.code==200) {
                    if(res.data.success){
                      this.$message(res.msg);
                      this.getList();
                      this.formatSelection =[];
                      this.$refs.multipleTable.clearSelection();
                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                    this.$message.error(res.msg);
                  }
                }, (response) => {
                  // 响应错误回调
                  this.$message('出错了:' + response);
                });
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消操作'
                });
              });

            }else{
              this.$message.error('请先选择产品');
            }

          },
    addForm(form){
      let apiUrl = this.isTitle?'/yjTravelProduct/add':'/yjTravelProduct/update';
      this.isAdd = true;
      this.$refs[form].validate((valid) => {
            if (valid) {
             this.$http.post(apiUrl,this.productForm).then((response) => {
                 // 响应成功回调
                 const res = response.body
                 console.log(res);
                 if (res.code==200) {
                   if(res.data.success){
                      this.diaProduct = false;
                      this.$message('操作成功');
                      this.getList();
                   }else{
                     this.$message(res.data.message);
                   }
                 } else {
                    this.$message.error(res.msg);
                 }
                 this.isAdd = false;
             }, (response) => {
                 this.$message.error('出错了:' + response);
                 this.isAdd = false;
             });

             } else {
              this.isAdd = false;
               return false;
             }

           });
    },
    reset(form){
     this.queryS.productTitle='';
     this.queryS.status='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
    chargeFormat(row, column){
     let arr = this.chargeBackArray;
     for(var i = 0; i <arr.length; i++){
       if(row.chargeback == arr[i].name){
           return arr[i].desc
       }
     }
    },
    statusFormat(row, column){
       if(row.status == '1'){
         return '已启用'
       }else if(row.status == '0'){
         return '已禁用'
       }else{
         return row.status
       }
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/yjTravelProduct/read/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                productTitle:this.queryS.productTitle,
                status:this.queryS.status,
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                   this.chargeBackArray = res.data.chargebackType;
                   this.tableData = res.data.travelProduct.records;
                   this.total = res.data.travelProduct.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
.btn-groups-k{
  display: flex;
  justify-content:flex-end;
}
</style>
