<template>
<div>
	<div class="table-list">
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="travelTime"
                  :formatter ="formatterTime"
                  label="出发时间">
          </el-table-column>
          <el-table-column
                  prop="productCount"
                  label="发团人数">
          </el-table-column>
          <el-table-column
                  prop="appointAccount"
                  label="预定人数">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="100"
                  label="操作">
                  <template slot-scope="scope">
                     <el-button type="danger" size="small" @click="handleDel(scope.row)">删除</el-button>
                  </template>
          </el-table-column>
	    </el-table>

         <el-pagination
          class="page-k"
            layout="total, prev, pager, next"
            @current-change="changePageNum"
            :page-size="10"
            :total="total">
        </el-pagination>




    <el-form :inline="true" :model="addTimeSetForm" class="time-set-form">
        <el-form-item label="出发时间：">
            <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期"
                @change="modifyTime"
                :picker-options="pickerOptions0">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="出发人数：">
            <el-input-number v-model="addTimeSetForm.product_count" :debounce="10" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" :loading="isAdd" @click="addMark">添加</el-button>
        </el-form-item>
    </el-form>

    


	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'timeSet',
  props:['dataId'],
  data () {
    return {
        pageNum: 1,
    	total: 0,
    	//表格类
    	tableData:[
    	],
        addTimeSetForm:{
             travel_time:'',
             product_count:0,
        },
        value1:'',
        isAdd:false,
        pickerOptions0: {
            disabledDate(time) {
                return time.getTime() < Date.now() - 8.64e7;
            }
            }
    };
  },
  created(){
  	this.getList();
  },
 watch:{
     dataId: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
      pageNum: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
 },
  methods: {
      changePageNum(curPage){
      this.pageNum = curPage;
    },
       formatterTime(row, column){
          return row.travelTime.split(' ')[0]
         },
        modifyTime(time){
            this.addTimeSetForm.travel_time = time;
        },
         getList(){
             this.$http.post('/yjTravelProduct/timeList',{product_id:this.dataId, pageNum:this.pageNum, pageSize:10}).then((response) => {
                 // 响应成功回调      
                const res = response.body;
                 if (res.code==200) {
                     this.tableData = res.data.records;
                     this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         addMark(){
             console.log(this.value1);
              this.isAdd = true;
              this.$http.post('/yjTravelProduct/addTime',{
                  product_id:this.dataId,
                  travel_time: this.addTimeSetForm.travel_time,
                  product_count: this.addTimeSetForm.product_count
              }).then((response) => {
                  const res = response.body
                  console.log(res);                 
                  if (res.code==200) {
                    if(res.data.success){
                        this.getList()
                        this.$message('添加成功');
                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                      this.$message.error(res.msg);
                  }
                   this.isAdd = false; 
              }, (response) => {
                  this.$message.error('出错了:' + response);
                   this.isAdd = false; 
              });
               
         },
         handleDel(row){
             this.$confirm('确定要删除吗', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {

              this.$http.post('/yjTravelProduct/deleteTime',{id:row.id_}).then((response) => {
                  const res = response.body
                  console.log(res);                 
                  if (res.code==200) {
                    if(res.data.success){
                        this.$message('删除成功');
                        this.getList();
                    }else{
                      this.$message(res.data.message);
                    }
                  } else {
                      this.$message.error(res.msg);
                  }
              }, (response) => {
                  this.$message.error('出错了:' + response);
              });

            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              });
            });
         }
  }
};
</script>
<style lang="css" scoped>

  .time-set-form{
     margin-top: 20px;
  }
</style>