<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sys/model'}">导航模块管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="80px">
                    <el-form-item label="导航名称" prop="moduleName">
                        <el-input v-model="search.moduleName"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-select :clearable="true" v-model="search.status" placeholder="请选择状态">
                            <el-option
                                    v-for="item in statusArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                        <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                    </el-form-item>
                    <el-button v-on:click="openAddDialog" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加导航</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
          <el-table-column
            prop="sort"
            label="排序">
          </el-table-column>
            <el-table-column
                    prop="moduleName"
                    label="导航名称">
            </el-table-column>
            <el-table-column
                    prop="path"
                    label="路径">
            </el-table-column>
            <el-table-column
                    prop="createAccount"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    prop="updateAccount"
                    label="操作人">
            </el-table-column>
            <el-table-column
                    label="图标">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="warning"
                            @click="showPic(scope.row)">查看图片
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label="修改时间">
            </el-table-column>
            <el-table-column
                    label="当前状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.status==1">启用</span>
                    <span v-else>停用</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    width="250">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEdit(scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteRole(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                            v-if="scope.row.status==1"
                            size="small"
                            type="warning"
                            @click="setStatus(scope.row, 0)">禁用
                    </el-button>
                    <el-button
                            v-else
                            size="small"
                            type="success"
                            @click="setStatus(scope.row, 1)">启用
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog
                title="查看图片"
                :visible.sync="showPicFlag"
                size="tiny"
                :before-close="closePicShow">
            <img :src="bigPic" />
        </el-dialog>

        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>

        <!-- 添加 -->
        <el-dialog title="添加导航" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :rules="rules" :model="add" label-width="100px">
                <el-form-item label="导航名称" prop="moduleName">
                    <el-input v-model="add.moduleName"></el-input>
                </el-form-item>
                <el-form-item label="图标" prop="icon">
                    <el-input type="hidden" v-model="add.icon"></el-input>
                    <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/config/getPolicy'"  @change="getUploadAdd"></upload>
                </el-form-item>
                <el-form-item label="关联类型">
                  <el-radio-group v-model="bindType">
                    <el-radio :label="1">第三方链接</el-radio>
                    <el-radio :label="2">站内主题</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item v-if="bindType===1" label="链接网址" prop="path">
                    <el-input v-model="add.path"></el-input>
                </el-form-item>

              <el-form-item v-if="bindType===2" label="站内主题" prop="topicId">
                <el-select v-model="add.topicId" filterable placeholder="请选择" @change="clearPath">
                  <el-option
                    v-for="item in topicArray"
                    :key="item.id_"
                    :label="item.topicName"
                    :value="item.id_">
                  </el-option>
                </el-select>
              </el-form-item>


                <el-form-item label="排序" prop="sort">
                    <el-input type="number" v-model.number="add.sort"></el-input>
                </el-form-item>


            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add','addBtnFlag', 'addNew')">确 定</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>

        <!-- 修改 -->
        <el-dialog title="修改导航" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">
                <el-form ref="edit" :rules="rules" :model="edit" label-width="120px">
                    <el-form-item label="导航名称" prop="moduleName">
                        <el-input v-model="edit.moduleName"></el-input>
                    </el-form-item>
                    <el-form-item label="图标" prop="icon">
                        <el-input type="hidden" v-model="edit.icon"></el-input>
                        <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/banner/getPolicy'" @change="getUploadEdit"></upload>
                    </el-form-item>
                  <el-form-item label="关联类型">
                    <el-radio-group v-model="bindType">
                      <el-radio :label="1">第三方链接</el-radio>
                      <el-radio :label="2">站内主题</el-radio>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item v-if="bindType===1" label="链接网址" prop="path">
                    <el-input v-model="edit.path"></el-input>
                  </el-form-item>

                  <el-form-item v-if="bindType===2" label="站内主题" prop="topicId">
                    <el-select v-model="edit.topicId" filterable placeholder="请选择"  @change="clearPath">
                      <el-option
                        v-for="item in topicArray"
                        :key="item.id_"
                        :label="item.topicName"
                        :value="item.id_">
                      </el-option>
                    </el-select>
                  </el-form-item>
                    <el-form-item label="排序" prop="sort">
                        <el-input type="number" v-model.number="edit.sort"></el-input>
                    </el-form-item>
                </el-form>
             <div slot="footer" class="dialog-footer">
                 <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'update')">确 定</el-button>
            <el-button @click="closeEditDialog">取 消</el-button>
        </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import Upload from '../Upload.vue';
    import api from '../../api/nav';
    export default {
        data (){
            //数字 1-11位 ，并且是正整数（包括0）
            var checkSortNumber = (rule, value, callback) => {  //数字 1-11位
                var reg = /^[0-9]*[0-9][0-9]*$/;
                if(reg.test(value)){
                    if(value.toString().length>=1 && value.toString().length<=11){
                        callback();
                    }else{
                        callback(new Error('请输入1-11位长度的整数'));
                    }
                }else{
                    callback(new Error('请输入正整数'));
                }

            };

            return {
                bindType:2,
                topicArray:[],
                tableLoading:true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                editDialog: false,
                picArray:[],
                returnStr: '',
                statusArray:[{label:'启用', value:1},{label:'禁用', value:0}],
                updateBtnFlag:false,
                addBtnFlag:false,
                searchBtnFlag: false,
                showPicFlag: false,
                bigPic:'',
                add: {
                    moduleName:'',
                    icon:'',
                    path: '',
                    topicId:'',
                    sort: '',
                },
                edit:{
                    version:'',
                    id:'',
                    status: '',
                    moduleName:'',
                    icon:'',
                    path: '',
                    topicId:'',
                    sort: '',
                },
                search: {
                    moduleName: '',
                    status: '',
                },
                del: {
                    version:'',
                    id:''
                },
                addDialog: false,
                searchRules: {
                },
                rules: {
                    moduleName: [
                        { required: true, message: '请输入导航名称', trigger: 'blur' },
                        { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
                    ],

                    icon:[
                        { required: true, message: '请上传图片'}
                    ],
                    path: [
                        { required: true, message: '请输入导航路径地址', trigger: 'blur' },
                        { min: 4, max: 200, message: '长度为4-200', trigger: 'blur' }
                    ],
                    sort: [
                        { type: 'number', required: true, message: '请输入排序号', trigger: 'blur' },
                        { validator: checkSortNumber}
                        //{min: 0, max: 16, message: '请输入0-16位数字', trigger: 'blur' },
                    ],
                }
            }
        },
        created () {
            this.getList();
            this.getTopic();
        },
        components: {
            Page,
            Upload
        },
        filters: {
            menuShow: function (value) {
                return value == true ? '已启用' : '已禁用'
            }
        },
        watch: {

          bindType:{
           deep: true,
           handler:function (val, oldVal) {
             if(val===1){ //第三方链接的时候清除主题
               this.add.topicId=''
               this.edit.topicId=''
             }else{

             }
           }
          },
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            returnStr: {
                handler: function (val, oldVal) {
                    this.add.icon = val;
                },
                deep: true

            }
        },
        computed: {
          baseHost () {
              return this.$store.state.host;
          }
        },
        methods: {

          clearPath(){
            this.add.path=''
            this.edit.path=''
          },

            //上传成功回调自定义事件，一般用于返回图片URL等
            getUploadAdd (val) {
                this.add.icon = val;
            },
            getUploadEdit (val) {
                this.edit.icon = val;
            },

            showPic (row) {
                this.showPicFlag = true;
                this.bigPic = this.baseHost+row.icon;
            },
            closePicShow () {
                this.showPicFlag = false;
                this.bigPic = '';
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },


            submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
                if(validBtn){
                  this[validBtn] = true;
                }
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this[fn]();
                    } else {
                        if(validBtn){
                          this[validBtn] = false;
                        }
                        this.$message.error('请按照提示填写表单');
                        return false;
                    }
                });
            },


            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openAddDialog (){
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增表单弹窗

                this.addDialog = false;
                this.resetForm('add');
                this.picArray=[];
                this.addBtnFlag = false;

            },

            openEdit (row) {  //打开编辑表单弹窗
                this.edit.version = row.version;
                this.edit.id = row.id_;
                this.edit.topicId=row.strTopicId;
                this.edit.path=row.path;
                if(row.strTopicId){
                  this.bindType=2;
                  this.edit.path='';
                }else{
                  this.bindType=1;
                }
                row.icon? this.edit.icon = row.icon : '';
                this.picArray = [{name: 'icon', url:this.baseHost+row.icon}];
                this.$set(this.edit, 'status', row.status);
                this.$set(this.edit, 'path', row.path);
                this.$set(this.edit, 'sort', row.sort);
                this.$set(this.edit, 'moduleName', row.moduleName);
                this.editDialog = true;

            },

            closeEditDialog (done){ //关闭编辑表单弹窗

                this.editDialog = false;
                this.resetForm('edit');
                this.updateBtnFlag = false;
                this.picArray=[];
            },

          getTopic () {  //获取主题
            this.$http.post('/config/read/getTopic').then((response) => {
              // 响应成功回调
              const res = response.body;
              if (res.code==200) {
                if(res.data){
                  this.topicArray=res.data;
                }
              } else {
              }
            }, (response) => {
              // 响应错误回调
            });
          },


          addNew () {  //添加角色
                this.addBtnFlag = true;
                this.$http.post('/config/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑
                this.updateBtnFlag = true;
                this.$http.post('/config/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    var res = response? response : '请不要操作太快';
                    this.$message('出错了:' + res);
                    this.updateBtnFlag = false;
                });
            },

            setStatus (row,state) {  //启用或者禁用
              let url =''
              if(state==1){
                url = '/config/start'
              }else{
                url = '/config/disable'
              }
                this.$http.post(url, {id:row.id_, version: row.version, status: state}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            deleteRole (row){ //删除导航
                this.$confirm('此操作将永久删除当前导航, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/config/delete', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message.error('出错了:' + response);
                    });
                })
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },
            getList () {  //获取分页
              this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    moduleName: this.search.moduleName,
                    status: this.search.status
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                  this.tableLoading = false;
                }, (response) => {
                    // 响应错误回调
                  this.tableLoading = false;
                });
            }
        },
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        }
    }
</script>
