<template>
  <div class="table-list">
    <el-table
      :data="tableData"
      stripe
      style="width: 100%">
      <el-table-column
        label="ID"
        width="180">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column
        prop="deptName"
        label="部门名称"
        width="180">
      </el-table-column>
      <el-table-column
        prop="createTime"
        label="创建时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="200">
        <template slot-scope="scope">
          <el-button
            size="small"
            @click="">编辑
          </el-button>
          <el-button
            size="small"
            type="danger"
            @click="">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
          v-on:handleCurrentChange="getPageNum"></page>
  </div>
</template>
<script>
  import Page from '../Page.vue';
  import deptApi from '../../api/dept';
  export default {
    data (){
      return {
        tableData: [],
        pageSize: parseInt(this.$route.params.pageSize),
        pageNum: parseInt(this.$route.params.pageNum),
        total: 0,
        pathName: this.$route.name
      }
    },
    created () {
      this.getList()
    },
    components: {
      Page
    },
    filters: {
    },
    watch: {
      pageSize: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      },
      pageNum: {
        handler: function (val, oldVal) {
          this.getList();
        },
        deep: true
      }
    },
    methods: {
      getPageSize (val) {
        this.pageSize = val;
        console.log(val)
      },
      getPageNum (val) {
        this.pageNum = val;
        console.log(val)
      },
      getList () {
        deptApi.getList({
          pageNum: this.pageNum,
          pageSize: this.pageSize
        }, (response) => {
          const res = response.body;
          if (res.code==200) {
            this.tableData = res.data.records;
            this.total = res.data.total;
          } else {
            console.log(res);
          }
        });
      }
    },
    beforeRouteUpdate (to, from, next) {
      var pageCur = to.params.pageNum;
      console.log(pageCur);
      this.pageNum = pageCur;
      next();
      // 在当前路由改变，但是改组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
    }
  }
</script>
