<template>
    <div class="table-list">
      <div class="breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sys/banner'}">首页广告管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
        <div class="list-todo__top">
            <div class="todo-btn">
                <el-form :inline="true" :rules="searchRules" ref="search" :model="search" label-width="60px">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="search.title"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-select :clearable="true" v-model="search.status" placeholder="请选择状态">
                            <el-option
                                    v-for="item in statusArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="searchList('search')" :loading="searchBtnFlag">查询</el-button>
                        <el-button type="default" @click="reset" :loading="searchBtnFlag">重置条件</el-button>
                    </el-form-item>
                    <el-button v-on:click="openAddDialog" type="success"><i class="fa fa-plus" aria-hidden="true"></i> 添加广告</el-button>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="title"
                    label="标题">
            </el-table-column>
            <el-table-column
                    label="广告图片">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="warning"
                            @click="showPic(scope.row)">查看图片
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="url"
                    label="跳转链接">
            </el-table-column>
            <el-table-column
                    prop="sort"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label="修改时间">
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    width="250">
                <template slot-scope="scope">
                    <el-button
                            size="small"
                            type="primary"
                            @click="openEdit(scope.row)"><i class="fa fa-edit" aria-hidden="true"></i> 编辑
                    </el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="deleteRole(scope.row)"><i class="fa fa-trash-o fa-lg"></i> 删除
                    </el-button>
                    <el-button
                            v-if="scope.row.status==1"
                            size="small"
                            type="warning"
                            @click="setStatus(scope.row, 0)">禁用
                    </el-button>
                    <el-button
                            v-else
                            size="small"
                            type="success"
                            @click="setStatus(scope.row, 1)">启用
                    </el-button>
                </template>
            </el-table-column>
        </el-table>


        <el-dialog
                title="查看广告图片"
                :visible.sync="showPicFlag"
                size="tiny"
                :before-close="closePicShow">
            <img :src="bigPic" />
        </el-dialog>
        <page :pageSize="pageSize" :total="total" :routerName="pathName" v-on:handleSizeChange="getPageSize"
              v-on:handleCurrentChange="getPageNum"></page>

        <!-- 添加操作员 -->
        <el-dialog title="添加 广告图" :close-on-click-modal="false" :visible.sync="addDialog" :before-close="closeAddDialog">
            <el-form ref="add" :rules="rules" :model="add" label-width="100px">
                <el-form-item label="标题" prop="title">
                    <el-input v-model="add.title"></el-input>
                </el-form-item>
                <el-form-item label="广告图片" prop="picurl">
                    <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/banner/getPolicy'" @change="getUploadAdd"></upload>
                </el-form-item>
                <el-form-item label="跳转链接" prop="url">
                    <el-input v-model="add.url"></el-input>
                </el-form-item>
                <el-form-item label="排序" prop="sort">
                    <el-input type="number" v-model.number="add.sort"></el-input>
                </el-form-item>


            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" :loading="addBtnFlag" @click="submitForm('add', 'addBtnFlag', 'addNew')">确 定</el-button>
                <el-button @click="closeAddDialog">取 消</el-button>
            </div>
        </el-dialog>

        <!-- 修改 -->
        <el-dialog title="修改 广告图片" :close-on-click-modal="false" :visible.sync="editDialog" :before-close="closeEditDialog">
                <el-form ref="edit" :rules="rules" :model="edit" label-width="120px">
                    <el-input type="hidden" v-model="edit.id"></el-input>
                    <el-input type="hidden" v-model="edit.version"></el-input>
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="edit.title"></el-input>
                    </el-form-item>
                    <el-form-item label="广告图片" prop="picurl">
                        <upload :fileList="picArray" :isSingle="true" :getPolicyUrl="'/banner/getPolicy'" @change="getUploadEdit"></upload>
                    </el-form-item>
                    <el-form-item label="跳转链接" prop="url">
                        <el-input v-model="edit.url"></el-input>
                    </el-form-item>
                    <el-form-item label="排序" prop="sort">
                        <el-input type="number" v-model.number="edit.sort"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-radio class="radio" v-model="edit.status" :label="1">启用</el-radio>
                        <el-radio class="radio" v-model="edit.status" :label="0">禁用</el-radio>
                    </el-form-item>
                </el-form>
             <div slot="footer" class="dialog-footer">
                 <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('edit', 'updateBtnFlag', 'update')">确 定</el-button>
            <el-button @click="closeEditDialog">取 消</el-button>
        </div>
        </el-dialog>

    </div>
</template>
<script>
    import Page from '../Page.vue';
    import Upload from '../Upload.vue';
    import api from '../../api/banner';
    export default {
        data (){
            var checkUrl = (rule, value, callback) => {
                if (!value) {
                    var urlReg = this.urlReg;
                    if(urlReg.test(value)){
                        callback();
                    }else{
                        return callback(new Error('链接格式不正确'));
                    }
                }
            };
          //数字 1-11位 ，并且是正整数（包括0）
          var checkSortNumber = (rule, value, callback) => {  //数字 1-11位
            var reg = /^[0-9]*[0-9][0-9]*$/;
            if(reg.test(value)){
              if(value.toString().length>=1 && value.toString().length<=11){
                callback();
              }else{
                callback(new Error('请输入1-11位长度的整数'));
              }
            }else{
              callback(new Error('请输入正整数'));
            }

          };

            return {
                tableLoading: true,
                tableData: [],
                pageSize: parseInt(this.$route.params.pageSize),
                pageNum: parseInt(this.$route.params.pageNum),
                total: 0,
                pathName: this.$route.name,
                updateBtnFlag: false,
                addBtnFlag: false,
                searchBtnFlag: false,
                showPicFlag: false,
                bigPic:'',
                editDialog: false,
                roles:[],
                picArray:[],
                statusArray:[{label:'启用', value:1},{label:'禁用', value:0}],
                add: {
                    title:'',
                    picurl:'',
                    url: '',
                    sort: '',
                },
                edit:{
                    version:'',
                    id:'',
                    status: '',
                    title:'',
                    sort: '',
                    picurl:'',
                    url:''
                },
                search: {
                    title: '',
                    status: '',
                },
                del: {
                    version:'',
                    id:''
                },
                addDialog: false,
                searchRules: {
                },
                rules: {
                    title: [
                        { required: true, message: '请输入标题', trigger: 'blur' },
                        { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
                    ],
                    picurl: [
                        { required: true, message: '请上传图片'},
                    ],
                  /*  url: [
                        { required: true, message: '请输入跳转的链接地址', trigger: 'blur' },
                        { min: 4, max: 500, message: '长度请控制在4-500', trigger: 'blur' },
                        { validator: checkUrl, trigger: 'blur' }
                    ],*/
                    sort: [
                       {type: 'number',required: true, message: '请输入排序号', trigger: 'blur' },
                      { validator: checkSortNumber}
                    ],
                }
            }
        },
        created () {
            this.getList();
        },
        components: {
            Page,
            Upload
        },
        filters: {
            menuShow: function (value) {
                return value == true ? '已启用' : '已禁用'
            }
        },
        watch: {
            pageSize: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            },
            pageNum: {
                handler: function (val, oldVal) {
                    this.getList();
                },
                deep: true
            }
        },
        computed: {
            baseHost () {
                return this.$store.state.host;
            },
            urlReg () {
                return this.$store.state.urlReg
            }
        },
        methods: {
            //上传成功回调自定义事件，一般用于返回图片URL等
            getUploadAdd (val) {
                this.add.picurl = val;
            },
            getUploadEdit (val) {
                this.edit.picurl = val;
            },

            searchList (formName) {  //搜索
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.pageNum = 1;
                        this.getList();
                    } else {
                        this.$message.error('请根据提示选择筛选条件');
                        return false;
                    }
                });
            },

            reset () {  //查询reset
                var self = this;
                self.searchBtnFlag = true;
                setTimeout(function () {
                    self.searchBtnFlag = false;
                },1500);
                this.resetForm('search');
                this.pageNum = 1;
                this.getList();
            },

            showPic (row) {
                this.showPicFlag = true;
                this.bigPic = this.baseHost+row.picurl;
            },
            closePicShow () {
                this.showPicFlag = false;
            },

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },


            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

            openAddDialog (){
                this.addDialog = true;
            },
            closeAddDialog (done){  //关闭新增角色表单弹窗
                this.addDialog = false;
                this.resetForm('add');
                this.picArray= [];
                this.addBtnFlag = false;
            },

            openEdit (row) {  //打开编辑角色表单弹窗
                this.edit.version = row.version;
                this.edit.id = row.id_;
                row.picurl? this.edit.picurl = row.picurl : '';
                this.picArray = [{name: 'banner', url:this.baseHost+this.edit.picurl}];
                this.$set(this.edit, 'status', row.status);
                this.$set(this.edit, 'url', row.url);
                this.$set(this.edit, 'sort', row.sort);
                this.$set(this.edit, 'title', row.title);
                this.editDialog = true;

            },

            closeEditDialog (done){ //关闭编辑角色表单弹窗
                this.editDialog = false;
                this.updateBtnFlag = false;
                this.picArray=[];
            },

            addNew () {  //添加banner
                this.addBtnFlag = true;
                this.$http.post('/banner/add', this.add).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeAddDialog();
                            this.getList();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.addBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    var res = response? response : '请不要操作太快';
                    this.$message('出错了:' + res);
                    this.addBtnFlag = false;
                });
            },


            update () {  //编辑banner
                this.updateBtnFlag = true;
                this.$http.post('/banner/update', this.edit).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.closeEditDialog();
                            this.getList();
                        }else{
                            this.$message.error(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });
            },

            setStatus (row, state) {  //启用或者禁用
              let url =''
              if(state==1){
                url = '/banner/start'
              }else{
                url = '/banner/disable'
              }


                this.$http.post(url, {id:row.id_, version: row.version, status: state}).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message(res.msg);
                            this.getList();

                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                });
            },

            deleteRole (row){ //删除操作员
                this.$confirm('此操作将永久删除广告图, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.post('/banner/delete', {id:row.id_, version: row.version}).then((response) => {
                        // 响应成功回调
                        const res = response.body;
                        if (res.code==200) {
                            if(res.data.success){
                                this.$message(res.msg);
                                this.getList();

                            }else{
                                this.$message(res.data.message);
                            }
                        } else {
                            this.$message.error(res.msg);
                        }
                    }, (response) => {
                        // 响应错误回调
                        this.$message('出错了:' + response);
                    });
                })
            },
            getPageSize (val) {
                this.pageSize = val;
                console.log(val)
            },
            getPageNum (val) {
                this.pageNum = val;
                console.log(val)
            },
            getList () {  //获取分页
                 this.tableLoading = true;
                api.getList({
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    title: this.search.title,
                    status: this.search.status,
                }, (response) => {
                    const res = response.body;
                    if (res.code == 200) {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    } else {
                      if(res){
                        this.$message.error('后台返回状态码：'+res.code+', 提示：'+res.data.message);
                      }
                    }
                  this.tableLoading = false;
                }, (response) => {
                  this.tableLoading = false;
                    // 响应错误回调
                });
            }
        },
        beforeRouteUpdate (to, from, next) {
            var pageCur = to.params.pageNum;
            console.log(pageCur);
            this.pageNum = pageCur;
            next();
            // 在当前路由改变，但是改组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`
        }
    }
</script>
