<template>
<div>
	<div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>协会订单管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
	    <div class="list-todo__top">
            <el-form v-model="queryS" :inline="true" ref="search">
              <el-form-item label="订单编号：" label-width="90px">
                <el-input v-model="queryS.orderNo"></el-input>
              </el-form-item>
                <el-form-item label="联系人：" label-width="90px">
                  <el-input v-model="queryS.contact"></el-input>
                </el-form-item>
              <el-form-item label="联系电话：" label-width="90px">
                  <el-input v-model="queryS.phone"></el-input>
                </el-form-item>
              <el-form-item label="订单状态：" label-width="90px">
                <el-select v-model="queryS.orderStatus">
                  <el-option
                  v-for="item in orderOption"
                  :value="item.name"
                  :key="item.name"
                  :label="item.desc">
                  </el-option>
                </el-select>
              </el-form-item>
                <el-row>
                    <el-form-item>
                      <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                        <el-button type="default" :loading="isSearch" @click="reset('search')">重置条件</el-button>
                    </el-form-item>
                </el-row>
            </el-form>
	    </div>
	    <el-table
	            :data="tableData"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="orderNo"
                  width="180"
                  label="订单编号">
          </el-table-column>
          <el-table-column
                  prop="productTitle"
                  width="150"
                  label="产品标题">
          </el-table-column>
          <el-table-column
                  prop="deadline"
                  width="180"
                  :formatter="formatterTime"
                  label="有效截止时间">
          </el-table-column>
          <el-table-column
                  prop="code"
                  width="120"
                  label="验证码">
          </el-table-column>
          <el-table-column
                  prop="buyerNo"
                  width="180"
                  label="第三方订单编号">
          </el-table-column>
          <el-table-column
                  prop="contact"
                  label="联系人">
          </el-table-column>
          <el-table-column
                  prop="otherNum"
                  label="非会员票数">
          </el-table-column>
          <el-table-column
                  prop="otherPrice"
                  label="非会员价格">
          </el-table-column>
          <el-table-column
                  prop="vipNum"
                  label="会员票数">
          </el-table-column>
          <el-table-column
                  prop="vipPrice"
                  label="会员价格">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  width="130"
                  label="联系电话">
          </el-table-column>
          <el-table-column
                  prop="money"
                  label="订单金额">
          </el-table-column>
          <el-table-column
                  prop="chargeback"
                  width="120"
                  :formatter="formatterBack"
                  label="退单类型">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  width="180"
                  label="下单时间">
          </el-table-column>
          <el-table-column
                  prop="orderStatus"
                  width="120"
                  label="订单状态"
                  :formatter="formatterOrder">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="100"
                  label="操作">
                  <template slot-scope="scope">
                     <el-button type="primary" :disabled="['SETOUT','APPOINTMENT'].indexOf(scope.row.orderStatus)<0"  @click="handleUpdate(scope.row)" size="small">更新</el-button>
                  </template>
          </el-table-column>
	    </el-table>
	 <page :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

    <el-dialog title="更新采购状态" :visible.sync="dialogFormVisible">
      <el-form :model="updateForm" :rules="updateRule" ref="updateForm">
        <el-form-item label="订单状态：" label-width="120px" prop="orderStatus">
                <el-select v-model="updateForm.orderStatus">
                  <el-option
                  v-for="item in orderOption"
                  :value="item.name"
                  :key="item.name"
                  :label="item.desc">
                  </el-option>
                </el-select>
              </el-form-item>
        <el-form-item label="订单编号：" label-width="120px" prop="buyerNo">
          <el-input  v-model="updateForm.buyerNo"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible=false">取 消</el-button>
        <el-button  type="primary" @click="doUpdate('updateForm')" :loading="isUpdate">确 定</el-button>
      </div>
    </el-dialog>

	</div>
</div>
</template>
<script>
import Page from '../Page.vue';
import { MessageBox } from 'element-ui';
import moment from 'moment';
export default {
  name: 'associationlist',
  components: {
      Page
  },
  data () {
    return {
      // 提交频率控制按钮
      isSearch:false,
      isUpdate:false,
      rowDataId:'',
      rowDataVs:'',
    	//页码类
    	pageNum: parseInt(this.$route.params.pageNum),
    	total: 0,
        dialogFormVisible:false,
    	pathName: this.$route.name,
    	pageSize:parseInt(this.$route.params.pageSize),
    	//表格类
    	tableData:[
    	],
        formLabelWidth: '120px',
     	// 查询条件
      queryS:{
        orderNo:'',
        contact:'',
        phone:'',
        orderStatus:''
      },
      updateForm:{
        orderStatus:'',
        buyerNo:'',
        id:'',
        version:''
      },
        orderOption:[],
        backOption:[],
        updateRule:{
            orderStatus:[{ required: true, message: '请选择订单状态', trigger: 'change' }]
            },
    };
  },
  created(){
  	this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    formatterOrder(row, column){
      let arr = this.orderOption;
      for(var i = 0; i <arr.length; i++){
        if(row.orderStatus == arr[i].name){
            return arr[i].desc
        }
      }
    },
    handleUpdate(row){
        if (this.$refs['updateForm']) {
          this.$refs['updateForm'].resetFields();
        }
        this.updateForm.id=row.id_;
        this.updateForm.version=row.version;
        this.dialogFormVisible=true;
    },
    formatterBack(row, column){
      let arr = this.backOption;
      for(var i = 0; i <arr.length; i++){
        if(row.chargeback == arr[i].name){
            return arr[i].desc
        }
      }
    },
    formatterTime(row, column){
      if(row.deadline){
        return moment(row.deadline).format("YYYY-MM-DD")
      }else{
        return ''
      }

    },
    doUpdate(form){
        this.isUpdate = true;
        this.$refs[form].validate((valid) => {
            if (valid) {
            this.$http.post('/astOrder/updateOrderBuyInfo',this.updateForm).then((response) => {
                // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                if(res.data.success){
                this.$message('操作成功');
                this.dialogFormVisible=false;
                this.getList();
                }else{
                this.$message(res.data.message);
                }
                } else {
                    this.$message.error(res.msg);
                }
                this.isUpdate = false;
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.isUpdate = false;
            });
            }else {
                this.isUpdate = false;
                return false;
                }
            });
    },
    reset(form){
    this.queryS.orderNo='';
    this.queryS.contact='';
    this.queryS.phone='';
    this.queryS.orderStatus='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
  	 handleClose(done) {
	    this.$confirm('确认关闭？')
	      .then(_ => {
	        done();
	      })
	      .catch(_ => {});
	  },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
     getPageSize (val) {
         this.pageSize = val;
     },
     getPageNum (val) {
         this.pageNum = val;
     },
     // 初始表单
     getList(){
         this.$http.post('/astOrder/read/list',{
             orderNo:this.queryS.orderNo,
             contact:this.queryS.contact,
             phone:this.queryS.phone,
             orderStatus:this.queryS.orderStatus,
             pageNum:this.pageNum,
             pageSize:this.pageSize,
        }).then((response) => {
            const res = response.body;
             if (res.code==200) {
                 this.orderOption = res.data.status;
                 this.backOption = res.data.chargeback;
                 this.tableData = res.data.page.records;
                 this.total = res.data.page.total;
             } else {
                 this.$message.error(res.msg);
             }
         }, (response) => {
             this.$message.error('出错了:' + response);
         });
     },
     beforeRouteUpdate (to, from, next) {
         var pageCur = to.params.pageNum;
         console.log(pageCur);
         this.pageNum = pageCur;
         next();
     }

  }
};
</script>

<style type="text/css">
  .k-radio-group{
    margin-left: 15px;
    margin-bottom: 20px;
  }

</style>
