<template>
<div>
	<div class="table-list">
        <el-upload
          class="upload-demo"
          ref="upload"
          accept="excel"
          :on-success="handleSuccess"
          :on-error="handleFail"
          action="/associationUser/readUserOfExcel/read"
          :file-list="fileList"
          :before-upload="beforeUp"
          :show-file-list="false"
          :auto-upload="true">
          <el-button :loading="exportLoad" slot="trigger" size="small" type="primary">选取电子表格</el-button>
          <el-button :loading="exportLoad" size="small" type="success" @click="doSave">导入</el-button>
      </el-upload>
	    <el-table
	            :data="tableData"
                v-loading="tableLoading"
                element-loading-text="拼命加载中"
                class="k-el-table"
	            stripe
	            style="width: 100%">
          <el-table-column
                  prop="no"
                  label="序号">
          </el-table-column>
          <el-table-column
                  prop="deductCostTime"
                  label="扣费时间">
          </el-table-column>
          <el-table-column
                  prop="creditNo"
                  label="账号">
          </el-table-column>
          <el-table-column
                  prop="name"
                  label="姓名">
          </el-table-column>
          <el-table-column
                  prop="idCard"
                  label="证件号">
          </el-table-column>
          <el-table-column
                  prop="dues"
                  label="计划代扣金额">
          </el-table-column>
          <el-table-column
                  prop="duesCheckout"
                  label="实扣金额">
          </el-table-column>
          <el-table-column
                  prop="statusText"
                  label="操作状态">
          </el-table-column>
          <el-table-column
                  prop="resume"
                  label="备注">
          </el-table-column>
	    </el-table>
        <el-pagination
          class="page-k"
            layout="total, prev, pager, next"
            @current-change="changePageNum"
            :page-size="10"
            :total="total">
        </el-pagination>

	</div>
</div>
</template>
<script>
import { MessageBox } from 'element-ui';
export default {
  name: 'importxls',
  data () {
    return {
        pageNum: 1,
        total: 0,
        exportLoad:false,
    	//表格类
    	tableData:[
        ],
        tableLoading:false,
        totalData:[],
        markInput:'',
        isAdd:false,
        fileList: [],
        data1:{
        }
    };
  },
  created(){
  	this.getList();
  },
 watch:{
     dataId: {
         handler: function (val, oldVal) {
             this.getList();
         },
         deep: true
     },
       pageNum: {
         handler: function (val, oldVal) {
             this.getList(val);
         },
         deep: true
     }
 },
  methods: {
      beforeUp(file){
          this.tableLoading=true;
      },
        handleSuccess(res, file, fileList){
        if (res.code==200) {
            if(res.data.success){
                 this.totalData = res.data.obj[0];
                 this.total = this.totalData.length;
                 this.getList(1);
                 
            }else{
               this.$message(res.data.message);  
               
            }
        } else {
            this.$message.error(res.msg);
           
        }
        this.tableLoading=false;
    },
    handleFail(err, file, fileList){
    },
      changePageNum(curPage){
      this.pageNum = curPage;
    },
     submitUpload() {
        this.$refs.upload.submit();
      },
         getList(page_num){
                let totalNum = Math.ceil(this.total/10);
                let startIndex = (page_num -1)*10;
                let endIndex = page_num*10-1;
                this.tableData = this.totalData.slice(startIndex, endIndex+1)
         },
         doSave(){
             let tempData=this.totalData;
             tempData.forEach(function(item) {
               delete item['no']
            }); 
        if(tempData.length){
              this.exportLoad=true;
              this.$http.post('/associationUser/saveUserInfo/insert',{userInfoList:JSON.stringify(tempData)}).then((response) => {
                // 响应成功回调
                const res = response.body;          
                if (res.code==200) {
                if(res.data.success){
                    this.$message('导入成功');
                    this.$emit('closement');
                }else{
                    this.$message(res.data.message);
                }
                } else {
                    this.$message.error(res.msg);
                }
                this.exportLoad=false;   
            }, (response) => {
                this.$message.error('出错了:' + response);
                this.exportLoad=false;  
            });
             }else{
                 this.$message('请先选取电子表格');
             }
          
         }
  }
};
</script>
<style lang="scss" scoped>
.k-el-table{
    margin-top: 20px;
}
</style>
