<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>自驾协会会员绑定加油卡</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
        <div class="list-todo__top">
            <el-form :inline="true" ref="search" :model="queryS">
              <el-form-item label="姓名:">
                <el-input v-model="queryS.name"></el-input>
              </el-form-item>
              <el-form-item label="手机号:">
                <el-input v-model="queryS.phone"></el-input>
              </el-form-item>
                <el-form-item label="时间:">
                    <el-date-picker :picker-options="pickerOptions" v-model="daterange" format="yyyy/MM/dd HH:mm:ss" type="datetimerange" @change="spliceTime" placeholder="选择日期范围">
                    </el-date-picker>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
              </el-form-item>
              <div>
                <el-button type="success" @click="doExport"><i class="fa fa-plus" aria-hidden="true"></i> 导出</el-button>
              </div>
            </el-form>
        </div>

      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="name"
                  label="姓名">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="手机号">
          </el-table-column>
          <el-table-column
                  prop="idCard"
                  label="身份证号">
          </el-table-column>
          <el-table-column
                  prop="oilType"
                  :formatter="formatterOil"
                  label="优惠油品">
          </el-table-column>
          <el-table-column
                  prop="oilCardNo"
                  label="加油卡号">
          </el-table-column>
          <el-table-column
                  prop="createTime"
                  label="绑定时间">
          </el-table-column>
      </el-table>
   <page class="pagination__bar" :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>

  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
export default {
  name: 'linksinocard',
  components: {
      Page
  },
  data () {

    return {
      // 提交频率控制按钮
      isSearch:false,
      daterange:'',
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      //表单类
        formLabelWidth: '120px',
      // 查询条件
        queryS:{
          name:'',
          phone:'',
          startTime:'',
          endTime:''
        },
         pickerOptions: {  //时间范围限制
          disabledDate(time) {
            return time.getTime() > Date.now() + 8.64e7


              
          }
        },
    };
  },
  created(){
    this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      }
  },
  methods: {
    formatterOil(row, column){
      if(row.oilType=='1'){
        return '汽油'
      }else if(row.oilType=='2'){
        return '柴油'
      }
    },
     doExport(){
       let str = '';
       if(this.queryS.startTime&&this.queryS.endTime){
          str = JSON.stringify({
              name:this.queryS.name,
              phone:this.queryS.phone,
              startTime:moment(this.queryS.startTime).format("YYYY-MM-DD HH:mm:ss"),
              endTime:moment(this.queryS.endTime).format("YYYY-MM-DD HH:mm:ss")
          })
           window.open(location.origin+'/associationUser/oilCard/query?name='+this.queryS.name+'&&phone='+this.queryS.phone+"&&startTime="+moment(this.queryS.startTime).format("YYYY-MM-DD HH:mm:ss")
              +"&&endTime="+moment(this.queryS.endTime).format("YYYY-MM-DD HH:mm:ss")+'&&pageSize='+this.total);
       }else{
           str = JSON.stringify({
              name:this.queryS.name,
              phone:this.queryS.phone
          })
          window.open(location.origin+'/associationUser/oilCard/query?name='+this.queryS.name+'&&phone='+this.queryS.phone+'&&pageSize='+this.total);
       }
      
       
    },
      spliceTime (val) {
        console.log(val);
        let timeArray = val.split('-');
        this.queryS.startTime = timeArray[0];
        this.queryS.endTime = timeArray[1];
      },
    reset(form){
     this.queryS.name='';
     this.queryS.phone='';
     this.queryS.startTime='';
     this.queryS.endTime='';
     this.daterange = '';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/associationUser/oilCardRead/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                name:this.queryS.name,
                phone:this.queryS.phone,
                startTime:this.queryS.startTime,
                endTime:this.queryS.endTime
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                   this.tableData = res.data.records;
                   this.total = res.data.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

