<template>
<div>
    <div class="container__main">
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>协会会员管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
        <div class="list-todo__top">
            <el-form :inline="true" ref="search" :model="queryS" label-width="100px">
              <el-form-item label="姓名:">
                <el-input v-model="queryS.name"></el-input>
              </el-form-item>
              <el-form-item label="手机号:">
                <el-input v-model="queryS.phone"></el-input>
              </el-form-item>
              <el-form-item label="身份证号码:">
                <el-input v-model="queryS.idCard"></el-input>
              </el-form-item>
              <el-form-item label="会员类型:">
                <el-select  v-model="queryS.associationType" :clearable="true" placeholder="请选择">
                  <el-option
                    v-for="item in vipTypeArr"
                    :key="item.name"
                    :label="item.desc"
                    :value="item.name">
                  </el-option>
                </el-select>
                </el-form-item>
              <el-form-item label="会员状态:">
                <el-select  v-model="queryS.status" :clearable="true" placeholder="请选择">
                  <el-option label="申请" :value="1"></el-option>
                  <el-option label="入会" :value="2"></el-option>
                  <el-option label="作废" :value="3"></el-option>
                  <el-option label="扣费失败" :value="4"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item label="入会时间:">
                <el-date-picker
                v-model="queryS.payTime"
                type="month"
                format="yyyy-MM"
                value-format="yyyy-MM"
                placeholder="选择年月">
              </el-date-picker>
                 </el-form-item>

              <el-form-item label="油品类型:">
                <el-select  v-model="queryS.oilType" :clearable="true" placeholder="请选择">
                  <el-option label="汽油" :value="1"></el-option>
                  <el-option label="柴油" :value="2"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
              </el-form-item>
              <div>
                <el-button type="success" @click="handleOpen()"><i class="fa fa-plus" aria-hidden="true"></i> 导入</el-button>
                <el-dropdown>
                    <el-button type="primary">
                      导出<i class="el-icon-caret-bottom el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="handleExport(2)">申请会员导出</el-dropdown-item>
                      <el-dropdown-item @click.native="doExport">扣费导出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                 <el-date-picker
                  v-model="membershipTime"
                  format="yyyy-MM-dd"
                  value-format="yyyy-MM-dd"
                  type="daterange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                 :picker-options="pickerOptionsEx">
                </el-date-picker>
                <el-button type="info" @click="exOliCard()">导出油卡申请记录</el-button>                
              </div>
            </el-form>
        </div>

      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
              <el-table-column
            type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="姓名">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="银行">
                  <span>{{ props.row.bankName }}</span>
                </el-form-item>
                <el-form-item label="银行卡号">
                  <span>{{ props.row.creditNo }}</span>
                </el-form-item>
                <el-form-item label="会员卡号">
                  <span>{{ props.row.cardNo }}</span>
                </el-form-item>
                <el-form-item label="会员状态">
                  <span v-if="props.row.userStatus=='1'">申请</span>
                  <span v-if="props.row.userStatus=='2'">入会</span>
                  <span v-if="props.row.userStatus=='3'">作废</span>
                  <span v-if="props.row.userStatus=='4'">作废</span>
                </el-form-item>
                <el-form-item label="油品类型">
                  <span v-if="props.row.oilType=='1'">汽油</span>
                  <span v-if="props.row.oilType=='2'">柴油</span>
                </el-form-item>
                <el-form-item label="油卡卡号">
                  <span>{{props.row.oilCardNo}}</span>
                </el-form-item>
                <el-form-item label="身份证号码">
                  <span>{{ props.row.idCard }}</span>
                </el-form-item>
                <el-form-item label="邮寄地址">
                  <span>{{ props.row.emailAddress }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
                  prop="name"
                  label="姓名">
          </el-table-column>
          <el-table-column
                    width="120"
                      label="身份证">
                    <template slot-scope="scope">
                        <el-button
                                size="small"
                                @click="showPic(scope.row)">查看图片
                        </el-button>
                    </template>
                  </el-table-column>
          <el-table-column
                  prop="code"
                  width="120"
                  label="入会邀请码">
          </el-table-column>
          <el-table-column
                  prop="cardNo"
                  label="会员卡号">
          </el-table-column>
          <el-table-column
                  prop="associationType"
                  :formatter="formatVip"
                  label="会员类型">
          </el-table-column>
          <el-table-column
                  prop="membershipTime"
                  width="100"
                  label="入会时间">
          </el-table-column>
          <el-table-column
                  prop="memberEndtime"
                  width="120"
                  label="会员到期时间">
          </el-table-column>
          <el-table-column
                  prop="userStatus"
                  :formatter ="formatterStatus"
                  label="会员状态">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="手机号">
          </el-table-column>
          <el-table-column
            prop="resume"
            label="备注">
          </el-table-column>
          <el-table-column
                  prop="appid"
                  label="申请书编号">
          </el-table-column>
          <el-table-column
                  prop="txflow"
                  label="流水号">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="260"
                  label="操作">
                  <template slot-scope="scope">
                      <el-button :disabled="scope.row.userStatus == '3'" size = "small" type="danger" @click="handleDis(scope.row.id_)">作废</el-button>
                      <el-button :disabled="scope.row.userStatus == '1'" size = "small" type="primary" @click="handlePostphone(scope.row.id_)">会员延期</el-button>
                      <el-button size = "small" type="primary" @click="handleUpdate(scope.row)">修改信息</el-button>
                  </template>
          </el-table-column>
      </el-table>
   <page class="pagination__bar" :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>
   <el-dialog title="会员信息导入"  v-if="diaXls" :visible.sync="diaXls"  size="large"><importxls @closement = "closeDia"></importxls></el-dialog>

     <el-dialog title="会员延期" size="small" :visible.sync="postPhoneDia">
     <el-form label-width="140px">
       <el-form-item label="姓名：">
         <span>{{postData.name}}</span>
       </el-form-item>
       <el-form-item label="会员卡账号：">
         <span>{{postData.creditNo}}</span>
       </el-form-item>
       <el-form-item label="有效期结束时间：">
         <span>{{postData.memberEndtime|filterTime}}</span>
       </el-form-item>
       <el-form-item label="会员结束时间：">
          <el-date-picker
            type="date"
            v-model="postPhoneTime"
            @change="getBeforeTime"
            placeholder="选择日期">
          </el-date-picker>
           <el-checkbox class="k-post-year"  label="延期一年"  v-model="isPostYear"></el-checkbox>
       </el-form-item>
       </el-form>
   <div slot="footer" class="dialog-footer">
     <el-button type="primary" :loading="isDoPostPhone" @click="doPostPhone()">保存</el-button>
      <el-button  @click="postPhoneDia = false">关 闭</el-button>
   </div>
  </el-dialog>

  <el-dialog title="扣费导出" size="tiny" :visible.sync="diaFee">
        <el-form label-width="140px">
            <el-form-item label="会员到期时间：">
              <el-date-picker
                type="date"
                v-model="exportTime"
                @change="getExportTime"
                placeholder="选择日期">
              </el-date-picker>
          </el-form-item>
        </el-form>
   <div slot="footer" class="dialog-footer">
     <el-button type="primary" @click="handleExport(1)">导 出</el-button>
      <el-button  @click="diaFee = false">关 闭</el-button>
   </div>
  </el-dialog>

  </div>
    </div>


<el-dialog title="修改会员基础信息" :visible.sync="updateDialogFlg" :before-close="closeUpdateDia">
  <el-form :model="userInfo" ref="updateUser" :rules="userInfoRules">
    <el-form-item label="用户名" :label-width="formLabelWidth" prop="name">
      <el-input v-model="userInfo.name" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="手机号码" :label-width="formLabelWidth" prop="phone">
      <el-input v-model="userInfo.phone" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="身份证号码" :label-width="formLabelWidth" prop="idCard">
      <el-input v-model="userInfo.idCard" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="邮寄地址" :label-width="formLabelWidth" prop="emailAddress">
      <el-input v-model="userInfo.emailAddress" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="油卡类型" :label-width="formLabelWidth" prop="oilType">
      <span v-if="userInfo.oilType==1">汽油</span>
      <span v-if="userInfo.oilType==2">柴油</span>
       <!-- <el-radio-group v-model="userInfo.oilType">
        <el-radio label="1">汽油</el-radio>
        <el-radio label="2">柴油</el-radio>
      </el-radio-group>  -->
    </el-form-item>
    <el-form-item label="油卡卡号" :label-width="formLabelWidth" prop="oilCardNo">
      <el-input v-model="userInfo.oilCardNo" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="updateDialogFlg = false">取 消</el-button>
    <el-button type="primary" :loading="updateBtnFlag" @click="submitForm('updateUser', 'updateBtnFlag', 'updateUserInfo')">确 定</el-button>
  </div>
</el-dialog>

<el-dialog
        title="查看身份证"
        :visible.sync="showPicFlag"
        width="500px"
        :before-close="closePicShow">
        <p v-if="bigPic.idCardFront"><img :src="baseHost+bigPic.idCardFront+'_xiehui'" style="width:400px;height:250px; margin-bottom:15px;" /></p>
        <p v-else>身份证正面图片地址不正确或者没有图片</p>
        <p v-if="bigPic.idCardReverse"><img :src="baseHost+bigPic.idCardReverse+'_xiehui'" style="width:400px;height:250px; margin-bottom:15px;" /></p>
        <p v-else>身份证背面图片地址不正确或者没有图片</p>        
</el-dialog>

</div>
</template>
<script>
import Page from '../Page.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
import Importxls from './importXls.vue';
export default {
  name: 'seldrive',
  components: {
      Page, Importxls
  },
  data () {
    var checkPhone = (rule, value, callback) => {  //手机号码校验
        if (!value) {
            callback();
        }else{
            var reg = this.phoneReg;
            if(reg.test(value)){
                callback();
            }else{
                callback(new Error('请输入正确的手机号码'));
            }
        }
    };

    return {
      membershipTime:[],
      updateBtnFlag:false,
      updateDialogFlg:false,
      // 提交频率控制按钮
      showPicFlag: false,      
      isSearch:false,
      isPostYear:'',
      diaFee:false,
      postPhoneTime:'',
      exportTime:'',
      isDoPostPhone:false,
      postId:'',
      diaXls:false,
      postPhoneDia:false,
      bigPic:{
        idCardFront:'',
        idCardReverse:'',
      },
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      pickerOptionsEx: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      //表格类
      tableData:[
      ],
      payTime:'',
      vipTypeArr : [],
      //表单类
        formLabelWidth: '120px',
        userInfo:{
          id:'',
          userId:'',
          name:'',
          phone:'',
          idCard:'',
          emailAddress:'',
          oilType:'',
          oilCardNo:'',
        },
      // 查询条件
        queryS:{
          name:'',
          phone:'',
          status:'',
          associationType:'',
          payTime:'',
          oilType:'',
          idCard:''
        },
        postData:{
            name:'',
            creditNo:'',
            memberEndtime:''
        },
        

          userInfoRules:{
              name: [
                  { required: true, message: '姓名不可缺少', trigger: 'blur' },
                  { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
              ],
              phone: [
                  { required: true, message: '手机号码不能为空', trigger: 'blur' },
                  { validator: checkPhone }
              ],
              oilType: [
                  { required: true, message: '请选择油卡类型', trigger: 'change' },
              ]
          }

    };
  }, 
  computed: {
      phoneReg () {
          return this.$store.state.phoneReg;
      },
  },
  created(){
    this.getList();
  },
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      isPostYear: {
          handler: function (val, oldVal) {
              if(val){
                  const year = parseInt(this.postData.memberEndtime.split('-')[0])+1;
                  const month = this.postData.memberEndtime.split('-')[1];
                  const day = this.postData.memberEndtime.split('-')[2];
                  this.postPhoneTime = year +'-'+ month +'-' + day;
              }else{
                this.postPhoneTime = '';
              }
          },
          deep: true
      }
  },
  filters:{
    filterTime:(time) =>{
      const year = time.split('-')[0];
      const month = time.split('-')[1];
      const day =  time.split('-')[2];
      return year+' 年 '+month+' 月 '+day+'日'
    }
  },
        computed: {
            baseHost () {
                return this.$store.state.host;
            }
        },
  methods: {
            showPic (row) {
                this.showPicFlag = true;
                this.bigPic.idCardReverse = row.idCardReverse;
                this.bigPic.idCardFront = row.idCardFront;
            },
            closePicShow () {
              this.bigPic.idCardReverse=''
              this.bigPic.idCardFront=''
                this.showPicFlag = false;
            },
            resetForm(formName) { //重置表单
                this.$refs[formName].resetFields();
            },

          submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
            if(validBtn){
              this[validBtn] = true;
            }
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this[fn]();
              } else {
                if(validBtn){
                  this[validBtn] = false;
                }
                this.$message.error('请按照提示填写表单');
                return false;
              }
            });
          },

        updateUserInfo(){

                this.updateBtnFlag = true;
                this.$http.post('/associationUser/user/update', this.userInfo).then((response) => {
                    // 响应成功回调
                    const res = response.body;
                    console.log(res)
                    if (res.code==200) {
                        if(res.data.success){
                            this.$message('修改成功');
                            this.getList();
                            this.closeUpdateDia();
                        }else{
                            this.$message(res.data.message);
                        }
                    } else {
                        this.$message.error(res.msg);
                    }
                    this.updateBtnFlag = false;
                }, (response) => {
                    // 响应错误回调
                    this.$message('出错了:' + response);
                    this.updateBtnFlag = false;
                });

        },

    handleUpdate(row){
      this.updateDialogFlg = true;
      this.userInfo.id = row.id_;
      this.userInfo.userId = row.userId_;
      this.userInfo.name = row.name;
      this.userInfo.phone = row.phone;
      this.userInfo.idCard = row.idCard;
      this.userInfo.emailAddress = row.emailAddress;
      this.userInfo.oilType = row.oilType;
      this.userInfo.oilCardNo = row.oilCardNo;

    },

    closeUpdateDia(){
      this.updateDialogFlg = false;
      this.userInfo.id = '';
      this.userInfo.userId = '';
      this.userInfo.name = '';
      this.userInfo.phone = '';
      this.userInfo.idCard = '';
      this.userInfo.emailAddress = '';
      this.userInfo.oilType = '';
      this.userInfo.oilCardNo = '';
      this.resetForm('updateUser');

    },

    exOliCard(){
      console.log(this.membershipTime)
      try{

        if(this.membershipTime.length>0){
            window.open(location.origin+'/associationUser/user/exportExt?membershipTimeStart='+this.membershipTime[0]+'&membershipTimeEnd='+this.membershipTime[1]);        
        }else{
            window.open(location.origin+'/associationUser/user/exportExt?membershipTimeStart=&membershipTimeEnd=');                
        //  this.$message.error('请先在左边输入框选择时间');
        }
      }catch(err){
            window.open(location.origin+'/associationUser/user/exportExt?membershipTimeStart=&membershipTimeEnd=');   

      }
      
    },

    formatVip(row, column) {
      for(let item of this.vipTypeArr){
        if(item.name===row.associationType){
          return item.desc;
        }
      }
      },

    // getInputDate(val){
    //   if(val){
    //     this.queryS.payTime = val;

    //   }else{

    //   this.queryS.payTime = '';
    //   }
    // },
    
    doExport(){
      this.diaFee = true;
      this.exportTime = '';
    },
    closeDia(){
      this.diaXls=false;
      this.getList()
    },
    handleExport(onOff){
      if(onOff=='1'){
        if(this.exportTime){
           window.open(location.origin+'/associationUser/associationUser/export?exportType=1&&member_endtime='+this.exportTime);
           this.diaFee = false;
        }else{
           this.$message.error('请选择会员到期时间');
           return
        }

      }else if(onOff=='2'){
         window.open(location.origin+'/associationUser/associationUser/export?exportType=2')
      }
    },
    getBeforeTime(val){
      if(val!==undefined){
        this.postPhoneTime = moment(val).format('YYYY-MM-DD')
      }
      },
      getExportTime(val){
         if(val!==undefined){
        this.exportTime = moment(val).format('YYYY-MM-DD')
      }
      },
    handlePostphone(id){
      this.postId = id;
      this.postPhoneTime = '';
      this.isPostYear=false;
      this.$http.post('/associationUser/selectUserInfo/select', {id:id}).then((response) => {
              // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                    if(res.data){
                        this.postData.name = res.data.name;
                        this.postData.creditNo = res.data.creditNo;
                        this.postData.memberEndtime = res.data.memberEndtime.split(' ')[0];
                        this.postPhoneDia = true;
                    }else{
                      this.$message(res.data.message);
                    }
                } else {
                    this.$message.error(res.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });

    },
    doPostPhone(){
      this.isDoPostPhone=true;

      this.$http.post('/associationUser/delayUser/update',{id:this.postId,member_endtime:this.postPhoneTime}).then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);
          if (res.code==200) {
            if(res.data.success){
                this.$message('会员延期成功');
                this.postPhoneDia=false;
                this.getList();
            }else{
              this.$message(res.data.message);
            }
          } else {
              this.$message.error(res.msg);
          }
          this.isDoPostPhone=false;
      }, (response) => {
          this.$message.error('出错了:' + response);
          this.isDoPostPhone=true;
      });


    },
    handleOpen(){
      this.diaXls = true;
    },
    handleDis(id){
	     this.$confirm('确认作废该会员?')
	       .then(_ => {
	         this.$http.post('/associationUser/updateUserStatus/update', {id:id}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => {
	             this.$message.error('出错了:' + response);
	         });
	       })
	       .catch(_ => {});
         },
    formatterStatus(row, column){

      if(row.userStatus == '1'){
        return '申请'
      }else if(row.userStatus == '2'){
        return '入会'
      }else if(row.userStatus == '3'){
        return '作废'
      }else if(row.userStatus == '4'){
        return '扣费失败'
      }
    },
    reset(form){
     this.queryS.name='';
     this.queryS.phone='';
     this.queryS.status='';
     this.queryS.idCard='';
     this.queryS.associationType='';
     this.queryS.oilType='';
     this.queryS.payTime='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },
    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/associationUser/userRead/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                name:this.queryS.name,
                phone:this.queryS.phone,
                status:this.queryS.status,
                associationType:this.queryS.associationType,
                oilType:this.queryS.oilType,
                payTime:this.queryS.payTime,
                idCard:this.queryS.idCard
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                   this.vipTypeArr = res.data.associationUserType;
                   this.tableData = res.data.page.records;
                   this.total = res.data.page.total;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>

.inline-form-query{
  margin-top: 20px;
}
.btn-groups-k{
  display: flex;
  justify-content:flex-end;
}
.k-post-year{
  margin-left: 20px;
}
</style>
