<template>
<div>
  <div class="table-list">
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>会员会费订单管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
        <div class="list-todo__top">
            <el-form :inline="true" ref="search" :model="queryS" label-width="100px">
              <el-form-item label="姓名:">
                <el-input v-model="queryS.name"></el-input>
              </el-form-item>
              <el-form-item label="联系电话:" prop="phone">
                <el-input v-model="queryS.phone"></el-input>
              </el-form-item>
              <el-form-item label="下单时间:" prop="payTime">
                  <el-date-picker
                    v-model="oldPayTime"
                    type="month"
                    @change="getPayTime"
                    value-format="yyyy-MM"
                    format="yyyy-MM"
                    placeholder="选择日期">
                    </el-date-picker>
              </el-form-item>
              <el-form-item label="订单编号:" prop="orderNo">
                <el-input v-model="queryS.orderNo"></el-input>
              </el-form-item>
              <el-form-item label="订单类型:">
                <el-select  v-model="queryS.orderStatus" :clearable="true" placeholder="请选择">
                  <el-option v-for="(item,key) in orderStatusArr" :key="key" :label="item.desc" :value="item.name"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item label="会员类型:">
                <el-select  v-model="queryS.associationType" :clearable="true" placeholder="请选择">
                  <el-option v-for="(item,key) in memberTypeArr" :key="key"  :label="item.desc" :value="item.name"></el-option>
                </el-select>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" :loading="isSearch" @click="queryList"><i class="el-icon-search" aria-hidden="true"></i> 查询</el-button>
                <el-button type="default" :loading="isSearch" @click="reset('queryS')">重置条件</el-button>
              </el-form-item>
            </el-form>
        </div>

      <el-table
              :data="tableData"
              stripe
              style="width: 100%">
          <el-table-column
                  prop="orderNo"
                  label="订单编号">
          </el-table-column>
          <el-table-column
                  prop="name"
                  label="姓名">
          </el-table-column>
          <el-table-column
                  prop="phone"
                  label="手机号">
          </el-table-column>
          <el-table-column
                  prop="money"
                  label="订单金额">
                  <template slot-scope="scope">
                  <span class="price">&yen; {{ scope.row.money }}</span>
                  </template>  
          </el-table-column>
          <el-table-column
                  prop="code"
                  :formatter ="formatterMenberType"
                  label="会员类型">
          </el-table-column>
          <el-table-column
                  prop="payTime"
                  label="下单时间">
          </el-table-column>
          <el-table-column
                  prop="orderStatus"
                  :formatter ="formatOrderStatus"
                  label="订单状态">
          </el-table-column>
          <el-table-column
                  prop="remarks"
                  label="备注">
          </el-table-column>
          <el-table-column
                  fixed="right"
                  width="120"
                  label="操作">
                  <template slot-scope="scope">
                      <el-button size = "small" type="primary" @click="openRemarkDia(scope.row)">更新备注</el-button>
                  </template>
          </el-table-column>
      </el-table>
   <page class="pagination__bar" :total="total" :pageSize="pageSize" :routerName="pathName" v-on:handleSizeChange="getPageSize" v-on:handleCurrentChange="getPageNum"></page>


  <el-dialog title="备注信息" size="tiny" :visible.sync="remakDia" 
  :before-close="closeRemarkDia" :close-on-click-modal="false">
  <el-form ref="remarkForm" :rules="remarkRule" :model="remarkData" 
  v-loading="queryLoading"
  element-loading-text="正在载入">
    <el-form-item label="备注信息" :label-width="formLabelWidth" prop="remarks">
      <el-input v-model="remarkData.remarks" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeRemarkDia">取 消</el-button>
    <el-button type="primary" @click.prevent="submitForm('remarkForm', 'remarkBtnFlag', 'updateRemark')">确 定</el-button>
  </div>
</el-dialog>

  </div>
</div>
</template>
<script>
import Page from '../Page.vue';
import moment  from 'moment';
import { MessageBox } from 'element-ui';
export default {
  name: 'seldrive',
  components: {
      Page
  },
  data () {
      var checkIDCard = (rule, value, callback) => {  //价格
        var reg = this.idCardEeg;
        if(reg.test(value)){
          callback();
        }else{
          callback(new Error('请正确输入15或18位身份证号码'));
        }
      };

        var checkPhone = (rule, value, callback) => {  //价格
            var reg = this.phoneReg;
            if(reg.test(value)){
            callback();
            }else{
            callback(new Error('请正确输入11位手机号码'));
            }
        };

    return {
      // 提交频率控制按钮
      isSearch:false,
      isPostYear:'',
      diaFee:false,
      postPhoneTime:'',
      exportTime:'',
      isDoPostPhone:false,
      postId:'',
      diaXls:false,
      postPhoneDia:false,
      //页码类
      pageNum: parseInt(this.$route.params.pageNum),
      total: 0,
      pathName: this.$route.name,
      pageSize:parseInt(this.$route.params.pageSize),
      //表格类
      tableData:[
      ],
      //表单类
        formLabelWidth: '100px',
        oldPayTime:'',
      // 查询条件
        queryS:{
          name:'',
          phone:'',
          payTime:'',
          orderStatus:'',
          associationType:'',
          orderNo:'',
        },
        queryLoading:false,
        isCharge:false,  //是否主管，用于dialog
        remarkBtnFlag: false,
        remakDia: false,
        todo:'add',  //add或者update 新增或者编辑
        chargeArr:[],
        wxShareQRCode:'',
        QRCodePop:false,
        memberTypeArr:[],
        orderStatusArr:[],
        remarkData:{
            id:'',
            version:'',
            remarks:'',
        },
        remarkRule: {
          remarks: [
            {required: true, message: '请输入备注', trigger: 'blur'}
          ]
        }
    };
  },
  created(){
    this.getList();
  },
    computed: {
      emailReg () {
        return this.$store.state.emailReg;
      },
      phoneReg () {
        return this.$store.state.phoneReg;
      },
      idCardEeg () {
        return this.$store.state.idCardEeg;
      },
      baseHost: function () {
        return this.$store.state.host;
      }
    },

  
  watch:{
      pageSize: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      pageNum: {
          handler: function (val, oldVal) {
              this.getList();
          },
          deep: true
      },
      isPostYear: {
          handler: function (val, oldVal) {
              if(val){
                  const year = parseInt(this.postData.memberEndtime.split('-')[0])+1;
                  const month = this.postData.memberEndtime.split('-')[1];
                  const day = this.postData.memberEndtime.split('-')[2];
                  this.postPhoneTime = year +'-'+ month +'-' + day;
              }else{
                this.postPhoneTime = '';
              }
          },
          deep: true
      }
  },
  filters:{
    filterTime:(time) =>{
      const year = time.split('-')[0];
      const month = time.split('-')[1];
      const day =  time.split('-')[2];
      return year+' 年 '+month+' 月 '+day+'日'
    }
  },
  methods: {

    getPayTime(val){
            console.log(val)
        if(val){
            this.queryS.payTime = val;
        }else{
            this.queryS.payTime = ''
        }    
    },

      resetForm(formName) { //重置表单
        this.$refs[formName].resetFields();
      },

      addPartTimer (){
          this.partTimerBtnFlag = true;
        let url = ''
        this.$http.post(url, this.partTimer).then((response) => {
          // 响应成功回调
          const res = response.body;
          if (res.code==200) {
            if(res.data.success){



            }else{
              this.$message(res.data.message);
            }
          } else {
            this.$message.error(res.msg);
          }
          this.partTimerBtnFlag = false;
        }, (response) => {
          // 响应错误回调
          this.$message('出错了:' + response);
          this.partTimerBtnFlag = false;
        });
      },


      submitForm(formName, validBtn, fn) { //提交表单  validBtn 表单校验loadding所绑定的值
        if(validBtn){
          this[validBtn] = true;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this[fn]();
          } else {
            if(validBtn){
              this[validBtn] = false;
            }
            this.$message.error('请按照提示填写表单');
            return false;
          }
        });
      },

    openRemarkDia(obj){
        this.remakDia = true;
        console.log(obj)
        if(obj){
          this.remarkData.id=obj.id_;
          this.remarkData.version=obj.version;
          this.remarkData.remarks=obj.remarks;
        }
    },
    closeRemarkDia(){
        this.remarkData.id='';
        this.remarkData.version='';
        this.remarkData.remarks='';
        this.resetForm('remarkForm');
        this.remakDia=false;
      
    },
    handleExport(onOff){
      if(onOff=='1'){
        if(this.exportTime){
           window.open(location.origin+'/associationUser/associationUser/export?exportType=1&&member_endtime='+this.exportTime);
           this.diaFee = false;

        }else{
           this.$message.error('请选择会员到期时间');
           return
        }

      }else if(onOff=='2'){
         window.open(location.origin+'/associationUser/associationUser/export?exportType=2')
      }
    },
    getBeforeTime(val){
      if(val!==undefined){
        this.postPhoneTime = moment(val).format('YYYY-MM-DD')
      }
      },
      getExportTime(val){
         if(val!==undefined){
        this.exportTime = moment(val).format('YYYY-MM-DD')
      }
      },
    handlePostphone(id){
      this.postId = id;
      this.postPhoneTime = '';
      this.isPostYear=false;
      this.$http.post('/associationUser/selectUserInfo/select', {id:id}).then((response) => {
              // 响应成功回调
                const res = response.body
                console.log(res);
                if (res.code==200) {
                    if(res.data){
                        this.postData.name = res.data.name;
                        this.postData.creditNo = res.data.creditNo;
                        this.postData.memberEndtime = res.data.memberEndtime.split(' ')[0];
                        this.postPhoneDia = true;
                    }else{
                      this.$message(res.data.message);
                    }
                } else {
                    this.$message.error(res.msg);
                }
            }, (response) => {
                this.$message.error('出错了:' + response);
            });

    },
    doPostPhone(){
      this.isDoPostPhone=true;

      this.$http.post('/associationUser/delayUser/update',{id:this.postId,member_endtime:this.postPhoneTime}).then((response) => {
          // 响应成功回调
          const res = response.body
          console.log(res);
          if (res.code==200) {
            if(res.data.success){
                this.$message('会员延期成功');
                this.postPhoneDia=false;
                this.getList();
            }else{
              this.$message(res.data.message);
            }
          } else {
              this.$message.error(res.msg);
          }
          this.isDoPostPhone=false;
      }, (response) => {
          this.$message.error('出错了:' + response);
          this.isDoPostPhone=true;
      });


    },
    handleOpen(){
      this.diaXls = true;
    },
    handleDis(id){
	     this.$confirm('确认作废该会员?')
	       .then(_ => {
	         this.$http.post('/associationUser/updateUserStatus/update', {id:id}).then((response) => {
	             // 响应成功回调
	             const res = response.body
	             console.log(res);
	             if (res.code==200) {
                  if(res.data.success){
                     this.$message('操作成功');
                      this.getList();
                  }else{
                    this.$message(res.data.message);
                  }
	             } else {
	                 this.$message.error(res.msg);
	             }
	         }, (response) => { 
            this.$message({
              message:'出错了:' + response,
              type:'error'
            }); 
	         });
	       })
	       .catch(_ => {});
         },
    formatOrderStatus(row, column){
      for(let s of this.orderStatusArr){
        if(s.name==row.orderStatus){
            return s.desc;
        }
      }
    },
    
    formatterMenberType(row, column){
      for(let s of this.memberTypeArr){
        if(s.name==row.associationType){
            return s.desc;
        }
      }
    },
    reset(form){
     this.queryS.name='';
     this.queryS.phone='';
     this.queryS.payTime='';
     this.queryS.orderStatus='';
     this.queryS.associationType='';
     this.queryS.orderNo='';
     this.oldPayTime='';
     var _this = this;
     _this.isSearch = true;
     setTimeout(function () {
         _this.isSearch = false;
     },1500);
     this.pageNum = 1;
     this.getList()
    },

    //获取二维码

      getQRCode (row){
        this.wxShareQRCode=''
        this.wxShareQRCode ='/partTime/shareQRCode?id='+row.id_+'&qrCodeSize=900';
        this.QRCodePop = true;
      },


      closeQR (done){ //关闭二维码显示
        this.wxShareQRCode=''
        this.QRCodePop = false;

      },

  //添加人员之前的查询

  queryPerson (id){
    this.queryLoading = true;
    this.$http.post('/partTime/read/queryByid',
        {
            id: id,
          }).then((response) => {
            const res = response.body;
            if (res.code==200) {
              if(res.data){
                if(res.data.user){
                  let user = res.data.user;
                  this.partTimer.name =user.name;
                  this.partTimer.id =user.id_;
                  this.partTimer.jobStatus =user.jobStatus;
                  this.partTimer.phone =user.phone;
                  this.partTimer.idCard =user.idCard;
                  this.partTimer.parentId =user.strParentId;
                }
                if(res.data.supervisorList){
                  this.chargeArr =res.data.supervisorList;
                }

              }
              
            } else {
                  this.$message({
                    message:res.msg,
                    type:'error'
                  });
            }
          this.queryLoading = false;
        }, (response) => {
            this.queryLoading = false;    
            this.$message({
              message:'出错了:' + response,
              type:'error'
            });      
        });
  },

  //获取主管人员

  getCharge (){
          
          this.$http.post('/partTime/read/querySupervisorList').then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data){ 
                  this.chargeArr = res.data;              
                }else{
                  this.$message({
                    message:res.data.message,
                    type:'error'
                  });
                }
              } else {
                  this.$message({
                    message:res.msg,
                    type:'error'
                  });
              }
          }, (response) => {
                  this.$message({
                    message:'出错了:' + response,
                    type:'error'
                  });
          });

  },
  

  //重置当前员工的金额

  resetPerson (id){ 


      this.$confirm('此操作将重置当前员工的分销金额等重要信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          
          this.$http.post('/partTime/reset',{id:id}).then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data.success){
                  this.$message({
                      message:res.data.message,
                      type: 'success'
                    });            
                  this.getList();              
                }else{
                  this.$message.error(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消重置操作'
          });          
        });
  },

  //编辑备注

    updateRemark(){
      let url ='/associationOrder/order/update'


      this.$http.post(url,this.remarkData).then((response) => {
        const res = response.body;
          if (res.code==200) {
            console.log(res)
            if(res.data.success){
              this.$message({
                  message:'更新成功',
                  type: 'success'
                });
              this.closeRemarkDia();              
              this.getList();              
            }else{
              this.$message({
                message:res.data.message,
                type:'error'
              }); 
            }
          } else {
            this.$message({
              message:res.msg,
              type:'error'
            }); 
          }
      }, (response) => {
            this.$message({
              message:'出错了:' + response,
              type:'error'
            }); 
      });

    },

    //删除兼职人员

    delPerson (id){ 

      this.$confirm('此操作将永久删除当前员工, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          
          this.$http.post('/partTime/delete',{id:id}).then((response) => {
            const res = response.body;
              if (res.code==200) {
                console.log(res)
                if(res.data.success){
                  this.$message({
                      message:res.data.message,
                      type: 'success'
                    });            
                  this.getList();              
                }else{
                  this.$message.error(res.data.message);
                }
              } else {
                  this.$message.error(res.msg);
              }
          }, (response) => {
              this.$message.error('出错了:' + response);
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除的操作'
          });          
        });

    },



    // 查询
    queryList(){
      var _this = this;
      _this.isSearch = true;
      setTimeout(function () {
          _this.isSearch = false;
      },1500);
      this.pageNum=1;
      this.getList();
    },
         getPageSize (val) {
             this.pageSize = val;
         },
         getPageNum (val) {
             this.pageNum = val;
         },
         // 初始表单
         getList(){
             this.$http.post('/associationOrder/orderRead/list',
             {
                pageNum: this.pageNum,
                pageSize: this.pageSize,
                name:this.queryS.name,
                phone:this.queryS.phone,
                payTime:this.queryS.payTime,
                orderStatus:this.queryS.orderStatus,
                associationType:this.queryS.associationType,
                orderNo:this.queryS.orderNo,
              }).then((response) => {
                const res = response.body;
                 if (res.code==200) {
                   this.tableData = res.data.page.records;
                   this.total = res.data.page.total;
                   this.memberTypeArr = res.data.associationUserType;
                   this.orderStatusArr = res.data.orderStatus;
                 } else {
                     this.$message.error(res.msg);
                 }
             }, (response) => {
                 this.$message.error('出错了:' + response);
             });
         },
         beforeRouteUpdate (to, from, next) {
             var pageCur = to.params.pageNum;
             console.log(pageCur);
             this.pageNum = pageCur;
             next();
         }
  }
};
</script>

<style lang="css" scoped>
.inline-form-query{
  margin-top: 20px;
}
.btn-groups-k{
  display: flex;
  justify-content:flex-end;
}
.k-post-year{
  margin-left: 20px;
}
</style>
