@import "_var";
@import "_mixin";
@import "_reset";
@import url('//at.alicdn.com/t/font_504126_vpqies0q631ve7b9.css');

.full-control{
  width: 100%;
}

.avatar{
  width:50px;
  height:50px;
  @include radius(50%);
  vertical-align: middle;
}

.clearfix{
  zoom:1;
  &:after{
    content:"";
    display: table;
    clear:both;
  }
}


[v-cloak]{
  display:none;
}


.white-bg{
  background: #fff;
}

.padding-box{
  width: 100%;
  padding:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home-wrap{
  width:100%;
  height:100%;
  padding: 70px 10px 0 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//价格
.price{
  color: #f60;
}

.home-main{
/*  display: -webkit-box; !* OLD - iOS 6-, Safari 3.1-6 *!
  display: -moz-box; !* OLD - Firefox 19- (buggy but mostly works) *!
  display: -ms-flexbox; !* TWEENER - IE 10 *!
  display: -webkit-flex; !* NEW - Chrome *!
  display: flex; !* NEW, Spec - Opera 12.1, Firefox 20+ *!*/

}

.container__main{
  /*  padding-bottom: 40px;
      display: -webkit-box; !* OLD - iOS 6-, Safari 3.1-6 *!
      display: -moz-box; !* OLD - Firefox 19- (buggy but mostly works) *!
      display: -ms-flexbox; !* TWEENER - IE 10 *!
      display: -webkit-flex; !* NEW - Chrome *!
      display: flex; !* NEW, Spec - Opera 12.1, Firefox 20+ *!*/

  .table-list{
/*    width: 100%;
    -webkit-box-flex: 1; !* OLD - iOS 6-, Safari 3.1-6 *!
    -moz-box-flex: 1; !* OLD - Firefox 19- *!
    width: 20%; !* For old syntax, otherwise collapses. *!
    -webkit-flex: 1; !* Chrome *!
    -ms-flex: 1; !* IE 10 *!
    flex: 1; !* NEW, Spec - Opera 12.1, Firefox 20+ *!*/
    .demo-table-expand{
      overflow: hidden;
      .el-form-item{
        display: block;
        float: left;
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
      }
      label{
        width: 90px;
        color: #99a9bf;
      }
    }
    >.block{
  /*    .el-pagination{
        position: fixed;
        left: 240px;
        bottom: 0;
        width:100%;
        background: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }*/
    }

  }
}

/*.pagination__bar{
  position: fixed;
  left: 0;
  bottom:0;
  z-index:9;
  width: 100%;
  padding-left: 240px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

.breadcrumb{
  padding:10px;
}

.dd-form{
  .el-form{
    max-width:800px;
  }
}

.list-todo__top{
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

//100%长度
.control__full{
  width: 100%;
  .el-select{
    width: 100%;
  }
}

.avatar-uploader{
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .pic-mask{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    color: #fff;
    background: rgba(0,0,0,0.5);
  }
}

.text-cut{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.login-mod{
  .el-dialog--small{
    width: 420px;
  }
}

.tips-mod{
  max-width: 800px;
  margin:10px 0;
}

.table-list{
  .el-loading-mask{
    z-index: 2000;
  }
}


.todo-btn{
  .el-input{
    width:140px;
  }
}
