html{
  font-size:14px;
}

body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue',Helvetica,STHeitiSC-Light,Arial,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #eee;
}

img{
  border: none;
  max-width:100%;
}

a{
  color: $dark-blue;
  text-decoration: none;
}


.el-table__body td{
  .el-button+.el-button{
    margin-left: 0;
  }
}
