

//color
$blue: #20A0FF;
$light-blue: #609ee9;
$dark-blue: #1D8CE0;

$success: #13CE66;
$warning: #F7BA2A;
$danger: #FF4949;

$black: #1F2D3D;
$light-black: #324057;
$ex-light-black: #475669;



$silver: #8492A6;
$light-silver: #99A9BF;
$ex-light-silver: #C0CCDA;

$dark-white: #F9FAFC;
$white: #ffffff;
$gray: #969696;

