// preview mobile

.phone-box{
  width:375px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  .app{
    width:100%;
    height: 100%;
    padding-right:0 !important;
    padding-bottom:0 !important;
    margin:0 auto;
    background:#f2f3f4;
    box-sizing: border-box;
  }
}

.phone-header{
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.phone-tools{
  padding:5px;
  overflow: hidden;
}

.phone-container{
  height: 667px;
  overflow-y: auto;
}

.carrieroperator{
  float: left;
  width:30%;
  .dot{
    display: inline-block;
    width:5px;
    height:5px;
    background:#1F2D3D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.phone-time{
  float:left;
  width:40%;
  text-align: center;
}

.phone-battery{
  float: right;
  position:relative;
  height:8px;
  width:25px;
  margin-right:4px;
  border:1px solid #1F2D3D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  &:after{
    content:"";
    position: absolute;
    right:-5px;
    top: 50%;
    display: block;
    width:3px;
    height:4px;
    margin-top:-2px;
    background: #1F2D3D;
    -webkit-border-radius:1px 2px 2px 1px;
    -moz-border-radius:1px 2px 2px 1px;
    border-radius:1px 2px 2px 1px;
  }
  &:before{
    content:"";
    display: block;
    width:23px;
    height:6px;
    margin:1px;
    background: #1F2D3D;
  }
}

.phone-title{
  height:30px;
  line-height:30px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.vbar-wrapper{
  height: 100%;
}



//var
$bot-height: 45px;
$header-height:48px;
$padding_space:15px;
$font_lg:20px;
$font_default:16px;
$font_sm:13px;
$font_normal:12px;
$font_xs:9px;

$border:#cbd3d7;
$line-color: #f2f2f2;
$success: #64e0a2;
$warning: #ffcf02;
$danger: #ed5564;



$primary: #298fe9;  //用于特别强调和突出的文字、按钮和icon
$light_primary: #a7d6ff; //小面积使用的辅助色

//font
$gray-font: #b5b5b5;
$base-font-color: #758996;
$black: #2d2d2d;  //用于重要文字、标题


$tips-color:#e5e5e5;
$input-bg: #f8f8f8;
$body-bg: #f2f3f4;




//项目预览

img{
  max-width: 100%;
  border: none;
}

.m-project-banner{
  position: relative;
  width: 100%;
  height:0;
  padding-top:50%;
  img{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
  }
}

.wkq-mod{
  padding: 10px 15px;
  margin-bottom: 10px;
}


.article-body{
  font-size: $font_sm;
  line-height: 1.8;
}

.wkq-title-label{
  button{
    height: 20px;
    padding:0 6px;
    margin-right: 5px;
  }
  h3{
    margin-bottom: 10px;
    font-weight: normal;
  }
}

.wkq-desc{
  font-size: 12px;
  color: $base-font-color;
}
.wkq-title{
  .price{
    margin-top: 10px;
    color: $primary;
    span{
      margin-right: 10px;
      b{
        font-size: $font_default;
      }
    }
  }
}

.wkq-arrow-bar{
  position: relative;
  height: 45px;
  padding-left: 15px;
  line-height: 45px;
  color: $primary;
  background:#fff;
  border-left: 3px solid $primary;
  border-bottom: 1px solid $line-color;
  &:before{
    content:"";
    position: absolute;
    left:0;
    top: 50%;
    margin-top: -5px;
    border-width:5px;
    border-color: transparent transparent transparent $primary;
    border-style: dashed dashed dashed solid;
  }
}
